!!!
%html
  %head
    = header_tags
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,300italic,700' rel='stylesheet' type='text/css'>
    = stylesheet_link_tag "print_tickets", media: "all"

  %body#print-tickets
    .ticket-container
      - tickets_per_row = (@tickets.count / 3.0).ceil
      - ticket_rows = [@tickets.slice(0, tickets_per_row), @tickets.slice(tickets_per_row, tickets_per_row), @tickets.slice(2*tickets_per_row, tickets_per_row)]
      - tickets_per_row.times do |i|
        - [ticket_rows.first[i], ticket_rows.second[i], ticket_rows.third[i]].each do |ticket|
          - next unless ticket.present?
          .ticket-wrapper
            .ticket-display
              = ticket.number
