-# table_view = render partial: "/admin/memberships/table", locals: {memberships: @collection, render_sortable: true}

= render(Admin::IndexSkeleton::Component.new(chart_collection: @render_chart && matching_stripe_prices))
