.row
  .col-sm-9.col-md-10
    %h1 Tweets
  .col-sm-3.col-md-2
    = link_to 'New Tweet', new_admin_tweet_path, class: "btn btn-success float-right"

%h4= "#{Tweet.count} tweets stored"
= render "admin/tweets/tweets", tweets: @tweets
