@import "tailwindcss" prefix(tw);
@config "../../../config/tailwind.config.js";

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-header: 'Montserrat', sans-serif;
}

@layer components {
  .twlink {
    @apply tw:text-blue-500 tw:underline ;
  }

  .twless-strong {
    @apply tw:opacity-65 tw:decoration-gray-900/65 tw:dark:decoration-gray-400/65;
  }

  .twbtn, .twbtn-blue, .twbtn-green {
    @apply tw:inline-block tw:shadow-sm tw:rounded-md tw:p-3
    tw:cursor-pointer tw:active:outline tw:focus-visible:outline-offset-2
    tw:focus-visible:outline tw:focus-visible:outline-2 tw:focus-visible:outline-offset-2
    tw:active:outline-none tw:active:opacity-95;
  }

  .twbtn-green {
    @apply tw:text-white tw:bg-green-600
      tw:hover:bg-green-500 tw:focus-visible:outline-green-600;
  }

  .twbtn-blue {
    @apply tw:text-white tw:bg-blue-600
      tw:hover:bg-blue-500 tw:focus-visible:outline-blue-600;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled),
  input:where([type=button],[type=reset],[type=submit]):not(:disabled) {
    cursor: pointer;
  }
}

body {
  @apply tw:antialiased tw:text-gray-900 tw:font-sans;
}
/*
  'dark:' syntax isn't working for the body element, unclear why - hacking with this for now
*/
body.dark {
  @apply tw:bg-gray-900 tw:text-gray-400;
}


/*
  Select2 styles - only used on search, these styles
  make the field on bikes search appear the same as other fields
*/

.select2-container .select2-selection--multiple {
  /*  @extend .form-control;*/

  padding-bottom: 0;
}

.select2-dropdown,
.select2-container--default.select2-container--focus
  .select2-selection--multiple {
  border-color: #66afe9;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__choice,
  .select2-container .select2-search--inline .select2-search__field {
  margin-top: 0;
}

.select2-container--default
  .select2-selection--multiple
  .select2-selection__rendered {
  padding: 0;
}

/*
  Bike search form styles
*/
.select2-results__options .sch_s {
  display: inline-block;
}

.select2-results__options .sch_m,
.select2-results__options .sch_ {
  color: #ccc;
}

.select2-results__options .sch_special {
  border-bottom: 1px solid #ddd;
}

.select2-results__options .sch_c {
  color: #bbb;
  display: inline-block;
}

.select2-results__options .sclr {
  border-radius: 3px;
  display: inline-block;
  width: 24px;
  height: 24px;
  border: 1px solid white;
  line-height: 0.8em;
  margin: 0 6px -6px;
  font-size: 0.5em;
  text-align: center;
  padding-top: 1em;
}
