@import "tailwindcss" prefix(tw);
@config "../../../config/tailwind.config.js";

@layer components {
  .twbtn {
    @apply tw:inline-block tw:shadow-sm tw:rounded-md tw:p-3
    tw:cursor-pointer tw:active:outline tw:focus-visible:outline-offset-2
    tw:focus-visible:outline tw:focus-visible:outline-2 tw:focus-visible:outline-offset-2
    tw:active:outline-none tw:active:opacity-95;
  }
}

body {
  @apply tw:antialiased tw:text-gray-900;
}
/*
  'dark:' syntax isn't working for the body element, unclear why - hacking with this for now
*/
body.dark {
  @apply tw:bg-gray-900 tw:text-gray-400;
}


/*.twbtn {
  @apply tw:w-full tw:rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold
   hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}*/

.twbtn-green {
  @apply tw:text-white tw:bg-green-600
    tw:hover:bg-green-500 tw:focus-visible:outline-green-600;
}

.twbtn-blue {
  @apply tw:text-white tw:bg-blue-600
    tw:hover:bg-blue-500 tw:focus-visible:outline-blue-600
}


