@import "tailwindcss" prefix(tw);
@config "../../../config/tailwind.config.js";

@theme {
  --font-sans: 'Open Sans', sans-serif;
  --font-header: 'Montserrat', sans-serif;
}

@layer components {
  .twlink {
    @apply tw:text-blue-500 tw:underline;
  }

  /* use rounded-md! to override existing styles */
  .twbtn, .twbtn-blue, .twbtn-green {
    @apply tw:inline-block tw:shadow-sm tw:rounded-md! tw:p-3
    tw:cursor-pointer tw:active:outline tw:focus-visible:outline-offset-2
    tw:focus-visible:outline tw:focus-visible:outline-2 tw:focus-visible:outline-offset-2
    tw:active:outline-none tw:active:opacity-95;
  }
  .twbtn-green {
    @apply tw:text-white tw:bg-green-600
      tw:hover:bg-green-500 tw:focus-visible:outline-green-600;
  }

  .twbtn-blue {
    @apply tw:text-white tw:bg-blue-600
      tw:hover:bg-blue-500 tw:focus-visible:outline-blue-600;
  }
}

@layer utilities {
  .twheader {
    @apply tw:font-header;
    text-transform: none !important;
  }
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled),
  input:where([type=button],[type=reset],[type=submit]):not(:disabled) {
    cursor: pointer;
  }
}

body {
  @apply tw:antialiased tw:text-gray-900 tw:font-sans;
}
/*
  'dark:' syntax isn't working for the body element, unclear why - hacking with this for now
*/
body.dark {
  @apply tw:bg-gray-900 tw:text-gray-400;
}
