# frozen_string_literal: true

require "rails_helper"

RSpec.describe <%= component_class %>, type: :component do
  let(:instance) { described_class.new(**options) }
  let(:component) { render_inline(instance) }
  let(:options) { {<%= initialize_signature %>} }<% attributes.each do |attr| %>
  let(:<%= attr.name %>) { nil }<% end %>

  it "renders" do
    expect(component).to have_css("div")
  end
end
