// Button variants
//
// Easily pump out default styles, as well as :hover, :focus, :active,
// and disabled options for all buttons

@mixin button-variant($color, $background, $border) {
  color: $color;
  background-color: $background;
  border-color: $border;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    color: $color;
    background-color: darken($background, 10%);
        border-color: darken($border, 12%);
  }
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    background-image: none;
  }
  &.disabled,
  &[disabled],
  fieldset[disabled] & {
    &,
    &:hover,
    &:focus,
    &:active,
    &.active {
      background-color: $background;
          border-color: $border;
    }
  }

  .badge {
    color: $background;
    background-color: $color;
  }
}

// Button sizes
@mixin button-size($padding-vertical, $padding-horizontal, $font-size, $line-height, $border-radius) {
  padding: $padding-vertical $padding-horizontal;
  font-size: $font-size;
  line-height: $line-height;
  border-radius: $border-radius;
}


@mixin binx-button($bg, $bg-hover, $step-color, $text) {
  @include transition(background ease-out .1s);
  border: none;
  background: $bg;
  color: $text;
  padding: .5em 1em;
  font-weight: 400;

  $step: .006em;
  box-shadow: -.01em .01em 0px $step-color,
  -$step $step 0 $step-color,
  -$step*2  $step*2  0 $step-color,
  -$step*3  $step*3  0 $step-color,
  -$step*4  $step*4  0 $step-color,
  -$step*5  $step*5  0 $step-color,
  -$step*6  $step*6  0 $step-color,
  -$step*7  $step*7  0 $step-color,
  -$step*8  $step*8  0 $step-color,
  -$step*9  $step*9  0 $step-color,
  -$step*10 $step*10 0 $step-color,
  -$step*11 $step*11 0 $step-color,
  -$step*12 $step*12 0 $step-color,
  -$step*13 $step*13 0 $step-color,
  -$step*14 $step*14 0 $step-color,
  -$step*15 $step*15 0 $step-color;

  &:hover,
  &:focus,
  &:active,
  &.active,
  .open > &.dropdown-toggle {
    @include transition(background ease-out .1s);
    background: $bg-hover;
    color: $text;
  }
  
  &:active { background: $bg; }
}