
$grid-columns:             12 !default;
$column:                  6.5%;
$gutter:                  2%;


$one-column:                     (1 * $column) + (0 * $gutter);
$two-column:                     (2 * $column) + (1 * $gutter);
$three-column:                   (3 * $column) + (2 * $gutter);
$four-column:                    (4 * $column) + (3 * $gutter);
$five-column:                    (5 * $column) + (4 * $gutter);
$six-column:                     (6 * $column) + (5 * $gutter);
$seven-column:                   (7 * $column) + (6 * $gutter);
$eight-column:                   (8 * $column) + (7 * $gutter);
$nine-column:                    (9 * $column) + (8 * $gutter);
$ten-column:                     (10 * $column) + (9 * $gutter);
$eleven-column:                  (11 * $column) + (10 * $gutter);
$twelve-column:                  100%;


#grid-overlay {
  // Add = render '/layouts/grid' to header.html to enable
  // display: none;
  position: fixed;
  height: 100%; width: 100%;
  z-index: 99999;
  .grid-receptacle {
    @extend .container;
    padding: 0;
    height: 100%;
  } 
  .inner-recep { height: 100%;}
  .column {
    float: left;
    width: $one-column;
    height: 100%;
    margin-left: $gutter;
    border: 1px solid #b2dec1;
    border-top: none;
    border-bottom: none;
  }
  .inner-recep .column:first-of-type {
    margin-left: 0;
  }
}
// @media (max-width: $l-breakpoint) {
//   #grid-overlay { @include lr-pad($standard-pad); }
// }