$hot-sheet-table-border: darken($email-light-bg, 5%);

.email-hot-sheet-link-footer {
  margin-top: 34px;
  border-top: 1px solid $email-light-bg;
  p {
    text-align: center;
  }
  .hot-sheet-notification-change {
    clear: both;
    margin-top: 2rem;
  }
}

.clear-org-buttons {
  padding: 16px 0;
  display: block;
  position: relative;
  text-align: center;
  .org-button {
    display: inline-block;
    padding: 12px 16px;
    border: 1px solid darken(#aaaaaa, 5%);
    background-color: #aaaaaa;
    font-weight: bold;
    border-radius: 3px;
    max-width: 100%;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
  }
}

.hot-sheet-bike-display {
  padding-top: 2px;

  .bike-display {
    border: none;
    background-color: #ffffff;

    td.bike-display-wrapper-cell {
      border: none;
      padding: 0;
    }
    .info-holder {
      padding-top: 8px;
      vertical-align: top;
    }
  }
  .table-list {
    margin-top: 0;
    border: 1px solid $hot-sheet-table-border;
    tr td {
      line-height: 1.5;
      border-color: $hot-sheet-table-border;
    }
    tr:nth-of-type(odd) {
      background-color: #eeeeee;
    }
    .bike-title td {
      text-align: left;
      text-decoration: none;
      font-size: 100%;
      font-style: normal;
      a {
        display: block;
        font-size: 17px;
      }
    }
  }
}
