.email-hot-sheet-link-footer {
  margin-top: 34px;
  border-top: 1px solid $email-light-bg;
  p {
    text-align: center;
  }
  .hot-sheet-notification-change {
    clear: both;
    margin-top: 2rem;
  }
}

.clear-org-buttons {
  padding: 16px 0;
  display: block;
  position: relative;
  text-align: center;
  .org-button {
    display: inline-block;
    padding: 12px 16px;
    border: 1px solid darken(#aaaaaa, 5%);
    background: #aaaaaa;
    font-weight: bold;
    border-radius: 3px;
    max-width: 100%;
    color: #ffffff;
    text-decoration: none;
    line-height: 1;
  }
}

.hot-sheet-bike-display {
  padding-top: 2px;
  .bike-display {
    border: none;
    background: #eeeeee;
    // border-left: 0;
    // border-right: 0;
    td {
      border: none;
      padding: 0;
    }
    .info-holder {
      padding-top: 8px;
    }
  }
  .bike-title {
    background: #dddddd;
    a {
      display: block;
      padding: 4px 16px 0 16px;
      font-size: 17px;
    }
  }
}
