<div>
  <%= @form_builder.label @attribute, @label, class: "twlabel" %>
  <%= helpers.lexxy_rich_textarea_tag(field_name, value, id: field_id, "multi-line": @multi_line.to_s, attachments: "false", class: editor_class) %>
</div>
