<div>
  <%= @form_builder.label @attribute, @label, class: "twlabel" %>
  <%= helpers.lexxy_rich_textarea_tag(field_name, value, id: field_id, "multi-line": "false", attachments: "false", class: "lexxy-content tw:w-full") %>
</div>
