.root-landing-page {
  h3.landing-container-label {  
    text-align: center;
  }
}

.root-landing-banner-header {
  background-image: image-url('landing_pages/header_bg_root.jpg');
  width: 100%;
  padding-top: 20*$vertical-height;
  padding-bottom: 12*$vertical-height;
  background-size: cover;
  background-position: center bottom;
  background-repeat: no-repeat;
  .root-landing-header-text {
    @include make-col-ready();
    @include make-col(7);
    h1, p { color: white; }
    p {
      font-size: 28px;
      margin-bottom: 0;
      strong { color: $green; }
    }
    h1 {
      font-size: 60px;
    }
  }
  .root-landing-signup {
    @include make-col-ready();
    @include make-col(5);
    $signup-form-border-radius: 4px;
    form {
      background: rgba(249,249,249,0.6);
      padding: 3*$vertical-height 2*$vertical-height;
    }
    form, .form-control, .btn {
      border-radius: $signup-form-border-radius;
    }
    .btn { width: 100%; }
    label, .or-block { color: white; }
    .or-block {
      line-height: 1em;
      margin: $vertical-height 0;
      text-transform: uppercase;
      text-align: center;
      position: relative;
      &:before, &:after {
        display: block;
        position: absolute;
        content: '';
        top: ($body-font-size/2) - 1px;
        height: 0;
        width: 44%;
        border-top: 1px solid white;
      }
      &:before { left: 0; }
      &:after { right: 0; }
    }
  }  
  input { border-color: transparent; } // so we don't overpower the active border
}

.root-landing-recovery-stories {
  background: #f9f9f9;
  padding: 4*$vertical-height;
}

.root-landing-who {
  padding-bottom: 6*$vertical-height;
  h3.landing-container-label {
    color: $gray-darker;
    margin: 2*$vertical-height 0;
    @include media-breakpoint-up(lg) {
      margin: 4*$vertical-height 0;
    }
  }
  .root-landing-who-wrap {
    display: flex;
    flex-wrap: wrap;
  }
  .root-landing-who-square, .root-landing-who-rectangle {
    padding: $vertical-height 2*$vertical-height 2*$vertical-height;
    img {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
      top: 50%;
      transform: translateY(-50%);
    }
  }
  .root-landing-who-square { flex: 0 0 10%; }
  .root-landing-who-rectangle { flex: 0 0 20%; }
}