.landing-page-body, #welcome_index {
  padding-top: 0;
  .primary-footer { margin-top: 0; }
}

$landing-page-targets: 'shop', 'school', 'advocacy', 'law_enforcement';
@each $target in $landing-page-targets {
  .org-landing-page-#{$target} {
    .banner-header {
      background-image: image-url('landing_pages/header_bg_#{$target}.jpg');
    }
  }
}

// Including root-landing-page because required for footer
.org-signup-landing-page, .root-landing-page {
  svg {
    // SVG icon colors. Manually added to svgs, replacing .cls- classes
    .svgicon-border { fill: #3498db; }
    .svgicon-bg { fill: #34495e; }
    .svgicon-body { fill: #fff; }
  }
}

.org-signup-landing-page {
  .landing-page-tweet {
    $tweet-link-color: #3498DC;
    $tweet-black: #2C2C2C;
    margin-top: 3*$vertical-height;
    position: relative;
    .tweet-display {
      position: absolute;
      display: block;
      width: 350px;
      max-width: 94%;
      background: #fff;
      border: 2px solid $tweet-black;
      box-shadow: 0 0 5px rgba(0,0,0,.3);
      padding: 6px 12px 12px;
      &.tweet-align-top-left {
        left: 2.5%; top: 2.5%;
      }
      &.tweet-align-top-right {
        right: 2.5%; top: 2.5%;
      }
      &.tweet-align-bottom-left {
        left: 2.5%; bottom: 5%;
      }
      &.tweet-align-bottom-right {
        right: 2.5%; bottom: 5%;
      }
    }
    .tweetor-header {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      color: $tweet-black;
      line-height: 1em;
      .tweetor-name {
        display: inline-block;
        font-weight: bold;
        margin-top: 3px;
        font-size: 90%;
      }
      .tweetor-handle {
        color: #8B9DA8;
        font-size: 75%;
      }
      &:hover {
        text-decoration: none;
        .tweetor-name {
          color: $tweet-link-color;
          text-decoration: underline;
        }
      }
      img {
        display: block;
        float: left;
        width: 36px;
        margin-right: 7px;
      }
    }
    .tweet-body {
      clear: both;
      position: relative;
      z-index: 1;
      margin-top: 12px;
      color: $tweet-black;
      font-size: 90%;
      line-height: 1.2em;
      a { color: $tweet-link-color; }
    }
    a.body-link {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      top: 0; left: 0;
    }
  }
  .trusted-by {
    ul {
      @include list-unstyled;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      flex: 0 0 20%;
      &.partner-logo-rectangle { flex: 0 0 40%; }
      padding: $vertical-height 0.5*$vertical-height 2*$vertical-height;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
      &.offset-partner-logo {
        margin-left: 20%;
      }
    }
  }
}


.org-signup-landing-page {
  .banner-header {
    padding-top: 6*$vertical-height;
    padding-bottom: 12*$vertical-height;
    background-size: auto 100%;
    background-position: center top;
    background-repeat: no-repeat;
    .icon-wrapper {
      width: 100%;
      margin: 0;
      clear: both;
      svg, img {
        width: 25%;
        display: block;
        margin: 0 auto;
      }
    }
    .banner-text {
      @include make-col-ready();
      @include make-col(12);
      margin-top: 2*$vertical-height;
    }
    h1, h2, h3 {
      color: white;
      text-align: center;
    }
    h1 { line-height: 1.4em; }
    h2, h3 {
      font-family: $body-font-family;
      font-weight: $normal-font-weight;
      text-transform: none;
      font-style: normal;
      font-size: 21px;
      line-height: 1.6em;
    }
    .ribbon { display: none; }

    @include media-breakpoint-up(md) {
      padding-top: 17*$vertical-height;
      padding-bottom: 0;
      .icon-wrapper {
        // There is a 1/6 overhang to the left (8.33333/6 ~ 1.33333)
        flex: 0 0 9.66666%;
        max-width: 9.66666%;
        margin-left: -1.3333%;
        svg, img { width: 100%; }
      }
      .banner-text {
        @include make-col(7);
        margin-top: 0;
      }
      h1, h2, h3 { text-align: left; }
      .ribbon {
        display: block;
        margin-top: 7*$vertical-height;
        background: $gray-darker;
        h2 {
          font-size: 24px;
          margin: 0;
          padding: 2*$vertical-height 0;
        }
      }
    }
  }
}

.org-signup-landing-page {
  .main-body-row {
    @include media-breakpoint-down(md) {
      flex-direction: column-reverse;
    }
  }
  .landing-why-col, .next-steps-col { @include make-col-ready(); }
  .landing-why-col {
    margin-top: 2*$vertical-height;
    @include make-col(8);
    @include media-breakpoint-down(md) {
      @include make-col(12);
      min-height: auto;
    }
    @include media-breakpoint-up(lg) {
      @include make-col(7);
    }

    h3 { margin-top: 3*$vertical-height; }
  }

  $contact-us-gutter: 30px;
  .next-steps-col {
    margin-top: -9.5*$vertical-height;
    @include make-col(5);
    @include media-breakpoint-down(md) {
      @include make-col(12);
      min-height: auto;
    }
    @include media-breakpoint-up(xl) {
      @include make-col(4);
      @include make-col-offset(1);
    }
    .next-steps-wrap {
      position: -webkit-sticky;
      position: sticky;
      top: 0;
      padding: 2.5*$vertical-height $contact-us-gutter;
      background: $gray-darker;
      border-radius: $border-radius;
    }
    .form-group.additional-field { display: none !important; }
    header {
      background: $gray;
      padding: 2*$vertical-height 0 ;
      color: white;
      text-align: center;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 2*$vertical-height;
    }
    .btn { width: 100%; margin-top: 2*$vertical-height; }
  }
  .trusted-by-next-steps {
    margin: 2*$vertical-height -15px 0;
    background: white;
    h3 {
      padding: 2*$vertical-height 0.5*$vertical-height 0;
    }
    ul {
      @include list-unstyled;
      display: flex;
      flex-wrap: wrap;
    }
    li {
      flex: 0 0 33%;
      &.partner-logo-rectangle { flex: 0 0 66%; }
      padding: 0 0.5*$vertical-height 2*$vertical-height;
      img {
        display: block;
        width: 100%;
        height: auto;
      }
    }
    .hidden-on-trusted-by-next-steps { display: none; }
  }
  .landing-lightspeed-logo {
    max-width: 280px;
    margin: 2*$vertical-height 0 -1 * $vertical-height 0;
    display: block;
  }
}

.org-signup-landing-page {
  .mobile-contact-link {
    margin: 2*$vertical-height 0 4*$vertical-height;
    a {
      display: block;
      width: 20em;
      max-width: 100%;
      margin: 0 auto;
    }
    @include media-breakpoint-up(lg) {
      display: none;
    }
  }
}
