// Outside of the main block to avoid overriding header and footer styles
.organization-landing-page-wrap {
  h1, h2, h3, h4, h5, h6 { color: $header-font-nocolor; }
}
// Organization landing pages padding (so there can be a background)
#organized_manage_landing, #landing_pages_show {
  padding-top: 0;
  background-size: 100% auto;
  background-position: center top;
  background-repeat: no-repeat;
  .primary-footer {
    margin-top: 0;
   .primary-footer-nav h4 a { color: $gray-light; }
  }
  h1 { text-align: center; }
  h3 { margin-bottom: 0.5*$vertical-height; }
  .org-landing-wrapper {
    padding-top:  88px;
    background: #fff;
    padding-bottom: 4*$vertical-height;
    .row:nth-of-type(2) { margin-top: 36px; }
  }
  @include media-breakpoint-up(lg) {
    padding-top: 0;
    h1 { margin-bottom: 4*$vertical-height; }
    .org-landing-wrapper { padding-top: 120px; }
  }
  @include media-breakpoint-up(sm) {
    .org-landing-wrapper {
      padding-left: 3.5*$vertical-height;
      padding-right: 3.5*$vertical-height;
    }
  }
  @include media-breakpoint-down(md) {
    .org-landing-embed-col { width: 100%; }
    .org-landing-embed-facebook { width: 340px; margin: 0 auto; }
  }
}

// Organization landing pages base styles
.org-landing-icon-list {
  @include list-unstyled;
  margin: 0;
  li {
    min-height: 96px;
    img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
  @include media-breakpoint-up(md) {
    li {
      @include make-row;
      margin-top: 2*$vertical-height;
      // &:first-of-type { margin-top: 0; }
      .org-landing-icon-list-icon {
        @include make-col(2);
      }
      .org-landing-icon-list-icon, .org-landing-icon-list-text { @include make-col-ready(); }
      .org-landing-icon-list-icon { @include make-col(2); }
      .org-landing-icon-list-text { @include make-col(10); }
    }
  }
  @include media-breakpoint-down(md) {
    li {
      .org-landing-icon-list-icon {
        width: 16.66667%; // col-2
        margin: 0 auto $vertical-height;
      }
    }
  }
}

.org-landing-tips-list {
  h3 {
    font-size: 21px;
    margin-bottom: 9px;
  }
  img {
    display: block;
    width: 100%;
    height: auto;
    border-bottom: .5*$vertical-height solid $blue-dark;
    margin: 0 0 $vertical-height;
  }
  ul {
    @include list-unstyled;
    margin: 0;
    display: block;
    a { color: $body-font-color; }
  }
  @include media-breakpoint-down(md) {
    margin-bottom: 2*$vertical-height;
  }
}