// Organization landing pages base styles
#landing_pages_show {
  padding-top: 0;
  .org-landing-wrapper {
    padding-top: 
  }
}

// body, .organized-left-menu { padding-top: 8*$vertical-height; }
// @media (min-width: $grid-breakpoint-lg) {
//   body, .organized-left-menu { padding-top: 12*$vertical-height; }
// }
