.landing-page-body {
  padding-top: 0;
  .primary-footer { margin-top: 0; }
}

.signup-landing-page {
  svg {
    // SVG icon colors
    .svgicon-border { fill: #3498db; }
    .svgicon-bg { fill: #34495e; }
    .svgicon-body { fill: #fff; }
  }
  .banner-header {
    padding-top: 24*$vertical-height;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    background-image: image-url('landing_pages/header_bg.jpg');
    h1, h2, h3 { color: white; }
    h2, h3 {
      font-family: $body-font-family;
      font-weight: $normal-font-weight;
      text-transform: none;
      font-style: normal;
      font-size: 21px;
    }
    .ribbon {
      margin-top: 12*$vertical-height;
      background: $gray-darker;
      h2 {
        font-size: 24px;
        margin: 0;
        padding: 2*$vertical-height 0;
      }
    }
  }

  .landing-why-col, .landing-signup-col { @include make-col-ready(); }
  .landing-why-col {
    @include make-col(8);
    margin-top: 2*$vertical-height;
    img {
      display: block;
      margin-top: 3*$vertical-height;
    }
    h3 { margin-top: 3*$vertical-height; }
  }

  $contact-us-gutter: 30px;
  .landing-signup-col {
    @include make-col(4);
    margin-top: -8.5*$vertical-height;
    padding: 0;
    .signup-col-wrap {
      padding: 2.5*$vertical-height $contact-us-gutter;
      background: $gray-darker;
      border-radius: $border-radius $border-radius 0 0;
      &:last-of-type {
        padding: 0 0.5*$contact-us-gutter 0.5*$contact-us-gutter;
        border-radius: 0 0 $border-radius $border-radius;
      }
    }
    header {
      background: $gray;
      padding: 2*$vertical-height 0 ;
      color: white;
      text-align: center;
      font-size: 30px;
      line-height: 1;
      margin-bottom: 2*$vertical-height;
    }
    .btn { width: 100%; margin-top: 3*$vertical-height; }
    .trusted-by {
      padding: 2.5*$vertical-height 0.5*$contact-us-gutter 12px;
      background: white;
      ul { @include list-unstyled; }
      li {
        img {
          display: inline-block;
          width: 16.66666%;
          height: auto;
        }
      }
    }
  }

  .banner-footer {
    background-color: $blue-dark;
    margin-top: 5*$vertical-height;
    position: relative;
    padding: 12*$vertical-height 0 11*$vertical-height;
    overflow: hidden;
    .chainring-bg {
      display: block;
      width: 45vw;
      height: 45vw;
      position: absolute;
      z-index: 0;
      background-image: image-url('landing_pages/chainring_bg.svg');
      background-size: cover;
      &:first-of-type {
        left: -10vw;
        bottom: -15vw;
      }
      &:last-of-type {
        right: -10vw;
        top: -10vw;
      }
    }
    .footer-overlay {
      display: block;
      position: absolute;
      z-index: 1;
      width: 100%;
      height: auto;
    }
    ul {
      @include list-unstyled;
      @include make-row;
      li {
        @include make-col-ready();
        @include make-col(3);
        .landing-group-card {
          background: white;
          padding: 2*$vertical-height;
        }
        img, svg {
          display: block;
          width: 60%;
          margin: 0 auto;
        }
        h4 {
          margin: 2*$vertical-height 0;
          text-align: center;
          color: $gray-darker;
        }
        p {
          color: $gray-light;
          text-align: center;
          min-height: 4em;
        }
        .btn { width: 100%; }
      }
    }
  }
}