= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @stolen_record, display_recovery: true }

.admin-subnav.midpage-subnav
  .col-12
    %h1 Edit Recovery Display

= render partial: "form"

= link_to "Delete recovery display", admin_recovery_display_url(@recovery_display), method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger"
