= render partial: "/admin/bikes/bike", locals: { bike: @bike, target: "show", stolen_record: @stolen_record, display_recovery: true }

.admin-subnav.midpage-subnav
  .col-12
    %h1 New Recovery Display

= render partial: "form"
