%h1
  Showing membership

%table.table-list
  %tbody
    %tr
      %th
        Email Address
      %td
        = @user.email
    %tr
      %th
        Role
      %td
        = @membership.role
    %tr
      %th
        Organization Name
      %td
        = @organization.name
= link_to 'Delete Membership!', admin_membership_path(@membership), method: :delete, confirm: 'Are you sure you want to delete this membership?', class: 'btn btn-danger'
