<h3>Stickers!</h3>
    <P>
    I've been sending out stickers to help promote the website for many years now.
    They're a great way of showing your support for the site while showing your distate
    for bike thieves!
    </p>
    
    <p>
      Anyone who helps recover a bike, or who gets their bike back, also gets a free sticker. The 
      "<b>death to bike thieves</b>" stickers are by far the most popular.
    </p>
  
    <p>
    You can use the links below to buy SBR stickers, and all funds 
    go towards running and maintianing the website: server fees, postage, more sticker
    printing, flyer printing, etc. As I run this whole website out of pocket, your contrinutions are 
   appreciated <b>hugely</b>.
    </p>
  
    <h3>Death To Bike Thieves</h3>
    <p>
      By and far the single most popular sticker I've ever created, the "death to bike thieves" 
      sticker is short, sweet, and to the point. 
    </p>
    <p>
      <%= image_tag '/assets/stolen/death_sticker.jpg', alt: "death to bike thieves" %>
        <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
        <input type="hidden" name="cmd" value="_s-xclick">
        <input type="hidden" name="hosted_button_id" value="F597MSZFSAARW">
        <table>
        <tr><td><input type="hidden" name="on0" value="How many "Death to Bike Thieves" stickers?">How many "Death to Bike Thieves" stickers?</td></tr><tr><td><select name="os0">
          <option value="1 sticker">1 sticker $2.50 USD</option>
          <option value="2 stickers">2 stickers $4.00 USD</option>
          <option value="3 stickers">3 stickers $5.00 USD</option>
          <option value="4 stickers">4 stickers $7.00 USD</option>
          <option value="10 stickers">10 stickers $20.00 USD</option>
          <option value="20 stickers">20 stickers $40.00 USD</option>
        </select> </td></tr>
        </table>
        <input type="hidden" name="currency_code" value="USD">
        <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
        <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
        </form>


    </p>
    

    <h3>I Want My #@%!ing Bike Back</h3>
    <p>
      Because, seriously ... I just want my #@%!ing bike back
    </p>
    <p>
      <%= image_tag '/assets/stolen/bike_back_sticker.jpg', alt: "I Want My #@%!ing Bike Back" %>
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="2ED7CHT68Q2EA">
      <table>
      <tr><td><input type="hidden" name="on0" value="How many "I Want My #@%!ing Bike Back" stickers?">How many "I Want My #@%!ing Bike Back" stickers?</td></tr><tr><td><select name="os0">
        <option value="1 sticker">1 sticker $2.50 USD</option>
        <option value="2 stickers">2 stickers $4.00 USD</option>
        <option value="3 stickers">3 stickers $5.00 USD</option>
        <option value="4 stickers">4 stickers $7.00 USD</option>
        <option value="10 stickers">10 stickers $20.00 USD</option>
        <option value="20 stickers">20 stickers $40.00 USD</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </p>


    <h3>Bike Thieves Suck</h3>
    <p>
    Bike Thieves Suck! They do! They are terrible, horrible <strike>people</strike> sub-humans who basically profit by stealing
    the very happiness of others. 
    </p>
    <p>
      <%= image_tag '/assets/stolen/suck_sticker.jpg', alt: 'Bike Thieves Suck' %>
      <form target="paypal" action="https://www.paypal.com/cgi-bin/webscr" method="post">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="LP6N4LHMR8MHL">
      <table>
      <tr><td><input type="hidden" name="on0" value="How many Bike Thieves Suck" stickers?">How many Bike Thieves Suck" stickers?</td></tr><tr><td><select name="os0">
        <option value="1 sticker">1 sticker $2.50 USD</option>
        <option value="2 stickers">2 stickers $4.00 USD</option>
        <option value="3 stickers">3 stickers $5.00 USD</option>
        <option value="4 stickers">4 stickers $7.00 USD</option>
        <option value="10 stickers">10 stickers $20.00 USD</option>
        <option value="20 stickers">20 stickers $40.00 USD</option>
      </select> </td></tr>
      </table>
      <input type="hidden" name="currency_code" value="USD">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_cart_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </p>
    
    <h3>You can also make a donation!</h3>
    <p>
      If stickers aren't your thing, a <b>donation</b> is also <b>always</b> appreciated. 
      No, we're not a nonprofit (yet) but every single penny you donate goes towards making the
      SBR bigger and better, and it is appreciated hugely.
      <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
      <input type="hidden" name="cmd" value="_s-xclick">
      <input type="hidden" name="hosted_button_id" value="F4X72WUEF9QXJ">
      <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donateCC_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
      <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
      </form>

    </p>
    
    
    <p>
      (If you would like more than 20 stickers, please email me directly 
      at <b><a href="mailto:info (REPLACE WITH @) stolenbicycleregistry.com">info (at) stolenbicycleregistry.com</a></b>)
    </p>
  
  <p>
  </p>