<section><div class="receptacle"><div class="inner-recep">
<h3>About stolenbicycleregistry.com</h3>
<P>
<img align=right hspace=5 src="/assets/stolen/hanceandbike2.jpg" alt="[bryan hance and his stolen canondale]">
My name is Bryan. I am a sysadmin, database programmer, and mountain biker. I live in <strike>Tucson, AZ.</strike> Cleveland, OH (as of Aug 2005).
<p>
I have had 5 bikes stolen in 9 years. The last one was a Trek 4900 stolen in January. The one
in the photo on the right? Stolen 5 years ago from my living room while I was taking a shower. 
<p>
I hate the idiots who steal other people's bikes, and I hate the fact that there's no 
good resource to register your stolen bike.
<P> 

<!--
<p>
The NBR sucks, for the following reasons:
<blockquote>
<li>They <b>charge you money to register</b>
<li>Only law enforcement has easy access - you or I can't search it. Neither can bike shops. 
<li>No photos! No ability to offer bike rewards! No web interface! 
</blockquote>
<p>
-->

I decided that the world needs is a <b>free, easily accessable, well-organized stolen bike registry</b>.
Something that biking enthusiasts, bike shops, cops, and theft victims could all use with minumim hassle.

<p>
So I hacked together a modern, searchable database. This is it. 
<P>
(At the urging of my Chicago-rock-band-leadin' brother, I also created a sister site: <A target=_new href="http://www.stolenguitarregistry.com">www.stolenguitarregistry.com</a>)
<p>
<a href="mailto:bhance@gmail.com">Questions?</a>

</div></div></section>