<section><div class="receptacle"><div class="inner-recep">
  <h3>About stolenbicycleregistry.com</h3>
  <P>
  <img align=right hspace=5 src="/assets/stolen/hanceandbike2.jpg" alt="[bryan hance and his stolen canondale]">
  My name is Bryan. I am a sysadmin, database programmer, and mountain biker. I now live 
  in Portland, OR.
  <p>
  I have had 5 bikes stolen in 9 years - plus a handful of beater bikes. 
  The one
  in the photo on the right? Stolen from my living room while I was taking a shower, along with some other 
  possessions of mine. (Thanks, Tucson meth kleptos.) 
  <p>
  I hate the idiots who steal other people's bikes, and I hated the fact that the world lacked an  
  online resource to register and search for stolen bikes. So I built one.
  <P> 



  I decided that the world needed a <b>free, well-organized stolen bike registry</b>.
  Something that biking enthusiasts, bike shops, cops, and theft victims could all use with minumim hassle.

  <p>
  So I hacked together a modern, searchable database. This is it. 
  <P>
  (At the urging of my Chicago-rock-band-leadin' brother, I also created a sister site: <A target=_new href="http://www.stolenguitarregistry.com">www.stolenguitarregistry.com</a>)
  <p>
  <a href="mailto:bhance@gmail.com">Questions?</a>


  <h3>stolenbicycleregistry.com FAQ</h3>    

  Allow me to address some of the common questions here: 

  <p>
  <b>Q: Can I register my bike BEFORE it gets stolen?</b> 
  <blockquote>
  <b>A: Not yet</b>. Right now I'd like to keep the focus on bikes that are known to be stolen. 
  Some time in the future (perhaps when I land a grant?) I'd like to have pre-theft
  registration worked into the site, 
  but for now it creates more problems than it solves.
  </blockquote>

  <p>
  <b>Q: You're in Portland, OR. How does the SBR help people in (INSERT YOUR CITY NAME HERE)?</b> 
  <blockquote>
  <b>A:</b>  It is true that a lot of my work now is taking place in Portland, 
  since I'm making good contacts here, but this site is designed to cover all of the U.S. - and now Canada!
  Since listings are broken 
  down by state, city, and zipcode, the database doesn't really care if you're in 
  New York or Alaska. The SBR wants to act as a clearinghouse, and let any local-level
  efforts/coalitions/angry mobs use it for their own purposes, since they'll know what will
  work for their community the best.
  </blockquote>



  <p>
  <b>Q: Where the heck are serial numbers located on a bike?</b>
  <blockquote>

  <a href="<%= serials_url %>"><img src="/assets/stolen/serials_under_crank.jpg" align=right hspace=5 vspace=6 border=0></a>
  <b>A:</b> Most bikes have the serial number stamped into the frame just below the
  crankshaft - <a target=_new href="<%= serials_url %>">see this diagram</a>. If the bicycle is
  standing upright, as it normally does, the serial will be 'facing down' at the pavement - so 
  you'll probably have to flip the bike over to read it.
  <p>
  <b>However:</b> Some manufacturers put serial numbers on the head tubes, or 
  they stamp both a serial number and model number on the bike, adding to the confusion.
  If you bought the bike from a shop, check the recipt - 
  some shops are including bike serials on their recipts as an extra identification measure.
  <P>
  The University of Texas At Austin has an excellent online guide to locating your bike's serial number 
  <A target=_new href="http://www.utexas.edu/parking/transportation/biking/find_serial.html">found here</a>.
  </blockquote>


  <p>
  <b>Q: How do you intend to make money on this site?</b>
  <blockquote>
  <b>A: I don't.</b> Seriously. The web hosting is cheap, and it only takes about 5 minutes out of my day to check 
  new signups and approve new listings, so it isn't like I'm going broke from this effort. I just want to help people
  recover their stolen bikes. 

  <P>If for some reason I start incurring a bunch of hosting fees or it ends up eating up too much time, I'll sign a 
  few volunteers up to help me manage the signups, or get a sponsor. But right now it isn't about money. 

  <p><b>If you'd like to donate a few bucks and help defray the costs, however, that would be great.</b>
  Better yet - <a href="http://blog.stolenbicycleregistry.com/2008/01/donate-to-sbr-get-awesome-sticker.html">buy a sticker and help support the SBR</a>! Or you 
  can click the 'Buy Now' button here to send me a straight-up donation.
  <form action="https://www.paypal.com/cgi-bin/webscr" method="post">
  <input type="hidden" name="cmd" value="_xclick">
  <input type="hidden" name="business" value="bhance@gmail.com">
  <input type="hidden" name="item_name" value="Stolen Bicycle Registry Donation">
  <input type="hidden" name="item_number" value="12345">
  <input type="hidden" name="amount" value="$2.00">
  <input type="hidden" name="no_shipping" value="1">
  <input type="hidden" name="return" value="http://www.stolenbicycleregistry.com/">
  <input type="hidden" name="no_note" value="1">
  <input type="hidden" name="currency_code" value="USD">
  <input type="hidden" name="lc" value="US">
  <input type="image" src="https://www.paypal.com/en_US/i/btn/x-click-butcc.gif" border="0" name="submit" alt="Donate to the SBR!">
  </form>
  </blockquote>


  <p>
  <b>Q: Do you accept donations?</b>
  <blockquote>
  <b>YES!</b> You can paypal any donation amount you want to send to: <b>bhance@gmail.com</b> - please put "StolenBicycleRegistry.com" in the memo. 
  <p>
  All donations go right back into the site, be it via hosting fees, sticker production, or time spent to update the code and website. 
  </p>
  </blockquote>

  <p>
  <b>Q: I've got a great idea, why don't you (GREAT IDEA HERE)</b>
  <blockquote>
  <b>A: I, too have some great ideas for this site</b>. In fact, there are two major portions that aren't 'live'
  yet that I think will make people say 'Wow, that's a cool idea.' Right now I'm in the advertising and PR phase, 
  so when I have a critical mass of bikes registered I'll flip the switch. 
  <p>
  <a href="mailto:bhance@gmail.com">But I'd also love to hear your idea</a>!
  </blockquote>

</div></div></section>