<section><div class="receptacle"><div class="inner-recep">
<h3>If you just want to browse:</h3>

<blockquote>
If you're just curious, you can browse our database of stolen bikes by <a href="https://bikeindex.org/bikes">clicking here</a>. 
<p>
If you think you've found one of the stolen bikes listed in our database, 
you can send the owner an email, and with any luck, there will be a 
bounty on the bike you found. 
</p>
<b><a href="https://stolen.bikeindex.org">If you're just here to browse, start here</a></b>

</blockquote>

<h3>If you have had your bike stolen:</h3>
<blockquote>
If you are here to register your stolen bike, you can do so <a href="/bikes/new?stolen=true">here</a>, and 
even upload a photo for identification purposes. Your bike's photo and specs will then be 
available in our database and viewable on the web - but not your 
contact information, unless you want it visible.
<p>
You can also - as an added incentive for recovery - offer a bounty for your stolen bike.
<p>
If someone thinks they've found your bike, they can alert you via email, or via your contact information, 
if you have made that available.
<p>
Also, if one of our registered users - like a bike shop, dealer, or reseller - 
runs your stolen bike's serial number, <!--you will receive an <b>automatic</b> email 
alerting you about your bike, complete with their contact information.-->
we'll see the 'hit', and put them in touch.
<P>
<b><a href="/bikes/new?stolen=true">If you are here to register your stolen bike, start here</a></b>

</blockquote>


<p>


<h3>If you want to run full serial numbers:</h3>
<!--

<blockquote>
If you are someone who wants to search full serial numbers, such as a: 
<blockquote>
<li><b>bike shop or reseller</b>
<li><b>biking enthuiast</b>
<li><b>law enforcement employee</b>
<li><b>college parking/impoundment employee</b>
</blockquote>


... we can provide you with several quick, easy, <b>FREE</b> ways to run bike serial numbers.
All we ask is that you provide us with your contact information to let us auto-notify 
bike owners if one of the serial numbers you run turns up stolen.
<P>
<b><a href="register_forserials.php">If you want to register and run serial numbers, start here</a></b>
</blockquote>
-->
<p>If you would like to check a bike's serial number to see if it is stolen, you can do so <a href="https://stolen.bikeindex.org">right over here</a> (or at the top of the page)
</p>
</div></div></section>