<section><div class="receptacle"><div class="inner-recep">
<h3><a href="technology.php">Technology</a> > Identidots</h3>

<p>I discovered <b>Identidots</b> shortly after my house was robbed, when I went looking for 
ways to secretly mark and identify  property - especially my bikes - in a cheap but clandestine way.  
While demo'ing Identidots, I realized its potential for marking bikes and fighting bike theft - 
namely the flexibility of its application, overall cost, component marking ability, and the end-result camouflage. 
</p>

<h3>The basics</h3>
<p>
<a target=_new href="/assets/stolen/open_paste_large.jpg"><img src="/assets/stolen/open_paste_small.jpg" align=right hspace=5 vspace=5></a>

Identidots are small plastic 'marker' tags suspended in an adhesive paste. 
These marker tags are about the size pepper flakes, and each one is encoded 
with a unique serial number. Similar to applying, say, nail polish, you 'brush' these 
Identidots onto an object you want to mark. Once applied, the adhesive hardens into a durable,
almost completely unnoticeable and totally clear finish, leaving behind pepper-sized ID 'flakes' 
that aren't easily visible to the naked eye, but are visible under magnification. </p>
<p>
The end result is an abuse-resistant finish that can be applied almost anywhere. 
Furthermore, the adhesive finish also fluoresces when exposed to UV light for easier 
identification. Shine a blacklight at the Identidots on your bike, and it clearly stands 
out, yet is basically invisible under regular conditions.
</p>
<p>
(<i>Just one word re: the photos here - Identidots, when first applied, goes on looking like white glue,
as pictured in most of the photos here. However once dried, it is <b>completely clear</b> - see the photos further down
the page. </i>)
</p>

<h3>What you get</h3>
<a target=_new href="/assets/stolen/kit_large.jpg"><img src="/assets/stolen/kit_small.jpg" align=right hspace=5 vspace=5></a> 
<p>The Identidots kit ships with a generously-sized container of tags in adhesive, basic instructions, and 
six standard "asset-tag" type stickers to apply to objects 
you have marked. The ID number on these stickers matches 
the ID on your tags, and function as any other asset marking stickers do - as a theft deterrent. The stickers 
also have some tricks up their sleeve - once applied and given time to cure, their adhesive permeates most 
surfaces with its UV-active substance. Even if removed, the object is still 'marked' with the unique 
Identidots code. 
</p>

<p>Once you have marked all your objects, you register your kit's serial number with the
Identidots website. This facilitates reverse lookup on items later on - if someone needs to 
find the owner of a marked object, they do so via the Identidots website.</p>

<p>For 100% positive identification via the microtag, a USB 'microreader' is needed 
to fully read the serial number on the pepper-sized tags - they're simply too small to be read without 
serious magnification. And this is the only shortcoming I see to this product - 
these readers aren't readily available to the public, nor in the hands of many
police departments, but Identidots is working on this issue. (<i>A quick check with 
Identidots, and I've been told that they're working on getting inexpensive 'pen' style
readers ordered and available via their website. I'll update this article with more
info as I get it.</i>)</p>

<h3>At first glance</h3>   

<p>My main concerns were with the eventual visibility, durability,
and longevity of the Identidots once applied it to my bike. I was also curios about placement - anyone who knows anything 
about bike theft knows that your average bike thief/tweaker will go through 
great lengths to scrub any stolen bike of ID markings, so I wanted to see 
what creative places I could apply my Identidots to, and how well the application 
would hold up after being exposed to the elements.</p>

<h3>My tests </h3>
<a target=_new href="/assets/stolen/hub_wet_large.jpg"><img src="/assets/stolen/hub_wet_small.jpg" align=right hspace=5 vspace=5></a>

<p>I marked three bikes, along with several household items, in order 
to see how Identidots applied and 'finished' on surfaces like plastic, metal,
leather, and glass. For this article I'll focus on the bikes, but my photos 
also show Identidots applied to some of my tools, computers, and my phone.</p>

<p><b>Protip:</b> applying the Identidots with the supplied applicator 
is a bit like painting with a roller brush. I switched to an actual Q-tip and 
toothpicks after my first few experiments and thus was able to get my Identidots 
in some very, very, VERY specific places on my frame that I can guarantee nobody 
in the world would be able to find without serious effort. So: for finer application, 
switch to a Q-tip and toothpicks.</p>


<h3>Application and real-world testing</h3> 

<a target=_new href="/assets/stolen/crossbar_wet_large.jpg"><img src="/assets/stolen/crossbar_wet_small.jpg" align=right hspace=5 vspace=5></a>
<p>My initial application, shown here, went just under the crossbar and onto each 
wheel's hub. I also marked the underside of my Brooks saddle and a number of 
components. I then let the Identidots 'cure', tooks some photos of the fresh 
application, and then resumed my daily abuse of my bikes in both Summer and 
Fall weather. This routine included daily rides - more often than not in the 
rain - and a wide swing in temperatures, humidity, environments, regular 
cleanings, etc. </p>

<p>Once the adhesive hardened, I took a few whacks at the Identidots layer with
a screwdriver to determine its durability, and it very much held. I then 
transitioned to checking my Identidots application out in regular intervals:</p>
<a target=_new href="/assets/stolen/hub_wet_large.jpg"><img src="/assets/stolen/hub_wet_small.jpg" align=right hspace=5 vspace=5></a>
<p><b>At one week:</b> the Identidots application remains hardened, unnoticeable, 
and untouched on all surfaces.</p>
<p><b>At one month:</b> the Identidots application remains hardened, unnoticeable, 
and untouched on all surfaces.</p>
<p><b>After several months:</b> the Identidots application remains hardened, 
unnoticeable, and untouched on all surfaces.</p>



<p>The photos speak volumes - you can see for yourself that the Identidots 
application holds up and remains very unnoticeable after several months. 
Whatever they're using in the adhesive, it is strong.</p>

<p>
Two months after application and abuse - still there, just barely noticeable:<br> 
<a target=_new href="/assets/stolen/two_months_later_large.jpg"><img src="/assets/stolen/two_months_later_small.jpg" hspace=5 vspace=5></a>

</p>

<h3>Other thoughts</h3>
<p>
Despite all the whiz-bang appeal of the micromarking technology, I really 
like the ability to physically mark objects so a quick 'feel test' 
can identify my frame to my liking. I marked my bicycle just under the crossbar, 
in a very specific place, not easily visible to the eye, and I can quickly and 
surreptitiously run my fingers over this part of my frame and feel the small 
Identidots adhesive on the underside of the crossbar - almost like 
Braille. </p>

<p>Combined with the ability to apply Identidots in many nooks and 
crannies on a bike frame, this is a total plus. There are a number of times 
when people need a quick, surreptitious way to determine if a frame is theirs 
(think: Craigslist) and the potential to mark a bike in this way is something 
I hadn't even considered when looking at Identidots.
</p>

<p>
The identidots application is also so slight that I can forsee being able to 
visibly ID it in, say, Craigslist photos. If you know what you're looking for, 
it would be trivial to ask a seller "Hey, can you take a photo of the hub, 
I want to see what shape it's in" on a suspect bike, and then determine 
whether or not you can see the pepper-like flakes of the Identidots application. 
There is enormous potential here. 
</p>

<h3>Enormous potential for marking components</h3>
<p>Identidots is that they're one of the very, very few solutions 
out there for marking bike components that doesn't ruin the aesthetics of your ride. 
Most thieves will 'chop' a bike shortly after stealing it, and I can't tell you 
how many people I talk to who are pretty sure they've found their components on 
Craigslist, only to be stuck with no way to identify them. If we want to 
talk about marking components, we're basically stuck with unsightly 
engraving or various asset-recovery stickers, which are often aesthetically 
annoying and stupidly easy to defeat. Even your most meth-addled tweaker knows 
to remove or cover any stickers on a bike up immediately after theft. 
</p>

<h3>Pros and Cons</h3>
<p>
<b>Pros:</b> 
Cheap - one $25 kit can mark a lot of items. Durable. Easily camouflaged. Almost 100% invisible.
</p>
<p>
<b>Cons:</b>
No easy way for your average rider or police department to read the microtags. (<i>Again, Identidots 
says they're working on this, and I'll update this as more info on reader availability comes in.</i>)
</p>


<h3>Final verdict</h3>
<p>
Despite some of the minor shortcomings I've listed here, I'm impressed that the Identidots 
takes the beating I've given it without degrading. I'm also impressed how many items I 
was able to mark with a single Identidots kit, and the ease of application opens 
up a lot of great ways to mark a bike in such a way that only you would know where to look. 
</p>
<p>
I can easily imagine scenarios where you'd want to quickly and surreptitiously try and 
determine if a frame was yours, and Identidots would certainly let that happen.
</p>
<p>
I welcome any new tool in the arsenal against bike theft, and thus I give Identidots a thumbs up. 
</p>

<h3>For more info</h3>
<p>
For more information: <b><a href="http://www.identidots.com">www.identidots.com</a></b>
</p>
<p>
Want to support the SBR? Buy Identidots by <a href="http://identidots.com/Shop.aspx">clicking here</a> to use 
the promotional code <b>SBR</b> when you buy. 
</p>
</div></div></section>