<section><div class="receptacle"><div class="inner-recep">
  <h2>links!</h2>
  <p>
    Every now and then I'll run across a link that needs more attention - it may be a good writeup on the bike theft problem, crime stats, or perhaps someone else who is doing something truly unique to try and help recover stolen bikes. I'm going to keep a running log here. 
  </p>
  
  <p>
    There are also many people helping me out with this effort, and I'll try to list you all here, 
    but forgive me if I leave some of you out. Feel free to click around and support the cause!
  </p>

  
  
  
  
  <h3> ... bike theft statistics ...</h3>
  
  
  <ul>
    <li>It is estimated that over 1.5 million bicycles are stolen every year. The FBI received reports of 504,000 bicycles stolen in 1995, but estimates that only <b>one-third</b> of all stolen bikes are reported to police.
    </li>
    <li>The 2000 FBI Uniform Crime Report shows the average price of a stolen bicycle is $276. With more than 313,469 bicycles reported stolen in 2000, consumers lost over $86 million.
    </li>
    <li>* A 1994 study of bicycle theft on college campuses ... found that a four-year college student has a 53% chance of having their bike stolen.
    </li>
    <li>* In the 92-93 school year, 11 bikes out of 100 on campuses were stolen. <br>
      <sub>
      From: <a target=_new href="http://www.bicyclesource.com/bike/theft/campus-theft.shtml">http://www.bicyclesource.com/bike/theft/campus-theft.shtml</a>
      </sub>
    </li>
    <li>Popcenter.org's <b>fantastic</b> <a href="http://www.popcenter.org/problems/bicycle_theft" target='_new'>'The Problem of Bicycle Theft' (2008)</a>
    </li>
  </ul>
  
  
  
  
  <h3>... other (localized) registries ... </h3>

  <ul>
    <li><a href="http://stolenbikestacoma.com">Stolen Bikes Tacoma</a></li>
    <li><a href="http://www.missionstation.org/recovered-bicycles-in-the-mission.html">SFPD's Mission Station - Recovered Stolen Bicycles</a></li>
    <li><a href="http://bikesintheheights.org/resources/stolen-bikes/report-stolen-bicycle/">bikesintheheights.org - stolen bikes in Cleveland Heights, OH</a></li>
    <li><a href="http://www.atxbs.com/?q=aggregator/sources/1">ATXBS.com's stolen bikes in Austin, TX</a></li>
    <li><a href="http://tucsonvelo.com/category/stolen-bikes">TucsonVelo's stolen bikes in Tucson, AZ</a></li>
    <li><a href="http://chicago.stolenbike.org/">chicago.stolenbike.org - stolen bikesin Chicago, IL</a></li>
    <li><a href="http://www.missionstation.org/recovered-bicycles-in-the-mission.html">SFPD Mission Station - recovered bikes/a></li>
        
  </ul>
    
  <h3>... in general ...</h3>
  <ul>
    <li><a target=_new href="http://bicyclehabitat.com/site/page.cfm?PageID=139">10 Worst cities for bike theft</a></li>
    <li><a target=_new href="http://www.austinchronicle.com/issues/dispatch/1999-11-26/pols_feature.html">When It Comes to Bike Theft, Austin Is Tops</a></li>
  </ul>
  
  
  <h3>... gratifying links ...</h3>
  <ul>
    <li>'<a target=_new href="http://wildcat.arizona.edu/papers/91/33/01_3_m.html">'Professional' bike thief busted</a>'</li>
    <li>'<a target=_new href="http://orion.csuchico.edu/Pages/vol41issue6/news/n.8.vigilantejustice.html">Vigilante justice foils bicycle thief</a>'</li>
    <li>'<A target=_new href="http://www.stanford.edu/group/news/relaged/940315Arc4379.html">Suspected bike thief may face 'three strikes' sentencing</a>'</li>
    <li><a href="http://www.yourbluebike.com/">White Vans / yourbluebike.com</a></li>
  </ul>
  
  
  <h3>... other forward-thinking sites helping the cause ...</h3>
  <ul>
    <li><a target="_new" href="http://www.cpic-cipc.ca/English/search.cfm">Canadian Police Information Centre's Stolen Vehicle & Bicycle serial search page</a></li>
    <li><a target=_new href="http://yaybikes.com">yaybikes.com</a></li>
    <li><a target=_new href="http://someonestolemybike.com">someonestolemybike.com</a></li>
    <li><a target=_new href="http://bikerescue.org">bikerescue.org</a></li>
    <li><a target=_new href="http://atxbs.com">atxbs.com</a></li>
    <li><a target=_new href="http://bikeportland.org">bikeportland.org</a></li>
  </ul>
  
  
  <h3>... sister sites ...</h3>
  <ul>
    <li><a target=_new href="http://stolenguitarregistry.com">stolenguitarregistry.com</a> - Register your stolen guitars!</li>
    <li><a target=_new href="http://stolenmotorcycleregistry.com">stolenmotorcycleregistry.com</a> - originally started to keep people from trying to register their motorcycles with the SBR. </li>
  </ul>
  
  
  <h3>... people who have helped me/linked to me, and get props ...</h3>
  <ul>
    <li><A target=_new href="http://www.sprockettsrecycledbicycles.com">sprockettsrecycledbicycles.com</a></li>
    <li><A target=_new href="http://www.bikinglasvegas.com/">bikinglasvegas.com</a> </li>
    <li><A target=_new href="http://www.twospoke.com/">twospoke.com</a> </li>
    <li><A target=_new href="http://www.twbc.org">Tacoma Wheelmen's Bicycle Club</a> </li>
    <li><a target=_new href="http://lincolnct.com/2008/10/01/theft/">Gary G's lincolnct.com</a></li>
    <li><a target=_new href="http://www.baitbike.com">Baitbike.com</a> </li>
    <li><a target=_new href="http://www.considerbiking.org">Considerbiking.org</a> </li>
    <li><a target=_new href="http://bikeseattle.org/">Bikeseattle.org</a></li>
    <li><a target=_new href="http://www.ebbc.org/">East Bay Bicycle Coalition</a></li>
    <li><a target=_new href="http://www.bbtc.net/">The Bonneville Bicycle Touring Club</a> </li>
    <li><a target=_new href="http://www.oceancyclery.com">Ocean Cyclery</a> </li>
    <li><a target=_new href="http://www.mobiuscycle.com/">mobiuscycle.com!</a> </li>
    <li><a target=_new href="http://www.csrichards.com/">Chris Richards, Tucson wedding photographer and all-around biker-ninja</a></li>
    <li><a target=_new href="http://www.dirtragmag.com/web/news-article.php?ID=550">Dirtmag!</a></li>
    <li><A target=_new href="http://cazbike.com">Coalition of Arizona Bicyclists</a></li>
    <li><A target=_new href="http://oldskoolcycles.com/">Oldskoolcycles.com</a></li>
    <li><A target=_new href="http://bikeportland.org">BikePortland.org</a></li>
    <li><a target=_new href="http://www.fixedgeargallery.com">Fixed Gear Gallery</a></li>
    <li><a target=_new href="http://www.montlakebike.com/">Montlake Bicycle shop</a></li>
    <li><a target=_new href="http://www.bike2work.com/s_cruz/link.html">Bike to work!</a></li>
    <li><a target=_new href="http://www.sonic.net/~douglasi/rev/home.htm">A local S.F. bike registry run by Douglass McKenzie</a></li>
    <li><a target=_new href="http://www.crankmail.com/">crankmail.com</a> - the Voice of Cyclists in NorthEast Ohio </li>
    <li><a target=_new href="http://www.newcolonist.com">newcolonist.com</a> (see their <a href="http://www.newcolonist.com/workbike.html" target=_new>bikes at work</a> page) </li>
    <li><a target=_new href="http://www.drunkcyclist.com" target=_new>drunkcyclist.com</a></li>
    <li><A target=_new href="http://www.bicycleuniverse.info" target=_new>bicycleuniverse.info</a></li>
    <li><a target=_new href="http://www.bikeiowa.com">bikeiowa.com</a></li>
    <li><a target=_new href="http://bikagaba.org">bikagaba.org</a></li>
    <li><a target=_new href="http://cherba.com">cherba.com</a> (<a target=_new href="http://cherba.com/atmb/index.html">Trail adventures in Tucson</a>)</li>
    <li><a target=_new href="http://andyville.org">andyville.org</a></li>
  </ul>
  
  <p>
    Drop me a line at <a href="mailto:bhance@gmail.com?subj=stolenbikes">bhance@gmail.com</a>.
  </p>
</div></div></section>
  