<section><div class="receptacle"><div class="inner-recep">
<h3>Philosophy</h3>

<pre>
</pre>




<b>Bike theft sucks</b> - 

No matter who you are, you probably just wanted a nice solid bike to ride, and now someone
has stolen it. Otherwise you wouldn't be reading this.
<p>
Where I live, most bikes get stolen by 
people who come onto campus to steal a bike for quick drug money. They 
quickly sell them to a pawn shop or other 'grey-area' dealer within a few hours. 
<p>
Thus, most stolen bikes never leave town, and most just get resold  
and end back up on campus, lost among the masses.

<P>
The situation where you live may be different, but the fact remains that it is 
too easy for people to steal and resell bikes, and too difficult to register and search 
for stolen bikes. 

<!--<b>The whole situation is a comedy of errors that makes it easy for people to steal 
and resell bikes</b>.-->
<p>



<h3>The Crux Of The Problem</h3>

<p>
<b># 1) There's no incentive to look for or report stolen bikes</b>

<blockquote>
Even if a pawnshop, bike shop, or potential buyer thinks your bike's stolen, 
there's no good reason for them to check your bike's serial number. 
Why? If they <b>do</b> find out your bike is stolen, there's really nothing 
in it for them - except they're losing the chance to get a cheap bike.
<P>
<!--
<b>So what's the solution?</b> Rewards. If you can get the word out that you're willing to 
give someone a<b>bounty</b> for finding your bike, there's a reason for that 
bike shop, pawn shop, and individual buyer to start running serial numbers.
<P>
-->
</blockquote>



<p>
<b># 2) The current stolen bike registry is sorely lacking</b>
<blockquote>
There is an existing stolen bike registry - The National Bike Registry. 
They want you to pay to include your bike's serial number in their database.
<P>
Let me reiterate that: <b>They want you, someone who just had your bike stolen, to 
PAY THEM to include your serial number in their database</b>. In my book, that's getting screwed 
twice.
<p>
Not to mention the fact that the only people who have easy access to the NBR's database is law enforcement. 
So unless your bike gets recovered by a cop, its serial number probably won't ever get checked out.
<P>

</blockquote>


<p>
<b># 3) There's no easy way for the common person to check a bike's serial number</b>
<blockquote>
Following right on the heels of #2, - there's no easy way for you or I, a bike shop, or a pawn shop, 
or ANYBODY to run serial numbers through the National Bike Registry. Sure, they can call the 
NBR's 1-800 number, get put on hold, and speak with a customer service rep. But that's a serious hassle. 
<P>


<!-- SMS? No.-->
</blockquote>

<P>

<h3>Stolenbicycleregistry.com wants to help fix this</h3>
<p>

How? 
<P>
<blockquote>
<li>By providing <b>FREE</b> 5 year web-based registration for your stolen bike.
<li>By providing <b>detailed, searchable bike info</b> - including reward offers, photos of your stolen bike, and more.
<li>By providing <b>FREE</b> web access to our stolen serial number database. 

<!--
<li>By providing <b>FREE</b> web, email, and SMS access to our stolen serial number database. 
<b>Our revolutionary systems lets anybody with a cellphone run a serial number 
in seconds via text messaging</b>. 
-->

<li>By linking bike locators with bike owners. <!--If someone runs your stolen 
bike's serial number, you get an email with their contact info.</b> It's that simple.-->

<li>By running <b>WATCHLIST</b> - a free, bi-monthly email newsletter containing stolen bike
info broken down by state, city, or zip code. <b>WATCHLIST</b> is printable, and aimed towards
people who come into contact with a lot of bikes, and can act as a quick reference of all
the stolen bicycles in a specific area.

</blockquote>





<P>

<h3>Stolenbicycleregistry.com has a few other ideas ...</h3>
<a href="/stolen/rfid_tags_for_the_win"><img align=left src="/assets/stolen/worddocumenticon.jpg" hspace=5 vspace=5 border=0></a> 

<p>
I've also put this <a href="/stolen/rfid_tags_for_the_win">whitepaper</a> online, in which I outline a new approach 
to tackling the bike theft problem. Interested? 
Read <a href="/stolen/rfid_tags_for_the_win"><b>Open Source Bike Recovery - On The Cheap</b>.</a>
<P> 
</div></div></section>