<section><div class="receptacle"><div class="inner-recep">

<h3>Open Source Bike Recovery - On The Cheap</h3>
<b>Here's a simple, low-cost solution to bike theft that needs built, right now</b>


<p>
There's something intensly personal about getting your bike stolen, something that transcends the 
simple loss of having a high-dollar item taken against your will. It is, after all, your bike 
an object with infinately more soul then all your other beloved gear combined. And yet, 
stolen bikes are often too small of a problem for police to address, and the public 
loses an estimated $86 million in stolen bikes every year.
</p>

<h3>The idea:</h3>
<p>
This paper outlines a simple, low-cost solution to bike theft. You've probably 
even heard its name before - <b>RFID tags</b>. 
</p>
<p>
RFID tags are small, inexpensive radio-transmitters used in a wide variety of applications like 
asset tracking and inventory. These tags act like 'magic serial number's, and have revolutionized a 
number of industries because they are cheap, plentiful, and simple to use. Stick an RFID tag in an 
object, and you can point a reader at it even from yards away - and read its serial number. 
Once you connect that reader to a database, the sky's the limit.
</p><P>

<img src="/assets/stolen/epcrfidtag.jpg" align=right hspace=8 vspace=8>

The most recognizeable consumer-class RFID application is something you may have seen in your 
vet's office - <a target=_new href="http://www.avidmicrochip.com/">AVID's PetTrac</a>(tm), which implants glass RFID 'chips' in household pets for 
identification and recovery purposes. A 'chipped' pet can be identified simply by waving an
RFID tag reader in its direction - the reader grabs the serial number, which is then matched 
to an owner, and voila - little Fluffy gets to go home. 
</p><P><b>
I propose that a similar system be codified and built for tracking bicycles everything from 
the bike-level 'chipping' process and tag-reader methods, to the bike registration and 
verification network.</b></p>

<p>All tagging methods and parameters could be open sourced for industry adoption, 
and several other avenues - such as the option to use a recovery-rewards 
system to promote participation - bear further examination as well.
</p><P>

<h3>Three simple steps to global bike-finding domination</h3>
</p><P>
At the <b>manufacturer</b> level, bikes could easily be implanted with RFID tags when manufactured. 
Fortunately, bulk RFID tags cost only pennies per tag, which keeps the manufacturer's costs 
in the process very, very low.
</p><P>
At the <b>consumer</b> level, registration could be sold as a profitable value-added at the time of 
purchase. For consumers with existing, un-chipped bikes, simple "do-it-yourself chip kits"
could also be sold at a small cost.
</p><P>
At the <b>recovery</b> level, RFID tag readers linked to a centralized ownership database could be
weilded by everyone from police, pawn shops, dealers, and individuals anybody who comes 
into contact with a lot of bikes. These recovery-level users would undergo vetting and 
registration by the ownership authority in order to ensure their identity and good faith.
</p>
<P>

<h3>Example use scenario</h3> 

<p>Imagine a local police impound warehouse - where most stolen bikes end up, sooner or later. If they could 
be provided with a handheld RFID reader, the entire process would be something like: 

<blockquote>
1) Police point the reader at a bike (or pile of bikes)<br>
2) The reader grabs any serial numbers from the RFID chip inside the bike<br>
2) The reader uses 3G or EDGE to transmit these serials to the ownership database<br>
3) The database returns a "Stolen/Not Stolen" reply<br>
4) If it's stolen, the database notifies the owner via email, including pickup/contact info<br>
5) All scanning and tracking results are available to the police via secure web-based admin<br>
6) Recovery and pickup are left to the owner<br>
</blockquote>

The key advantages to this model being that notification, tracking, and recovery are offloaded away from the 
police staff - all they have to do is point the reader and scan.


</p>

<h3>Bike bounties, recycling the tracking technology</h3>
</p><P>
In a network where both the owner and recovery individual have been verified, added incentives 
like recovery bounties could  help foster the process. Bike theft victims could easily assign 
rewards to their lost bikes, which the recovering party would claim, with the registration 
authority acting as an impartial middleman. 
</p><P>
<b>Once this notion of actual profit from stolen bike recovery is brought into the equation, it 
alters the economics of bike theft equation very dramatically in favor of bike owners.</b>
</p><P>
What's more, once the network is in place, the entire model item chipping, registration, 
recovery, and compensation could easily be applied to other high-dollar consumer  items 
like <a target=_new href="http://stolenguitarregistry.com">musical instruments</a>, cameras, laptops, and home electronics.
</p><P>
<h3>The inevitable chicken-and-egg problem</h3>
</p><P>
There is, of course, an initial hurdle: Nobody will pay for a tag until there's a recovery 
network in place, and nobody will help build the recovery network until a large number of 
tagged bikes in in circulation.
</p>


<P> 
So, as I see it, three things have to happen: 
</p><P>
<blockquote>
1) One forward-thinking manufacturer has to step up and start chipping their frames, right 
now, and working a "pre-chipped" registration process into their sales chain.
</p><P>
2) Somebody has to build the central database, along with registration and tag-reading 
standards and tools. (And, hey, <a target=_new href="https://stolen.bikeindex.org">I've got just the person in mind</a>.)
</p><P>
3) After that, we've got to get a thousand readers into the hands of recovery-level users 
like cops and bike shops. For free. A nice fat anti-crime grant of some sort, or perhaps 
backing from a major insurer (<a href="http://h20331.www2.hp.com/enterprise/cache/51817-0-0-225-121.html">or tech conglomerate</a>) would 
certainly help with this last step.
</blockquote>
</p><P>
Without getting too wrapped up in the technical details, there are RFID tags and readers 
perfectly suited to this kind of application. All the technology exists, and is just 
waiting to be plugged together like so many building blocks. 
</p><P>
For now, we just need some people to dive in and <a href="mailto:bhance@gmail.com">start building</a>.
</p>



<h3>Article updates</h3>
<p>
Big thanks to over at <a href="http://www.bikeportland.org">bikeportland.org</a> for 
<A href="http://bikeportland.org/2007/07/10/bike-theft-on-the-rise-is-rfid-the-solution/#comments">dropping this onto his site</a> for discussion.
Couple of points for folks there that are reading this article from that link:
<blockquote>
<li>Nobody's calling for widespread, big-brother-style public-scanning. <i>Methinks these folks didn't RTFA</i>.</li>
<li>I know some folks have an anti-RFID stance - for, uh, various reasons - but it's very much an opt-in kind of system.</li>
<li>On the cable vs. U-Lock dabate: I've had <b>four</b> U-locks defeated - broken in half, cracked, 
  sawed off, etc. All from various vendors.</li>
<li>Muchas gracias to whoever pointed out the U.K. system. I'll look into it.</li>
</blockquote>
</p>

</div></div></section>