<section><div class="receptacle"><div class="inner-recep">
  <h3>Fighting Bike Theft via Technology</h3>
      <P>
      I'm a technocrat - when I work on a problem, my first instinct is to try and apply a high-tech solution. 
      And while bike theft is a relatively low-tech crime with
       low-tech solutions (bigger locks! better parking!) 
      there are always new technologies whose potential for fighting bike theft get me excited.  
      </p>
      <p>
      In this section, I look at some of the products I think can help fight bike theft - 
      this can run the gamut: locks, GPS trackers, identity markers, even online services for finding stolen bikes, 
      or other asset tracking technology. 
    </p>
    <p>I'm always looking for new products to demo, though! Do you have a product you would like me to examine? 
      Send it my way: <a href="mailto:bhance@gmail.com">bhance@gmail.com</a>
  </p>
  <p>
    <h3>Identidots - cheap, easily applied microtags in a hardened adhesive</h3> 
    <a href="/stolen/identidots"><img src="/assets/stolen/identidots_small.jpg" align=left hspace=5 vspace=5></a> 
    I take a look at <b>Identidots</b>, a microtag-based marking technology that lets you mark items
    with small 'microtags' in a UV-active hardened adhesive. One of the very, very few options out there for 
    marking components! Do it yourself asset marking with some nice side benefits: unobtrusive application, 
    near-invisible to the naked eye when applied, UV active, comes with traditional asset tags as well.<p>
      
    <b>Pros:</b> inexpensive, easily concealed and applied, a great solution for component marking <br>
    <b>Cons:</b> microtag readers aren't readily available to the public or police yet. 
    <p>
    <b><a href="/stolen/identidots">Read the full Identidots article here</a></b>
  </p>

  <br clear=all>
    
    <p>
    <h3>Spybike - stem-hidden GPS tracker with SMS alerting</h3> 
    <a target=_new href="http://fahrrad-diebstahl.com/?sPartner=stolenbicycleregistry.com"><img 
      src="/assets/stolen/topcap.jpg" align=left hspace=5 vspace=5></a> 
    I'm still waiting to get my hands on a <a target=_new 
      href="http://fahrrad-diebstahl.com/?sPartner=stolenbicycleregistry.com">SpyBike 'Topcap' GPS tracker</a>, 
      but this stem-hidden GPS tracking device is <b>the</b> one product I've been dying to get my hands on. 
      Despite being kind of pricy (150-euro, which is ~$200 USD) the SpyBike TopCap's combination of camouflage, active GPS 
      tracking, and SMS/text/mobile-alerting has some amazing 
      potential for fighting bike theft. As always, though, the devil is in the details, so I've been dying to try one out. 
      <p>In the meantime, you can
      learn more about the SpyBike TopCap at
    <a target=_new href="http://fahrrad-diebstahl.com/?sPartner=stolenbicycleregistry.com">fahrrad-diebstahl.com</a> 
    - just flip their website from German to English 
    in the upper righthand corner of the website.  
    <p>
      You may remember the <a target=_new href="http://fahrrad-diebstahl.com/?sPartner=stolenbicycleregistry.com">fahrrad-diebstahl</a>
      name from last year, when they introduced their "<a target=_new href="http://www.integratedtrackers.com/GPSTrack/spylamp2.jsp">SpyLamp</a>" GPS-in-a-bikelight product, which also gained lots and lots
      of press and had me praising their mix of active tracking tech and active GPS tracking. Also? "fahrrad diebstahl", for 
      those of you that are wondering, translates roughly to "bicycle theft".
    
    <p>
      
    <b>Pros:</b> nicely hidden GPS tracking unit <br>
    <b>Cons:</b> pricy
    <p>
    <b><ahref="spybike.php">Spybike review is pending</a></b>
  </p>
    
    <br clear=all>
    
    <p>
    <h3>betterworldclub.com's bicycle accident and liability insurance</h3> 
    <a target=_new href="http://www.betterworldclub.com/home.htm?join_code=BHAN2121"><img 
      src="/assets/stolen/betterworldclub_125x125.gif" align=left hspace=5 vspace=5></a> 
      
    While admittedly this is not a <b>tech</b>-related item, bicycle insurance 
    is something I've been keeping an eye on as more and more agencies realize there is a growing market. 
      <a target=_new href="http://www.betterworldclub.com/home.htm?join_code=BHAN2121">Betterworldclub.com</a>
      is a Portland OR based 'environmentally friendly auto club', and offers bicycle accident
      and liability insurance. <p>
      
      Taken from <a target=_new href="http://www.betterworldclub.com/home.htm?join_code=BHAN2121">betterworldclub.com</a>:
      <blockquote>
      <i>When former Working Assets Mutual Fund President Mitch Rofsky learned that AAA 
        actually lobbies against environmental efforts like higher fuel economy standards 
        and alternative transportation, he founded Better World Club, the nation's only 
        environmentally friendly auto club. Better World Club provides carbon offsets 
        for travel, gives discounts to hybrid auto drivers, surcharges gas-guzzlers, 
        and dedicates one percent of its gross revenues to environmental cleanup and 
        advocacy. Better World Club also offers an option for <b>bicycle roadside protection</b> 
        and gives family membership status to domestic partners as well as married couples. 
      </i>
      </blockquote>
      
    <p>I'll be reviewing this and other bike insurance options a little closer in the future.

    
  </p>
    
</div></div></section>