{
  "presets": [
    [
      "@babel/preset-env",
      {
        "modules": "auto",
        "targets": {
          "browsers": "> 1%",
          "node": "current"
        },
        "useBuiltIns": "usage"
      }
    ],
    "@babel/react"
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/transform-runtime",
    [
      "transform-class-properties",
      {
        "spec": true
      }
    ]
  ]
}
