
{
  "env": {
    "browser": true,
    "jest": true
  },
  "parser": "babel-eslint",
  "extends": "airbnb",
  "rules": {
    "no-underscore-dangle": 0,
    "react/jsx-filename-extension": [1, { "extensions": [".js", ".jsx"] }],
    "no-nested-ternary": 0,
    "react/jsx-one-expression-per-line": 0,
    "arrow-parens": 0,
    "react/require-default-props": 0
  },
  "plugins": ["react"],
  "settings": {
    "import/resolver": "webpack"
  }
}
