# Ignore bundler config
/.bundle

# Temporarily ignore public/_site for jekyll stuff


# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
coverage/*
public/uploads/*
public/caches
.sass-cache
public/partner
.vagrant
*.rdb
current_stolen_bikes.tsv
spec/fixtures/tsv_creation/*.tsv
spec/fixtures/tsv_creation/*.json

# Ignore rvm stuff
.rvmrc
.ruby-gemset
.ruby-version
.powenv

# Ignore localeapp
.localeapp
log/localeapp.yml

# Ignore import files
sm_import_*.json
spec/fixtures/bikes/*.json
manufacturer.tsv