# Ignore bundler config
/.bundle


# Ignore the deploy location and certs
config/certs
config/deploy

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
coverage/*
public/uploads/*
public/caches
.vagrant
dump.rdb
output.tsv


# Ignore rvm stuff
.rvmrc
.ruby-gemset
.ruby-version

# Ignore localeapp
.localeapp
.env
log/localeapp.yml