# Ignore bundler config
/.bundle


# Ignore the deploy location and certs
config/certs
config/deploy
config/database.yml

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp
.DS_Store
coverage/*
public/uploads/*
public/caches
.vagrant


# Ignore rvm stuff
.rvmrc
.ruby-gemset
.ruby-version
