language: ruby
services:
  - redis
  - postgres
addons:
  postgresql: "10"
  apt:
    packages:
      - postgresql-10
      - postgresql-client-10
env:
  global:
    - PGPORT=5433
rvm:
  - 2.5.1
before_install:
  - gem install bundler -v 1.9.10
script:
  - bundle exec rails webpacker:compile
  - bundle exec rspec
branches:
  only:
    - master # We want to build PRs, and merges to master
before_script:
  - redis-cli info
  - psql -c 'create database bikeindex_test'
  - bundle exec rake db:structure:load
cache:
  bundler: true
  directories:
    - node_modules
  yarn: true
install:
  - bundle install
  - nvm install node
  - node -v
  - npm i -g yarn
  - yarn
notifications:
  email:
    on_success: never
