<% nav_header_list_items = capture do %>
  <li class="nav-item">
    <%= link_to "New Account", "/auth/twitter", class: "btn btn-success float-right" %>
  </li>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(
  collection: @social_accounts,
  index_title: "Social Accounts",
  nav_header_list_items:,
  skip_charting: true
)) %>
