%ul.less-strong
  %li.mt-2
    %em= translate_with_args(".all_accounts_come_with_bike_index")
  %li.mt-2
    %em= translate_with_args(".want_qr_stickers")
  %li.mt-2
    %em
      = translate_with_args(".custom_development_available")
      = translate_with_args(".find_out_more_html", get_in_touch_link: link_to(t(".get_in_touch_link"), nil, class: "tryPaidButton"))

