%ul.less-strong
  %li.mt-2
    %em= t(".all_accounts_come_with_bike_index")
  %li.mt-2
    %em= t(".want_qr_stickers")
  %li.mt-2
    %em
      = t(".custom_development_available")
      = t(".find_out_more_html", get_in_touch_link: link_to(t(".get_in_touch_link"), nil, class: "tryPaidButton"))

