%nav.banner-footer
  .container
    %ul
      %li
        .landing-group-card
          = image_tag 'landing_pages/shop.svg'
          %h4 Bike Shops
          %p Protect your customers' purchases
          %a.btn.btn-lg.btn-outline-success
            Learn More
      %li
        .landing-group-card
          = image_tag 'landing_pages/schools.svg'
          %h4 Schools
          %p Safeguard your campus
          %a.btn.btn-lg.btn-outline-success
            Learn More
      %li
        .landing-group-card
          = image_tag 'landing_pages/advocacy.svg'
          %h4 Community Groups
          %p Promote anti-theft awareness
          %a.btn.btn-lg.btn-outline-success
            Learn More
      %li
        .landing-group-card
          = image_tag 'landing_pages/law.svg'
          %h4 Law Enforcement
          %p Improve your resources
          %a.btn.btn-lg.btn-outline-success
            Learn More
