%nav.banner-footer
  %span.chainring-bg
  %span.chainring-bg
  .container
    %ul
      %li
        .landing-group-card
          .col-xs-4
            = render '/landing_pages/icons/footer_shop_svg'
          .col-xs-8
            %h4 Bike Shops
            %p Protect your customers' purchases
            %a{ href: '#' }
              Learn More
      %li
        .landing-group-card
          .col-xs-4
            = render '/landing_pages/icons/footer_school_svg'
          .col-xs-8
            %h4 Schools
            %p Safeguard your campus
            %a{ href: '#' }
              Learn More
      %li
        .landing-group-card
          .col-xs-4
            = render '/landing_pages/icons/footer_advocacy_svg'
          .col-xs-8
            %h4 Community Groups
            %p Promote anti-theft awareness
            %a{ href: '#' }
              Learn More
      %li
        .landing-group-card
          .col-xs-4
            = render '/landing_pages/icons/footer_law_svg'
          .col-xs-8
            %h4 Law Enforcement
            %p Improve your resources
            %a{ href: '#' }
              Learn More
