.signup-landing-page.signup-landing-page-campus-packages
  %header.banner-header
    .container
      .row.campus-packages-main-title
        %h1
          Bike Index for Colleges & Universities
        %h2
          Clean up your Campus' messy registry.
          %br
          All plans come with a 30-day free trial

      %ul.campus-packages-price-list
        %li
          %h4
            Free Forever
          .campus-packages-package
            %h5
              &nbsp;
            %h3
              $0
            %p
              \/Month
            %a.btn.btn-primary{ href: "#" }
              Sign Up Now

        %li
          %h4
            Supporting School
          .campus-packages-package
            %h5
              Keep us peddling
            %h3
              $25
            %p
              \/Month
            %a.btn.btn-primary{ href: "#" }
              Try For Free

      %li
          %h4
            Small Campus
          .campus-packages-package
            %h5
              0-10k Members
            %h3
              $330
            %p
              \/Month
            %a.btn.btn-primary{ href: "#" }
              Try For Free

        %li
          %h4
            Medium Campus
          .campus-packages-package
            %h5
              10k-20k Members
            %h3
              $500
            %p
              \/Month
            %a.btn.btn-primary{ href: "#" }
              Try For Free

        %li
          %h4
            Large Campus
          .campus-packages-package
            %h5
              20k+ Members
            %h3
              $750
            %p
              \/Month
            %a.btn.btn-primary{ href: "#" }
              Try For Free

  %h2
    Compare Plans and Features
  %table
    %tr
      %th
      %th
        %p
          Free Forever
        %p
          $0
        %p
          (USD/Month billed annually)
        %button
          Sign Up Now


      %th
        %p
          Supporting School
        %p
          $25
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %p
          Small Campus
        %p
          $330
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %p
          Medium Campus
        %p
          $500
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %p
          Large Campus
        %p
          $750
        %p
          (USD/Month billed annually)
        %button
          Try For Free

    %tr
      %th
        Email Support
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;

    %tr
      %th
        Email support
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;
      %td
        &#8226;


  %p
    A la carte features and custom development available. Get in touch to find out more

  .container
    %p
      Questions? Want to get started?
    %button
      Contact us
