
%link{:href => "//fonts.googleapis.com/css?family=Open+Sans", :rel => "stylesheet", :type => "text/css"}/

.campus-packages-page
  .header
    = image_tag 'landing_pages/header_campus_packages.jpg'
    .banner.mx-auto
      %h1
        Bike Index for Colleges
        %br 
        & Universities
      %p
        Clean up your Campus' messy registry.
        %br
        All plans come with a 30-day free trial

      .header-package-boxes
        .header-package-box
          %h4
            Free Forever
          %p.who-is-this-for
            Who is this for
          %p.price
            $0
          %p.annually
            (USD/Month billed annually)
          .btn.btn-primary.try-for-free
            Sign Up Now

        .header-package-box
          %h4
            Supporting School
          %p.who-is-this-for
            Keep us peddling
          %p.price
            $25
          %p.annually
            (USD/Month billed annually)
          .btn.btn-primary.try-for-free
            Try For Free

        .header-package-box
          %h4
            Small Campus
          %p.who-is-this-for
            0-10k Members
          %p.price
            $330
          %p.annually
            (USD/Month billed annually)
          .btn.btn-primary.try-for-free
            Try For Free

        .header-package-box
          %h4
            Medium Campus
          %p.who-is-this-for
            10k-20k Members
          %p.price
            $500
          %p.annually
            (USD/Month billed annually)
          .btn.btn-primary.try-for-free
            Try For Free

        .header-package-box
          %h4
            Large Campus
          %p.who-is-this-for
            20k+ Members
          %p.price
            $750
          %p.annually
            (USD/Month billed annually)
          .btn.btn-primary.try-for-free
            Try For Free
  / %h2
  /   Compare Plans and Features
  / %table
  /   %tr
  /     %th
  /       Blank space
  /     %th
  /       %h3
  /         Free Forever
  /       %p
  /         Who is this for
  /       %p
  /         $0
  /       %p
  /         (USD/Month billed annually)
  /       %button
  /         Sign Up Now


  /     %th
  /       %h3
  /         Supporting School
  /       %p
  /         Keep us peddling
  /       %p
  /         $25
  /       %p
  /         (USD/Month billed annually)
  /       %button
  /         Try For Free

  /     %th
  /       %h3
  /         Small Campus
  /       %p
  /         0-10k Members
  /       %p
  /         $330
  /       %p
  /         (USD/Month billed annually)
  /       %button
  /         Try For Free

  /     %th
  /       %h3
  /         Medium Campus
  /       %p
  /         10k-20k Members
  /       %p
  /         $500
  /       %p
  /         (USD/Month billed annually)
  /       %button
  /         Try For Free

  /     %th
  /       %h3
  /         Large Campus
  /       %p
  /         20k+ Members
  /       %p
  /         $750
  /       %p
  /         (USD/Month billed annually)
  /       %button
  /         Try For Free

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Some can be only 1 line
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *

  /   %tr
  /     %th
  /       Email Support
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       _
  /     %td
  /       *
  / %p
  /   A la carte features and custom development available. Get in touch to find out more

  / .question-box
  /   %p
  /     Questions? Want to get started?
  /   %button
  /     Contact us
