.page
  .header
    %h1
      Bike Index for Colleges & Universities
    %p
      Clean up your Campus' messy registry.
      %br
      All plans come with a 30-day free trial

    .header-package-boxes
      .header-package-box
        %h3
          Free Forever
        %p
          Who is this for
        %p
          $0
        %p
          (USD/Month billed annually)
        %button
          Sign Up Now

      .header-package-box
        %h3
          Supporting School
        %p
          Keep us peddling
        %p
          $25
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      .header-package-box
        %h3
          Small Campus
        %p
          0-10k Members
        %p
          $330
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      .header-package-box
        %h3
          Medium Campus
        %p
          10k-20k Members
        %p
          $500
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      .header-package-box
        %h3
          Large Campus
        %p
          20k+ Members
        %p
          $750
        %p
          (USD/Month billed annually)
        %button
          Try For Free
  %h2
    Compare Plans and Features
  %table
    %tr
      %th
        Blank space
      %th
        %h3
          Free Forever
        %p
          Who is this for
        %p
          $0
        %p
          (USD/Month billed annually)
        %button
          Sign Up Now


      %th
        %h3
          Supporting School
        %p
          Keep us peddling
        %p
          $25
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %h3
          Small Campus
        %p
          0-10k Members
        %p
          $330
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %h3
          Medium Campus
        %p
          10k-20k Members
        %p
          $500
        %p
          (USD/Month billed annually)
        %button
          Try For Free

      %th
        %h3
          Large Campus
        %p
          20k+ Members
        %p
          $750
        %p
          (USD/Month billed annually)
        %button
          Try For Free

    %tr
      %th
        Email Support
      %td
        *
      %td
        *
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Some can be only 1 line
      %td
        *
      %td
        *
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        *
      %td
        *
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        *
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        *
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        *
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        *
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        _
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        _
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        _
      %td
        *

    %tr
      %th
        Email Support
      %td
        _
      %td
        _
      %td
        _
      %td
        _
      %td
        *
  %p
    A la carte features and custom development available. Get in touch to find out more

  .question-box
    %p
      Questions? Want to get started?
    %button
      Contact us
