- lead_type = "city"

:ruby
  plan_sizes = %i[free supporting small medium large]
  plan_costs = { free: 0, supporting: 499, small: 3999, medium: 5999, large: 7999 }
  plan_features = [
    { free: true, supporting: true, small: true, medium: true, large: true, title: "Create organization account and contact registrants" },
    { free: true, supporting: true, small: true, medium: true, large: true,  title: "Embed a basic registration form on your website" },
    { free: false, supporting: true, small: true, medium: true, large: true,  title: "Search bikes in organization account" },
    { free: false, supporting: true, small: true, medium: true, large: true,  title: "Import CSV file of registrations from former system" },
    { free: "10", supporting: "10", small: "10", medium: "unlimited", large: "unlimited", title: "Staff accounts" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "Branded registration landing page" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "QR sticker scanning and messaging" },
    { free: false, supporting: false, small: true, medium: true, large: true,  title: "Ongoing programming, hosting, and support" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Contact registrants who have not finished registration" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Add logos and text to Bike Index emails " },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Export custom data into CSV/XLSX files" },
    { free: false, supporting: false, small: false, medium: false, large: true,  title: "Add specific form fields to your landing page" },
    { free: false, supporting: false, small: false, medium: false, large: true,  title: "Automated migration of graduated bikes out of system" },
    { free: false, supporting: false, small: false, medium: false, large: true,  title: "Avery formatted XLS export for mailing stickers" },
    { free: false, supporting: false, small: false, medium: true, large: true,  title: "Nest multiple organizations in one" },
  ]

