<%= stylesheet_link_tag "kelsey_styles", "data-turbo-track" => "reload" %>

<div class="root-landing-page">
  <%= render(PageBlock::LandingForLawEnforcement::Component.new(feedback: @feedback, current_user:)) %>
</div>
