- landing_page_target = 'advocacy'
.signup-landing-page{ class: "signup-landing-page-#{landing_page_target}" }
  %header.banner-header
    .container
      .row
        .icon-wrapper
          = render "/landing_pages/icons/header_#{landing_page_target}_svg"
        .banner-text
          %h1 Bike Index for <br> Advocacy Organizations
          %h3 The most wide-reaching and effective tools against bike theft - period.


  = render '/landing_pages/footer'
