<%= stylesheet_link_tag "kelsey_styles", "data-turbo-track" => "reload" %>

<main class="root-landing-page">
  <%= render(PageBlock::LawEnforcementTop::Component.new(recoveries_value: Counts.recoveries_value, recoveries: Counts.recoveries, organization_count: Counts.organizations)) %>
</main>
