<%= stylesheet_link_tag "kelsey_styles", "data-turbo-track" => "reload" %>

<main class="root-landing-page">
  <%= render(PageBlock::LandingForLawEnforcement::Component.new(feedback: @feedback)) %>
</main>
