.organization-landing-page-wrap
  - cache(["org_landing_#{active_organization.to_param}", active_organization.updated_at]) do
    = active_organization.landing_html && active_organization.landing_html.html_safe