<div class="tw:mx-auto tw:mb-6 tw:max-w-7xl tw:px-4">
  <h1 class="tw:mb-4 tw:text-3xl tw:text-slate-800">
    Search all registrations
  </h1>

  <%= render Search::Form::Component.new(target_search_path: search_registrations_path,
    target_frame: :search_registrations_results_frame, interpreted_params: @interpreted_params, result_view: @result_view) %>
</div>

<%= turbo_frame_tag :search_registrations_results_frame do %>
  <% if @render_results %>
    <%= render partial: "results" %>
  <% else %>
    <span id="loadedWithoutResults" class="tw:hidden"></span>
  <% end %>
<% end %>

<div id="hiddenLoadingSpinner" class="tw:hidden">
  <%= render LoadingSpinner::Component.new(text: t(".loading_results")) %>
</div>
