<div class="tw:px-4 tw:max-w-7xl tw:mx-auto tw:mb-6">
  <h1 class="tw:text-3xl tw:text-slate-800 tw:mb-4">Search all registrations</h1>
  <%= render Search::Form::Component.new(target_search_path: search_registrations_path,
    target_frame: :search_registrations_results_frame, interpreted_params: @interpreted_params,
    current_currency:) %>
</div>

<%= turbo_frame_tag :search_registrations_results_frame do %>
  <% if @render_results %>
    <%= render partial: "results" %>
  <% else %>
    <span id="loadedWithoutResults" class="tw:hidden"></span>
  <% end %>
<% end %>

<div id="hiddenLoadingSpinner" class="tw:hidden">
  <%= render LoadingSpinner::Component.new(text: t(".loading_results")) %>
</div>
