<% @user = User.new %>
<%# organization ||= nil %>

<% @user.address_record = AddressRecord.new(country: organization&.country || Country.united_states) %>
<%= form_for @user, url: my_account_path, method: :patch, multipart: true do |f| %>
  <%= f.fields_for :address_record do |address_form| %>
    <%= render(
      LegacyFormWell::AddressRecord::Component.new(form_builder: address_form, organization:)
    ) %>
  <% end %>
<% end %>

<p class="small">
  Organization: <strong><%= organization&.short_name || "no org" %></strong>
</p>
