<div class="tw:px-4">
  <%= render Search::Form::Component.new(target_search_path: search_index_path, interpreted_params: @interpreted_params, selected_query_items_options: @selected_query_items_options) %>
</div>
