<%# NOTE: tag open and close needs to be on one line, or the text has whitespace at the beginning %>
<div class="tw:whitespace-pre-wrap <% @overflow_class %> <%= @additional_classes %>">
  <%= @text.strip %>
</div>
