<div>
  <%= form_for @sale, builder: BikeIndexFormBuilder, url: sales_path, method: :post do |f| %>
    <%= f.hidden_field :sale_id, @sale.id %>
    <%= f.hidden_field :marketplace_message_id, @marketplace_message.id %>



    <%= f.submit "Save", class: "twbtn-blue" %>
  <% end %>
</div>
