.admin-bike-partial {
  margin: -1.5rem -15px 0;
  padding: 1.5rem 15px;
  overflow-x: hidden;
  background: $gray-900;
  position: relative;
  border-bottom: 1px solid #ccc;
  h1,
  h2,
  h3,
  h4,
  h5 {
    color: #fff;
  }
  table {
    background: #fff;
  }
  .admin-image-thumb {
    @include media-breakpoint-up(md) {
      max-width: 220px;
    }
    img {
      max-width: 100%;
      width: 180px;
      height: auto;
    }
    h3 {
      text-align: center;
      color: #ccc;
    }
  }
}

.credibility-score {
  border: 2px solid rgba(black, 0.25);
  .main-crediblity-score-box {
    text-align: center;
    padding: 1rem 0;
    .credibility-title {
      display: block;
      color: #fff;
      text-decoration: underline;
    }
    .score-number {
      margin-top: 0.5rem;
      display: block;
      font-size: 125%;
      font-weight: bold;
      color: #fff;
    }
  }
  .score-details {
    background: #fff;
    padding: 0.2rem 0 0;
    .details-title {
      padding: 0.5rem 0.1rem;
      display: block;
    }
    .table-list {
      margin-bottom: 0;
    }
  }
}

// Admin bike table specials
.admin-bike-table-serial-cell {
  display: none;
}
.show-admin-bike-table-serial-cell .admin-bike-table-serial-cell {
  display: table-cell;
}

#recovery-bike-image-text {
  .using-bike-image {
    display: none;
  }
  &.bike-image-added {
    .using-bike-image {
      display: inline-block;
    }
    .not-using-bike-image {
      display: none;
    }
  }
}

.stolen-bike-image-editing-list-group-wrapper {
  overflow-x: scroll;
}

.stolen-bike-image-editing-list-group {
  @extend .justify-content-center;
  min-width: 100%;
  padding: 10px;
  flex-direction: row; // override, force to be row always
  li {
    padding: 20px;
    width: 190px; // This is used in binx_admin.js - make sure to update there too
  }
  img {
    display: block;
    width: 150px;
    height: auto;
    margin: 0 auto;
    border: 1px solid $gray-400;
  }
  &#promoted-images-display {
    li {
      width: 340px; // This is used in binx_admin.js - make sure to update there too
    }
    img {
      width: 300px;
    }
  }
}

#BParamsView {
  pre {
    margin: 0;
  }
  .code {
    border: 1px solid $gray-400;
    background: $gray-100;
    max-height: 300px;
    overflow: scroll;
  }
}
