.bike-search-form {
  @include top-mar($standard-pad); 
  @include clearfix;
  display: block;
  position: relative;
  $bike-search-height: 2.5em;
  $bike-search-font-size: 18px;
  .searchit, .search-text-field {
    font-size: $bike-search-font-size;
    display: block;
    position: relative;
    float: left;
    padding: 4px 0;
  }
  $row-width: 1.342; // 100/74.5 - full width over 9 column
  .search-text-field.select2-container.select2-container-multi {
    // width: ($eight-column+$gutter)*$row-width; 
    font-size: $bike-search-font-size;
    border: none;
    background: $gray-lighter;
    border-radius: $border-radius 0 0 $border-radius;
    padding: 0;
    &:active, &:focus { box-shadow: none; }

    .select2-choices {
      height: $bike-search-height;
      background: none;
      border: none;
      font-size: $bike-search-font-size;
      line-height: 1em;
      padding: .25em .5em;
    }
    .select2-search-choice {
      font-size: $bike-search-font-size;
      border-radius: $border-radius;
      margin: .1em .25em 0 0;
      padding: .35em .5em .35em 18px;
      line-height: 1em;
      background: $gray-lightest;
    }
    .select2-search-choice-focus {
      border-color: $blue;
      background: lighten($gray-lightest, 2%);
    }
  }
  .searchit {
    @include transition(background ease-in-out .1s);
    border-radius: 0 $border-radius $border-radius 0;
    // width: $one-column*$row-width; // 1 column + 1/2 gutter at row
    margin-left: 0;
    background: $blue-dark;
    height: $bike-search-height;
    img {
      display: block;
      height: 100%;
      width: auto;
      margin: 0 auto;
    }
    &:hover, &:active, &:focus {
      @include transition(background ease-in-out .1s);
      background: $blue;
      box-shadow: none;
    }
  }
  .stolen-search-link {
    clear: both;
    // text-align: right;
    a {
      padding: .5em 0 .5em .8em;
      color: rgba($link-color, .6);
      display: block;
      &:hover { color: $link-color; }
    }
  }
  .stolen-search-fields {
    display: none;
    @include clearfix; 
    padding: .5em 0;
    clear: both;
    input, span {
      display: block;
      float: right;
      padding: .25em .5em;
    }
    input {
      background: $gray-lighter;
      border-radius: $border-radius;
      border: none;
    }
    .stolen-radius { width: 4.2em; }
    .stolen-proximity { width: 30%; }
    span {
      color: $gray;
    }
  }
}
@media (max-width: $s-breakpoint) {
  .bike-search-form {
    width: 100%;
    float: none;
    padding: 0 $small-pad;
    // clear: both;
    .search-text-field.select2-container.select2-container-multi {
      width: $ten-column+$gutter; 
    }
    .searchit {
      width: $two-column; // 1 column + 1/2 gutter at row
    }
  }
}

@media (min-width: $s-breakpoint+1) {
  .bike-search-form {
    width: $nine-column;
    float: right;
    $row-width: 1.342; // 100/74.5 - full width over 9 column
    .search-text-field.select2-container.select2-container-multi {
      width: ($eight-column+$gutter)*$row-width; 
    }
    .searchit {
      width: $one-column*$row-width; // 1 column + 1/2 gutter at row
    }
  }
}

#bikes-search { display: none; }

.mainsrchdr {
  background: $gray-lightest;
  border: 1px solid $gray-lighter;
  border-top: 1px solid rgba($gray-lighter, .5);
  // border-top: 1px solid darken($gray-lighter, 5%);
  font-size: 18px;
  border-radius: 0 0 $border-radius $border-radius;
  
  .select2-results {
    padding: 0;
    margin-right: 0;
    max-height: 300px;
  }
  .select2-result-label {
    padding: .35em 7px;
  }
  .select2-highlighted {
    // background: $btnAction;
    .sch_s { color: #ccc; }
  }
  .sch_s {
    // color: $btnAction;
    display: inline-block;
  }
  .sch_m, .sch_ {
    color: #ccc;
  }
  .sch_c {
    color: #bbb;
    display: inline-block;
  }

  .sch_special {
    border-bottom: 1px solid #ddd;
  }
}

.sclr {
  border-radius: 3px;
  display: inline-block;
  width: 28px;
  height: 28px;
  border: 1px solid white;
  margin: 0 6px 0 0;
  font-size: .5em;
  // color: $grayLighter;
  text-align: center;
  padding-top: 1em;
}

@media (max-width: 600px) {
  .mainsrchdr {
    .select2-results { max-height: 200px; }
    .sch_s, .sch_m, .sch_ {
      font-size: 14px;
      span { display: none; }
    }
  }
}
.search_span_s, .search_span_m {
  color: #bbb;
  margin-left: 0;
  margin-right: 3px;
  display: inline;
}
