.global-footer {
  position: relative;
  z-index: 1;
  padding: 75px 0 30px;
  background: $footer-bg;
  a:hover { text-decoration: underline; }
  p {
    text-align: center;
    color: $gray;
    font-size: .8em;
    margin-top: 30px;
    a { color: $blue-light; }
  }
  .footer-links {
    @include clearfix;
    list-style-type: none;
    padding: 0 0 1em;
    margin: 0;
    &>li {
      position: relative;
      width: $three-column;
      margin-right: $gutter;
      float: left;
      &:last-of-type { margin-right: 0; }
    }
    a {
      display: block;
      width: 100%;
      color: $gray-blue-dark;
      font-family: $header-font;
      font-size: 22px;
        // text-align: center;
    }
    ul {
      list-style-type: none; 
      margin: 0;
      padding: 0;
      li { padding: .3em 0 0;}
      a {
        font-family: $body-font;
        font-size: $small-font-size;
        color: $gray-blue-light;
      }

    }
    .social {
      ul { @include clearfix; }
      li {
        position: relative;
        width: 28%;
        margin-right: 8%;
        float: left;
        padding: 0;
        cursor: pointer;
        &:last-of-type { margin-right: 0; } 
      }
      a {
        border-radius: 4px;
        margin: 0 auto;
        margin: 0;
        background-clip: padding-box;
        &.footer-facebook, &.footer-instagram {
          background: $blue-dark;
          &:hover { background: lighten($blue-dark, 20%); }
        }
        &.footer-twitter {
          background: $blue;
          &:hover { background: lighten($blue, 20%); }
        }
        img {
          display: block;
          width: 100%;
          height: auto;
        }
        &:hover {
          @include transition(background .15s linear);
        }
        &:active {
          @include translate(1px,1px);
        }
      }      
    }
  }
}

@media (max-width: 650px) {
  .global-footer .footer-links {
    &>li { 
      width: $six-column;
      margin-bottom: 1.5em;
      &:nth-of-type(2) { margin-right: 0; }
      &:nth-of-type(3) { clear: both; }
    }
    .social {
      li { 
        width: 30%;
        margin-right: 4%;
      }
    }
  }
}

@media (min-width: $l-breakpoint+1) {
  .global-footer .footer-links .social {
    a {
      width: 80px;
      border-radius: 40px;
    }
  }
}