---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a11HYkpTmOUEdKM02Xx8zlX7pqUFhXW1P6CBRVhm09l3BCiFs0MxBs7NIY
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a11HYkpTmOUEdKM02Xx8zlX7pqUFhXW1P6CBRVhm09l3BCiFs0MxBs7NIY",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": 3999,
          "amount_total": 3999,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3001/bikes/1110519/promoted_alerts/new",
          "client_reference_id": null,
          "currency": "usd",
          "customer": "cus_JyocxxIgSrW7Xx",
          "customer_details": {
            "email": "seth@bikeindex.org",
            "tax_exempt": "none",
            "tax_ids": [

            ]
          },
          "customer_email": "seth@bikeindex.org",
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_2JKqyym0T0GBfX0v1qUZzRS1",
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "paid",
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": "pay",
          "subscription": null,
          "success_url": "http://localhost:3001/bikes/1110519/promoted_alerts?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": null
        }
  recorded_at: Wed, 04 Aug 2021 21:50:08 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_JyocxxIgSrW7Xx
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JyocxxIgSrW7Xx",
          "object": "customer",
          "account_balance": 0,
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": "94608",
            "state": null
          },
          "balance": 0,
          "cards": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JyocxxIgSrW7Xx/cards"
          },
          "created": 1628110017,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "seth@bikeindex.org",
          "invoice_prefix": "69B21AA2",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "seth heerr",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JyocxxIgSrW7Xx/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JyocxxIgSrW7Xx/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JyocxxIgSrW7Xx/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Wed, 04 Aug 2021 21:50:08 GMT
recorded_with: VCR 5.0.0
