.ad468x60 {
  height: 60px;
}

.ad300x600 {
  height: 600px;
}

.ad-col {
  @include media-breakpoint-down(md) { width: 100%; }
  .ad-block img {
    margin-bottom: $vertical-height;
    &:last-of-type { margin-bottom: 0 }
  }
}

.ad-block {
  display: none;
  width: 100%;
  .testing-block {
    background: $gray-lighter;
    border: 1px solid $gray-lightish;
    h4 { @extend .text-xs-center; }
  }
  &.rendered-ad {
    display: block;
    a, img {
      display: block;
      width: 100%;
      margin: 0 auto;
    }
  }
  &#top468x60 {
    @extend .ad468x60;
    @include media-breakpoint-down(md) {
      display: none; // At least for now...
      margin-bottom: $vertical-height;
    }
  }
  // &#right300x600 {
  //   @extend .ad300x600;
  //   margin-top: $vertical-height;
  // }
  h3 {
    font-size: 21px;
    margin: 0 0 0.5*$vertical-height;
    &, a { color: $gray-light; }
  }
}

.additional-ad-space { // For pages with content blocks on the right
  margin-bottom: 3 * $vertical-height;
}
