$horizontal-content-menu-padding: $vertical-height;

.primary-content-menu {
  .content-nav-group {
    h3 {
      background: $gray;
      color: white;
      padding: $vertical-height $horizontal-content-menu-padding;
    }

    ul {
      @include list-unstyled;

      li {
        padding: 0 $horizontal-content-menu-padding;
      }

      a {
        display: block;
        color: $gray;
      }
    }
  }

  // crappy hack to make the donation floating column be a little less shitty
  @include media-breakpoint-up(md) {
    .next-steps-wrap {
      top: 85px;
    }
  }

  @include media-breakpoint-down(md) {
    width: 100%;
    .next-steps-wrap {
      max-width: 100%;
    }
  }

  @include media-breakpoint-down(lg) {
    padding-top: 3 * $vertical-height;
  }
}
