.form-well-header .edit-bike-header {
  margin-bottom: 24px;
  h1 { margin-bottom: 0; }
  .edit-bike-title-submenu {
    margin: 0;
    a {
      color: $body-font-color;
      &:hover {
        color: $link-color;
      }
    }
  }
}

.edit-bike-form-header {
  display: none; // Hidden on sm screens, shown via mediaquery
  h3, h4 { padding: 0 $vertical-height; }
}

@media (min-width: $grid-breakpoint-lg) {
  .edit-bike-form-header {
    margin-top: -2*$vertical-height;
  }
}

// 
// Medium screen styles
@media (min-width: $grid-breakpoint-md) {
  .edit-bike-form-header { display: block; }
}