.form-well .add-additional-fields-block {
  // max-width: 300px;
  margin: 0 auto;
  display: block;
  padding-top: 2 * $vertical-height;

  a {
    display: block;
    text-align: center;
    cursor: pointer;
    color: $body-font-color;

    &:hover,
    &:active,
    &.active {
      color: $link-color;
      text-decoration: none;
    }
  }

  .add_fields {
    margin-top: $vertical-height;
  }
}

.form-well .user-phone-list {
  font-weight: $normal-font-weight;
  margin: 0 0 0.5rem;
  padding: 0;
  text-align: right;
  li {
    position: relative;
  }
}

@media (min-width: $grid-breakpoint-sm) {
  #my_accounts_edit .user-phone-list {
    text-align: left;
    li:before {
      content: "";
      position: absolute;
      background: $blue-dark;
      top: 0.6em;
      left: 0.33em;
      width: 0.33em;
      height: 0.33em;
      border-radius: 0.33em;
    }
  }
}
