$form-well-background: $gray-lighter;
$form-well-border-color: #e4e4e4;

.form-well-header { padding-top: 8*$vertical-height; }

.form-circle-item { // Mixin for help blocks
  padding: .5em .25em;
  border-radius: 1em;
  line-height: 0;
  cursor: pointer;
  color: $gray;
  font-size: 125%;
  text-decoration: none;
}

.form-well {
  .form-wrap { padding: 2*$vertical-height 0 4*$vertical-height; }
  .below-input-help {
    @extend small;
    display: block;
    line-height: 1.5em;
    padding-bottom: .5em;
    color: $gray-light;
  }
  .full-width-checkbox-help {
    @extend .below-input-help;
    margin: -1em 0 0 17px;
  }
  .selectize-control { line-height: 0; } // label isn't lined up
  a.optional-form-block {
    cursor: pointer;
    color: $gray;
    &:hover { 
      color: $link-color;
      text-decoration: none;
      .context-display-help { color: $link-color; }
    }
  }
  .context-display-help {
    @extend .form-circle-item;
    display: inline-block;
    background: #fff;
    border: 1px solid $form-well-border-color;
  }
  .hidden-other {
    margin-top: -1rem;
    display: none;
    &.unhidden {
      margin-bottom: 1.5rem;
      display: block;
    }
  }
  .inline-input-help {
    @extend .form-circle-item;
    display: block;
    border: 2px solid $gray;
    position: absolute;
    right: 1.5em; top: .3em;
    font-weight: $strong-font-weight;
    z-index: 100;
    transition: all .05s linear;
    &:hover, &:active, &.active {
      text-decoration: none;
      border-color: $link-color;
      color: $link-color;
    }
  }
  .fancy-select .inline-input-help { right: 2.75em; } // To not cover up select pointer
  .form-well-label {
    @extend .form-control-label;
    text-transform: capitalize;
    line-height: 1.2em;
    padding-top: 0.65rem;
  }
  .form-well-label, .form-well-input, .form-well-input-large, .right-input-help {
    @include make-col(); 
  }
  .related-fields {
    padding-bottom: $vertical-height;
    .form-group { clear: both; }
  }
  .full-width-section { // pad the sides so that it fits the row.
    padding-left: $row-side-padding;
    padding-right: $row-side-padding;
  }
  .form-group {
    .radio-inline, .checkbox-inline { 
      padding-top: .5em;
      input[type="radio"], input[type="checkbox"] {
        margin-top: .6em;
      }
    }
  }
  hr {
    clear: both;
    margin-top: 3*$vertical-height;
  }
}

.form-well-container {
  padding-bottom: 6*$vertical-height;
}

// 
// XS screens
@media (max-width: $grid-breakpoint-sm - 1px) {
  .form-well {
    .form-well-input, .form-well-input-large { @include make-col-span(8); }
    .form-well-label { @include make-col-span(4); }
    .right-input-help {
      @include make-col-offset(4);
      @include make-col-span(8);
      margin-top: -.5em;
    }
    .unnested-field::after, .related-fields::after {
      content: '';
      display: block;
      width: 90%;
      margin: 0 0 2*$vertical-height 10%;
      border-bottom: 1px #b2b2b2 solid;
      padding-top: $vertical-height;
    }
    .no-divider-row::after { display: none; }
    hr { margin-top: 5*$vertical-height } // It isn't cleared correctly on small screens
  }
}

//
// Small screens and larger
@media (min-width: $grid-breakpoint-sm) {
  .form-well {
    .form-well-input { @include make-col-span(6); }
    .form-well-input-large { @include make-col-span(8); }
    .form-well-label { @include make-col-span(3); }
    .right-input-help { @include make-col-span(3); }
  }
}

@media (max-width: $grid-breakpoint-md - 1px) {
  .form-well-container.container {
    max-width: 100%;
    background: $form-well-background;
  }
}

@media (min-width: $grid-breakpoint-md) and (max-width: $grid-breakpoint-lg - 1px) {
  .form-well {
    background: $form-well-background;
    border: 1px solid $form-well-border-color;
  }
}

@media (min-width: $grid-breakpoint-md) {
  .form-well .full-width-section {
    padding-left: 2*$row-side-padding;
    padding-right: 2*$row-side-padding;
  }
}

//
// Everything but large screens
@media (max-width: $grid-breakpoint-lg - 1px) {
  // Remove some padding between the forms
  .form-well {
    .form-wrap.secondary-form-wrap {
      padding-top: 0; 
      margin-top: -2*$vertical-height
    }
  }
}

//
// Large screen styles
@media (min-width: $grid-breakpoint-lg) {
  .form-well-header { padding-top: 12*$vertical-height; } // Just like in main_container_wrap
  .form-well { border: none; background: none; }
  .form-well .form-wrap {
    background: $form-well-background;
    border: 1px solid $form-well-border-color;
    padding-top: 4*$vertical-height;
    width: 100%;
    position: relative;
    .form-control-label { text-align: right; }
    // Add some space between the forms
    &.secondary-form-wrap {
      margin-top: 3*$vertical-height;
    }
  }
}
