$active-bike-edit-border-width: 2px;
$menu-select-overlay-line-height: 12px;
.primary-edit-form-well-menu {
  z-index: 1;
  ul { 
    display: none;
    @include list-unstyled;
    margin: 0;
    li {
      display: block;
      &:nth-of-type(n+5) {
        border-top: 1px solid $gray-light;
      }
    }
    a {
      padding: $vertical-height 0;
      display: block;
      width: 100%;
      h4 {
        padding-left: .25em;
        margin: 0;
        border-left: $active-bike-edit-border-width solid transparent;
      }
      &:hover, &:active, &.active, h4 { text-decoration: none; }
      &:hover h4 { color: $link-color; }
      &:active, &.active {
        h4 {
          border-left: $active-bike-edit-border-width solid $blue;
          font-weight: $strong-font-weight;
          color: $header-font-nocolor;
        }
      }
    }
  }
  .edit-form-well-submit-wrapper {
    .btn {
      font-size: 15px;
      width: 100%;
    }
  }
  .form-well-edit-page-select {
    float: left;
    width: 50%;
    select {
      // @extend .c-select; // This style no longer exists...?
      width: 100%;
      font-family: $header-font-family;
      font-weight: $strong-font-weight;
      text-transform: uppercase;
      color: $header-font-nocolor;
      border-radius: 0;
      border: none;
      font-size: 15px;
      line-height: 1em;
      padding: 1.25em 1.75rem .55em .75em;
    }
    .menu-select-overlay {
      position: absolute;
      font-size: $menu-select-overlay-line-height;
      display: block;
      margin-left: 9px;
      line-height: 1em;
      left: 0; top: 4px;
    }
  }
}
// 
// Small screen styles
@media (max-width: $grid-breakpoint-md - 1px) {
  // Menu fixed to bottom of the screen
  .primary-edit-form-well-menu {
    z-index: $zindex-navbar-fixed + 1;
    padding: 0;
    position: fixed;
    width: 100%;
    bottom: 0; left: 0;
    box-shadow: 0 -1px 2px rgba(black, .2);
    background: white;
    .form-well-edit-page-select {
      margin-top: $menu-select-overlay-line-height;
      display: block;
    }
    .edit-form-well-submit-wrapper {
      width: 50%;
      float: left;
      .btn { border-radius: 0; border: none; }
    }
  }
}

// 
// Medium and up screen styles
@media (min-width: $grid-breakpoint-md) {
  .primary-edit-form-well-menu {
    float: left;
    width: 33.33333%;
    position: -webkit-sticky;
    position: sticky;
    top: 8*$vertical-height; // Same as the padding top for body in primary_header_nav
    ul { display: block; }
    .edit-form-well-submit-wrapper { padding-top: 1em; }
  }
  // Hide with media query so as not to override selectize
  .form-well-edit-page-select { display: none; }
}

// XL screens - smaller menu, offset it
@media (min-width: $grid-breakpoint-xl) {
  .primary-edit-form-well-menu {
    // because we have to use floats instead of flex with sticky (affixing)
    width: 25%;
    margin-right: 8.3333%; // 1 col margin - Manually set the offset via margin
  }
}
