// Main header on Bike Editing
.form-well-header .edit-bike-header {
  margin-bottom: 24px;

  h1 {
    margin-bottom: 0;
  }

  .edit-bike-title-submenu {
    margin: 0;

    a {
      color: $body-font-color;

      &:hover {
        color: $link-color;
      }
    }
  }
}

// Per page header on bikes and users
.form-well-form-header,
.form-well-form-header-always-visible {
  h3,
  h5 {
    padding: 0 $vertical-height;
    margin-bottom: 2 * $vertical-height;

    @include media-breakpoint-down(md) {
      padding: 0;
    }
  }

  @include media-breakpoint-up(lg) {
    margin-top: -2 * $vertical-height;
  }
}

// On bike pages, per page header is generally hidden except on large screens
// It's  always visible on user edit
.form-well-form-header {
  display: none;
  // Hidden on sm screens, shown via mediaquery
  @include media-breakpoint-up(md) {
    display: block;
  }
}
