.legal-content {
  max-width: 45em;
  margin: 0 auto;

  header {
    h1 {
      font-size: 28px;
    }

    hr {
      margin: 30px 0 40px;
    }
  }

  h1,
  h2,
  h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25em;
    margin: 1em 0 0.75em;
    position: relative;
  }

  h1 {
    margin: 1.5em 0 0.5em;
  }

  a {
    text-decoration: underline;
    color: $link-color;
    &:hover, &.active, &:active {
      color: darken($link-color, 15%);
    }
    &.active, &:active {
      text-decoration: none;
    }
  }
}

.anchor {
  display: block;
  position: absolute;
  width: 100%;
  top: 0;
  left: -1.5rem;
  height: 100%;
  &:hover .mini-icon-link {
    margin-top: 0.25em;
    // NOTE: This is the link.svg inlined
    background-image: url("data:image/svg+xml,%3Csvg fill='none' stroke='currentColor' stroke-width='1.5' viewBox='0 0 24 24' xmlns='http://www.w3.org/2000/svg' aria-hidden='true'%3E%3Cpath stroke-linecap='round' stroke-linejoin='round' d='M13.19 8.688a4.5 4.5 0 011.242 7.244l-4.5 4.5a4.5 4.5 0 01-6.364-6.364l1.757-1.757m13.35-.622l1.757-1.757a4.5 4.5 0 00-6.364-6.364l-4.5 4.5a4.5 4.5 0 001.242 7.244'%3E%3C/path%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: 0.75em 0.75em;
    background-position: center;
    display: block;
    width: 0.75em;
    height: 0.75em;
  }
}

.accept-vendor-terms {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: #fff;
  border: 1px solid $gray;
  border: 1px solid rgba(0, 0, 0, 0.3);
  *border: 1px solid $gray;

  /* IE6-7 */
  box-shadow: 0 0px 4px rgba(0, 0, 0, 0.2);
  background-clip: padding-box;

  form {
    margin: 0;
  }

  // label { font-size: $standardFontSize;}
  .center-accept-terms-button {
    display: block;
    margin: 0 auto;
  }

  .center-accept-terms-text {
    width: 100%;
    text-align: center;
    padding-top: $vertical-height;
    margin-bottom: 0;
    cursor: pointer;
  }
}

@media (min-width: 701px) {
  .accept-vendor-terms {
    .form-horizontal {
      padding: 10px 20px;
    }

    .agree-action {
      width: 100%;
      padding: 15px 20px 20px;
      margin-bottom: 0;
      text-align: right;

      // right align buttons
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
      border-radius: 0 0 6px 6px;
      box-shadow: inset 0 1px 0 #fff;

      // Properly space out buttons
      .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0;

        // account for input[type="submit"] which gets the bottom margin like all other inputs
      }

      // but override that for button groups
      .btn-group .btn + .btn {
        margin-left: -1px;
      }
    }
  }
}

@media (max-width: 700px) {
  .accept-vendor-terms {
    .control-group {
      padding: 0 20px;
      margin-bottom: 5px;

      .control-label {
        width: 20px;
        margin-right: 10px;
      }

      .controls {
        margin: 0;
      }
    }

    .agree-action {
      padding: 10px 0;

      .button-blue {
        width: 100%;
      }
    }
  }
}
