// 
// Unlinke buttons, we're leaving the standard modal code alone and extending
// here

.modal-header {
  border-bottom: none;
  padding-bottom: 0;
}

.modal-footer { 
  border-top: none;
  padding-top: 0;
}

.modal-btn-footer {
  @extend .modal-footer;
  text-align: center;
  .btn {
    display: block;
    width: 100%;
    padding-top: 1em;
    padding-bottom: 1em;
  }
}

.modal {
  .close {
    font-size: inherit;
    font-family: sans-serif;
    font-weight: 100;
    color: $gray;
  }
}
