// Bikehub
$bikehub-header: #92d149;
$bikehub-green: #82cb39;

.bikehub{
  .signup-landing-page {
    .banner-header {
      margin-top: 68px;
    }
  }
  .bike-hub-bike-index-about {
    max-width: 610px;
  }
  .bike-hub-login{
    h1{
      color: $bikehub-green;
      font-size: 35px;
      text-align: center;
    }
  }

  .teamed-up-with-bike-index {
    // @include make-col-ready;
    // @include make-col(12);
    background: white;
    max-width: 675px;
    max-height: 300px;
    margin: 0 auto;
    margin-bottom: 25px;
    padding-top: 20px;
    h1 {
      font-size: 22px!important;
      font-weight: bold!important;
      color: $bikehub-green!important;
      text-shadow: none!important;
      text-align: center!important;
    }
    img {
      max-height: 100%;
      max-width: 120px;
    }
    p {
      font-size: 12px;
    }
  }
}

nav.bikehub-nav {
  font-weight:bold;
  background: #fff;

  @include clearfix;

  padding-top: 0;
  padding-bottom: 0;

  img {
    display: block;
    max-width: 100%;
  }

  .bikehub-logo {
    float: left;
    position: relative;
    padding: 16px 0;

    img {
      height: 36px;
    }
  }

  .primary-logo {
    float: left;
    padding: 6px 0;

    img {
      height: 54px;
    }
  }

  .poweredby p {
    float: left;
    padding: 18px 6px 0 24px;
    font-size: 18px;
    margin: 0;
    color: #000;
    line-height: 1;
  }

  .primary-logo,
  .poweredby p {
    opacity: 0.7;
  }

  .bikehub-nav-item {
    margin: 0;
    float: right;
    display: block;
    padding: 1rem 2rem;
    border-left: 1px solid #ededed;
    font-size: 16px;
    text-decoration: none;
    color: #212529;

    &:active,
    &.active,
    &:hover {
      color: #fff;
      background: #82cb39;
    }

    // For some reason, can't select this with :first-of-type, so manually class it
    &.bikehub-nav-item-first {
      margin-left: auto;
    }

    &:last-of-type {
      border-right: 1px solid #ededed;
    }
  }
}

@media (min-width: $grid-breakpoint-lg - 1px) {
  nav.bikehub-nav .poweredby p {
    font-size: 24px;
  }
}

@media (max-width: $grid-breakpoint-sm - 1px) {
  nav.bikehub-nav {
    .poweredby {
      position: absolute;
      left: 0;
      top: 48px;

      p {
        padding-left: 16px;
      }
    }

    margin-bottom: 60px;
  }
}

@media (max-width: $grid-breakpoint-lg - 1px) {
  nav.bikehub-nav {
    .bikehub-logo img {
      height: 24px;
    }

    .primary-logo img {
      height: 44px;
    }

    .bikehub-nav-item {
      font-size: 14px;
      padding: 0.75rem 0.5rem 0;
    }
  }
}
