.sharing-buttons {
  float: right;
  height: 28px;
}
.twitter-share-button {
  display: block;
  float: right;
  margin-right: 10px;
}
.fb-like {
  display: block;
  float: right;
  overflow: visible;
  margin-top: 2px;
  line-height: 1.5;
}