thead.sortable {
  th {
    font-weight: normal;
    a.sortable-link {
      display: block;
      position: relative;
      // To give a spot for the sortable direction
      &.active {
        padding-right: 1.5rem;
      }
      span.sortable-direction {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.active {
        font-weight: strong;
        text-decoration: underline;
      }
    }
  }
}
