<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 196 293.19">
  <defs>
    <style>
      .how-icon-recover-1 {
        fill: none;
      }

      .how-icon-recover-2 {
        clip-path: url(#clip-path);
      }

      .how-icon-recover-3 {
        fill: #231f20;
      }

      .how-icon-recover-4 {
        fill: #3498db;
      }
    </style>
    <clipPath id="clip-path" transform="translate(0 -35.32)">
      <path class="how-icon-recover-1" d="M164.3,117.94V0H35.3V117.94a83,83,0,1,0,129,0Z"/>
    </clipPath>
  </defs>
  <title>Recover your bike</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="how-icon-recover" data-name="how icon recover">
      <g>
        <g class="how-icon-recover-2">
          <path class="how-icon-recover-3" d="M137.85,123.83a6.65,6.65,0,0,0-13.31,0v71.47l-15.17-5.67v-3.25a20.45,20.45,0,0,0,8.47-16.89c0-11-8-19.93-18-19.93s-18,8.92-18,19.93a20.45,20.45,0,0,0,8.47,16.89v3.25l-15.17,5.63V134.09a6.65,6.65,0,1,0-13.31,0V320.7a6.5,6.5,0,0,0,.07.65c0,.28-.07.55-.07.84v6.33h75.95v-6.33c0-.28,0-.55-.07-.82a6.45,6.45,0,0,0,.07-.66Z" transform="translate(0 -35.32)"/>
        </g>
        <path class="how-icon-recover-4" d="M194.93,171l1-.36.09-1.83-.88-.35a8.59,8.59,0,0,1-4-2.15q-.1-2.31-.3-4.59a7.42,7.42,0,0,1,3.5-2.88l.93-.48-.14-1.82-.92-.23a8.6,8.6,0,0,1-4.27-1.61q-.39-2.3-.88-4.56a7.45,7.45,0,0,1,3.1-3.27l.86-.6-.37-1.79-.94-.12a8.61,8.61,0,0,1-4.42-1.05q-.67-2.24-1.45-4.43a7.46,7.46,0,0,1,2.66-3.62l.78-.7-.59-1.73h-.95a8.56,8.56,0,0,1-4.52-.49q-.95-2.13-2-4.21a7.44,7.44,0,0,1,2.19-3.93l.69-.79-.8-1.64-.94.12a8.6,8.6,0,0,1-4.55.08c-.5-.83-1-1.64-1.57-2.46a34.71,34.71,0,0,1-7.76,8A82.33,82.33,0,1,1,26,130.27,35.06,35.06,0,0,1,20.14,119c-.74,1.12-1.46,2.26-2.15,3.41a7.43,7.43,0,0,1-4.51.26l-1-.15-1,1.55.6.73a8.59,8.59,0,0,1,2.51,3.8q-1,2.08-2,4.22a7.44,7.44,0,0,1-4.42.82l-1.05,0-.75,1.66.69.65a8.59,8.59,0,0,1,3,3.45q-.77,2.19-1.43,4.44a7.45,7.45,0,0,1-4.29,1.37l-1,.11L2.75,147l.77.56a8.57,8.57,0,0,1,3.37,3.06q-.48,2.26-.85,4.56a7.43,7.43,0,0,1-4.09,1.91l-1,.24-.31,1.8.83.45a8.63,8.63,0,0,1,3.74,2.63q-.19,2.28-.27,4.6a7.41,7.41,0,0,1-3.84,2.42l-1,.37L0,171.46l.88.35a8.58,8.58,0,0,1,4,2.14q.09,2.31.3,4.6a7.42,7.42,0,0,1-3.5,2.88l-.93.49.14,1.82.92.24a8.62,8.62,0,0,1,4.27,1.61q.38,2.3.88,4.56a7.44,7.44,0,0,1-3.1,3.27L3,194l.37,1.79.94.12a8.59,8.59,0,0,1,4.42,1q.67,2.24,1.46,4.44A7.45,7.45,0,0,1,7.56,205l-.78.7.59,1.73h.95a8.57,8.57,0,0,1,4.52.49q.95,2.14,2,4.22a7.43,7.43,0,0,1-2.19,3.93l-.69.8.8,1.64.94-.12a8.56,8.56,0,0,1,4.55-.08q1.21,2,2.5,3.92a7.41,7.41,0,0,1-1.68,4.18l-.58.88,1,1.53.92-.23a8.61,8.61,0,0,1,4.52-.65q1.43,1.81,3,3.54a7.41,7.41,0,0,1-1.14,4.39l-.47.94,1.18,1.39.88-.35a8.59,8.59,0,0,1,4.41-1.21q1.64,1.62,3.36,3.14a7.41,7.41,0,0,1-.58,4.5l-.35,1,1.35,1.23.83-.46a8.58,8.58,0,0,1,4.22-1.75q1.84,1.4,3.75,2.71a7.44,7.44,0,0,1,0,4.52l-.22,1,1.49,1.05.77-.56a8.61,8.61,0,0,1,3.95-2.26q2,1.17,4.09,2.24a7.45,7.45,0,0,1,.54,4.46l-.09,1,1.61.85.69-.65A8.59,8.59,0,0,1,61.78,256q2.15.91,4.36,1.71a7.47,7.47,0,0,1,1.08,4.35l0,1,1.71.65.6-.73a8.6,8.6,0,0,1,3.25-3.17q2.24.63,4.53,1.15A7.44,7.44,0,0,1,79,265.19l.18,1,1.77.43.51-.8a8.57,8.57,0,0,1,2.84-3.56q2.28.33,4.6.56a7.43,7.43,0,0,1,2.16,4l.3,1,1.81.2.4-.86a8.59,8.59,0,0,1,2.39-3.9l2,0q1.29,0,2.57,0a7.42,7.42,0,0,1,2.65,3.67l.43,1,1.82,0,.29-.9a8.59,8.59,0,0,1,1.87-4.16q2.32-.24,4.61-.59a7.43,7.43,0,0,1,3.07,3.3l.54.9,1.81-.26.18-.93a8.58,8.58,0,0,1,1.33-4.34q2.29-.53,4.52-1.17a7.44,7.44,0,0,1,3.44,2.88l.65.82,1.76-.48.06-.95a8.58,8.58,0,0,1,.77-4.47q2.19-.81,4.34-1.73a7.46,7.46,0,0,1,3.78,2.43l.75.73,1.69-.7-.06-.95a8.59,8.59,0,0,1,.21-4.54q2.06-1.08,4.06-2.26a7.44,7.44,0,0,1,4.08,1.94l.83.63,1.59-.9-.18-.94a8.58,8.58,0,0,1-.36-4.55q1.9-1.32,3.72-2.73a7.42,7.42,0,0,1,4.31,1.41l.91.53,1.46-1.1-.29-.91a8.58,8.58,0,0,1-.93-4.48q1.71-1.54,3.35-3.16a7.4,7.4,0,0,1,4.45.86l1,.41,1.31-1.27-.4-.86a8.59,8.59,0,0,1-1.48-4.32q1.51-1.75,2.94-3.57a7.42,7.42,0,0,1,4.51.3l1,.28,1.14-1.42-.51-.8a8.64,8.64,0,0,1-2-4.09q1.29-1.93,2.48-3.92a7.44,7.44,0,0,1,4.5-.26l1,.15,1-1.55-.61-.73a8.61,8.61,0,0,1-2.5-3.8q1-2.08,2-4.22a7.43,7.43,0,0,1,4.42-.82l1.05,0,.75-1.66-.69-.65a8.57,8.57,0,0,1-3-3.45q.77-2.2,1.43-4.44a7.44,7.44,0,0,1,4.28-1.36l1-.11.54-1.75-.77-.56a8.56,8.56,0,0,1-3.37-3.06q.48-2.26.85-4.56a7.45,7.45,0,0,1,4.09-1.91l1-.24.32-1.8-.83-.46a8.6,8.6,0,0,1-3.74-2.63q.19-2.28.27-4.59A7.41,7.41,0,0,1,194.93,171Z" transform="translate(0 -35.32)"/>
        <path class="how-icon-recover-4" d="M145.08,71.91a28,28,0,0,0-6.76,1.48l-9.94-20.81h0l-4-8.33,9.09-3.19a2.94,2.94,0,1,0-1.95-5.56l-12.19,4.28a2.95,2.95,0,0,0-1.68,4l4,8.47L80.43,70.92,74.36,59.21l6.56-.61a2.94,2.94,0,1,0-.54-5.86l-10.85,1h-.07l-7.8.72a2.94,2.94,0,1,0,.54,5.86L68,59.8l7.65,14.76-7.33,9.84a28,28,0,1,0,13.74,24.44l12.6-1.17h.22a3,3,0,0,0,2.25-1.4l28.21-46.34,7.65,16a28,28,0,1,0,12.07-4Zm-89,58.6a22.12,22.12,0,1,1,8.69-41.36L51.72,106.72a2.94,2.94,0,0,0,2.63,4.69l21.82-2A22.15,22.15,0,0,1,56.13,130.5Zm4.27-25.57,9.14-12.27a22,22,0,0,1,6.1,10.85Zm21.15-2a27.91,27.91,0,0,0-8.47-15.06l5.62-7.54L90,102.19Zm13.3-4.25L83.14,76.15l35.07-15.83Zm54.87,23.1a22.11,22.11,0,0,1-14.14-40.53L145,101.06a2.94,2.94,0,0,0,5.31-2.54l-9.45-19.78a22.12,22.12,0,1,1,8.83,43.07Z" transform="translate(0 -35.32)"/>
      </g>
    </g>
  </g>
</svg>
