<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 196 195.78">
  <defs>
    <style>
      .cls-1 {
        fill: none;
      }

      .cls-2 {
        clip-path: url(#clip-path);
      }

      .cls-3 {
        fill: #333;
      }

      .cls-4 {
        fill: #3498db;
      }

      .cls-5 {
        fill: #e74c3c;
      }
    </style>
    <clipPath id="clip-path">
      <path class="cls-1" d="M179.09,80.56A83,83,0,1,1,98,15.44a83.33,83.33,0,0,1,81.09,65.12"/>
    </clipPath>
  </defs>
  <title>Alert the community</title>
  <g id="Layer_2" data-name="Layer 2">
    <g id="how-icon-alert" data-name="How icon alert">
      <g>
        <g class="cls-2">
          <path class="cls-3" d="M159.9,129,146.8,96.74l33.73-11.61c-.07-2.52-1.76-4.94-2.71-7.6L143.76,89.26,137,72.53h9a4,4,0,1,0,0-8.06H120.25a4,4,0,1,0,0,8.06h8l8.57,21.09-11.24,12.49a38.34,38.34,0,1,0,15.64,35.06h17.63a4.06,4.06,0,0,0,3.24-1.63l16.52-22.22c1.56-5.28,1.71-10.56,1.73-15.84Zm-56.82,38.44a30.29,30.29,0,1,1,17.08-55.3l-20.07,22.31a4,4,0,0,0,3,6.73h30A30.33,30.33,0,0,1,103.09,167.44Zm9.05-34.33,14-15.57a30.16,30.16,0,0,1,6.95,15.57Zm29.09,0a38.22,38.22,0,0,0-9.64-21.61l8.62-9.58,12.67,31.18Z"/>
        </g>
        <path class="cls-4" d="M194.93,98.75l1-.36.09-1.83-.88-.35a8.59,8.59,0,0,1-4-2.15q-.1-2.31-.3-4.59a7.42,7.42,0,0,1,3.5-2.88l.93-.48-.14-1.82-.92-.23a8.6,8.6,0,0,1-4.27-1.61q-.39-2.3-.88-4.56a7.45,7.45,0,0,1,3.1-3.27L193,74l-.37-1.79-.94-.12a8.61,8.61,0,0,1-4.42-1.05q-.67-2.24-1.45-4.43A7.46,7.46,0,0,1,188.44,63l.78-.7-.59-1.73h-.95a8.56,8.56,0,0,1-4.52-.49q-.95-2.13-2-4.21a7.44,7.44,0,0,1,2.19-3.93l.69-.79-.8-1.64-.94.12a8.6,8.6,0,0,1-4.55.08q-1.2-2-2.5-3.91a7.44,7.44,0,0,1,1.68-4.19l.58-.87-1-1.53-.92.24a8.58,8.58,0,0,1-4.52.65q-1.43-1.8-3-3.54a7.43,7.43,0,0,1,1.14-4.39l.47-.94-1.19-1.39-.88.35a8.59,8.59,0,0,1-4.42,1.21q-1.64-1.61-3.36-3.14a7.41,7.41,0,0,1,.58-4.5l.35-1-1.35-1.23-.83.46a8.58,8.58,0,0,1-4.22,1.75q-1.83-1.4-3.74-2.71a7.44,7.44,0,0,1,0-4.53l.22-1-1.5-1-.77.56a8.57,8.57,0,0,1-4,2.26q-2-1.17-4.08-2.24a7.44,7.44,0,0,1-.54-4.47l.09-1-1.61-.85-.69.65A8.54,8.54,0,0,1,134.21,12q-2.15-.9-4.35-1.71A7.47,7.47,0,0,1,128.77,6l0-1L127,4.28l-.6.73a8.61,8.61,0,0,1-3.26,3.17q-2.24-.62-4.52-1.14A7.44,7.44,0,0,1,117,2.84l-.17-1-1.78-.43-.51.8a8.6,8.6,0,0,1-2.85,3.56q-2.28-.33-4.59-.56a7.41,7.41,0,0,1-2.17-4l-.3-1L102.83,0l-.4.86A8.6,8.6,0,0,1,100,4.76l-2,0c-.86,0-1.71,0-2.56,0A7.41,7.41,0,0,1,92.78,1.1l-.43-1-1.82,0-.29.9a8.59,8.59,0,0,1-1.87,4.16q-2.32.24-4.6.59a7.43,7.43,0,0,1-3.07-3.3l-.54-.9-1.81.26-.18.93a8.61,8.61,0,0,1-1.33,4.35q-2.28.53-4.52,1.17a7.46,7.46,0,0,1-3.45-2.88l-.65-.82-1.76.48L66.4,6a8.6,8.6,0,0,1-.77,4.48q-2.19.81-4.33,1.73a7.43,7.43,0,0,1-3.78-2.43l-.75-.74-1.68.7.06.95a8.6,8.6,0,0,1-.21,4.55q-2.06,1.07-4.05,2.25a7.44,7.44,0,0,1-4.08-1.94L46,15l-1.58.9.18.93a8.6,8.6,0,0,1,.36,4.55Q43,22.66,41.19,24.06a7.41,7.41,0,0,1-4.31-1.41L36,22.13l-1.46,1.09.29.9a8.61,8.61,0,0,1,.93,4.48Q34,30.14,32.39,31.76a7.41,7.41,0,0,1-4.45-.86l-1-.41-1.31,1.27.4.85a8.62,8.62,0,0,1,1.48,4.32c-1,1.16-2,2.35-2.93,3.57a7.43,7.43,0,0,1-4.52-.3l-1-.28-1.14,1.42.51.8a8.59,8.59,0,0,1,2,4.1Q19.17,48.18,18,50.17a7.43,7.43,0,0,1-4.51.26l-1-.15-1,1.55.6.73a8.59,8.59,0,0,1,2.51,3.8q-1,2.08-2,4.22a7.44,7.44,0,0,1-4.42.82l-1.05,0L6.39,63l.69.65a8.59,8.59,0,0,1,3,3.45q-.77,2.19-1.43,4.44a7.45,7.45,0,0,1-4.29,1.37l-1,.11L2.75,74.8l.77.56a8.57,8.57,0,0,1,3.37,3.06Q6.41,80.68,6,83a7.43,7.43,0,0,1-4.09,1.91l-1,.24-.31,1.8.83.45A8.63,8.63,0,0,1,5.18,90Q5,92.29,4.91,94.6A7.41,7.41,0,0,1,1.07,97l-1,.37L0,99.21l.88.35a8.58,8.58,0,0,1,4,2.14q.09,2.31.3,4.6a7.42,7.42,0,0,1-3.5,2.88l-.93.49.14,1.82.92.24a8.62,8.62,0,0,1,4.27,1.61q.38,2.3.88,4.56a7.44,7.44,0,0,1-3.1,3.27l-.86.6.37,1.79.94.12a8.6,8.6,0,0,1,4.42,1q.67,2.24,1.46,4.44a7.45,7.45,0,0,1-2.66,3.62l-.78.7.59,1.73h.95a8.57,8.57,0,0,1,4.52.49q.95,2.14,2,4.22a7.43,7.43,0,0,1-2.19,3.93l-.69.8.8,1.64.94-.12a8.56,8.56,0,0,1,4.55-.08q1.21,2,2.5,3.92a7.41,7.41,0,0,1-1.68,4.18l-.58.88,1,1.53.92-.23a8.61,8.61,0,0,1,4.52-.65q1.43,1.81,3,3.54a7.41,7.41,0,0,1-1.14,4.39l-.47.94,1.18,1.39.88-.35a8.58,8.58,0,0,1,4.41-1.21q1.64,1.62,3.36,3.14a7.41,7.41,0,0,1-.58,4.5l-.35,1,1.35,1.23.83-.46A8.58,8.58,0,0,1,41.6,172q1.84,1.4,3.75,2.71a7.44,7.44,0,0,1,0,4.52l-.22,1,1.49,1.05.77-.56a8.62,8.62,0,0,1,3.95-2.26q2,1.17,4.09,2.24a7.44,7.44,0,0,1,.54,4.46l-.09,1,1.61.85.69-.65a8.59,8.59,0,0,1,3.62-2.73q2.15.91,4.36,1.71a7.47,7.47,0,0,1,1.08,4.35l0,1,1.71.65.6-.73a8.6,8.6,0,0,1,3.25-3.17q2.24.63,4.53,1.15A7.44,7.44,0,0,1,79,192.94l.18,1,1.77.43.51-.8A8.57,8.57,0,0,1,84.29,190q2.28.33,4.6.56a7.42,7.42,0,0,1,2.16,4l.3,1,1.81.2.4-.86A8.59,8.59,0,0,1,96,191l2,0q1.29,0,2.57,0a7.42,7.42,0,0,1,2.65,3.67l.43,1,1.82,0,.29-.9a8.59,8.59,0,0,1,1.87-4.16q2.32-.24,4.61-.59a7.43,7.43,0,0,1,3.07,3.3l.54.9,1.81-.26.18-.93a8.58,8.58,0,0,1,1.33-4.34q2.29-.53,4.52-1.17a7.44,7.44,0,0,1,3.44,2.88l.65.82,1.76-.48.06-.95a8.58,8.58,0,0,1,.77-4.47q2.19-.81,4.34-1.73a7.46,7.46,0,0,1,3.78,2.43l.75.73,1.69-.7-.06-.95a8.59,8.59,0,0,1,.21-4.54q2.06-1.08,4.06-2.26a7.44,7.44,0,0,1,4.08,1.94l.83.63,1.59-.9-.18-.94a8.58,8.58,0,0,1-.36-4.55q1.9-1.32,3.72-2.73a7.42,7.42,0,0,1,4.31,1.41l.91.53,1.46-1.1-.29-.91a8.57,8.57,0,0,1-.93-4.48q1.71-1.54,3.35-3.16a7.4,7.4,0,0,1,4.45.86l1,.41,1.31-1.27-.4-.86a8.59,8.59,0,0,1-1.48-4.32q1.51-1.75,2.94-3.57a7.42,7.42,0,0,1,4.51.3l1,.28,1.14-1.42-.51-.8a8.64,8.64,0,0,1-2-4.09q1.29-1.93,2.48-3.92a7.43,7.43,0,0,1,4.5-.26l1,.15,1-1.55-.61-.73a8.61,8.61,0,0,1-2.5-3.8q1-2.08,2-4.22a7.43,7.43,0,0,1,4.42-.82l1,0,.75-1.66-.69-.65a8.57,8.57,0,0,1-3-3.45q.77-2.2,1.43-4.44a7.44,7.44,0,0,1,4.28-1.36l1-.11.54-1.75-.77-.56a8.56,8.56,0,0,1-3.37-3.06q.48-2.26.85-4.56a7.45,7.45,0,0,1,4.09-1.91l1-.24.32-1.8-.83-.46a8.6,8.6,0,0,1-3.74-2.63q.19-2.28.27-4.59A7.41,7.41,0,0,1,194.93,98.75ZM98,180.22a82.33,82.33,0,1,1,82.34-82.33A82.33,82.33,0,0,1,98,180.22Z"/>
        <g>
          <path class="cls-5" d="M71.74,91.43a7,7,0,1,0,2.08,5A6.8,6.8,0,0,0,71.74,91.43Z"/>
          <polygon class="cls-5" points="60.08 47.08 62.93 81.29 70.51 81.29 73.35 47.08 73.35 34.86 60.08 34.86 60.08 47.08"/>
        </g>
      </g>
    </g>
  </g>
</svg>
