<div class="tw:flex tw:items-baseline tw:justify-end tw:gap-1.5 tw:pb-1 tw:text-[11px] tw:uppercase tw:tracking-[0.18em] tw:text-gray-400">
  <span>Times in</span>
  <span class="localizeTimezone tw:font-mono tw:tracking-normal tw:text-xs tw:text-gray-600"></span>
</div>
<%= helpers.column_chart @series, stacked: @stacked, thousands: @thousands, colors: @colors %>
