<div class="tw:relative">
  <div
    class="
      tw:pointer-events-none tw:absolute tw:top-0 tw:right-1 tw:font-mono
      tw:text-[10px] tw:font-medium tw:tracking-wider tw:text-gray-400
    "
    title="Times in <%= ::Time.zone.name %>"
  >
    <%= ::Time.zone.now.strftime("%Z") %>
  </div>

  <%= helpers.column_chart @series, stacked: @stacked, thousands: @thousands, colors: @colors %>
</div>
