---
http_interactions:
- request:
    method: get
    uri: https://www.controleergoed.nl/DesktopModules/Stopheling/API/v1/WebAPI/GetSearchItems?ApplicationID=123&Hmac=55B886A0EEA52EEF91D13521581A5219&SearchTerm=13949483
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json;charset=UTF-8
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: "[]"
  recorded_at: Wed, 25 Sep 2019 12:53:39 GMT
- request:
    method: post
    uri: https://accept.verlorenofgevonden.nl/ez.php?date_from=01-09-2018&date_to=25-09-2019&from=0&org=&q=13949483&site=nl&timestamp=1569416018
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"took":13,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":0,"max_score":null,"hits":[]},"aggregations":{"soort_voorwerp":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"kleuren":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"plaatsen":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]}}}'
  recorded_at: Wed, 25 Sep 2019 12:53:39 GMT
recorded_with: VCR 4.0.0
