- unless current_page.last?
  = link_to url, :rel => 'next', :remote => remote, class: "btn btn-secondary", role: "button" do
    %span.d-none.d-md-inline
      = raw(t 'views.pagination.next')
    &#8250;
