- unless current_page.first?
  = link_to url, :rel => 'prev', :remote => remote, class: "btn btn-secondary", role: "button" do
    &#8249;
    %span.d-none.d-md-inline
      = raw(t 'views.pagination.previous')
