$payments-page-breakpoint: 'sm';
.payments-layout-body {
  height: 100%; // set in coffeescript to ensure no black bar
  @include media-breakpoint-up($payments-page-breakpoint) {
    background: image-url('revised/donate_bg.jpg');
    background-size: cover;
    background-position: center center;
    padding-top: 36px;
  }
  @include media-breakpoint-down($payments-page-breakpoint) {
    padding-top: 0;
    background: none;
    .payments-top-container {
      padding-top: 2 * $vertical-height;
      background: image-url('revised/donate_bg.jpg');
      background-size: cover;
      background-position: center center;
    }
  }
  @include media-breakpoint-up('md') {
    padding-bottom: $primary-footer-top-margin;
  }
  .payments-top-container { padding-bottom: 3 * $vertical-height; }
  .payments-logo-line {
    width: 100%;
    a {
      display: block;
      width: 6 * $vertical-height;
      @include media-breakpoint-up($payments-page-breakpoint) { margin: 0 auto; }
    }
    svg {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  header.payments-header {
    color: white;
    text-align: center;
    h1, p { color: inherit; }
    h1 {
      font-size: 48px;
      margin: 27px 0 0;
      line-height: 1;
      @include media-breakpoint-down(sm) { font-size: 36px; }
      @include media-breakpoint-down(xs) { font-size: 28px; }
    }
    p {
      font-size: 24px;
      line-height: 1.25;
      margin: 8px 0 0;
      span { @include media-breakpoint-down('xs') { display: block; } }
    }
  }

  .donate-block {
    background: $gray-darker;
    text-align: center;
    padding-bottom: 2 * $vertical-height; // Force at least a little padding on the bottom
    h3 {
      font-size: 25px;
      color: white;
      margin: 0;
      padding: 2*$vertical-height $half-gutter;
    }
    .select-amount {
      background: #efefef;
      width: 100%;
      padding: 2*$vertical-height $half-gutter;
      @include media-breakpoint-down($payments-page-breakpoint) {
        border-radius: 1px;
      }
    }
    p { margin: 0; }
    .amount-list {
      @include list-unstyled;
      li { margin-top: 2 * $vertical-height; }
      a {
        font-family: $header-font-family;
        font-size: 18px;
        display: block;
        width: 100%;
        border-radius: .25rem;
      }
      .active { border-color: $blue; }
    }

    .next-step {
      margin-top: 2 * $vertical-height;
      .btn {
        border-radius: .25rem;
        width: auto;
        display: block;
        margin: 0 auto;
      }
    }
    @include media-breakpoint-down($payments-page-breakpoint) {
      padding-left: 12px;
      padding-right: 12px;
    }
    @include media-breakpoint-up('md') {
      padding-bottom: 0;
      max-width: 525px;
      border-radius: 1px;
      margin: 0 auto;
    }
  }
}
