// Legacy payments styles
// 
// Every payment page (form and create) is wrapped in cpayments-page class
// ... so forgoing using page ids here, for now

.payments-page {
  h2 { @extend h5; }
  form {
    .binxbtn {
      @extend .btn;
      margin: 0 auto;
      display: block;
      font-size: 20px;
      max-width: 200px;
    }
  }
  #open_stripe_checkout_btn {
    @extend .btn-primary;
  }
}

.payment-types-list {
  @include clearfix;
  position: relative;
  list-style-type: none;
  margin: 0; 
  padding: 30px 0;
  li {
    display: block;
    float: left;
    position: relative;
    p {
      @extend .body-font;
      line-height: 1.5em;
      margin: 0;
    }
    a {
      @extend .btn;
      white-space: normal;
      @include transition(all ease-out .1s);
      display: block;
      width: 100%;
      padding: $vertical-height .5em 0;
    }
    .unselected {
      @extend .btn-secondary;
    }
    .active {
      @extend .btn-success;
      text-decoration: none;
      p { color: $gray-lightest; }
      hr { border-bottom: 1px solid rgba(white,.15); } 
      .donation input { background: #67B2E4; color: white; }
    }
    h3 {
      @extend h4;
      margin: 0;
      font-size: 14px;
    }
    hr {
      margin: 1em 0;
      border: none;
      border-top: 1px solid rgba(black,.1);
      border-bottom: 1px solid rgba(white,.8);
    }
    .perks { min-height: 7em; }
    .donation {
      min-height: 3em;
      padding: 0 1em;
      text-align: center;
      input { width: 100%; text-align: center; background: $gray-lightest; }
    }
  }
}
.container.payments-page .payment-types-list.just-one {
  li {
    min-width: 50%;
    margin: 0 auto;
    display: block;
    float: none;
    a {
      @extend .btn;
      @extend .btn-secondary;
      .donation input { background: #fff; color: $body-font-color; }
    }
  }
}

@media (min-width: $grid-breakpoint-md) {
   .payment-types-list {
    li {
      margin: 0 0 0 1%;
      width: 19%;
      &:first-of-type { margin-left: 0; }
     }
  }
}

@media (max-width: $grid-breakpoint-md - 1px) {
  .payment-types-list {
    li {
      margin: 20px 0 0 2%;
      width: 47%;
      // &:first-of-type { margin-left: 0; }
      &:nth-of-type(5) { margin-left: 26%; }
      // &:first-of-type { margin-left: 10%; }
    }
  }
}