<style>
  .search-fields .hw-combobox {
    display: block;
    width: 100%;
  }
  .search-fields .hw-combobox__main__wrapper {
    width: 100%;
  }
  .search-fields input[role="combobox"] {
    outline: none;
  }
</style>
<%= form_with url: bikes_path, builder: BikeIndexFormBuilder, method: :get do |f| %>
  <div class="tw:flex tw:flex-nowrap tw:gap-4 tw:p-1" data-controller="bike-search-form--component">
    <div class="tw:flex-grow search-fields">
      <%= combobox_tag "state", State.all, class: "tw:w-full" %>
      <%= text_field_tag :serial, @serial, placeholder: ".search_for_serial_number", title: ".search_for_serial_number", class: "tw:w-full" %>
      <%# placeholder: t(".search_for_serial_number"), title: t(".search_for_serial_number") %>
    </div>
    <div class="tw:w-20">
      <%= button_tag(type: ".submit", class: "twbtn-blue tw:w-full") do %>
        <svg id="search-button" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 29 29"><defs><style>.cls-1,.cls-2{fill:none;stroke:#fff;stroke-miterlimit:10;stroke-width:2px;}.cls-2{stroke-linecap:round;}</style></defs><title>searcher</title><circle class="cls-1" cx="10.39" cy="10.39" r="9.39"/><line class="cls-2" x1="17.03" y1="17.03" x2="28" y2="28"/></svg>
      <% end %>
    </div>
  </div>
<% end %>
