---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_0J8tJvm0T0GBfX0vvLOOHP88",
          "object": "token",
          "card": {
            "id": "card_0J8tJvm0T0GBfX0vIl66n0qM",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "70B1BgindTYnDA3n",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.115.138.69",
          "created": 1625259043,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Fri, 02 Jul 2021 20:50:43 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user2s%40bikeiasdndex.org&card=tok_0J8tJvm0T0GBfX0vvLOOHP88
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JmSEiEHAAKERM1",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_0J8tJvm0T0GBfX0vIl66n0qM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_JmSEiEHAAKERM1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "70B1BgindTYnDA3n",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_JmSEiEHAAKERM1/cards"
          },
          "created": 1625259043,
          "currency": null,
          "default_card": "card_0J8tJvm0T0GBfX0vIl66n0qM",
          "default_source": "card_0J8tJvm0T0GBfX0vIl66n0qM",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user2s@bikeiasdndex.org",
          "invoice_prefix": "69A166E8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0J8tJvm0T0GBfX0vIl66n0qM",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_JmSEiEHAAKERM1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "70B1BgindTYnDA3n",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_JmSEiEHAAKERM1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmSEiEHAAKERM1/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmSEiEHAAKERM1/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Fri, 02 Jul 2021 20:50:44 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_JmSEiEHAAKERM1&amount=-99&description=Bike+Index+Alert&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "parameter_invalid_integer",
            "doc_url": "https://stripe.com/docs/error-codes/parameter-invalid-integer",
            "message": "This value must be greater than or equal to 1.",
            "param": "amount",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Fri, 02 Jul 2021 20:50:44 GMT
recorded_with: VCR 5.0.0
