#my_accounts_edit {
  .my-account-checks .form-well-input-checks {
    line-height: 1.5;
  }

  .delete-email {
    color: $gray-light;
    display: block;
  }

  hr {
    padding-bottom: 2 * $vertical-height;
  }
}
