// TODO: move this to my_accounts
#users_edit {
  .user-notification-checks {
    .form-well-input {
      line-height: 1.5em;
    }
  }

  .delete-email {
    color: $gray-light;
    display: block;
  }

  hr {
    padding-bottom: 2 * $vertical-height;
  }
}
