#my_accounts_show {
  .title-link {
    font-size: 17px;
    a {
      color: $body-font-color;
    }
  }
  .lock-group {
    @extend .row;

    strong {
      display: block;
    }

    .image-column {
      @extend .col-xs-2;

      padding-right: 0;
    }
  }

  .user-items-nav {
    @include binx-nav-tabs;

    margin: 0 0 (2 * $vertical-height);

    .nav-item {
      width: 50%;
      text-align: center;
    }
  }

  .account-user-alert {
    .dismiss-wrapper {
      line-height: 0;
      margin-top: 1.6rem;
      float: right;
      a {
        @extend .gray-link;
      }
    }
  }
}
