- if @new_user == true
  = t(".text.hello_welcome_to_bike_index")
- else
  = t(".text.hello")

- if @sender.present?
  = t(".text.you_are_a_member", sender_name: @sender.display_name, org_name: @organization.name)

= t(".text.sign_up_or_sign_in", org_name: @organization.name)
