Hello #{'Welcome to Bike Index' if @new_user == true}

#{@inviter.display_name} has indicated that you are a member of #{@organization.name}.

Sign up or sign in to BikeIndex.org to join #{@organization.name}!