<h2>You’re Almost Done!</h2>

<p>You’re just a few steps away from registering your bike on the world’s most comprehensive bike registry in the world.</p>

<p>Click below to complete your registration</p>

<%= link_to 'Finish it!', new_bike_url(b_param_token: @vars[:b_param_token]) %>