You’re Almost Done!

You’re just a few steps away from registering your bike on the world’s most comprehensive bike registry.

Go to the following URL to finish:

= new_bike_url(b_param_token: @b_param.id_token)