---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=300%20Lakeside%20Dr,%20Oakland,%20CA%2094612&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "Kaiser Center",
                         "short_name" : "Kaiser Center",
                         "types" : [ "premise" ]
                      },
                      {
                         "long_name" : "300",
                         "short_name" : "300",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "Lakeside Drive",
                         "short_name" : "Lakeside Dr",
                         "types" : [ "route" ]
                      },
                      {
                         "long_[...]
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=New%20York%2010007%20United%20States&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
  [...]
