---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=300%20Lakeside%20Dr,%20Oakland,%20CA%2094612&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "Kaiser Center",
                       "short_name" : "Kaiser Center",
                       "types" : [ "premise" ]
                    },
                    {
                       "long_name" : "300",
                       "short_name" : "300",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Lakeside Drive",
                       "short_name" : "Lakeside Dr",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Downtown Oakland"[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=New%20York%2010007%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
  [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEOCODER>&language=en&latlng=40.7143528,-74.0059731&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - New York, NY
    body:
      encoding: UTF-8
      string: "{\n   \"plus_code\" : \n   {\n      \"compound_code\" : \"PX7V+PJR
        New York, NY, USA\",\n      \"global_code\" : \"87G7PX7V+PJR\"\n   },\n   \"results\"
        : \n   [\n      {\n         \"address_components\" : \n         [\n            {\n
        \              \"long_name\" : \"278\",\n               \"short_name\" : \"278\",\n
        \              \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"West Broadway\",\n               \"short_name\" : \"W Broadway\",\n               \"t[...]
