// Legacy colors required for legacy homepage
$gray-blue-dark: #34495E;
$gray-blue-light: #95A5A5;

// Legacy grid system
$column:                  6.5%;
$gutter:                  2%;
$one-column:                     (1 * $column) + (0 * $gutter);
$two-column:                     (2 * $column) + (1 * $gutter);
$three-column:                   (3 * $column) + (2 * $gutter);
$four-column:                    (4 * $column) + (3 * $gutter);
$five-column:                    (5 * $column) + (4 * $gutter);
$six-column:                     (6 * $column) + (5 * $gutter);
$seven-column:                   (7 * $column) + (6 * $gutter);
$eight-column:                   (8 * $column) + (7 * $gutter);
$nine-column:                    (9 * $column) + (8 * $gutter);
$ten-column:                     (10 * $column) + (9 * $gutter);
$eleven-column:                  (11 * $column) + (10 * $gutter);
$twelve-column:                  100%;

//________________________
//
// Page differences
//
//________________________

// Get IT! Override some styles
#welcome_index {
  background: $gray-lighter;
  .primary-footer { margin-top: 0; }
  .container { @include clearfix; }
  .horizontal-list {
    @include clearfix;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      float: left;
    }
  }
}

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}



//________________________
//
// Headers
//
//________________________


.home-header {
  h1 {
    padding: 40px 0 25px;
    margin: 0;
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    color: $blue-dark;
    font-weight: 700;
    // font-family: $body-font;
    text-transform: uppercase;
    span { display: block; }
    & a {
      width: 100%;
      height: 2em;
      left: 0;
      position: absolute;
    }
  }
  h3 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: $blue-dark;
  }
}
@media (max-width: $grid-breakpoint-sm) {
  .home-header {
    h1 {
      text-shadow: -2px 2px 0 $blue;
      & a {
        height: 4em;
      }
    }
  }
}
@media (min-width: $grid-breakpoint-sm+1) {
  .home-header {
    h1 {
      padding: 30px 0 35px;      
      font-size: 50px;
      font-weight: 600;
      line-height: 1em;
      // letter-spacing: .04em;

      $step: .004em;
      $step-color: $blue;
      text-shadow: -.01em .01em 0px $step-color,
      -$step $step 0 $step-color,
      -$step*2  $step*2  0 $step-color,
      -$step*3  $step*3  0 $step-color,
      -$step*4  $step*4  0 $step-color,
      -$step*5  $step*5  0 $step-color,
      -$step*6  $step*6  0 $step-color,
      -$step*7  $step*7  0 $step-color,
      -$step*8  $step*8  0 $step-color,
      -$step*9  $step*9  0 $step-color,
      -$step*10 $step*10 0 $step-color,
      -$step*11 $step*11 0 $step-color,
      -$step*12 $step*12 0 $step-color,
      -$step*13 $step*13 0 $step-color,
      -$step*14 $step*14 0 $step-color,
      -$step*15 $step*15 0 $step-color;
    }
    h3 { font-size: 32px; }
  }
}


@media (min-width: 901px) {
  .home-header h1 { font-size: 75px; }
}

.register-container {
  display: block;
  width: 100%;
  position: absolute;
  left: 0; top: 35%;
  z-index: 20;
  width: 100%;
  text-align: center;
  .btn.binxbtn {
    @extend .btn-lg;
    @include button-variant($green, $green, $green);
    color: white !important;
    font-size: 30px;
  }
}

@media (max-width: $grid-breakpoint-sm) {
  .register-container .btn { font-size: 30px; }
}

.wheeled {
  padding: $vertical-height 0 0;
  position: relative;
}

.wheel-holder {
  display: block;
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 250px;
  $time: 2.5s;
  img {
    transition: all ease-in-out $time;
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    &.spun {
      transition: all ease-out $time;
      transform: rotate(90deg);
    }
  }
}

@media (min-width: $grid-breakpoint-sm+1) {
  .wheeled {
    transition: margin ease-in-out .5s;
    margin-top: -40px;
    padding-top: 0;
  }
}

@media (min-width: $grid-breakpoint-md) { .wheel-holder { width: 70%; } }



.home-subhead, .how-it-works {
  background: #fff;
  padding: 60px 0 50px;
  text-align: center;
  h2 {
    // font-family: $body-font;
    // font-size: 44px;
  }
  h3 {
    @extend .body-font;
    font-size: 22px;
    text-align: center;
    margin: 0 auto;
  }
  p {
    text-align: left;
    font-size: 22px;
    margin-top: 1.25em;
    // font-weight: 200;
  }
}

.how-it-works {
  border-top: 10px solid $gray-blue-dark;
  border-bottom: 10px solid $gray-blue-dark;
  background: $blue;
  p, h2 { color: white; }
  a {
    color: rgba(white, .8);
    text-decoration: underline;
    &:hover { color: darken($link-color, 5%); }
  }
}

@media (min-width: $grid-breakpoint-sm) {
  .how-it-works {
    padding: 70px 0 100px;
  }
}

@media (min-width: $grid-breakpoint-md) {
  .home-subhead {
    p, h3 { width: $ten-column; }
  }
}


@media (max-width: $grid-breakpoint-sm) {
  .home-subhead, .how-it-works {
    padding: 40px 0;
    h2 { font-size: 30px; }
    p, h3 { font-size: 18px; }
  }
}


.home-blank-container {
  width: 100%;
  height: 300px;
  background: #fff;
}


.info-blocks {
  padding: $vertical-height 0;
  width: 100%;
  background: #fff;
  article {
    position: relative;
    width: 90%;
    margin: 0 auto;
    img {
      display: block;
      width: 40%;
      height: auto;
      margin: 0 auto;
    }
    h2 {
      font-size: 30px;
      text-align: center;
      margin: 0;
      padding: 20px 0 0;
    }
    p {
      padding: .5em 0 20px;
      margin: 0 auto;
      width: 80%;
      text-align: center;
    }
  }
}

@media (min-width: $grid-breakpoint-sm) {
  .info-blocks {
    // padding-bottom: 100px;
    .container { padding: 30px 0 20px; }
    article {
      float: left;
      width: $three-column;
      margin: 0;
      margin-left: $one-column + $gutter;
      padding-bottom: 20px;
      img { width: 60%; }
      &:first-of-type { margin-left: ($one-column + $gutter)*.5; }
      p { width: 100%; }
    }
  }
}

