#news_index {
  .rss-svg {
    height: .75em;
    margin-right: 0;
    margin-top: -0.2em;
  }

  .rss-link-container {
    display: inline;
    width: 50%;
  }

  .blog-rss-link {
    opacity: .4;
    width: 50px;

    &:hover {
      opacity: 1;
    }
  }

  .blog-language-selection-container {
    display: inline;
    margin-top: -15px;
    width: 50%;
  }

  .blog-language-selection {
    input {
      max-width: 20px;
    }
  }

  .news-index-list {
    list-style-type: none;
    margin: 0;
    max-width: 100%;
    padding: 0;
    width: 100%;

    li {
      @include clearfix;

      padding: 10px 0 20px;

      h2 {
        @extend .uncap;
        font-size: 23px;
        margin: 0;
        padding: 0;
      }

      .index-image-link {
        display: block;
        width: 15%;
        float: left;
        margin-right: 2%;

        img {
          width: 100%;
          display: block;
          height: auto;
        }
      }
    }
  }
}

@media (max-width: $grid-breakpoint-md) {
  #news_index {
    ul.news-index-list li {
      h2 {
        font-size: 19px;
      }
    }
  }
}
