%p
  Enter the (model) year for this bike. If you're not sure, you're welcome to guess.
%p
  This isn't required.
.alert.alert-info
  Only single years are allowed (i.e.
  %em 1993
  ), not ranges or other inputs.