
%p
  Select the bike's frame manufacturer!
%p
  We've done our best to list every manufacturer we could find, but if&mdash;for some reason&mdash;you don't see the bike frame's manufacturer name, select
  %strong
    Other
  and type in your own input. You can visit our
  %a.no-tab{ data: { target: manufacturers_url} }
    list of manufacturers
  and suggest an addition.
  
%p
  Alas. If you cannot figure out the bike frame's manufacturer, please select
  %strong 
    Unknown.

.alert
  %p
    %strong Heads up!
    Once you press the Save button, you will not be able to change the frame manufacturer.