%p
  Enter the (model) year for this bike. If you're not sure, you're welcome to guess. This section isn't required.

.alert.alert-info
  %p
    %strong
      Only single years are allowed 
    for example: 1993. No ranges or other inputs.