%p
  Who makes your 
  %a.no-tab{ data: { target: 'http://en.wikipedia.org/wiki/Bicycle_drivetrain_systems'} }
    drivetrain?
  Or at least the majority of your drivetrain? If we don't have your manufacturer listed, don't worry; you can add a description or detail individual components.

%p
  If you have a consistent level of components across your drivetrain (for example 
  %a.no-tab{ data: { target: 'http://www.sram.com/sram/mountain/family/x0'} }
    Sram XO,
  %a.no-tab{ data: { target: 'http://www.campagnolo.com/jsp/en/groupset/catid_4.jsp'} }
    Campagnolo Record,
  or
  %a.no-tab{ data: { target: 'http://bike.shimano.com/publish/content/global_cycle/en/us/index/products/road/tiagra.html'} } Shimano Tiagra
  ), enter it in Groupo.

.alert.alert-info
  Your drivetrain refers to your 
  %a.no-tab{ data: { target: 'http://en.wikipedia.org/wiki/Bicycle_crank'} }
    cranks, 
  %a.no-tab{ data: { target: 'http://en.wikipedia.org/wiki/Bicycle_chain'} }
    chain,
  %a.no-tab{ data: { target: 'http://en.wikipedia.org/wiki/Shifter_(bicycle_part)'} }
    shifters
  and
  %a.no-tab{ data: { target: 'http://en.wikipedia.org/wiki/Derailleur_gears'} }
    derailleurs.