%p
  %strong
    Flat bars
  Are the most common style of bars. They are perpendicular the bike's wheel. (They can have up to 40° backsweep.) Some examples of horizontal bars are flat bars, and riser bars.

%p
  %strong
    BMX bars
  Horizontal bars with a crosspiece.

%p
  %strong
    Drop bars
  Are the standard road bike bar

%p
  %strong
    Forward facing bars
  Have ends that point forward, away from the seat (ignore any sort of clip on bar ends). Some examples of forward facing include bullhorns, time-trial bars and pursuit bars:

%p
  %strong
    Rear facing bars
  Have ends that point backward, toward the seat. Some examples of rear facing bars are cruiser bars, ape-hangers and mustache bars:

%p
  %strong
    Other handlebar styles
  Are any other handlebar type, such as trekking bars, under-the-seat handlebars on recumbents, or no handlebars (like unicycles):


.alert.alert-info
  %p
    %strong
      Notice for tandem bikes and other bikes with multiple handlebars
    Enter the type of handlebars that the front rider uses. You can enter the extra handlebar type(s) later, if you desire.