%p
  What is the primary color of the bike's frame?
%p
  You should be looking at only the frame and fork&mdash;not the wheels, cranks, or anything else.
%p
  Yeah, yeah, yeah&mdash;we should offer more colors. We're working on that. Check back later.

.alert.alert-info
  Select 
  %em
    Select
    %em
      stickers, tape, or other cover-up
    if more than half of the frame is covered with, well, stickers, tape, or other cover-up.