%p
  If the tires are 32mm (1 1/4 inches) or narrower, then the bike has narrow tires.

%p
  Any tire that is wider than 32mm is considered "wide."

%p
  We're hopeful that these measurements aren't too tricky.