%p
  Standard Bikes, for the purposes of this discussion, have 
  %strong two wheels,
  are designed for 
  %strong one rider,
  have a 
  %strong diamond shaped frame,
  and have 
  %strong pedals.

  Some things that are not standard bikes:
  %ul
    %li
      Tandems
    %li
      Unicycles
    %li
      Tricycles
    %li
      Recumbents
    %li
      Penny Farthings
    %li
      Tall Bikes
    %li
      Trailers

.alert
  %p
    %strong Heads up!
    After you save this new bike for the first time, you won't be able to change the type of bike it is.