%p
  You have to add a phone number so that bike shops can call you if they find your bike.

%p
  Don't worry, we won't share it with anyone else.

%p
  You can disable Bike Shop viewing of your number in your profile settings.