- alert_image_versions = bike&.current_stolen_record&.current_alert_image&.image&.versions || []

%h3.mt-4 Promoted Alert Images

- if alert_image_versions.blank?
  None
- else
  .row.mt-4.mb-4
    - alert_image_versions.each do |name, image|
      .col-3.col-lg-2
        = link_to image.url, target: "_blank" do
          = image_tag image.url, class: "ml-auto mr-auto", style: "display: block; max-width: 150px; height: auto;"
        .text-center= name
    .col-3.col-lg-2
      = link_to "Regenerate",
        regenerate_alert_image_admin_stolen_bike_path(bike),
        method: :patch,
        data: { confirm: "Are you sure you want to regenerate promoted alert images?" },
        class: "btn btn-danger mb-4"
