---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=CA,%2095616,%20United%20States&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Sacramento, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"95616\",\n
        \              \"short_name\" : \"95616\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Davis\",\n               \"short_name\"
        : \"Davis\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Davis, CA 95616, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 38.630167,\n                  \"lng\"
        : -121.674817\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 38.511475,\n                  \"lng\" : -121.8773531\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 38.5474428,\n               \"lng\" : -121.7765309\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 38.630167,\n                  \"lng\" : -121.674817\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 38.511475,\n                  \"lng\" : -121.8773531\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJ1WBWrmUohYARTywRTzjBmOo\",\n
        \        \"postcode_localities\" : \n         [\n            \"Davis\",\n
        \           \"University of California-Davis\"\n         ],\n         \"types\"
        : \n         [\n            \"postal_code\"\n         ]\n      }\n   ],\n
        \  \"status\" : \"OK\"\n}"
  recorded_at: Thu, 10 Apr 2025 19:13:52 GMT
recorded_with: VCR 6.3.1
