---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_0QvTBbm0T0GBfX0vwdulsIAm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_0QvTBbm0T0GBfX0vwdulsIAm",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1740271007,
          "billing_cycle_anchor_config": null,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1740271007,
          "currency": "cad",
          "current_period_end": 1771807007,
          "current_period_start": 1740271007,
          "customer": "cus_Rp7QXJAx1Yu2Tj",
          "days_until_due": null,
          "default_payment_method": "pm_0QvTBam0T0GBfX0vUMBKZWqy",
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Rp7QadzcyTLY9K",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1740271007,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_0Qs61bm0T0GBfX0vjadfNRv8",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 4999,
                  "amount_decimal": "4999",
                  "billing_scheme": "per_unit",
                  "created": 1739466991,
                  "currency": "cad",
                  "interval": "year",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_Rld50xInuW3d5A",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_0Qs61bm0T0GBfX0vjadfNRv8",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1739466991,
                  "currency": "cad",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_Rld50xInuW3d5A",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "year",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 4999,
                  "unit_amount_decimal": "4999"
                },
                "quantity": 1,
                "subscription": "sub_0QvTBbm0T0GBfX0vwdulsIAm",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_0QvTBbm0T0GBfX0vwdulsIAm"
          },
          "latest_invoice": "in_0QvTBbm0T0GBfX0vbeK6eFup",
          "livemode": false,
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": {
              "acss_debit": null,
              "bancontact": null,
              "card": {
                "network": null,
                "request_three_d_secure": "automatic"
              },
              "customer_balance": null,
              "konbini": null,
              "sepa_debit": null,
              "us_bank_account": null
            },
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_0Qs61bm0T0GBfX0vjadfNRv8",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 4999,
            "amount_decimal": "4999",
            "billing_scheme": "per_unit",
            "created": 1739466991,
            "currency": "cad",
            "interval": "year",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_Rld50xInuW3d5A",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1740271007,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Mon, 10 Mar 2025 22:29:44 GMT
recorded_with: VCR 6.3.1
