http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=Pier%2015%20The%20Embarcadero,%2094111&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "Pier 15",
                         "short_name" : "Pier 15",
                         "types" : [ "premise" ]
                      },
                      {
                         "long_name" : "The Embarcadero",
                         "short_name" : "The Embarcadero",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "Embarcadero",
                         "short_name" : "Embarcadero",
                         "types" : [ "neighborhood", "political" ]
                      },
                      [...]
