---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=CA%2094110&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"94110\",\n
        \              \"short_name\" : \"94110\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"San Francisco\",\n               \"short_name\"
        : \"SF\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"San Francisco County\",\n               \"short_name\"
        : \"San Francisco County\",\n               \"types\" : \n               [\n
        \                 \"administrative_area_level_2\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"San Francisco, CA 94110, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 37.7657831,\n                  \"lng\"
        : -122.4028549\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 37.731608,\n                  \"lng\" : -122.427269\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 37.7485824,\n               \"lng\" : -122.4184108\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 37.7657831,\n                  \"lng\" : -122.4028549\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 37.731608,\n                  \"lng\" : -122.427269\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJjxQcAEF-j4ARegNFVBwq4vg\",\n
        \        \"types\" : \n         [\n            \"postal_code\"\n         ]\n
        \     }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 11 Jun 2025 19:04:50 GMT
recorded_with: VCR 6.3.1
