---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=Vancouver,%20IL%20V5L1E6,%20CA&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "900",
                         "short_name" : "900",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "Fifth Street",
                         "short_name" : "Fifth St",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "Nanaimo",
                         "short_name" : "Nanaimo",
                         "types" : [ "locality", "political" ]
                      },
                      {
                         "long_name" : "Nanaimo",
                         "short_name" : "Nanaimo",
                         "types" : [ "administrative_area_level_2", "political" ]
                      },
                      {
                         "long_name" : "British Columbia",
                         "short_name" : "BC",
                         "types" : [ "administrative_area_level_1", "political" ]
                      },
                      {
                         "long_name" : "Canada",
                         "short_name" : "CA",
                         "types" : [ "country", "political" ]
                      },
                      {
                         "long_name" : "V9R 5S5",
                         "short_name" : "V9R 5S5",
                         "types" : [ "postal_code" ]
                      }
                   ],
                   "formatted_address" : "900 Fifth St, Nanaimo, BC V9R 5S5, Canada",
                   "geometry" : {
                      "location" : {
                         "lat" : 49.1573024,
                         "lng" : -123.9664322
                      },
                      "location_type" : "ROOFTOP",
                      "viewport" : {
                         "northeast" : {
                            "lat" : 49.1586513802915,
                            "lng" : -123.9650832197085
                         },
                         "southwest" : {
                            "lat" : 49.1559534197085,
                            "lng" : -123.9677811802915
                         }
                      }
                   },
                   "place_id" : "ChIJ7wZKIO2jiFQRiNJp9WBl8mI",
                   "plus_code" : {
                      "compound_code" : "524M+WC Nanaimo, British Columbia, Canada",
                      "global_code" : "84XR524M+WC"
                   },
                   "types" : [ "establishment", "point_of_interest", "university" ]
                }
             ],
             "status" : "OK"
          }
    recorded_at: Thu, 16 Apr 2020 21:13:42 GMT
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=49.1573024,-123.9664322&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "plus_code" : {
                "compound_code" [...]
