http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=2864%20Milwaukee%20Ave&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "2864",
                         "short_name" : "2864",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "North Milwaukee Avenue",
                         "short_name" : "N Milwaukee Ave",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "Avondale",
                         "short_name" : "Avondale",
                         "types" : [ "neighborhood", "political" ]
                      },
               [...]
