---
http_interactions:
- request:
    method: post
    uri: https://sandbox.bikeflights.com/api/Authentication/login
    body:
      encoding: UTF-8
      string: '{"email":"<BIKEFLIGHTS_EMAIL>","password":"<BIKEFLIGHTS_PASSWORD>"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"TypeName":"System.Exception","Message":"Unable to login","StackTrace":null}'
  recorded_at: Tue, 22 Sep 2026 21:28:46 GMT
recorded_with: VCR 6.4.0
