---
http_interactions:
- request:
    method: get
    uri: http://bikebook.io/?frame_model=superfly_100_al_elite&manufacturer=trek&year=2012
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bike":{"frame_model":"Superfly 100 AL Elite","manufacturer":"Trek","year":2012,"description":"Alpha
        Platinum Aluminum main frame & stays w/ABP Convert, magnesium swing link,
        G2 Geometry, E2 tapered head tube, replaceable derailleur hanger, 110mm travel","paint_description":["Crystal
        Pearl White"],"manufacturers_url":"http://www.trekbikes.com/us/en/bikes/2012/archive/trek/superfly_100_al_elite/#","rear_wheel_bsd":622,"rear_tire_narrow":"false","stock_photo_url":"https://bikebook.s3.amazonaws.com/uploads/Fr/775/21491","stock_photo_small":"https://bikebook.s3.amazonaws.com/uploads/Fr/775/medium_21491"},"components":[{"component_type":"wheel","description":"Bontrager
        28-hole FCC alloy front hub, Shimano M525 SL 32-hole alloy rear hub; Bontrager
        Mustang Disc 29 rims, Tubeless Ready","front_or_rear":"both","cgroup":"Wheels"},{"component_type":"tire","description":"Bontrager
        29-1 Expert, 29x2.2\"","front_or_rear":"both","cgroup":"Wheels"},{"component_type":"shifter","description":"Shimano
        SLX M660-10, 10 speed","front_or_rear":"both","cgroup":"Drivetrain and brakes"},{"component_type":"derailleur","description":"Shimano
        SLX, direct mount","front_or_rear":"front","cgroup":"Drivetrain and brakes"},{"component_type":"derailleur","description":"Shimano
        Deore XT M780 Shadow","fron[...]
