---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=66666666%20foo%20street,%20Chicago,%20Q6,%2060647,%20D4&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "60647",
                       "short_name" : "60647",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL 60647, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.9334571,
                          "lng" : -87.673963
                       },
                       "southwest" : {
                          "lat" : 41.9081301,
                          "lng" : -87.726979
                       }
                    },
                    "location" : {
                       "lat" : 41.9215421,
                       "lng" : -87.70248169999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.9334571,
                          "lng" : -87.673963
                       },
                       "southwest" : {
                          "lat" : 41.9081301,
                          "lng" : -87.726979
                       }
                    }
                 },
                 "partial_match" : true,
                 "place_id" : "ChIJ3fO3tQjND4gR1psfMQ0T28k",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Wed, 09 Jan 2019 22:26:56 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=41.9215421,-87.70248169999999&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "W7CX+J2 Chicago, IL, USA",
              "global_code" : "86HJW7CX+J2"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3006",
                       "short_name" : "3006",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Palmer Square",
                       "short_name" : "W Palmer Square",
                       "types" : [ "route" ]
                [...]
