---
http_interactions:
- request:
    method: get
    uri: http://bikebook.io/?frame_model=americano_rohloff&manufacturer=co_motion&year=2014
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bike":{"frame_model":"Americano Rohloff","manufacturer":"Co-Motion","year":2014,"description":"Super-tough,
        large diameter Reynolds 725 tubes., FSA Omega Compact Bar; Gossamer Stem","original_msrp":"$5,645.00","paint_description":[null],"manufacturers_url":"http://www.co-motion.com/index.php/singles/americano_rohloff","rear_wheel_bsd":622,"rear_tire_narrow":"false","stock_photo_url":"https://bikebook.s3.amazonaws.com/uploads/Fr/3051/2014-Americano-Rohloff_rotation.png","stock_photo_small":"https://bikebook.s3.amazonaws.com/uploads/Fr/3051/medium_2014-Americano-Rohloff_rotation.png"},"components":[{"component_type":"fork","description":"Co-Motion
        taper-gauge Cro-Moly with CNC steerer","cgroup":"Frame and fork"},{"component_type":"shifter","description":"Co-Motion
        Rohloff 31.8mm Shifter","front_or_rear":"both","cgroup":"Drivetrain and brakes"},{"component_type":"brake","description":"TRP
        Spyre w/ 160mm Rotors","front_or_rear":"both","cgroup":"Drivetrain and brakes"},{"component_type":"headset","description":"Chris
        King","cgroup":"Frame and fork"},{"component_type":"drivetrain","description":"Rohloff
        14 Speed Hub","cgroup":"Additional parts"},{"component_type":"post/saddle","description":"Co-Motion
        Kalloy 29.8; Selle Italia Nekkar Flow","cgroup":"Additional parts"},{"component_type":"wheel","description":"Velocity
        Dyad; DT540/Rohloff Speedhub","front_or_rear":"both","cgroup":"Wheels"},{"component_type":"tire","description":"Schwalbe
        Marathon Racer 700c x 35mm","front_or_rear":"both","cgroup":"Wheels"}]}'
  recorded_at: Mon, 20 Jan 2025 23:56:52 GMT
recorded_with: VCR 5.0.0
