---
http_interactions:
- request:
    method: get
    uri: http://bikebook.io/?frame_model=cool_frame_model&manufacturer=special_name4&year=2022
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"code":404,"message":"Shucks, no we couldn''t find that","description":"View
        all bikes: http://bikebook.io or documentation: http://bikebook.io/documentation"}'
  recorded_at: Mon, 01 Feb 2021 18:34:48 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2459%20W%20Division%20St,%20Chicago,%20IL%2060622&key=xxxxxxx&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2459",
                       "short_name" : "2459",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Division Street",
                       "short_name" : "W Division St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "West Town",
                       "short_name" : "West Town",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                 [...]
[...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2459%20W%20Division%20St,%20Chicago,%20IL%2060622&key=AIzaSyDH8ejgPgtdVFMB6USR8PifSL1F_AEY8Wg&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "API keys with referer restrictions cannot be used with this API.",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Thu, 11 Feb 2021 17:13:28 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=2459%20W%20Division%20St,%20Chicago,%20IL%2060622&key=AIzaSyDH8ejgPgtdVFMB6USR8PifSL1F_AEY8Wg&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "error_message" : "API keys with referer restrictions cannot be used with this API.",
           "results" : [],
           "status" : "REQUEST_DENIED"
        }
  recorded_at: Thu, 11 Feb 2021 17:13:28 GMT
recorded_with: VCR 5.0.0
