http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=2459%20W%20Division%20St,%20Chicago,%20Q1,%2060622,%20US&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "2459",
                         "short_name" : "2459",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "West Division Street",
                         "short_name" : "W Division St",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "West Town",
                         "short_name" : "West Town",
                         "types" : [ "neighborhood", "political" ]
                      },
                 [...]
