---
http_interactions:
- request:
    method: get
    uri: http://bikebook.io/?frame_model=pugsley&manufacturer=surly&year=2013
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json;charset=utf-8
    body:
      encoding: UTF-8
      string: '{"bike":{"frame_model":"Pugsley","manufacturer":"Surly","year":2013,"description":"Surly
        Pugsley, Surly 4130 CroMoly steel. Main triangle double-butted. TIG-welded","paint_description":["Real
        Blew","Apathetic Black"],"manufacturers_url":"http://surlybikes.com/bikes/pugsley/bike_specs","stock_photo_url":"https://bikebook.s3.amazonaws.com/uploads/Fr/5763/pugsley-blu-14_sv_930x390.jpg","stock_photo_small":"https://bikebook.s3.amazonaws.com/uploads/Fr/5763/medium_pugsley-blu-14_sv_930x390.jpg"},"components":[{"component_type":"fork","description":"Surly
        Moonlander, 447mm axle to crown, tapered straight blade, 4130 CroMoly. 51mm
        IS disc mount. 135mm-spaced dropouts. 17.5mm offset fork available after market","cgroup":"Frame
        and fork"},{"component_type":"seatpost clamp","description":"Surly Stainless,
        30.0mm (Surly stainless included)","cgroup":"Additional parts"},{"component_type":"crankset","description":"SRAM
        X5 100mm 36/22,","cgroup":"Drivetrain and brakes"},{"component_type":"bottom
        bracket","description":"100mm wide, standard English threading (1.37\u02dd
        x 24t),","cgroup":"Drivetrain and brakes"},{"component_type":"derailleur","description":"Shimano
        SLX FD-616-D, Direct Mount","front_or_rear":"front","cgroup":"Drivetrain and
        brakes"},{"component_type":"derailleur","description":"Shimano M591 SGSL,","front_or_rear":"rear","cgroup":"Drivetrain
        and brakes"},{"component_type":"cog/cassette/freewheel","description":"Shimano
        CS-HG61, 9-speed 11\u201332t","cgroup":"Drivetrain and brakes"},{"component_type":"chain","description":"SRAM
        PC-971,","cgroup":"Drivetrain and brakes"},{"component_type":"headset","description":"Cane
        Creek 40,","cgroup":"Frame a[...]
