---
http_interactions:
- request:
    method: get
    uri: http://bikebook.io/?frame_model=purple_rain&manufacturer=special_name8&year=2021
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: 'Not Found '
    headers:
      Content-Type:
      - application/json;charset=utf-8
      X-Cascade:
      - pass
    body:
      encoding: UTF-8
      string: '{"code":404,"message":"Shucks, no we couldn''t find that","description":"View
        all bikes: http://bikebook.io or documentation: http://bikebook.io/documentation"}'
  recorded_at: Fri, 30 Jul 2021 20:25:25 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1400%2032nd%20St,%20Oakland,%20CA%2094608,%20US&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1400",
                       "short_name" : "1400",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "32nd Street",
                       "short_name" : "32nd St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "West Oakland",
                       "short_name" : "West Oakland",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "lo[...]
