---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20IL%2060622,%20US&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "60622",
                       "short_name" : "60622",
                       "types" : [ "postal_code" ]
                    },
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL 60622, USA",
                 "geometry" : {
                    "bounds" : {
                       "northeast" : {
                          "lat" : 41.9195731,
                          "lng" : -87.66615299999999
                       },
                       "southwest" : {
                          "lat" : 41.88872,
                          "lng" : -87.7067041
                       }
                    },
                    "location" : {
                       "lat" : 41.9013087,
                       "lng" : -87.68276759999999
                    },
                    "location_type" : "APPROXIMATE",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.9195731,
                          "lng" : -87.66615299999999
                       },
                       "southwest" : {
                          "lat" : 41.88872,
                          "lng" : -87.7067041
                       }
                    }
                 },
                 "place_id" : "ChIJDe0hzsnSD4gRKquVpZ1evcI",
                 "types" : [ "postal_code" ]
              }
           ],
           "status" : "OK"
        }
  recorded_at: Fri, 11 Jun 2021 18:37:03 GMT
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEOCODER>&language=en&latlng=41.9013087,-87.68276759999999&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "plus_code" : {
              "compound_code" : "W828+GV Chicago, IL, USA",
              "global_code" : "86HJW828+GV"
           },
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "2215",
                       "short_name" : "2215",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Thomas Street",
                       "short_name" : "W Thomas St",
                       "types" : [ "route" ]
                    [...]
[...]
