---
http_interactions:
- request:
    method: post
    uri: https://api.cloudflare.com/client/v4/zones/82c727a79571ff204a7ddc188d1806ec/purge_cache
    body:
      encoding: UTF-8
      string: '{"files":["https://files.bikeindex.org/uploads/tsvs/stolen.geojson"]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "result": {
            "id": "82c727a79571ff204a7ddc188d1806ec"
          },
          "success": true,
          "errors": [],
          "messages": []
        }
  recorded_at: Fri, 11 Feb 2022 16:32:04 GMT
recorded_with: VCR 5.0.0
