---
http_interactions:
- request:
    method: post
    uri: https://challenges.cloudflare.com/turnstile/v0/siteverify
    body:
      encoding: US-ASCII
      string: secret=2x0000000000000000000000000000000AA&response=XXXX.DUMMY.TOKEN.XXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error-codes":["invalid-input-response"],"success":false,"messages":[],"metadata":{"result_with_testing_key":true}}'
  recorded_at: Fri, 17 Apr 2026 07:18:57 GMT
recorded_with: VCR 6.4.0
