---
http_interactions:
- request:
    method: post
    uri: https://challenges.cloudflare.com/turnstile/v0/siteverify
    body:
      encoding: US-ASCII
      string: secret=1x0000000000000000000000000000000AA&response=XXXX.DUMMY.TOKEN.XXXX
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"challenge_ts":"2026-04-17T07:18:57.274Z","error-codes":[],"hostname":"example.com","metadata":{"result_with_testing_key":true},"success":true}'
  recorded_at: Fri, 17 Apr 2026 07:18:57 GMT
recorded_with: VCR 6.4.0
