---
http_interactions:
- request:
    method: head
    uri: http://mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://mail.com/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:24 GMT
- request:
    method: head
    uri: https://mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.mail.com/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
- request:
    method: head
    uri: https://www.mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"something@g.mail.com","source":"EmailDomain"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '3010'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1747510466'
      Twilio-Request-Id:
      - RQ2xEk98dgQ561pHEfIvcMbgtPvSK
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"access forbidden"}]}'
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
- request:
    method: head
    uri: http://bikeindex.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - "</assets/tailwind-ffb9b2c7e15e317fa4f911d183ff0d5dccc91890bafdda27c42fb402834a7fc4.css>;
        rel=preload; as=style; nopush,</assets/revised-d77254966537e3a2ca5ed870b0500ab650203aff16fb4f3f3206942e21f51b6c.css>;
        rel=preload; as=style; nopush,</assets/application_revised-b8b9f5c13508c3e0e5b7109fd5e63a94728191f8372daba9dd18d93d23052181.js>;
        rel=preload; as=script; nopush"
      Etag:
      - W/"630fe330fd86c5cb464e49852773700b"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 20:57:16 GMT
- request:
    method: head
    uri: http://bikeindex.org/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/html; charset=utf-8
      Link:
      - "</assets/tailwind-ffb9b2c7e15e317fa4f911d183ff0d5dccc91890bafdda27c42fb402834a7fc4.css>;
        rel=preload; as=style; nopush,</assets/revised-d77254966537e3a2ca5ed870b0500ab650203aff16fb4f3f3206942e21f51b6c.css>;
        rel=preload; as=style; nopush,</assets/application_revised-b8b9f5c13508c3e0e5b7109fd5e63a94728191f8372daba9dd18d93d23052181.js>;
        rel=preload; as=script; nopush"
      Etag:
      - W/"6fe6d33dfacc5190473acb6a884d7443"
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 20:57:16 GMT
recorded_with: VCR 6.3.1
