---
http_interactions:
- request:
    method: head
    uri: http://mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://mail.com/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:24 GMT
- request:
    method: head
    uri: https://mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 301
      message: Moved Permanently
    headers:
      Location:
      - https://www.mail.com/
      Content-Type:
      - text/html; charset=iso-8859-1
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
- request:
    method: head
    uri: https://www.mail.com/
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: '200'
    headers:
      Content-Language:
      - en-US
      Content-Type:
      - text/html;charset=UTF-8
    body:
      encoding: UTF-8
      string: ''
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
- request:
    method: post
    uri: https://api.sendgrid.com/v3/validations/email
    body:
      encoding: UTF-8
      string: '{"email":"something@g.mail.com","source":"EmailDomain"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 403
      message: Forbidden
    headers:
      Content-Type:
      - application/json
      X-Client-Ff:
      - '3010'
      X-Ratelimit-Remaining:
      - '6'
      X-Ratelimit-Limit:
      - '7'
      X-Ratelimit-Reset:
      - '1747510466'
      Twilio-Request-Id:
      - RQ2xEk98dgQ561pHEfIvcMbgtPvSK
    body:
      encoding: UTF-8
      string: '{"errors":[{"field":null,"message":"access forbidden"}]}'
  recorded_at: Sat, 17 May 2025 19:34:25 GMT
recorded_with: VCR 6.3.1
