---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/latest?access_key=<EXCHANGE_RATE_API_KEY>&base=CAD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Blocked-At-Loadbalancer:
      - '1'
    body:
      encoding: ASCII-8BIT
      string: |
        {
          "success": false,
          "error": {
            "code": 101,
            "type": "invalid_access_key",
            "info": "You have not supplied a valid API Access Key. [Technical Support: support@apilayer.com]"
          }
        }
  recorded_at: Fri, 07 Mar 2025 23:00:53 GMT
recorded_with: VCR 6.3.1
