---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v11.0/6250389631214?access_token=<FACEBOOK_AD_TOKEN>&fields=id,objective
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d80b63fa3de6ac878ea1b810e07d3ae769fe3341"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"62935371":[{"type":"ads_management","call_count":5,"total_cputime":8,"total_time":7,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"id":"6250389631214","objective":"REACH"}'
  recorded_at: Sun, 04 Jul 2021 19:33:36 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v11.0/6250389631214?access_token=<FACEBOOK_AD_TOKEN>&fields=id,objective,special_ad_categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"7f2dbc5f0510e63db77d78d3357f086b89217b2e"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"62935371":[{"type":"ads_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"id":"6250389631214","objective":"REACH","special_ad_categories":[]}'
  recorded_at: Sun, 04 Jul 2021 20:19:25 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v11.0/6250389631214/ads?access_token=<FACEBOOK_AD_TOKEN>&limit=10
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"43b0d656166b9a91544cd837fa042966e84fa139"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Ad-Account-Usage:
      - '{"acc_id_util_pct":0}'
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: ASCII-8BIT
      string: '{"data":[{"id":"6250389632814"}],"paging":{"cursors":{"before":"QVFIUi1RaHJEcDBaVWtoeUxQcm5EV3N0cVVWMkY1QlRLdlh2MkhUUkt6NXZAMT2F6aVBQellNbHFZAVjR5QWtzcklJczZATcG1MTFBlNTBmU3NDSjNuN0wweHh3","after":"QVFIUi1RaHJEcDBaVWtoeUxQcm5EV3N0cVVWMkY1QlRLdlh2MkhUUkt6NXZAMT2F6aVBQellNbHFZAVjR5QWtzcklJczZATcG1MTFBlNTBmU3NDSjNuN0wweHh3"}}}'
  recorded_at: Sun, 04 Jul 2021 20:55:33 GMT
- request:
    method: get
    uri: https://graph.facebook.com/v11.0/6250389632814?access_token=<FACEBOOK_AD_TOKEN>&fields=id,creative
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"4787654404e7c8cc209da84714f6f3932c866fa9"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"62935371":[{"type":"ads_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"id":"6250389632814","creative":{"id":"6250389733014"}}'
  recorded_at: Sun, 04 Jul 2021 20:55:33 GMT
recorded_with: VCR 5.0.0
