---
http_interactions:
- request:
    method: get
    uri: https://graph.facebook.com/v11.0/6250389631214?access_token=<FACEBOOK_AD_TOKEN>&fields=id,objective
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - '"d80b63fa3de6ac878ea1b810e07d3ae769fe3341"'
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"62935371":[{"type":"ads_management","call_count":5,"total_cputime":8,"total_time":7,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"id":"6250389631214","objective":"REACH"}'
  recorded_at: Sun, 04 Jul 2021 19:33:36 GMT
recorded_with: VCR 5.0.0
