---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v11.0/act_62935371/campaigns?access_token=<FACEBOOK_AD_TOKEN>
    body:
      encoding: UTF-8
      string: name=12&objective=REACH&special_ad_categories=%5B%5D
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Business-Use-Case-Usage:
      - '{"62935371":[{"type":"ads_management","call_count":1,"total_cputime":1,"total_time":1,"estimated_time_to_regain_access":0}]}'
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"id":"6250395558414"}'
  recorded_at: Sun, 04 Jul 2021 20:19:54 GMT
recorded_with: VCR 5.0.0
