---
http_interactions:
- request:
    method: post
    uri: https://graph.facebook.com/v11.0/act_62935371/ads?access_token=<FACEBOOK_AD_TOKEN>
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-App-Usage:
      - '{"call_count":0,"total_cputime":0,"total_time":0}'
      Content-Type:
      - application/json; charset=UTF-8
      Www-Authenticate:
      - OAuth "Facebook Platform" "invalid_request" "(#100) The parameter creative
        is required"
      Facebook-Api-Version:
      - v11.0
    body:
      encoding: UTF-8
      string: '{"error":{"message":"(#100) The parameter creative is required","type":"OAuthException","code":100,"fbtrace_id":"AYm93vzL5Gv6m6BnUtClJ9y"}}'
  recorded_at: Sun, 04 Jul 2021 20:54:28 GMT
recorded_with: VCR 5.0.0
