---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members?count=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Members/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"members":[{"id":"56a9d336c189b65b4f1269478b987fa7","email_address":"seth@bikeindex.org","unique_email_id":"921735569d","full_name":"Seth
        Herr","web_id":207775178,"email_type":"html","status":"subscribed","merge_fields":{"ADDRESS":"","PHONE":"","NAME":"Seth
        Herr","SIGN_UP_AT":"","DONATE_AT":"","BIKES":"","DONATE_NUM":""},"interests":{"938bcefe9e":true,"d14183c940":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"","timestamp_opt":"2021-03-19T19:17:32+00:00","member_rating":2,"last_changed":"2021-06-11T20:11:41+00:00","language":"","vip":false,"email_client":"Gmail","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"Import","tags_count":1,"tags":[{"id":87330,"name":"2020"}],"list_id":"180a1141a4","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/56a9d336c189b65b4f1269478b987fa7","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/56a9d336c189b65b4f1269478b987fa7","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/56a9d336c189b65[...]
