---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=717%20Market%20St,%20SF&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"717\",\n               \"short_name\"
        : \"717\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Market Street\",\n               \"short_name\" : \"Market St\",\n               \"types\"
        : \n               [\n                  \"route\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Yerba Buena\",\n               \"short_name\"
        : \"Yerba Buena\",\n               \"types\" : \[...]
