---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=zipcode:%2060647&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"60647\",\n
        \              \"short_name\" : \"60647\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Chicago\",\n               \"short_name\"
        : \"Chicago\",\n               \"types\" : \n               [\n                  \"locality\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Cook County\",\n               \"short_name\"
        : \"Cook County\",\n               \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Illinois\",\n               \"short_name\"
        : \"IL\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Chicago, IL 60647, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 41.9334571,\n                  \"lng\"
        : -87.673963\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 41.9081301,\n                  \"lng\" : -87.726979\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 41.9215421,\n               \"lng\" : -87.70248169999999\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 41.9334571,\n                  \"lng\" : -87.673963\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 41.9081301,\n                  \"lng\" : -87.726979\n               }\n
        \           }\n         },\n         \"partial_match\" : true,\n         \"place_id\"
        : \"ChIJ3fO3tQjND4gR1psfMQ0T28k\",\n         \"types\" : \n         [\n            \"postal_code\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 14 Jul 2024 18:27:33 GMT
recorded_with: VCR 5.0.0
