---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=United%20States&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"United States\",\n
        \              \"short_name\" : \"US\",\n               \"types\" : \n               [\n
        \                 \"country\",\n                  \"political\"\n               ]\n
        \           }\n         ],\n         \"formatted_address\" : \"United States\",\n
        \        \"geometry\" : \n         {\n            \"bounds\" : \n            {\n
        \              \"northeast\" : \n               {\n                  \"lat\"
        : 74.071038,\n                  \"lng\" : -66.885417\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 18.7763,\n                  \"lng\" : 166.9999999\n               }\n            },\n
        \           \"location\" : \n            {\n               \"lat\" : 37.09024,\n
        \              \"lng\" : -95.712891\n            },\n            \"location_type\"
        : \"APPROXIMATE\",\n            \"viewport\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 72.70871579999999,\n                  \"lng\"
        : -66.3193754\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 15.7760139,\n                  \"lng\" : -173.2992296\n
        \              }\n            }\n         },\n         \"place_id\" : \"ChIJCzYy5IS16lQRQrfeQ5K5Oxw\",\n
        \        \"types\" : \n         [\n            \"country\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 14 Jul 2024 18:39:04 GMT
recorded_with: VCR 5.0.0
