---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=42.8490197,-106.3015341&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1740",
                       "short_name" : "1740",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East 2nd Street",
                       "short_name" : "E 2nd St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Casper",
                       "short_name" : "Casper",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : [...]
