---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3550%20W%20Shakespeare%20Ave,%2060647&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"3550\",\n
        \              \"short_name\" : \"3550\",\n               \"types\" : \n               [\n
        \                 \"street_number\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"West Shakespeare Avenue\",\n               \"short_name\"
        : \"W Shakespeare Ave\",\n               \"types\" : \n               [\n
        \                 \"route\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Logan Square\",\n               \"short_name\"
        : \"Logan Square\",[...]
