---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?language=en&latlng=42.8490197,-106.3015341&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1740",
                       "short_name" : "1740",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "East 2nd Street",
                       "short_name" : "E 2nd St",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Casper",
                       "short_name" : "Casper",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?key=<GOOGLE_GEOCODER>&language=en&latlng=42.8490197,-106.3015341&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"plus_code\" : \n   {\n      \"compound_code\" : \"RMXX+J94
        Casper, WY, USA\",\n      \"global_code\" : \"85JMRMXX+J94\"\n   },\n   \"results\"
        : \n   [\n      {\n         \"address_components\" : \n         [\n            {\n
        \              \"long_name\" : \"1740\",\n               \"short_name\" :
        \"1740\",\n               \"types\" : \n               [\n                  \"street_number\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"East 2nd Street\",\n               \"short_name\" : \"E 2nd St\",\n               \"[...]
