---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=San%20Francisco,%20CA&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - San Francisco, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"San Francisco\",\n
        \              \"short_name\" : \"SF\",\n               \"types\" : \n               [\n
        \                 \"locality\",\n                  \"political\"\n               ]\n
        \           },\n            {\n               \"long_name\" : \"San Francisco
        County\",\n               \"short_name\" : \"San Francisco County\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"San Francisco, CA, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 37.9298239,\n                  \"lng\"
        : -122.28178\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 37.6398299,\n                  \"lng\" : -123.1328309\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 37.7749295,\n               \"lng\" : -122.4194155\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 37.812,\n                  \"lng\" : -122.3482\n               },\n               \"southwest\"
        : \n               {\n                  \"lat\" : 37.70339999999999,\n                  \"lng\"
        : -122.527\n               }\n            }\n         },\n         \"place_id\"
        : \"ChIJIQBpAG2ahYAR_6128GcTUEo\",\n         \"types\" : \n         [\n            \"locality\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Sun, 14 Jul 2024 20:45:45 GMT
recorded_with: VCR 5.0.0
