---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=717%20Market%20St,%20SF&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Goog-Maps-Metro-Area:
          - San Francisco, CA
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "717",
                         "short_name" : "717",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "Market Street",
                         "short_name" : "Market St",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "Yerba Buena",
                         "short_name" : "Yerba Buena",
                         "types" : [ "neighborhood", "political" ]
                      },
                      {
[...]
