---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=3550%20W%20Shakespeare%20Ave,%2060647&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "3550",
                       "short_name" : "3550",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West Shakespeare Avenue",
                       "short_name" : "W Shakespeare Ave",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Logan Square",
                       "short_name" : "Logan Square",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
    [...]
