---
http_interactions:
- request:
    method: post
    uri: https://challenges.cloudflare.com/turnstile/v0/siteverify
    body:
      encoding: UTF-8
      string: '{"secret":"2x0000000000000000000000000000000AA","response":"XXXX.DUMMY.TOKEN.XXXX"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"error-codes":["invalid-input-response"],"success":false,"messages":[],"metadata":{"result_with_testing_key":true}}'
  recorded_at: Tue, 15 Sep 2026 22:53:31 GMT
recorded_with: VCR 6.4.0
