---
http_interactions:
- request:
    method: post
    uri: https://challenges.cloudflare.com/turnstile/v0/siteverify
    body:
      encoding: UTF-8
      string: '{"secret":"1x0000000000000000000000000000000AA","response":"XXXX.DUMMY.TOKEN.XXXX"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"challenge_ts":"2026-09-15T22:53:31.852Z","error-codes":[],"hostname":"example.com","metadata":{"result_with_testing_key":true},"success":true}'
  recorded_at: Tue, 15 Sep 2026 22:53:31 GMT
recorded_with: VCR 6.4.0
