---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/InterestCategories/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"list_id":"180a1141a4","categories":[{"list_id":"180a1141a4","id":"bec514f886","title":"Bike
        Index user types","display_order":0,"type":"hidden","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories/bec514f886","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/InterestCategories/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories/bec514f886","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/PATCH.json"},{"rel":"delete","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories/bec514f886","method":"DELETE"},{"rel":"interests","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories/bec514f886/interests","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Interests/Collection.json"}]}],"total_items":1,"_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/InterestCategories/Collection.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"create","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4/interest-categories","method":"POST","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/InterestCategories/POST.json"}]}'
  recorded_at: Mon, 14 Jun 2021 18:40:47 GMT
recorded_with: VCR 5.0.0
