---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"180a1141a4","web_id":288378,"name":"Individuals","contact":{"company":"Bike
        Index","address1":"421 E Del Norte St.","address2":"","city":"Colorado Springs","state":"CO","zip":"80907","country":"US","phone":""},"permission_reminder":"You
        are receiving this email because you donated to Bike Index or reported a bike
        recovered on Bike Index.","use_archive_bar":true,"campaign_defaults":{"from_name":"Lily
        Williams","from_email":"lily@bikeindex.org","subject":"","language":"en"},"notify_on_subscribe":"","notify_on_unsubscribe":"","date_created":"2021-03-19T19:13:00+00:00","list_rating":3,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/htHDiz","subscribe_url_long":"https://bikeindex.us6.list-manage.com/subscribe?u=dfe432e244c6b0e33a6730ba7&id=180a1141a4","beamer_address":"us6-0ba9cd219f-526c5e9f3c@inbound.mailchimp.com","visibility":"prv","double_optin":false,"has_welcome":false,"marketing_permissions":false,"modules":[],"stats":{"member_count":2445,"unsubscribe_count":0,"cleaned_count":0,"member_count_since_send":0,"unsubscribe_count_since_send":0,"cleaned_count_since_send":0,"campaign_count":8,"campaign_last_sent":"","merge_field_count":10,"avg_sub_rate":0,"avg_unsub_rate":0,"target_sub_rate":0,"open_rate":0,"click_rate":0,"last_sub_date":"2021-03-19T19:17:32+00:00","last_unsub_date":""},"_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us6.api.mailchimp.com/3.0/lists/180a1141a4","method":"POST","targetSchema":"https://us6.api.mailchimp.com/schema/3[...]
