---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Collection.json>; rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"lists":[{"id":"0eb9428151","web_id":280093,"name":"Police Departments","contact":{"company":"Bike
        Index","address1":"421 E Del Norte St.","address2":"","city":"Colorado Springs","state":"CO","zip":"80907","country":"US","phone":""},"permission_reminder":"You
        are receiving this email because you have communicated with Bike Index in
        the past or have created a Bike Index account. You could also be on this list
        because you could benefit from Bike Index''s free services.","use_archive_bar":true,"campaign_defaults":{"from_name":"Lily
        Williams","from_email":"lily@bikeindex.org","subject":"","language":"en"},"notify_on_subscribe":"lily@bikeindex.org","notify_on_unsubscribe":"","date_created":"2019-02-13T02:28:04+00:00","list_rating":3,"email_type_option":false,"subscribe_url_short":"http://eepurl.com/ghaCMz","subscribe_url_long":"https://bikeindex.us6.list-manage.com/subscribe?u=dfe432e244c6b0e33a6730ba7&id=0eb9428151","beamer_address":"us6-0ba9cd219f-b1dc7baa45@inbound.mailchimp.com","visibility":"pub","double_optin":false,"has_welcome":false,"marketing_permissions":false,"modules":[],"stats":{"member_count":124,"unsubscribe_count":0,"cleaned_count":106,"member_count_since_send":44,"unsubscribe_count_since_send":13,"cleaned_count_since_send":16,"campaign_count":24,"campaign_last_sent":"2020-12-08T12:59:26+00:00","merge_field_count":8,"avg_sub_rate":0,"avg_unsub_rate":9,"target_sub_rate":20,"open_rate":29.32233960319505,"click_rate":1.5952143569292123,"last_sub_date":"2021-06-09T01:14:43+00:00","last_unsub_date":"2020-12-16T02:32:11+00:00"},"_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/0eb9428151","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/0eb9428151","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/PATCH.json"},{"rel":"batch-sub-unsub-members","href":"https://us6.api.mailchimp.com/3.0/lists/0eb9428151","method":"POST","targetSchema":"https://us6.api.mailchimp.com/schema/3[...]
[...]
