---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Los%20Angeles,%20CA%2090021&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Los Angeles, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"90021\",\n
        \              \"short_name\" : \"90021\",\n               \"types\" : \n
        \              [\n                  \"postal_code\"\n               ]\n            },\n
        \           {\n               \"long_name\" : \"Downtown Los Angeles\",\n
        \              \"short_name\" : \"Downtown Los Angeles\",\n               \"types\"
        : \n               [\n                  \"neighborhood\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Los Angeles\",\n           [...]
