---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 94046a90-66ab-4c22-af58-312a10e12406
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 94046a90-66ab-4c22-af58-312a10e12406
      Original-Request:
      - req_rZZKLRDFawpOUt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0Txwmim0T0GBfX0v6Lfv6FB2",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1785190448,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVXhzWFA1VmluTzZVR09uUXRGMTdMZndRN1ViVWFkZQ0100C9FlsVy2"
        }
  recorded_at: Mon, 27 Jul 2026 22:14:09 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - ce4c61e6-9c20-4fad-a62a-f332310adbd9
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ce4c61e6-9c20-4fad-a62a-f332310adbd9
      Original-Request:
      - req_XEwzLTO8MlDNNt
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0U6lr6m0T0GBfX0v2tbu8HMf",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1787293388,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session?secret=test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVjZ6cVF5N3Q5SmZlZWJCT3BoZ3JwQVNibms1YjJPNA01008zCZNTYU"
        }
  recorded_at: Fri, 21 Aug 2026 06:23:08 GMT
recorded_with: VCR 6.4.0
