---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 1fe5876a-e7d8-491e-9bbf-0a7417a5e520
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 1fe5876a-e7d8-491e-9bbf-0a7417a5e520
      Original-Request:
      - req_CyAnl6z0QGnkpC
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0Se2mbm0T0GBfX0vQ4LuYCU8",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1765670609,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVGJGSGlCVzhtaWdhZUNRZm11VEJWSlNnRUd5RFR4RA0100MBpTUKKK"
        }
  recorded_at: Sun, 14 Dec 2025 00:03:29 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 31419576-fe44-4ab0-8bd7-4424424c7655
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 31419576-fe44-4ab0-8bd7-4424424c7655
      Original-Request:
      - req_aATHk478BfXYsf
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0T4QGOm0T0GBfX0vkEnXZfy2",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1771957396,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVTJWR0psTkNrN1Y5VmJWQklJSUhSbjVWWmpJajB4Nw0100MUg0A6SN"
        }
  recorded_at: Tue, 24 Feb 2026 18:23:16 GMT
recorded_with: VCR 6.3.1
