---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - ff18897b-e868-4048-bb96-5260cbcb3131
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - ff18897b-e868-4048-bb96-5260cbcb3131
      Original-Request:
      - req_FfJWsQtl7t9aAp
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0RsUilm0T0GBfX0vCfJsj1AI",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1754338259,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfU282d2xHN21NeFZkeTFNOTBEWUZTaHcxQ3d3b0hMRA0100nAi3BUvC"
        }
  recorded_at: Mon, 04 Aug 2025 20:10:59 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 91841183-6428-4484-9d7a-3ac41018ec65
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91841183-6428-4484-9d7a-3ac41018ec65
      Original-Request:
      - req_DngABJEFs8GIvd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0S9Tpqm0T0GBfX0vVbSAxoMl",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1758386430,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVDVmQXVwOTVJUGdQOWpSWXlzaXJSMU1rdWJIVVREag0100YCIqntAB"
        }
  recorded_at: Sat, 20 Sep 2025 16:40:30 GMT
recorded_with: VCR 6.3.1
