---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 3593fbf6-c82b-4109-972b-f65dae002051
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3593fbf6-c82b-4109-972b-f65dae002051
      Original-Request:
      - req_DnIf17TEjZqmkn
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0QvSOwm0T0GBfX0vkLdWPKt6",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1740267990,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfUnA2Y01OTGpUUWlnMjRCZ05DUWFMa3UyZ2Z2aFlhRg0100lXKwj9AT"
        }
  recorded_at: Sat, 22 Feb 2025 23:46:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - af0dbade-4f97-4260-bdf9-7ff62d3b1441
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - af0dbade-4f97-4260-bdf9-7ff62d3b1441
      Original-Request:
      - req_JhzygWlyRUEszM
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0QvSOxm0T0GBfX0v6jNg1OzH",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1740267991,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfUnA2Y3BmRXBPcDZMQmhjZjlZMHJKUHprSm1rSmV6eQ010066OHp1TG"
        }
  recorded_at: Sat, 22 Feb 2025 23:46:31 GMT
recorded_with: VCR 6.3.1
