---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 8d18305d-e388-4468-8bbf-077c6bb3d051
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 8d18305d-e388-4468-8bbf-077c6bb3d051
      Original-Request:
      - req_Z7paCa5Irbstw5
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0TI7Wom0T0GBfX0vVGlbz1Rv",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1775221970,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVUdlcVc0WXVGaVlqNjg5c1EyOHBZU1pFUEJ0czdSUA0100D51ts7Tl"
        }
  recorded_at: Fri, 03 Apr 2026 13:12:50 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 66f654f2-1ef9-4985-bf38-a9d3c11244ce
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 66f654f2-1ef9-4985-bf38-a9d3c11244ce
      Original-Request:
      - req_BkFPOS6C8DMEzJ
      Stripe-Notice:
      - You are using an outdated API version (2025-01-27.acacia). We recommend upgrading
        to the latest API version, 2026-04-22.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0Tb6FMm0T0GBfX0vSPcdKDDv",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1779745276,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVWFHbWptcVpmcDZ3c3lnOEJDMjBLWFdRR0RzcDNKdg0100vI5gAcea"
        }
  recorded_at: Mon, 25 May 2026 21:41:16 GMT
recorded_with: VCR 6.4.0
