---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - b07312cf-08bc-4101-836e-c5e21225a9c8
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - b07312cf-08bc-4101-836e-c5e21225a9c8
      Original-Request:
      - req_qVKE44UQ78937I
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0RVDaTm0T0GBfX0vPCfhnUS0",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1748790853,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfU1EzaGxsOE5oOEYxWmUwQkpEOHgydkQ0Z3dnSm16bw0100QVBvhYLf"
        }
  recorded_at: Sun, 01 Jun 2025 15:14:13 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2Ftest.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 0f5ff174-1bb3-413c-906d-3a9061307c7d
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 0f5ff174-1bb3-413c-906d-3a9061307c7d
      Original-Request:
      - req_bgad0sFFrlDYK4
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHI
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0RWheJm0T0GBfX0vaIEqJbww",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1749144739,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://test.host/my_account",
          "url": "https://billing.stripe.com/p/session/test_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfU1JhcFpWUWJHWHgwWXE3bzcyUkxtbmxBVGw1Q0lBSA0100yVaXCWUT"
        }
  recorded_at: Thu, 05 Jun 2025 17:32:19 GMT
recorded_with: VCR 6.3.1
