---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2F<CLOUDFLARE_TOKEN>.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 91841183-6428-4484-9d7a-3ac41018ec65
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 91841183-6428-4484-9d7a-3ac41018ec65
      Original-Request:
      - req_DngABJEFs8GIvd
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0S9Tpqm0T0GBfX0vVbSAxoMl",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1758386430,
          "customer": "cus_RohIc4uZhMPzxN",
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://<CLOUDFLARE_TOKEN>.host/my_account",
          "url": "https://billing.stripe.com/p/session/<CLOUDFLARE_TOKEN>_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVDVmQXVwOTVJUGdQOWpSWXlzaXJSMU1rdWJIVVREag0100YCIqntAB"
        }
  recorded_at: Sat, 20 Sep 2025 16:40:30 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/billing_portal/sessions
    body:
      encoding: UTF-8
      string: customer=cus_RohIc4uZhMPzxN&return_url=http%3A%2F%2F<CLOUDFLARE_TOKEN>.host%2Fmy_account
    headers:
      Idempotency-Key:
      - 960f9364-fd6c-4df0-89af-9f4e10a7b931
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 960f9364-fd6c-4df0-89af-9f4e10a7b931
      Original-Request:
      - req_DGSOYNil73nl1E
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "bps_0Se2V0m0T0GBfX0vWtPEYX04",
          "object": "billing_portal.session",
          "configuration": "bpc_0QvSOWm0T0GBfX0vQCpYBJv1",
          "created": 1765669518,
          "customer": "cus_RohIc4uZhMPzxN",
          "customer_account": null,
          "flow": null,
          "livemode": false,
          "locale": null,
          "on_behalf_of": null,
          "return_url": "http://<CLOUDFLARE_TOKEN>.host/my_account",
          "url": "https://billing.stripe.com/p/session/<CLOUDFLARE_TOKEN>_YWNjdF8yS3NubTBUMEdCZlgwdnlQVUl4RSxfVGJFeVJHV1BkaHh1czdaUWEyUVpBN3VPMDVrUXJDQg0100l31G6N8a"
        }
  recorded_at: Sat, 13 Dec 2025 23:45:18 GMT
recorded_with: VCR 6.3.1
