---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=100%20West%201st%20Street,%20Los%20Angeles,%20CA%2090012,%20United%20States&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Goog-Maps-Metro-Area:
          - Los Angeles, CA
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "100",
                         "short_name" : "100",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "West 1st Street",
                         "short_name" : "W 1st St",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "Downtown Los Angeles",
                         "short_name" : "Downtown Los Angeles",
                         "types" : [ "neighborhood", "political" ]
                      },
     [...]
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=Los%20Angeles,%20CA%2090014,%20United%20States&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Goog-Maps-Metro-Area:
          - Los Angeles, CA
      body:
        encoding: ASCII-8BIT
       [...]
[...]
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=1626%20S%20Hill%20St,%20Los%20Angeles,%20CA%2090015,%20United%20States&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Goog-Maps-Metro-Area:
          - Los Angeles, CA
      body:
        enco[...]
