---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=102%20Washington%20Pl,%20State%20College,%20PA&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "102",
                       "short_name" : "102",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "Washington Place",
                       "short_name" : "Washington Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "State College",
                       "short_name" : "State College",
                       "types" : [ "locality", "political" ]
                    },
                    {
                 [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=102%20Washington%20Pl,%20State%20College,%20PA%2016801&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
    [...]
