---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1300%20W%2014th%20Pl,%20Chicago,%20IL%2060608,%20United%20States&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "1300",
                       "short_name" : "1300",
                       "types" : [ "street_number" ]
                    },
                    {
                       "long_name" : "West 14th Place",
                       "short_name" : "W 14th Pl",
                       "types" : [ "route" ]
                    },
                    {
                       "long_name" : "Little Italy",
                       "short_name" : "Little Italy",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                    [...]
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=1300%20W%2014th%20Pl,%20Chicago,%20IL%2060608,%20United%20States&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"1300\",\n
        \              \"short[...]
