---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=102%20Washington%20Pl,%20State%20College&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "102",
                         "short_name" : "102",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "Washington Place",
                         "short_name" : "Washington Pl",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "State College",
                         "short_name" : "State College",
                         "types" : [ "locality", "political" ]
                      },
                 [...]
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=State%20College,%20PA&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "State College",
                         "short_name" : "State College",
                         "types" : [ "locality", "political" ]
                      },
                      {
                         "long_name" : "Centre County",
                         "short_name" : "Centre County",
                         "types" : [ "administrative_area_level_2", "political" ]
                      },
                      {
                         "long_name" : "Pennsylvania",
                         "short_name" : "PA",
                         "types" : [ "administrative_area_level_1", "political" ]
                      },
                      {
                         "long_name" : "United States",
                         "short_name" : "US",
                         "types" : [ "country", "political" ]
                      }
                   ],
                   "formatted_address" : "State College, PA, USA",
                   "geometry" : {
                      "bounds" : {
                         "northeast" : {
                            "lat" : 40.8075369,
                            "lng" : -77.8191779
                         },
                         "southwest" : {
                            "lat" : 40.7684919,
                            "lng" : -77.885965
                         }
                      },
                      "location" : {
                         "lat" : 40.7933949,
                         "lng" : -77.8600012
                      },
                      "location_type" : "APPROXIMATE",
                      "viewport" : {
                         "northeast" : {
                            "lat" : 40.8075369,
                            "lng" : -77.8191779
                         },
                         "southwest" : {
                            "lat" : 40.7684919,
                            "lng" : -77.885965
                         }
                      }
                   },
                   "place_id" : "ChIJc9s7wZmozokRkYA8g8LG4Zw",
                   "types" : [ "locality", "political" ]
                }
             ],
             "status" : "OK"
          }
    recorded_at: Fri, 15 Mar 2019 21:14:23 GMT
recorded_with: VCR 4.0.0
