---
http_interactions:
  - request:
      method: get
      uri: https://maps.googleapis.com/maps/api/geocode/json?address=10544%2082%20Ave%20NW,%20Edmonton,%20T6E%202A4,%20CA&language=en&sensor=false
      body:
        encoding: US-ASCII
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
        X-Goog-Maps-Metro-Area:
          - Edmonton
      body:
        encoding: ASCII-8BIT
        string: |
          {
             "results" : [
                {
                   "address_components" : [
                      {
                         "long_name" : "10544",
                         "short_name" : "10544",
                         "types" : [ "street_number" ]
                      },
                      {
                         "long_name" : "82 Avenue Northwest",
                         "short_name" : "82 Ave NW",
                         "types" : [ "route" ]
                      },
                      {
                         "long_name" : "South Central Edmonton",
                         "short_name" : "South Central Edmonton",
                         "types" : [ "neighborhood", "political" ]
                     [...]
