---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=State%20College,%20PA%2016801&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"State College\",\n
        \              \"short_name\" : \"State College\",\n               \"types\"
        : \n               [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Centre County\",\n               \"short_name\" : \"Centre County\",\n
        \              \"types\" : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Pennsylvania\",\n               \"short_name\"
        : \"PA\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"State College, PA, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 40.8075721,\n                  \"lng\"
        : -77.8189271\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 40.7684269,\n                  \"lng\" : -77.886301\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 40.7933949,\n               \"lng\" : -77.8600012\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 40.8075721,\n                  \"lng\" : -77.8189271\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 40.7684269,\n                  \"lng\" : -77.886301\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJc9s7wZmozokRkYA8g8LG4Zw\",\n
        \        \"types\" : \n         [\n            \"locality\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 17 Sep 2025 23:03:07 GMT
recorded_with: VCR 6.3.1
