---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_<MAILCHIMP_KEY>_a17wYrWqVcrfgLkOnthsa6r4STYqidDh3gTU8pkUqgGepDZSprYeoT8VxV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_<MAILCHIMP_KEY>_a17wYrWqVcrfgLkOnthsa6r4STYqidDh3gTU8pkUqgGepDZSprYeoT8VxV",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 5000,
          "amount_total": 5000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3001/payments/new",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "usd",
          "customer": "cus_JmPqQDidyY7LDB",
          "customer_creation": null,
          "customer_details": {
            "email": "seth@bikeindex.org",
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": []
          },
          "customer_email": null,
          "expires_at": 1625334867,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": "pi_0J8qZLm0T0GBfX0v6J8Q3YjN",
          "payment_link": null,
          "payment_method_options": {},
          "payment_method_types": [
            "card"
          ],
          "payment_status": "paid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [],
          "shipping_rate": null,
          "status": "complete",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://localhost:3001/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": null
        }
  recorded_at: Wed, 16 Feb 2022 20:21:55 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_JmPqQDidyY7LDB
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_JmPqQDidyY7LDB",
          "object": "customer",
          "account_balance": 0,
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": "94608",
            "state": null
          },
          "balance": 0,
          "cards": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmPqQDidyY7LDB/cards"
          },
          "created": 1625250198,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "seth@bikeindex.org",
          "invoice_prefix": "00D65AA9",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Seth Herr",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmPqQDidyY7LDB/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmPqQDidyY7LDB/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmPqQDidyY7LDB/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Wed, 16 Feb 2022 20:21:55 GMT
recorded_with: VCR 5.0.0
