---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1CtKMVSPmXNJnR683KqoOTff69gPvcdhJA545USuUfYVFwmykgV6KWsQp
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1CtKMVSPmXNJnR683KqoOTff69gPvcdhJA545USuUfYVFwmykgV6KWsQp",
          "object": "checkout.session",
          "adaptive_pricing": null,
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 499,
          "amount_total": 499,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3042/membership/new",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1740252598,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_Rp2Xc8UDwjRePm",
          "customer_creation": "always",
          "customer_details": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": "94110",
              "state": null
            },
            "email": "seth+test@bikeindex.org",
            "name": "Seth",
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": []
          },
          "customer_email": null,
          "discounts": [],
          "expires_at": 1740338998,
          "invoice": "in_0QvOSOm0T0GBfX0v171Mu41c",
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "subscription",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": {
            "id": "pmc_0P68HJm0T0GBfX0vuIr5fXd9",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "cashapp"
          ],
          "payment_status": "paid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": null,
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "complete",
          "submit_type": null,
          "subscription": "sub_0QvOSOm0T0GBfX0vkWDgHdcE",
          "success_url": "http://localhost:3042/membership/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": null
        }
  recorded_at: Sat, 22 Feb 2025 19:56:53 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_Rp2Xc8UDwjRePm
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_Rp2Xc8UDwjRePm",
          "object": "customer",
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": "94110",
            "state": null
          },
          "balance": 0,
          "created": 1740252828,
          "currency": "usd",
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "seth+test@bikeindex.org",
          "invoice_prefix": "5ADEB27C",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Seth",
          "next_invoice_sequence": 2,
          "phone": null,
          "preferred_locales": [
            "en-US"
          ],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sat, 22 Feb 2025 19:56:53 GMT
recorded_with: VCR 6.3.1
