---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=donate&line_items[0][price_data][unit_amount]=1&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Donation&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew
    headers:
      Idempotency-Key:
      - 9cd1debd-0f5e-4759-a37a-fdbd250ea32f
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 9cd1debd-0f5e-4759-a37a-fdbd250ea32f
      Original-Request:
      - req_c2PSUJCFgRm2an
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "amount_too_small",
            "doc_url": "https://stripe.com/docs/error-codes/amount-too-small",
            "message": "The Checkout Session's total amount due must add up to at least $0.50 usd",
            "request_log_url": "https://dashboard.stripe.com/acct_2Ksnm0T0GBfX0vyPUIxE/test/workbench/logs?object=req_c2PSUJCFgRm2an",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Tue, 28 Apr 2026 15:32:21 GMT
recorded_with: VCR 6.4.0
