---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a15Mb9Rte6MgOkvjOovuH4VBeagLKw74LLFBFUvSGJHBYt83eesNXRKatJ
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a15Mb9Rte6MgOkvjOovuH4VBeagLKw74LLFBFUvSGJHBYt83eesNXRKatJ",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 7500,
          "amount_total": 7500,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1738521123,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_JmR9ccDp8JD2Mo",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "testly@bikeindex.org",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "discounts": [],
          "expires_at": 1738607523,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": null,
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a15Mb9Rte6MgOkvjOovuH4VBeagLKw74LLFBFUvSGJHBYt83eesNXRKatJ#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Sun, 02 Feb 2025 18:32:03 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_JmR9ccDp8JD2Mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cus_JmR9ccDp8JD2Mo",
          "object": "customer",
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": "60647",
            "state": null
          },
          "balance": 0,
          "created": 1625255017,
          "currency": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "testly@bikeindex.org",
          "invoice_prefix": "80897ED8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {},
          "name": "Testly",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [],
          "shipping": null,
          "tax_exempt": "none",
          "test_clock": null
        }
  recorded_at: Sun, 02 Feb 2025 18:32:04 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=donate&line_items[0][price_data][unit_amount]=7500&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Donation&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew&customer=cus_JmR9ccDp8JD2Mo
    headers:
      Idempotency-Key:
      - 85ab0eae-5dbb-46e0-b964-7166cfecd0d9
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 85ab0eae-5dbb-46e0-b964-7166cfecd0d9
      Original-Request:
      - req_widiH71T5qxMZ8
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1ElfRtGlAQOgXyJafpjMY3HEGj2A0qxyO6o52wQw7AC1oM6IWMzDd44Vf",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 7500,
          "amount_total": 7500,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1741629291,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_JmR9ccDp8JD2Mo",
          "custome[...]
