---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=pay&payment_method_types[0]=card&line_items[0][price_data][unit_amount]=4000&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Payment&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 94456d65-9c11-4677-b6dd-54cb0cfac635
      Original-Request:
      - req_jTc6mAp7eJny6S
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1TjHW2fVOK5DgjZ6wnuocymMz82Vwz5PLh5SrImSR1JY5iaIUZs1dwjnF",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 4000,
          "amount_total": 4000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "created": 1696007167,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "always",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1696093566,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": "pi_2Nvk8hm0T0GBfX0v1P20FMVn",
          "payment_link": null,
          "payment_method_collection": "always",
          "payment_method_configuration_details": null,
          "payment_method_options": {},
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [],
          "shipping_rate": null,
          "status": "open",
          "submit_type": "pay",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1TjHW2fVOK5DgjZ6wnuocymMz82Vwz5PLh5SrImSR1JY5iaIUZs1dwjnF#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Fri, 29 Sep 2023 17:06:07 GMT
recorded_with: VCR 5.0.0
