---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_Iva0DUDBvjMwdR/subscriptions
    body:
      encoding: UTF-8
      string: plan=01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_Iva0nuxLvLb1Ld",
          "object": "subscription",
          "application_fee_percent": null,
          "billing": "charge_automatically",
          "billing_cycle_anchor": 1613064079,
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "collection_method": "charge_automatically",
          "created": 1613064079,
          "current_period_end": 1615483279,
          "current_period_start": 1613064079,
          "customer": "cus_Iva0DUDBvjMwdR",
          "days_until_due": null,
          "default_payment_method": null,
          "default_source": null,
          "default_tax_rates": [

          ],
          "discount": null,
          "ended_at": null,
          "invoice_customer_balance_settings": {
            "consume_applied_balance_on_void": true
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_Iva0HowxvTH75n",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1613064080,
                "metadata": {
                },
                "plan": {
                  "id": "01",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 399,
                  "amount_decimal": "399",
                  "billing_scheme": "per_unit",
                  "created": 1418246716,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {
                  },
                  "name": "Bike Index membership",
                  "nickname": null,
                  "product": "prod_BTdRktWBwC9SQR",
                  "statement_description": "Membership",
                  "statement_descriptor": "Membership",
                  "tiers": null,
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "01",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1418246716,
                  "currency": "usd",
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {
                  },
                  "nickname": null,
                  "product": "prod_BTdRktWBwC9SQR",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 399,
                  "unit_amount_decimal": "399"
                },
                "quantity": 1,
                "subscription": "sub_Iva0nuxLvLb1Ld",
                "tax_rates": [

                ]
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_Iva0nuxLvLb1Ld"
          },
          "latest_invoice": "in_0IJiqxm0T0GBfX0v27GyUevg",
          "livemode": false,
          "metadata": {
          },
          "next_pending_invoice_item_invoice": null,
          "pause_collection": null,
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "01",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 399,
            "amount_decimal": "399",
            "billing_scheme": "per_unit",
            "created": 1418246716,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {
            },
            "name": "Bike Index membership",
            "nickname": null,
            "product": "prod_BTdRktWBwC9SQR",
            "statement_description": "Membership",
            "statement_descriptor": "Membership",
            "tiers": null,
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start": 1613064079,
          "start_date": 1613064079,
          "status": "active",
          "tax_percent": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_start": null
        }
  recorded_at: Thu, 11 Feb 2021 17:21:21 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_0IirOIm0T0GBfX0vesQR2uOG",
          "object": "token",
          "card": {
            "id": "card_0IirOIm0T0GBfX0vSbzEcRYR",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "70B1BgindTYnDA3n",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "99.14.101.245",
          "created": 1619055098,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 22 Apr 2021 01:31:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: UTF-8
      string: email=user17s%40bikeiasdndex.org&card=tok_0IirOIm0T0GBfX0vesQR2uOG
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JLYVenvy24v7a1",
          "object": "customer",
          "account_balance": 0,
          "address": null,
          "balance": 0,
          "cards": {
            "object": "list",
            "data": [
              {
                "id": "card_0IirOIm0T0GBfX0vSbzEcRYR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_JLYVenvy24v7a1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "70B1BgindTYnDA3n",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_JLYVenvy24v7a1/cards"
          },
          "created": 1619055099,
          "currency": null,
          "default_card": "card_0IirOIm0T0GBfX0vSbzEcRYR",
          "default_source": "card_0IirOIm0T0GBfX0vSbzEcRYR",
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "user17s@bikeiasdndex.org",
          "invoice_prefix": "DE71C1B5",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": null,
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [
              {
                "id": "card_0IirOIm0T0GBfX0vSbzEcRYR",
                "object": "card",
                "address_city": null,
                "address_country": null,
                "address_line1": null,
                "address_line1_check": null,
                "address_line2": null,
                "address_state": null,
                "address_zip": null,
                "address_zip_check": null,
                "brand": "Visa",
                "country": "US",
                "customer": "cus_JLYVenvy24v7a1",
                "cvc_check": "pass",
                "dynamic_last4": null,
                "exp_month": 12,
                "exp_year": 2025,
                "fingerprint": "70B1BgindTYnDA3n",
                "funding": "credit",
                "last4": "4242",
                "metadata": {
                },
                "name": null,
                "tokenization_method": null
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/customers/cus_JLYVenvy24v7a1/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JLYVenvy24v7a1/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JLYVenvy24v7a1/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null
        }
  recorded_at: Thu, 22 Apr 2021 01:31:39 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_JLYVenvy24v7a1/subscriptions
    body:
      encoding: UTF-8
      string: plan=01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "sub_JLYVQzFxOZarsS",
          [...]
