---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=donate&payment_method_types[0]=card&line_items[0][price_data][unit_amount]=7500&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Donation&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew&customer=cus_JmR9ccDp8JD2Mo
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 3b9e98fa-0ee6-409e-b88d-47c15ae4376a
      Original-Request:
      - req_sQmuRgzEkpkmy2
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1vMePKwJmk0IMUYYpMuEMQjQNZx5uzccFKjgbDft9LApsZJixoZubPRqU",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 7500,
          "amount_total": 7500,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "usd",
          "customer": "cus_JmR9ccDp8JD2Mo",
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "email": "testly@bikeindex.org",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": null,
          "expires_at": 1657695476,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_2LKd2em0T0GBfX0v1r5jCrC2",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1vMePKwJmk0IMUYYpMuEMQjQNZx5uzccFKjgbDft9LApsZJixoZubPRqU#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Tue, 12 Jul 2022 06:57:56 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1vMePKwJmk0IMUYYpMuEMQjQNZx5uzccFKjgbDft9LApsZJixoZubPRqU
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
         [...]
- request:
    method: get
    uri: https://api.stripe.com/v1/customers/cus_JmR9ccDp8JD2Mo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_JmR9ccDp8JD2Mo",
          "object": "customer",
          "account_balance": 0,
          "address": {
            "city": null,
            "country": "US",
            "line1": null,
            "line2": null,
            "postal_code": "60647",
            "state": null
          },
          "balance": 0,
          "cards": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmR9ccDp8JD2Mo/cards"
          },
          "created": 1625255017,
          "currency": null,
          "default_card": null,
          "default_source": null,
          "delinquent": false,
          "description": null,
          "discount": null,
          "email": "testly@bikeindex.org",
          "invoice_prefix": "80897ED8",
          "invoice_settings": {
            "custom_fields": null,
            "default_payment_method": null,
            "footer": null,
            "rendering_options": null
          },
          "livemode": false,
          "metadata": {
          },
          "name": "Testly",
          "next_invoice_sequence": 1,
          "phone": null,
          "preferred_locales": [

          ],
          "shipping": null,
          "sources": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmR9ccDp8JD2Mo/sources"
          },
          "subscriptions": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmR9ccDp8JD2Mo/subscriptions"
          },
          "tax_exempt": "none",
          "tax_ids": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/customers/cus_JmR9ccDp8JD2Mo/tax_ids"
          },
          "tax_info": null,
          "tax_info_verification": null,
          "test_clock": null
        }
  recorded_at: Tue, 12 Jul 2022 06:57:57 GMT
recorded_with: VCR 5.0.0
