---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/tokens
    body:
      encoding: UTF-8
      string: card[number]=4242424242424242&card[exp_month]=12&card[exp_year]=2025&card[cvc]=314
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "tok_0IJiq5m0T0GBfX0vYYus2JPN",
          "object": "token",
          "card": {
            "id": "card_0IJiq5m0T0GBfX0vHHHyw4Pv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": null,
            "cvc_check": null,
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "70B1BgindTYnDA3n",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "client_ip": "23.115.138.69",
          "created": 1613064025,
          "livemode": false,
          "type": "card",
          "used": false
        }
  recorded_at: Thu, 11 Feb 2021 17:20:25 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/customers
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "object": "list",
          "data": [
            {
              "id": "cus_IvZaToHG20XORK",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "cards": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0IJiRHm0T0GBfX0vkQRubd0R",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_IvZaToHG20XORK",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2025,
                    "fingerprint": "70B1BgindTYnDA3n",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {
                    },
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_IvZaToHG20XORK/cards"
              },
              "created": 1613062488,
              "currency": null,
              "default_card": "card_0IJiRHm0T0GBfX0vkQRubd0R",
              "default_source": "card_0IJiRHm0T0GBfX0vkQRubd0R",
              "delinquent": false,
              "description": null,
              "discount": null,
              "email": "test_user@test.com",
              "invoice_prefix": "AE27E3E2",
              "invoice_settings": {
                "custom_fields": null,
                "default_payment_method": null,
                "footer": null
              },
              "livemode": false,
              "metadata": {
              },
              "name": null,
              "next_invoice_sequence": 1,
              "phone": null,
              "preferred_locales": [

              ],
              "shipping": null,
              "sources": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0IJiRHm0T0GBfX0vkQRubd0R",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
                    "address_line1": null,
                    "address_line1_check": null,
                    "address_line2": null,
                    "address_state": null,
                    "address_zip": null,
                    "address_zip_check": null,
                    "brand": "Visa",
                    "country": "US",
                    "customer": "cus_IvZaToHG20XORK",
                    "cvc_check": "pass",
                    "dynamic_last4": null,
                    "exp_month": 12,
                    "exp_year": 2025,
                    "fingerprint": "70B1BgindTYnDA3n",
                    "funding": "credit",
                    "last4": "4242",
                    "metadata": {
                    },
                    "name": null,
                    "tokenization_method": null
                  }
                ],
                "has_more": false,
                "total_count": 1,
                "url": "/v1/customers/cus_IvZaToHG20XORK/sources"
              },
              "subscriptions": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_IvZaToHG20XORK/subscriptions"
              },
              "tax_exempt": "none",
              "tax_ids": {
                "object": "list",
                "data": [

                ],
                "has_more": false,
                "total_count": 0,
                "url": "/v1/customers/cus_IvZaToHG20XORK/tax_ids"
              },
              "tax_info": null,
              "tax_info_verification": null
            },
            {
              "id": "cus_IvZaxruTR6rNq2",
              "object": "customer",
              "account_balance": 0,
              "address": null,
              "balance": 0,
              "cards": {
                "object": "list",
                "data": [
                  {
                    "id": "card_0IJiREm0T0GBfX0vBp24qxmO",
                    "object": "card",
                    "address_city": null,
                    "address_country": null,
   [...]
- request:
    method: post
    uri: https://api.stripe.com/v1/customers/cus_IvZaToHG20XORK
    body:
      encoding: UTF-8
      string: card=tok_0IJiq5m0T0GBfX0vYYus2JPN
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cus_IvZaToHG20XORK"[...]
- request:
    method: post
    uri: https://api.stripe.com/v1/charges
    body:
      encoding: UTF-8
      string: customer=cus_IvZaToHG20XORK&amount=4000&description=Bike+Index+customer&currency=usd
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "ch_0IJiq7m0T0GBfX0vqft4HeqK",
          "object": "charge",
          "amount": 4000,
          "amount_captured": 4000,
          "amount_refunded": 0,
          "application": null,
          "application_fee": null,
          "application_fee_amount": null,
          "balance_transaction": "txn_0IJiq7m0T0GBfX0vz0uphATG",
          "billing_details": {
            "address": {
              "city": null,
              "country": null,
              "line1": null,
              "line2": null,
              "postal_code": null,
              "state": null
            },
            "email": null,
            "name": null,
            "phone": null
          },
          "calculated_statement_descriptor": "Stripe",
          "captured": true,
          "card": {
            "id": "card_0IJiq5m0T0GBfX0vHHHyw4Pv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_IvZaToHG20XORK",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "70B1BgindTYnDA3n",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "created": 1613064027,
          "currency": "usd",
          "customer": "cus_IvZaToHG20XORK",
          "description": "Bike Index customer",
          "destination": null,
          "dispute": null,
          "disputed": false,
          "failure_code": null,
          "failure_message": null,
          "fraud_details": {
          },
          "invoice": null,
          "livemode": false,
          "metadata": {
          },
          "on_behalf_of": null,
          "order": null,
          "outcome": {
            "network_status": "approved_by_network",
            "reason": null,
            "risk_level": "normal",
            "risk_score": 4,
            "seller_message": "Payment complete.",
            "type": "authorized"
          },
          "paid": true,
          "payment_intent": null,
          "payment_method": "card_0IJiq5m0T0GBfX0vHHHyw4Pv",
          "payment_method_details": {
            "card": {
              "brand": "visa",
              "checks": {
                "address_line1_check": null,
                "address_postal_code_check": null,
                "cvc_check": "pass"
              },
              "country": "US",
              "exp_month": 12,
              "exp_year": 2025,
              "fingerprint": "70B1BgindTYnDA3n",
              "funding": "credit",
              "installments": null,
              "last4": "4242",
              "network": "visa",
              "three_d_secure": null,
              "wallet": null
            },
            "type": "card"
          },
          "receipt_email": null,
          "receipt_number": null,
          "receipt_url": "https://pay.stripe.com/receipts/acct_2Ksnm0T0GBfX0vyPUIxE/ch_0IJiq7m0T0GBfX0vqft4HeqK/rcpt_Iva0T4tE0p6MvbsXtOEsAXngjoyyscK",
          "refunded": false,
          "refunds": {
            "object": "list",
            "data": [

            ],
            "has_more": false,
            "total_count": 0,
            "url": "/v1/charges/ch_0IJiq7m0T0GBfX0vqft4HeqK/refunds"
          },
          "review": null,
          "shipping": null,
          "source": {
            "id": "card_0IJiq5m0T0GBfX0vHHHyw4Pv",
            "object": "card",
            "address_city": null,
            "address_country": null,
            "address_line1": null,
            "address_line1_check": null,
            "address_line2": null,
            "address_state": null,
            "address_zip": null,
            "address_zip_check": null,
            "brand": "Visa",
            "country": "US",
            "customer": "cus_IvZaToHG20XORK",
            "cvc_check": "pass",
            "dynamic_last4": null,
            "exp_month": 12,
            "exp_year": 2025,
            "fingerprint": "70B1BgindTYnDA3n",
            "funding": "credit",
            "last4": "4242",
            "metadata": {
            },
            "name": null,
            "tokenization_method": null
          },
          "source_transfer": null,
          "statement_description": null,
          "statement_descriptor": null,
          "statement_descriptor_suffix": null,
          "status": "paid",
          "transfer_data": null,
          "transfer_group": null
        }
  recorded_at: Thu, 11 Feb 2021 17:20:27 GMT
recorded_with: VCR 5.0.0
