---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1N3sSIlrziLdhZ8Kj2uVhqlMnfMe7KN2W1AsGicX8pEnBL2uuRAPnmkg6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1N3sSIlrziLdhZ8Kj2uVhqlMnfMe7KN2W1AsGicX8pEnBL2uuRAPnmkg6",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 500,
          "amount_total": 500,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3042/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": null,
          "consent": null,
          "consent_collection": null,
          "created": 1741655615,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "if_required",
          "customer_details": {
            "address": {
              "city": null,
              "country": "US",
              "line1": null,
              "line2": null,
              "postal_code": "94441",
              "state": null
            },
            "email": "example@example.com",
            "name": "Example",
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": []
          },
          "customer_email": null,
          "discounts": [],
          "expires_at": 1741742014,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": "pi_2R1HOUm0T0GBfX0v1MOh8om7",
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_0P68HJm0T0GBfX0vuIr5fXd9",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card",
            "cashapp"
          ],
          "payment_status": "paid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "complete",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://localhost:3042/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": null
        }
  recorded_at: Tue, 11 Mar 2025 01:18:23 GMT
recorded_with: VCR 6.3.1
