---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=donate&payment_method_types[0]=card&line_items[0][price_data][unit_amount]=4000&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Donation&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew&customer_email=user349s%40bikeiasdndex.org
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - f89a15b1-985c-436a-b38f-ccd2cef6ba09
      Original-Request:
      - req_Z2TKupAl7DgiSu
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a13DzDiAJO43gXzfNX8ews1umKSHISNpS2xoGAosFBrYGrAfyKhUd7r1cW",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 4000,
          "amount_total": 4000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "usd",
          "customer": null,
          "customer_creation": "always",
          "customer_details": {
            "email": "user349s@bikeiasdndex.org",
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": "user349s@bikeiasdndex.org",
          "expires_at": 1645923673,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_2KXEerm0T0GBfX0v0Bmun8Dr",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a13DzDiAJO43gXzfNX8ews1umKSHISNpS2xoGAosFBrYGrAfyKhUd7r1cW#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Sat, 26 Feb 2022 01:01:13 GMT
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a13DzDiAJO43gXzfNX8ews1umKSHISNpS2xoGAosFBrYGrAfyKhUd7r1cW
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: '{"id":"cs_test_a13Dz[...]
