---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a17wYrWqVcrfgLkOnthsa6r4STYqidDh3gTU8pkUqgGepDZSprYeoT8VxV
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a17wYrWqVcrfgLkOnthsa6r4STYqidDh3gTU8pkUqgGepDZSprYeoT8VxV",
          "object": "checkout.session",
          "adaptive_pricing": null,
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 5000,
          "amount_total": 5000,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://localhost:3001/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1625248467,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": "cus_JmPqQDidyY7LDB",
          "customer_account": null,
          "customer_creation": null,
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "seth@bikeindex.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": []
          },
          "customer_email": null,
          "discounts": [],
          "expires_at": 1625334867,
          "integration_identifier": null,
          "invoice": null,
          "invoice_creation": null,
          "livemode": false,
          "locale": null,
          "managed_payments": null,
          "metadata": {},
          "mode": "payment",
          "origin_context": null,
          "payment_intent": "pi_0J8qZLm0T0GBfX0v6J8Q3YjN",
          "payment_link": null,
          "payment_method_collection": null,
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "paid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": {
            "allow_redisplay_filters": [
              "always"
            ],
            "payment_method_remove": "disabled",
            "payment_method_save": null
          },
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "complete",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://localhost:3001/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": null,
          "wallet_options": null
        }
  recorded_at: Mon, 27 Jul 2026 22:15:46 GMT
[...]
