---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=pay&payment_method_types[0]=card&line_items[0][price_data][unit_amount]=4000&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=Payment&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2F<MAILCHIMP_KEY>.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2F<MAILCHIMP_KEY>.host%2Fpayments%2Fnew
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - 2eab043b-c005-415b-937e-9522b922982e
      Original-Request:
      - req_RJKX2zWbd03qm7
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_<MAILCHIMP_KEY>_a1n1jEtcdVHB50O4AWNqPuM1jxzNoOlzhi2rs90dldJxkZvFeLCc5gbIXJ",
          "object": "checkout.session",
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 4000,
          "amount_total": 4000,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://<MAILCHIMP_KEY>.host/payments/new",
          "client_reference_id": null,
          "consent": null,
          "consent_collection": null,
          "currency": "usd",
          "customer": null,
          "customer_creation": "always",
          "customer_details": null,
          "customer_email": null,
          "expires_at": 1645129312,
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_2KTu0am0T0GBfX0v1OUFGLPr",
          "payment_link": null,
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "shipping_options": [

          ],
          "shipping_rate": null,
          "status": "open",
          "submit_type": "pay",
          "subscription": null,
          "success_url": "http://<MAILCHIMP_KEY>.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_<MAILCHIMP_KEY>_a1n1jEtcdVHB50O4AWNqPuM1jxzNoOlzhi2rs90dldJxkZvFeLCc5gbIXJ#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Wed, 16 Feb 2022 20:21:52 GMT
recorded_with: VCR 5.0.0
