---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/checkout/sessions/cs_test_a1Fxrx8qKEjVCIlg3uzbh0Vlm4X8lktOLLtjUc9vVmbtOAs1Kl8wVFwhPo
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1Fxrx8qKEjVCIlg3uzbh0Vlm4X8lktOLLtjUc9vVmbtOAs1Kl8wVFwhPo",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": false
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 4000,
          "amount_total": 4000,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "consent": null,
          "consent_collection": null,
          "created": 1738521122,
          "currency": "usd",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_creation": "if_required",
          "customer_details": {
            "address": null,
            "email": "user3s@bikeiasdndex.org",
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": "user3s@bikeiasdndex.org",
          "discounts": [],
          "expires_at": 1738607522,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": null,
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1Fxrx8qKEjVCIlg3uzbh0Vlm4X8lktOLLtjUc9vVmbtOAs1Kl8wVFwhPo#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Sun, 02 Feb 2025 18:32:03 GMT
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=donate&line_items[0][price_data][unit_amount]=4000&line_items[0][price_data][currency]=MXN&line_items[0][price_data][product_data][name]=Donation&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fpayments%2Fsuccess%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fpayments%2Fnew&customer_email=user3s%40bikeindex.org
    headers:
      Idempotency-Key:
      - d5875e1f-46a7-4e73-9c10-66542c331b0e
      Stripe-Version:
      - 2025-01-27.acacia
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Idempotency-Key:
      - d5875e1f-46a7-4e73-9c10-66542c331b0e
      Original-Request:
      - req_AyzPHJg2fCf4Kr
      Stripe-Should-Retry:
      - 'false'
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "cs_test_a1eEqkNEjBoCjwyEcWEfNDPX26pGly6JbH0ix86pFhcsd1sNmu9ALmjrBV",
          "object": "checkout.session",
          "adaptive_pricing": {
            "enabled": true
          },
          "after_expiration": null,
          "allow_promotion_codes": null,
          "amount_subtotal": 4000,
          "amount_total": 4000,
          "automatic_tax": {
            "enabled": false,
            "liability": null,
            "provider": null,
            "status": null
          },
          "billing_address_collection": null,
          "branding_settings": {
            "background_color": "#ffffff",
            "border_style": "rounded",
            "button_color": "#0074d4",
            "display_name": "Bike Index Test",
            "font_family": "default",
            "icon": {
              "type": "url",
              "url": "https://stripe-camo.global.ssl.fastly.net/b4482d0007d24b441c7905466ea522c2ee3dcc6a8eff7f58350343a828cf242e/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f7374726970652d75706c6f6164732f616363745f324b736e6d3054304742665830767950554978456d65726368616e742d69636f6e2d3436393534342d42696b65496e6465784c6f676f2e706e67/6d65726368616e745f69643d616363745f324b736e6d30543047426658307679505549784526636c69656e743d5041594d454e545f50414745"
            },
            "logo": null
          },
          "cancel_url": "http://test.host/payments/new",
          "client_reference_id": null,
          "client_secret": null,
          "collected_information": {
            "business_name": null,
            "individual_name": null,
            "shipping_details": null
          },
          "consent": null,
          "consent_collection": null,
          "created": 1765670539,
          "currency": "mxn",
          "currency_conversion": null,
          "custom_fields": [],
          "custom_text": {
            "after_submit": null,
            "shipping_address": null,
            "submit": null,
            "terms_of_service_acceptance": null
          },
          "customer": null,
          "customer_account": null,
          "customer_creation": "if_required",
          "customer_details": {
            "address": null,
            "business_name": null,
            "email": "user3s@bikeindex.org",
            "individual_name": null,
            "name": null,
            "phone": null,
            "tax_exempt": "none",
            "tax_ids": null
          },
          "customer_email": "user3s@bikeindex.org",
          "discounts": [],
          "expires_at": 1765756939,
          "invoice": null,
          "invoice_creation": {
            "enabled": false,
            "invoice_data": {
              "account_tax_ids": null,
              "custom_fields": null,
              "description": null,
              "footer": null,
              "issuer": null,
              "metadata": {},
              "rendering_options": null
            }
          },
          "livemode": false,
          "locale": null,
          "metadata": {},
          "mode": "payment",
          "origin_context": null,
          "payment_intent": null,
          "payment_link": null,
          "payment_method_collection": "if_required",
          "payment_method_configuration_details": {
            "id": "pmc_0P68HJm0T0GBfX0vuIr5fXd9",
            "parent": null
          },
          "payment_method_options": {
            "card": {
              "request_three_d_secure": "automatic"
            }
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "permissions": null,
          "phone_number_collection": {
            "enabled": false
          },
          "recovered_from": null,
          "saved_payment_method_options": null,
          "setup_intent": null,
          "shipping_address_collection": null,
          "shipping_cost": null,
          "shipping_details": null,
          "shipping_options": [],
          "status": "open",
          "submit_type": "donate",
          "subscription": null,
          "success_url": "http://test.host/payments/success?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "ui_mode": "hosted",
          "url": "https://checkout.stripe.com/c/pay/cs_test_a1eEqkNEjBoCjwyEcWEfNDPX26pGly6JbH0ix86pFhcsd1sNmu9ALmjrBV#fidnandhYHdWcXxpYCc%2FJ2FgY2RwaXEnKSdkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2dkZm5id2pwa2FGamlqdyc%2FJyZjY2NjY2MnKSdpZHxqcHFRfHVgJz8ndmxrYmlgWmxxYGgnKSdga2RnaWBVaWRmYG1qaWFgd3YnP3F3cGB4JSUl",
          "wallet_options": null
        }
  recorded_at: Sun, 14 Dec 2025 00:02:20 GMT
recorded_with: VCR 6.3.1
