---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=davis,%20ca&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Sacramento, CA
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Davis\",\n
        \              \"short_name\" : \"Davis\",\n               \"types\" : \n
        \              [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Yolo County\",\n               \"short_name\" : \"Yolo County\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Davis, CA, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 38.57555500000001,\n                  \"lng\"
        : -121.6757771\n               },\n               \"southwest\" : \n               {\n
        \                 \"lat\" : 38.5348701,\n                  \"lng\" : -121.79394\n
        \              }\n            },\n            \"location\" : \n            {\n
        \              \"lat\" : 38.5449065,\n               \"lng\" : -121.7405167\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : \n            {\n               \"northeast\" : \n               {\n                  \"lat\"
        : 38.57555500000001,\n                  \"lng\" : -121.6757771\n               },\n
        \              \"southwest\" : \n               {\n                  \"lat\"
        : 38.5348701,\n                  \"lng\" : -121.79394\n               }\n
        \           }\n         },\n         \"place_id\" : \"ChIJP1SVlJkphYAR_4_ibhs_AcM\",\n
        \        \"types\" : \n         [\n            \"locality\",\n            \"political\"\n
        \        ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Thu, 19 Jun 2025 21:30:42 GMT
[...]
