---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Chicago,%20IL&key=<GOOGLE_GEOCODER>&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
      X-Goog-Maps-Metro-Area:
      - Chicago, IL
    body:
      encoding: UTF-8
      string: "{\n   \"results\" : \n   [\n      {\n         \"address_components\"
        : \n         [\n            {\n               \"long_name\" : \"Chicago\",\n
        \              \"short_name\" : \"Chicago\",\n               \"types\" : \n
        \              [\n                  \"locality\",\n                  \"political\"\n
        \              ]\n            },\n            {\n               \"long_name\"
        : \"Cook County\",\n               \"short_name\" : \"Cook County\",\n               \"types\"
        : \n               [\n                  \"administrative_area_level_2\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"Illinois\",\n               \"short_name\"
        : \"IL\",\n               \"types\" : \n               [\n                  \"administrative_area_level_1\",\n
        \                 \"political\"\n               ]\n            },\n            {\n
        \              \"long_name\" : \"United States\",\n               \"short_name\"
        : \"US\",\n               \"types\" : \n               [\n                  \"country\",\n
        \                 \"political\"\n               ]\n            }\n         ],\n
        \        \"formatted_address\" : \"Chicago, IL, USA\",\n         \"geometry\"
        : \n         {\n            \"bounds\" : \n            {\n               \"northeast\"
        : \n               {\n                  \"lat\" : 42.0231351,\n                  \"lng\"
        : -87.52366099999999\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 41.644286,\n                  \"lng\"
        : -87.94009699999999\n               }\n            },\n            \"location\"
        : \n            {\n               \"lat\" : 41.8781136,\n               \"lng\"
        : -87.6297982\n            },\n            \"location_type\" : \"APPROXIMATE\",\n
        \           \"viewport\" : \n            {\n               \"northeast\" :
        \n               {\n                  \"lat\" : 42.0231351,\n                  \"lng\"
        : -87.52366099999999\n               },\n               \"southwest\" : \n
        \              {\n                  \"lat\" : 41.644286,\n                  \"lng\"
        : -87.94009699999999\n               }\n            }\n         },\n         \"place_id\"
        : \"ChIJ7cv00DwsDogRAMDACa2m4K8\",\n         \"types\" : \n         [\n            \"locality\",\n
        \           \"political\"\n         ]\n      }\n   ],\n   \"status\" : \"OK\"\n}"
  recorded_at: Wed, 18 Jun 2025 15:15:41 GMT
recorded_with: VCR 6.3.1
