---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '7,26'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      Etag:
      - W/"99f4c6b9eb593b4f85867f4ee14f7d17"
      X-Readratelimit-Usage:
      - '7,26'
    body:
      encoding: ASCII-8BIT
      string: '{"id":2430215,"username":"sethherr","resource_state":2,"firstname":"seth","lastname":"herr","bio":"","city":"San
        Francisco","state":"California","country":"United States","sex":"M","premium":true,"summit":true,"created_at":"2013-06-26T20:41:15Z","updated_at":"2026-02-02T18:05:52Z","badge_type_id":1,"weight":72.5747,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/2430215/2807433/6/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/2430215/2807433/6/large.jpg","friend":null,"follower":null}'
  recorded_at: Sun, 08 Feb 2026 22:46:40 GMT
recorded_with: VCR 6.3.1
