---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/9876600
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9876600,"name":"Afternoon Ride","description":"Quick spin through the park after work.","distance":32000.0,"moving_time":4200,"elapsed_time":4500,"total_elevation_gain":250.0,"type":"Ride","sport_type":"Ride","start_date":"2025-06-16T14:00:00Z","start_date_local":"2025-06-16T07:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":[37.7849,-122.4094],"end_latlng":[37.7949,-122.3994],"location_city":"San Francisco","location_state":"California","location_country":"United States","achievement_count":3,"kudos_count":5,"comment_count":1,"athlete_count":1,"photo_count":0,"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear":{"id":"b1234","name":"My Road Bike","primary":true,"resource_state":2,"distance":50000.0},"average_speed":7.62,"max_speed":13.0,"average_watts":190.0,"has_heartrate":true,"average_heartrate":148.0,"max_heartrate":172.0,"photos":{"primary":null,"count":0},"resource_state":3}'
  recorded_at: Sun, 08 Feb 2026 12:00:04 GMT
recorded_with: VCR 6.0.0
