---
http_interactions:
- request:
    method: put
    uri: https://www.strava.com/api/v3/activities/17419209324?gear_id=b11099574
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Thu, 19 Feb 2026 21:22:23 GMT
recorded_with: VCR 6.3.1
