---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/9876543
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9876543,"name":"Morning Ride","description":"Beautiful morning ride through Golden Gate Park. Perfect weather and great views.","distance":25000.0,"moving_time":3600,"elapsed_time":4000,"total_elevation_gain":200.0,"type":"Ride","sport_type":"Ride","start_date":"2025-06-15T08:00:00Z","start_date_local":"2025-06-15T01:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":[37.7749,-122.4194],"end_latlng":[37.7849,-122.4094],"location_city":"San Francisco","location_state":"California","location_country":"United States","achievement_count":5,"kudos_count":10,"comment_count":2,"athlete_count":1,"photo_count":1,"photos":{"primary":{"unique_id":"photo_abc123","urls":{"100":"https://dgtzuqphqg23d.cloudfront.net/photo_100.jpg","600":"https://dgtzuqphqg23d.cloudfront.net/photo_600.jpg"}},"count":1},"map":{"id":"a9876543","polyline":"encodedpolylinedetail","summary_polyline":"encodedpolyline","resource_state":3},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"muted":false,"gear_id":"b1234","gear":{"id":"b1234","primary":true,"name":"My Road Bike","distance":50000.0,"resource_state":2},"average_speed":6.94,"max_speed":12.5,"average_watts":180.0,"weighted_average_watts":195.0,"kilojoules":648.0,"device_watts":true,"has_heartrate":true,"average_heartrate":145.0,"max_heartrate":175.0,"elev_high":150.0,"elev_low":10.0,"calories":620.0,"segment_efforts":[],"splits_metric":[],"laps":[],"resource_state":3}'
  recorded_at: Sun, 08 Feb 2026 12:00:04 GMT
recorded_with: VCR 6.0.0
