---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?page=1&per_page=1
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '6,25'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      Etag:
      - W/"08b624e9c73e3b456690c7489f74e78b"
      X-Readratelimit-Usage:
      - '6,25'
    body:
      encoding: ASCII-8BIT
      string: '[{"resource_state":2,"athlete":{"id":2430215,"resource_state":1},"name":"Thanks
        for coming across the bay!","distance":44936.4,"moving_time":9468,"elapsed_time":11079,"total_elevation_gain":669.0,"type":"EBikeRide","sport_type":"EBikeRide","device_name":"Strava
        App","id":17323701543,"start_date":"2026-02-07T23:39:36Z","start_date_local":"2026-02-07T15:39:36Z","timezone":"(GMT-08:00)
        America/Los_Angeles","utc_offset":-28800.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":8,"kudos_count":17,"comment_count":0,"athlete_count":1,"photo_count":0,"map":{"id":"a17323701543","summary_polyline":"svmeFzccjViBXAxD|@~V[hFf@|AHjCOvEn@|BAjEVhAc@hBTjByGz@gSv@Uz@PlDMvBXt@NdFe@xBjAjNg@fEYhBm@n@GxD_Bd@sH^wSj@qDtAqFj@d@zHyDbA`@vH{IhAeEr@vAtPIhCtC|ZDvEbDvb@MjAp@jHbFjPIpFo@LwEsDmDdAc@p@QfB`@|JOF_B{A}@Yij@zAk]vAkGKiA\\cB_@eH~@iA{BgKEqBjEFp@a@l@HjBuFhGsBfAi@xEwKlCg@dBx@|FSxCdAjGErBv@`BdA@[tCu@lBkCnCy@ROj@TJ[WeBbCoCrNeHdA_BlBmW@yAfDw@DOd@_B_AaA|AuAb@aFQ_BeAiFvCeHr@ygAdGgShBm_@vAgDrAwB~BkCzFkArFlCOzC`B|Ep@tBgBj@Gh@~@HhD`BvDCtAYxBgHv@sE|BgChCa@lACrDi@rAG|BrA`Ce@dBiCnA_BxJnAf@jA`BhF`BL~Dd@fDh@bA|BbArAhChESdC{AtDfEnCvANZ[KVC@DW@HZMW\\MMOMFRX?c@dAGpAdBoAlGEzBqBbBsAzF~BvFzAx@f@hAZ~Ck@fCnAhEqBbC_@nF}FvJ[lBtDzLJlGo@xFvAhBrA~JuAnDq@hHyChEg@|Cf@bBCzAqAhD`Cd@xAz@dELJ^eAhAiG{@yDxEcA`C_BKoCgLF{JYqAs@o@sBPeCyAiC[}AoDIcEj@sLvAgGzCkHh@wO{@uHeIeZ{@iLy@}A}EmBkAiHqA_DmL{NaE_CoFsFkIuRImAj@eD_A{FjCeAxRsn@hBgCdDMtBnAhBtEtCz@rDgDxDcBbB}GfAiBGcAdAyAbBkAjGuAnaCqNzBq@tCyBdAbAlE^hEeCdBl@jB}Aj@yApA_@nMKzEh@p@Wx@_BjDG\\bCl@~@dIfC|DxDtAClBqAfDqFrBiAPuAoCiIFkEqAaD_@kDkAqDFgBlAaB@g@sAgCw@aE_CuDP_FrFeFb@mC~AuCx@WdBpAzAu@PiAzJaK?}Bh@m@jBIhAdAb`@oBrBVvUiA|LBKQ`@UxAQ~DCnLi@rBXxAtAJ}@{@gHH{Ar@mB|CsAvDdF`CYZsEhBWIo@t@eFaBcRAqF{B{X]qJk@_Ks@iD?{ByAsPg@}PqAcLFqAuAaPNk@]e@cA{SWgDa@yAEoE`@j@m@qCs@{KwIj@Wd@RjDUf@PrCTFGEZFOG@v@ZbCf@v@nUyBxBqAhH]RgCxHu@ByKy@mZlf@sCE}JNi@fRwAQyN~Ag@","resource_state":2},"trainer":false,"commute":false,"manual":false,"private":false,"visibility":"everyone","flagged":false,"gear_id":"b14918050","start_latlng":[37.756711,-122.40951],"end_latlng":[37.756673,-122.409155],"average_speed":4.746,"max_speed":17.36,"average_watts":129.0,"device_watts":false,"kilojoules":1221.4,"has_heartrate":true,"average_heartrate":115.0,"max_heartrate":167.0,"heartrate_opt_out":false,"display_hide_heartrate_option":true,"elev_high":248.6,"elev_low":4.9,"upload_id":18420174046,"upload_id_str":"18420174046","external_id":"1DE335B6-F3E5-4CAF-B4EE-873F7BB0DDFF-activity.fit","from_accepted_tag":false,"pr_count":0,"total_photo_count":2,"has_kudoed":false,"suffer_score":27.0}]'
  recorded_at: Sun, 08 Feb 2026 22:46:40 GMT
recorded_with: VCR 6.3.1
