---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Tue, 17 Feb 2026 20:23:36 GMT
recorded_with: VCR 6.3.1
