---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<STRAVA_KEY>&client_secret=<STRAVA_SECRET>&grant_type=refresh_token&refresh_token=<STRAVA_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"0cdc9cfed0c7f135e6f6245774d3b7d1"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"065bf162889d96726f8dd2299ddac8e1f0f2285c","expires_at":1771560210,"expires_in":20972,"refresh_token":"<STRAVA_TEST_REFRESH_TOKEN>"}'
  recorded_at: Thu, 19 Feb 2026 22:13:58 GMT
- request:
    method: put
    uri: https://www.strava.com/api/v3/activities/17419209324?gear_id=b11099574
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
      X-Ratelimit-Usage:
      - '2,2'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      X-Readratelimit-Usage:
      - '2,2'
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Resource Not Found","errors":[{"resource":"Activity","field":"","code":"not
        found"}]}'
  recorded_at: Thu, 19 Feb 2026 22:13:58 GMT
recorded_with: VCR 6.3.1
