---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activitiesasdfasdfsdf
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 404 Not Found
    body:
      encoding: ASCII-8BIT
      string: '{"message":"Record Not Found","errors":[{"resource":"resource","field":"path","code":"invalid"}]}'
  recorded_at: Thu, 19 Feb 2026 23:31:41 GMT
recorded_with: VCR 6.3.1
