---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?per_page=200
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Rate Limit Exceeded","errors":[{"resource":"Application","field":"rate limit","code":"exceeded"}]}'
  recorded_at: Sun, 08 Feb 2026 22:46:00 GMT
recorded_with: VCR 6.3.1
