---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities?page=1&per_page=200
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":9876543,"name":"Morning Ride","distance":25000.0,"moving_time":3600,"elapsed_time":4000,"total_elevation_gain":200.0,"type":"Ride","sport_type":"Ride","start_date":"2025-06-15T08:00:00Z","start_date_local":"2025-06-15T01:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":[37.7749,-122.4194],"end_latlng":[37.7849,-122.4094],"achievement_count":5,"kudos_count":10,"comment_count":2,"athlete_count":1,"photo_count":1,"map":{"id":"a9876543","summary_polyline":"encodedpolyline"},"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"b1234","average_speed":6.94,"max_speed":12.5,"average_watts":180.0,"kilojoules":648.0,"has_heartrate":true,"average_heartrate":145.0,"max_heartrate":175.0,"elev_high":150.0,"elev_low":10.0,"upload_id":12345,"external_id":"garmin_push_12345","from_accepted_tag":false,"pr_count":2,"total_photo_count":1,"has_kudoed":false,"resource_state":2},{"id":9876544,"name":"Evening Run","distance":5000.0,"moving_time":1800,"elapsed_time":2000,"total_elevation_gain":50.0,"type":"Run","sport_type":"Run","start_date":"2025-06-14T18:00:00Z","start_date_local":"2025-06-14T11:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":[37.7749,-122.4194],"end_latlng":[37.7749,-122.4194],"achievement_count":1,"kudos_count":3,"comment_count":0,"athlete_count":1,"photo_count":0,"trainer":false,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"g9012","average_speed":2.78,"max_speed":4.5,"has_heartrate":true,"average_heartrate":155.0,"max_heartrate":180.0,"resource_state":2},{"id":9876545,"name":"Zwift Session","distance":30000.0,"moving_time":3000,"elapsed_time":3200,"total_elevation_gain":400.0,"type":"VirtualRide","sport_type":"VirtualRide","start_date":"2025-06-13T07:00:00Z","start_date_local":"2025-06-13T00:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":null,"end_latlng":null,"trainer":true,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"b1234","average_speed":10.0,"max_speed":15.0,"average_watts":200.0,"resource_state":2}]'
  recorded_at: Sun, 08 Feb 2026 12:00:03 GMT
recorded_with: VCR 6.0.0
