---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/630203151
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Application","field":"","code":"invalid"}]}'
  recorded_at: Fri, 27 Feb 2026 23:49:00 GMT
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<STRAVA_KEY>&client_secret=<STRAVA_SECRET>&grant_type=refresh_token&refresh_token=<STRAVA_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      Etag:
      - W/"de40cc532eddde0dd1038c46884ebff9"
    body:
      encoding: ASCII-8BIT
      string: '{"token_type":"Bearer","access_token":"28a051c4da6003fa22b74f2a79259e94cf06b5c1","expires_at":1772257740,"expires_in":21600,"refresh_token":"<STRAVA_TEST_REFRESH_TOKEN>"}'
  recorded_at: Fri, 27 Feb 2026 23:49:00 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/630203151
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '1,246'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      Etag:
      - W/"8d48828b9467cc87ad541878bfc2f468"
      X-Readratelimit-Usage:
      - '1,246'
    body:
      encoding: ASCII-8BIT
      string: '{"resource_state":3,"athlete":{"id":2430215,"resource_state":1},"name":"Dunes
        trip ''16","distance":95650.5,"moving_time":15543,"elapsed_time":19705,"total_elevation_gain":28.9,"type":"Ride","sport_type":"Ride","workout_type":10,"id":630203151,"start_date":"2016-07-04T14:36:55Z","start_date_local":"2016-07-04T09:36:55Z","timezone":"(GMT-06:00)
        America/Chicago","utc_offset":-18000.0,"location_city":null,"location_state":null,"location_country":null,"achievement_count":24,"kudos_count":4,"comment_count":0,"athlete_count":2,"photo_count":0,"map":{"id":"a630203151","polyline":"gyz|FxtfsOCo@@{FAsFDqVC_OE{BS}AZqA~@w@BUg@uAEUcD{H_D_I_B{EiBmEqCuHBICy@\\Q\\@QBDLPMbB?lADDOnKBxN?LJbAAJKdYUzAAbENpDUvAE|CAHP`B@n@AJWvMAdNQrJApDGLVlAALWdNGH|BA~BB|BJzF~AI~c@Uv@?RN@`GGnOKlm@rC?HF^AJGhGCHFXAHEnSMl@B`BG|DCl@zAf@|Ad@lBZj@`@vBp@bAb@zBv@xAZpBVn@j@x@pCnIj@vB`@bAVhAr@hBDHRN`@|BEd@Vn@ALbAzBHDf@nBdBvEl@fBvAnD?Jp@hBPt@tAxEl@vANJ@Ph@dC?dCRxBP`AxCtBD\\Z`Al@n@Pl@DXb@~@HhATfAANRh@RVD\\h@r@Jh@FF@NTb@Rh@?TJJ@JTXL|@n@lB^pAl@fBr@dBx@|CVn@@PHLPx@`@|@Jj@`@dAHJNn@LLTp@B^DJPFTf@Pr@@Rh@hBh@rBhAbDXp@V|@[...]
