---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/456
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - "600,6000"
      X-RateLimit-Usage:
      - "43,351"
      X-ReadRateLimit-Limit:
      - "600,6000"
      X-ReadRateLimit-Usage:
      - "43,351"
    body:
      encoding: UTF-8
      string: '{"id":456,"name":"Evening Ride","sport_type":"Ride","distance":15000.0,"moving_time":2700,"type":"Ride","description":"Nice evening ride","kudos_count":5,"start_date":"2026-02-08T18:00:00Z"}'
  recorded_at: Sun, 08 Feb 2026 22:46:01 GMT
recorded_with: VCR 6.3.1
