---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=test_strava_key&client_secret=test_strava_secret&code=bad_code&grant_type=authorization_code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Bad Request","errors":[{"resource":"Application","field":"code","code":"invalid"}]}'
  recorded_at: Sun, 08 Feb 2026 12:00:07 GMT
recorded_with: VCR 6.0.0
