---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/6969
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 429
      message: Too Many Requests
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - '100,1000'
      X-RateLimit-Usage:
      - '101,350'
      X-ReadRateLimit-Limit:
      - '100,1000'
      X-ReadRateLimit-Usage:
      - '101,350'
    body:
      encoding: UTF-8
      string: '{"message":"Rate Limit Exceeded","errors":[{"resource":"Application","field":"rate
        limit","code":"exceeded"}]}'
  recorded_at: Sun, 08 Feb 2026 22:46:00 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/12345
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 401 Unauthorized
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Application","field":"","code":"invalid"}]}'
  recorded_at: Fri, 06 Mar 2026 22:46:19 GMT
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<STRAVA_KEY>&client_secret=<STRAVA_SECRET>&grant_type=refresh_token&refresh_token=strava_test_refresh_token_456
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 400 Bad Request
    body:
      encoding: UTF-8
      string: '{"message":"Bad Request","errors":[{"resource":"RefreshToken","field":"refresh_token","code":"invalid"}]}'
  recorded_at: Fri, 06 Mar 2026 22:46:19 GMT
recorded_with: VCR 6.4.0
