---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/activities/9876545
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":9876545,"name":"Zwift Session","description":"Indoor training session on Zwift. Watopia route.","distance":30000.0,"moving_time":3000,"elapsed_time":3200,"total_elevation_gain":400.0,"type":"VirtualRide","sport_type":"VirtualRide","start_date":"2025-06-13T07:00:00Z","start_date_local":"2025-06-13T00:00:00Z","timezone":"(GMT-08:00) America/Los_Angeles","start_latlng":null,"end_latlng":null,"location_city":null,"location_state":null,"location_country":null,"photos":{"primary":null,"count":0},"trainer":true,"commute":false,"manual":false,"private":false,"flagged":false,"gear_id":"b1234","gear":{"id":"b1234","primary":true,"name":"My Road Bike","distance":50000.0,"resource_state":2},"average_speed":10.0,"max_speed":15.0,"average_watts":200.0,"resource_state":3}'
  recorded_at: Sun, 08 Feb 2026 12:00:05 GMT
recorded_with: VCR 6.0.0
