---
http_interactions:
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<STRAVA_KEY>&client_secret=<STRAVA_SECRET>&code=test_auth_code&grant_type=authorization_code
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_at":1770612384,"expires_in":21600,"refresh_token":"<STRAVA_TEST_REFRESH_TOKEN>","access_token":"<STRAVA_TEST_ACCESS_TOKEN>","athlete":{"id":2430215,"username":"sethherr","resource_state":2,"firstname":"seth","lastname":"herr","bio":"","city":"San Francisco","state":"California","country":"United States","sex":"M","premium":true,"summit":true,"created_at":"2013-06-26T20:41:15Z","updated_at":"2026-02-02T18:05:52Z","badge_type_id":1,"weight":72.5747,"profile_medium":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/2430215/2807433/6/medium.jpg","profile":"https://dgalywyr863hv.cloudfront.net/pictures/athletes/2430215/2807433/6/large.jpg","friend":null,"follower":null}}'
  recorded_at: Sun, 08 Feb 2026 22:46:00 GMT
recorded_with: VCR 6.3.1
