---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athletes/2430215/stats
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Status:
      - 200 OK
      X-Ratelimit-Usage:
      - '5,24'
      X-Ratelimit-Limit:
      - '600,6000'
      X-Readratelimit-Limit:
      - '300,3000'
      Etag:
      - W/"a64698e965ce8f1776ae718e20f22c14"
      X-Readratelimit-Usage:
      - '5,24'
    body:
      encoding: ASCII-8BIT
      string: '{"biggest_ride_distance":652858.0,"biggest_climb_elevation_gain":1720.0,"recent_ride_totals":{"count":8,"distance":419107.30000000005,"moving_time":75755,"elapsed_time":99396,"elevation_gain":6928.0,"achievement_count":0},"all_ride_totals":{"count":1655,"distance":61455475.20000006,"moving_time":11411609,"elapsed_time":23412380,"elevation_gain":777461.0999999995},"recent_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0,"achievement_count":0},"all_run_totals":{"count":162,"distance":738701.4,"moving_time":262546,"elapsed_time":2037761,"elevation_gain":9725.399999999998},"recent_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0,"achievement_count":0},"all_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_ride_totals":{"count":13,"distance":505950,"moving_time":89672.0,"elapsed_time":114987.0,"elevation_gain":7719.0},"ytd_run_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0},"ytd_swim_totals":{"count":0,"distance":0,"moving_time":0,"elapsed_time":0,"elevation_gain":0}}'
  recorded_at: Sun, 08 Feb 2026 22:46:39 GMT
recorded_with: VCR 6.3.1
