---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":12345678,"username":"testathlete","firstname":"Test","lastname":"User","city":"San Francisco","state":"California","country":"United States","sex":"M","premium":true,"created_at":"2015-01-01T00:00:00Z","updated_at":"2025-01-01T00:00:00Z","follower_count":50,"friend_count":100,"measurement_preference":"feet","bikes":[{"id":"b1234","primary":true,"name":"My Road Bike","distance":50000.0,"resource_state":2},{"id":"b5678","primary":false,"name":"My Mountain Bike","distance":25000.0,"resource_state":2}],"shoes":[{"id":"g9012","primary":true,"name":"Running Shoes","distance":1000.0,"resource_state":2}]}'
  recorded_at: Sun, 08 Feb 2026 12:00:01 GMT
recorded_with: VCR 6.0.0
