---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 401
      message: Unauthorized
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"message":"Authorization Error","errors":[{"resource":"Athlete","field":"access_token","code":"invalid"}]}'
  recorded_at: Sun, 08 Feb 2026 22:46:00 GMT
- request:
    method: post
    uri: https://www.strava.com/oauth/token
    body:
      encoding: UTF-8
      string: client_id=<STRAVA_KEY>&client_secret=<STRAVA_SECRET>&grant_type=refresh_token&refresh_token=<STRAVA_TEST_REFRESH_TOKEN>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"token_type":"Bearer","expires_at":1900000000,"expires_in":21600,"refresh_token":"<STRAVA_TEST_REFRESH_TOKEN>","access_token":"<STRAVA_TEST_ACCESS_TOKEN>"}'
  recorded_at: Sun, 08 Feb 2026 22:46:01 GMT
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":2430215,"username":"sethherr","resource_state":2,"firstname":"seth","lastname":"herr"}'
  recorded_at: Sun, 08 Feb 2026 22:46:02 GMT
recorded_with: VCR 6.3.1
