---
http_interactions:
- request:
    method: get
    uri: https://www.strava.com/api/v3/athlete/activities
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      X-RateLimit-Limit:
      - "600,6000"
      X-RateLimit-Usage:
      - "12,120"
      X-ReadRateLimit-Limit:
      - "600,6000"
      X-ReadRateLimit-Usage:
      - "12,120"
    body:
      encoding: UTF-8
      string: '[{"id":123,"name":"Morning Ride","sport_type":"Ride","distance":25000.0,"moving_time":3600,"type":"Ride"}]'
  recorded_at: Sun, 08 Feb 2026 22:46:00 GMT
recorded_with: VCR 6.3.1
