---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_0Qv3uJm0T0GBfX0v77OTe6ii
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - ABGHIJ
    body:
      encoding: UTF-8
      string: |
        {
          "error": {
            "code": "resource_missing",
            "doc_url": "https://stripe.com/docs/error-codes/resource-missing",
            "message": "No such subscription: 'sub_0Qv3uJm0T0GBfX0v77OTe6ii'",
            "param": "id",
            "request_log_url": "https://dashboard.stripe.com/<CLOUDFLARE_TOKEN>/logs/req_tdWCZMtdxY037V?t=1766690774",
            "type": "invalid_request_error"
          }
        }
  recorded_at: Thu, 25 Dec 2025 19:26:14 GMT
recorded_with: VCR 6.3.1
