---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/products?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "prod_Rld9TmkiZwPAi2",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1739466465,
              "default_price": "price_0Qs5t7m0T0GBfX0vnALQrD8t",
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Patron Membership",
              "package_dimensions": null,
              "shippable": null,
              "statement_descriptor": null,
              "tax_code": null,
              "type": "service",
              "unit_label": null,
              "updated": 1739466542,
              "url": null
            },
            {
              "id": "prod_Rld8cRL9WZDT4c",
              "object": "product",
              "active": true,
              "attributes": [],
              "created": 1739466396,
              "default_price": "price_0Qs5s1m0T0GBfX0visCJi4lq",
              "description": null,
              "images": [],
              "livemode": false,
              "marketing_features": [],
              "metadata": {},
              "name": "Membership +",
              "pack[...]
[...]
- request:
    method: get
    uri: https://api.stripe.com/v1/prices?active=true&limit=100
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - AB
    body:
      encoding: UTF-8
      string: |-
        {
          "object": "list",
          "data": [
            {
              "id": "price_0Qs63vm0T0GBfX0vUpAL0xLo",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1739467135,
              "currency": "eur",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_Rld8cRL9WZDT4c",
              "recurring": {
                "aggregate_usage": null,
                "interval": "year",
                "interval_count": 1,
                "meter": null,
                "trial_period_days": null,
                "usage_type": "licensed"
              },
              "tax_behavior": "unspecified",
              "tiers_mode": null,
              "transform_quantity": null,
              "type": "recurring",
              "unit_amount": 9999,
              "unit_amount_decimal": "9999"
            },
            {
              "id": "price_0Qs61bm0T0GBfX0vjadfNRv8",
              "object": "price",
              "active": true,
              "billing_scheme": "per_unit",
              "created": 1739466991,
              "currency": "cad",
              "custom_unit_amount": null,
              "livemode": false,
              "lookup_key": null,
              "metadata": {},
              "nickname": null,
              "product": "prod_Rld50xInuW3d5A",
             [...]
[...]
