---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages.json
    body:
      encoding: UTF-8
      string: Body=This+is+a+test+message&From=%2B15005550006&To=5102224444
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ23fd11f98ba9418ebcd09a4e1ec66889
      Twilio-Request-Duration:
      - '0.063'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM60408f202c6b48e29b227d93d68b79fc", "date_created": "Thu,
        08 Oct 2020 20:14:30 +0000", "date_updated": "Thu, 08 Oct 2020 20:14:30 +0000",
        "date_sent": null, "account_sid": "ACaaf3fd927e285a0be17407d1be369451", "to":
        "+15102224444", "from": "+15005550006", "messaging_service_sid": null, "body":
        "This is a test message", "status": "queued", "num_segments": "1", "num_media":
        "0", "direction": "outbound-api", "api_version": "2010-04-01", "price": null,
        "price_unit": "USD", "error_code": null, "error_message": null, "uri": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SM60408f202c6b48e29b227d93d68b79fc.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SM60408f202c6b48e29b227d93d68b79fc/Media.json"}}'
  recorded_at: Thu, 08 Oct 2020 20:14:30 GMT
recorded_with: VCR 5.0.0
