---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/interest-categories/2e650f9110/interests
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Interests/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"interests":[{"category_id":"2e650f9110","list_id":"b675299293","id":"cbca7bf705","name":"Bike
        shop","subscriber_count":"1361","display_order":1,"_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/interest-categories/2e650f9110/interests/cbca7bf705","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/interest-categories/2e650f9110/interests","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Interests/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/interest-categories/2e650f9110/interests/cbca7bf705","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Interests/PATCH.json"},{"rel":"delete","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/intere[...]
