---
http_interactions:
- request:
    method: put
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/d726fb98b4ea8040017e1571ca9ef3e6
    body:
      encoding: UTF-8
      string: '{"email_address":"seth+archived@bikeindex.org","full_name":"Seth Herr","status_if_new":"subscribed","merge_fields":{},"interests":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us6.admin.mailchimp.com/lists/members/view?id=561663938>; rel="dashboard"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"d726fb98b4ea8040017e1571ca9ef3e6","email_address":"seth+archived@bikeindex.org","unique_email_id":"16ef9a622b","full_name":"","web_id":561663938,"email_type":"html","status":"subscribed","merge_fields":{"PHONE":"","MMERGE5":"","MMERGE9":"","MMERGE10":"","NAME":"","O_NAME":"","O_AT":"","O_CITY":"","O_STATE":"","O_COUNTRY":"","SIGN_UP_AT":""},"interests":{"cbca7bf705":false,"11f66ed17a":false,"c5bbab099c":false},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"23.115.138.69","timestamp_opt":"2021-06-23T17:12:56+00:00","member_rating":2,"last_changed":"2021-06-23T17:47:21+00:00","language":"","vip":false,"email_client":"","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":0,"tags":[],"list_id":"b675299293","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/d726fb98b4ea8040017e1571ca9ef3e6","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/d726fb98b4ea8040017e1571ca9ef3e6","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/d726fb98b4ea804[...]
- request:
    method: delete
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/d726fb98b4ea8040017e1571ca9ef3e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Wed, 23 Jun 2021 17:50:24 GMT
- request:
    method: delete
    uri: https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/d726fb98b4ea8040017e1571ca9ef3e6
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Resource
        Not Found","status":404,"detail":"The requested resource could not be found.","instance":"57f7034e-41de-ac3f-8db7-bd282f1dbe23"}'
  recorded_at: Wed, 23 Jun 2021 17:52:46 GMT
recorded_with: VCR 5.0.0
