---
http_interactions:
- request:
    method: put
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7
    body:
      encoding: UTF-8
      string: '{"email_address":"seth@bikeindex.org","full_name":"Seth Herr","status_if_new":"subscribed","merge_fields":{"O_CITY":"Los
        Angeles","O_STATE":"CA","O_COUNTRY":"US"},"interests":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us6.admin.mailchimp.com/lists/members/view?id=549669146>; rel="dashboard"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"56a9d336c189b65b4f1269478b987fa7","email_address":"seth@bikeindex.org","unique_email_id":"921735569d","full_name":"Seth
        Herr","web_id":549669146,"email_type":"html","status":"subscribed","merge_fields":{"PHONE":"xxxxxxx","MMERGE5":"","MMERGE9":"","MMERGE10":"","NAME":"Seth
        Herr","O_NAME":"Hogwarts","O_AT":"2019-03-08","O_CITY":"Los Angeles","O_STATE":"CA","O_COUNTRY":"US","SIGN_UP_AT":"2013-07-14"},"interests":{"cbca7bf705":false,"11f66ed17a":false,"c5bbab099c":true},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"99.14.101.245","timestamp_opt":"2021-06-15T22:25:35+00:00","member_rating":2,"last_changed":"2021-06-22T18:58:38+00:00","language":"","vip":false,"email_client":"Gmail","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":3,"tags":[{"id":1882022,"name":"Not org creator"},{"id":1881982,"name":"Paid"},{"id":87306,"name":"In
        Bike Index"}],"list_id":"b675299293","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65[...]
- request:
    method: post
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7/tags
    body:
      encoding: UTF-8
      string: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 22 Jun 2021 18:58:38 GMT
- request:
    method: put
    uri: https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/56a9d336c189b65b4f1269478b987fa7
    body:
      encoding: UTF-8
      string: '{"email_address":"seth@bikeindex.org","full_name":"Seth Herr","status_if_new":"subscribed","merge_fields":{},"interests":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us6.admin.mailchimp.com/lists/members/view?id=207775178>; rel="dashboard"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"56a9d336c189b65b4f1269478b987fa7","email_address":"seth@bikeindex.org","unique_email_id":"921735569d","full_name":"Seth
        Herr","web_id":207775178,"email_type":"html","status":"subscribed","merge_fields":{"PHONE":"xxxxxxx","NAME":"Seth
        Herr","SIGN_UP_AT":"2013-07-14","DONATE_AT":"","BIKES":9,"DONATE_NUM":"","CITY":"","STATE":"","COUNTRY":"","RECOVE_AT":"2015-08-05"},"interests":{"938bcefe9e":true,"d14183c940":true},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"","timestamp_opt":"2021-03-19T19:17:32+00:00","member_rating":2,"last_changed":"2021-06-22T18:58:38+00:00","language":"","vip":false,"email_client":"Gmail","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"Import","tags_count":2,"tags":[{"id":1892850,"name":"Weird
        new tag"},{"id":1889682,"name":"In Bike Index"}],"list_id":"180a1141a4","[...]
- request:
    method: post
    uri: https://us6.api.mailchimp.com/3.0/lists/180a1141a4/members/56a9d336c189b65b4f1269478b987fa7/tags
    body:
      encoding: UTF-8
      string: '{"tags":[]}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 204
      message: No Content
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: ASCII-8BIT
      string: ''
  recorded_at: Tue, 22 Jun 2021 18:58:39 GMT
recorded_with: VCR 5.0.0
