---
http_interactions:
- request:
    method: put
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/3df68f3c8d7bcc65d87c574f900ac830
    body:
      encoding: UTF-8
      string: '{"email_address":"asdf891234123@sneakemail.com","full_name":"Seth Herr","status_if_new":"subscribed","merge_fields":{},"interests":{}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      Content-Type:
      - application/problem+json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Definitions/ProblemDetailDocument.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"type":"https://mailchimp.com/developer/marketing/docs/errors/","title":"Invalid
        Resource","status":400,"detail":"asdf891234123@sneakemail.com looks fake or
        invalid, please enter a real email address.","instance":"7015bd90-3752-43af-fa6d-e9406cda1807"}'
  recorded_at: Wed, 23 Jun 2021 18:48:50 GMT
recorded_with: VCR 5.0.0
