---
http_interactions:
- request:
    method: get
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/MergeFields/Collection.json>;
        rel="describedBy"
    body:
      encoding: ASCII-8BIT
      string: '{"merge_fields":[{"merge_id":3,"tag":"ADDRESS","name":"Address","type":"address","required":false,"default_value":"","public":false,"display_order":4,"options":{"default_country":164},"help_text":"","list_id":"b675299293","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields/3","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/MergeFields/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields/3","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/PATCH.json"},{"rel":"delete","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields/3","method":"DELETE"}]},{"merge_id":1,"tag":"FNAME","name":"First
        Name","type":"text","required":false,"default_value":"","public":true,"display_order":2,"options":{"size":25},"help_text":"","list_id":"b675299293","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields/1","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/merge-fields","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/MergeFields/CollectionResponse.json","schema":"https://us6.api[...]
