---
http_interactions:
- request:
    method: put
    uri: https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7
    body:
      encoding: UTF-8
      string: '{"email_address":"seth@bikeindex.org","full_name":"Seth Herr","status_if_new":"subscribed","merge_fields":{"O_NAME":"Hogwarts","O_AT":"2021-06-15T17:25:34.721-05:00","NAME":"Seth
        Herr"},"interests":{"c5bbab099c":true}}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Link:
      - <https://us6.api.mailchimp.com/schema/3.0/Lists/Members/Instance.json>; rel="describedBy",
        <https://us6.admin.mailchimp.com/lists/members/view?id=549669146>; rel="dashboard"
    body:
      encoding: ASCII-8BIT
      string: '{"id":"56a9d336c189b65b4f1269478b987fa7","email_address":"seth@bikeindex.org","unique_email_id":"921735569d","full_name":"Seth
        Herr","web_id":549669146,"email_type":"html","status":"subscribed","merge_fields":{"O_ADDRESS":"","PHONE":"","MMERGE5":"","MMERGE9":"","MMERGE10":"","NAME":"Seth
        Herr","O_NAME":"Hogwarts","O_AT":"2021-06-15"},"interests":{"cbca7bf705":false,"11f66ed17a":false,"c5bbab099c":true},"stats":{"avg_open_rate":0,"avg_click_rate":0},"ip_signup":"","timestamp_signup":"","ip_opt":"99.14.101.245","timestamp_opt":"2021-06-15T22:25:35+00:00","member_rating":2,"last_changed":"2021-06-15T22:25:35+00:00","language":"","vip":false,"email_client":"Gmail","location":{"latitude":0,"longitude":0,"gmtoff":0,"dstoff":0,"country_code":"","timezone":""},"source":"API
        - Generic","tags_count":0,"tags":[],"list_id":"b675299293","_links":[{"rel":"self","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json"},{"rel":"parent","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members","method":"GET","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/CollectionResponse.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Paths/Lists/Members/Collection.json"},{"rel":"update","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65b4f1269478b987fa7","method":"PATCH","targetSchema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/Response.json","schema":"https://us6.api.mailchimp.com/schema/3.0/Definitions/Lists/Members/PATCH.json"},{"rel":"upsert","href":"https://us6.api.mailchimp.com/3.0/lists/b675299293/members/56a9d336c189b65[...]
