---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages.json
    body:
      encoding: UTF-8
      string: Body=Bike+Index+confirmation+code%3A++474+3739&From=%2B15005550006&To=7733234433
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ5734314c08704b729e5dee973c875228
      Twilio-Request-Duration:
      - '0.073'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMedc8366cd95b44dd9321708b0955d8c3", "date_created": "Fri,
        09 Oct 2020 17:21:20 +0000", "date_updated": "Fri, 09 Oct 2020 17:21:20 +0000",
        "date_sent": null, "account_sid": "ACaaf3fd927e285a0be17407d1be369451", "to":
        "+17733234433", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Bike Index confirmation code:  474 3739", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SMedc8366cd95b44dd9321708b0955d8c3.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SMedc8366cd95b44dd9321708b0955d8c3/Media.json"}}'
  recorded_at: Fri, 09 Oct 2020 17:21:20 GMT
recorded_with: VCR 5.0.0
