---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages.json
    body:
      encoding: UTF-8
      string: Body=Bike+Index+confirmation+code%3A++373+2672&From=%2B15005550006&To=7178386789
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQ33d9744107dd45628644d53e58cdfa82
      Twilio-Request-Duration:
      - '0.049'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SM2862389fde6f44359b689c1b06016087", "date_created": "Thu,
        08 Oct 2020 23:59:06 +0000", "date_updated": "Thu, 08 Oct 2020 23:59:06 +0000",
        "date_sent": null, "account_sid": "ACaaf3fd927e285a0be17407d1be369451", "to":
        "+17178386789", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Bike Index confirmation code:  373 2672", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SM2862389fde6f44359b689c1b06016087.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SM2862389fde6f44359b689c1b06016087/Media.json"}}'
  recorded_at: Thu, 08 Oct 2020 23:59:06 GMT
recorded_with: VCR 5.0.0
