---
http_interactions:
- request:
    method: post
    uri: https://api.twilio.com/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages.json
    body:
      encoding: UTF-8
      string: Body=Bike+Index+confirmation+code%3A++633+9222&From=%2B15005550006&To=15005550006
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 201
      message: CREATED
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Twilio-Concurrent-Requests:
      - '1'
      Twilio-Request-Id:
      - RQa5d86da6ba8348d2b8e9e3521ad8a850
      Twilio-Request-Duration:
      - '0.048'
      X-Shenanigans:
      - none
      X-Home-Region:
      - us1
      X-Api-Domain:
      - api.twilio.com
    body:
      encoding: UTF-8
      string: '{"sid": "SMa74928f0ce6e46c7ad499c15df76b1e4", "date_created": "Fri,
        09 Oct 2020 20:13:37 +0000", "date_updated": "Fri, 09 Oct 2020 20:13:37 +0000",
        "date_sent": null, "account_sid": "ACaaf3fd927e285a0be17407d1be369451", "to":
        "+15005550006", "from": "+15005550006", "messaging_service_sid": null, "body":
        "Bike Index confirmation code:  633 9222", "status": "queued", "num_segments":
        "1", "num_media": "0", "direction": "outbound-api", "api_version": "2010-04-01",
        "price": null, "price_unit": "USD", "error_code": null, "error_message": null,
        "uri": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SMa74928f0ce6e46c7ad499c15df76b1e4.json",
        "subresource_uris": {"media": "/2010-04-01/Accounts/ACaaf3fd927e285a0be17407d1be369451/Messages/SMa74928f0ce6e46c7ad499c15df76b1e4/Media.json"}}'
  recorded_at: Fri, 09 Oct 2020 20:13:37 GMT
recorded_with: VCR 5.0.0
