---
http_interactions:
- request:
    method: get
    uri: https://maps.googleapis.com/maps/api/geocode/json?address=Cortland%20and%20Ashland,%20IL,%2060622,%20US&language=en&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: ASCII-8BIT
      string: |
        {
           "results" : [
              {
                 "address_components" : [
                    {
                       "long_name" : "United States",
                       "short_name" : "US",
                       "types" : [ "country", "political" ]
                    },
                    {
                       "long_name" : "Bucktown",
                       "short_name" : "Bucktown",
                       "types" : [ "neighborhood", "political" ]
                    },
                    {
                       "long_name" : "Chicago",
                       "short_name" : "Chicago",
                       "types" : [ "locality", "political" ]
                    },
                    {
                       "long_name" : "Cook County",
                       "short_name" : "Cook County",
                       "types" : [ "administrative_area_level_2", "political" ]
                    },
                    {
                       "long_name" : "Illinois",
                       "short_name" : "IL",
                       "types" : [ "administrative_area_level_1", "political" ]
                    },
                    {
                       "long_name" : "60622",
                       "short_name" : "60622",
                       "types" : [ "postal_code" ]
                    }
                 ],
                 "formatted_address" : "Chicago, IL 60622, USA",
                 "geometry" : {
                    "location" : {
                       "lat" : 41.9160178,
                       "lng" : -87.66812849999999
                    },
                    "location_type" : "GEOMETRIC_CENTER",
                    "viewport" : {
                       "northeast" : {
                          "lat" : 41.91736678029149,
                          "lng" : -87.66677951970848
                       },
                       "southwest" : {
                          "lat" : 41.9146688197085,
                          "lng" : -87.6694774802915
                       }
                    }
                 },
                 "place_id" : "ChIJOddSAOjSD4gRfJHFSVhXVSM",
                 "types" : [
                    "bus_station",
                    "establishment",
                    "point_of_interest",
                    "transit_station"
                 ]
              },
              {
                 "address_components" : [
                    {
                       "long_name" : "1645",
                       "short_name" : "1645",
                       "types" : [ "street_number" ]
                    },
     [...]
