---
http_interactions:
- request:
    method: get
    uri: https://api.stripe.com/v1/subscriptions/sub_0Tb1okm0T0GBfX0vIuafkiOk
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Stripe-Version:
      - 2025-01-27.acacia
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Notice:
      - You are using an outdated API version (2025-01-27.acacia). We recommend upgrading
        to the latest API version, 2026-04-22.dahlia. See https://docs.stripe.com/upgrades
      Stripe-Version:
      - 2025-01-27.acacia
      X-Wc:
      - 3c3
    body:
      encoding: UTF-8
      string: |-
        {
          "id": "sub_0Tb1okm0T0GBfX0vIuafkiOk",
          "object": "subscription",
          "application": null,
          "application_fee_percent": null,
          "automatic_tax": {
            "disabled_reason": null,
            "enabled": false,
            "liability": null
          },
          "billing_cycle_anchor": 1779728250,
          "billing_cycle_anchor_config": null,
          "billing_mode": {
            "flexible": null,
            "type": "classic"
          },
          "billing_thresholds": null,
          "cancel_at": null,
          "cancel_at_period_end": false,
          "canceled_at": null,
          "cancellation_details": {
            "comment": null,
            "feedback": null,
            "reason": null
          },
          "collection_method": "charge_automatically",
          "created": 1779728250,
          "currency": "usd",
          "current_period_end": 1782406650,
          "current_period_start": 1779728250,
          "customer": "cus_UaCDYAUdXDhFPp",
          "customer_account": null,
          "days_until_due": null,
          "default_payment_method": "pm_0Tb1ojm0T0GBfX0vXbWUlWOG",
          "default_source": null,
          "default_tax_rates": [],
          "description": null,
          "discount": null,
          "discounts": [],
          "ended_at": null,
          "invoice_settings": {
            "account_tax_ids": null,
            "issuer": {
              "type": "self"
            }
          },
          "items": {
            "object": "list",
            "data": [
              {
                "id": "si_UaCDwTeUKitejy",
                "object": "subscription_item",
                "billing_thresholds": null,
                "created": 1779728251,
                "current_period_end": 1782406650,
                "current_period_start": 1779728250,
                "discounts": [],
                "metadata": {},
                "plan": {
                  "id": "price_0Qs5s1m0T0GBfX0visCJi4lq",
                  "object": "plan",
                  "active": true,
                  "aggregate_usage": null,
                  "amount": 999,
                  "amount_decimal": "999",
                  "billing_scheme": "per_unit",
                  "created": 1739466397,
                  "currency": "usd",
                  "interval": "month",
                  "interval_count": 1,
                  "livemode": false,
                  "metadata": {},
                  "meter": null,
                  "nickname": null,
                  "product": "prod_Rld8cRL9WZDT4c",
                  "tiers_mode": null,
                  "transform_usage": null,
                  "trial_period_days": null,
                  "usage_type": "licensed"
                },
                "price": {
                  "id": "price_0Qs5s1m0T0GBfX0visCJi4lq",
                  "object": "price",
                  "active": true,
                  "billing_scheme": "per_unit",
                  "created": 1739466397,
                  "currency": "usd",
                  "custom_unit_amount": null,
                  "livemode": false,
                  "lookup_key": null,
                  "metadata": {},
                  "nickname": null,
                  "product": "prod_Rld8cRL9WZDT4c",
                  "recurring": {
                    "aggregate_usage": null,
                    "interval": "month",
                    "interval_count": 1,
                    "meter": null,
                    "trial_period_days": null,
                    "usage_type": "licensed"
                  },
                  "tax_behavior": "unspecified",
                  "tiers_mode": null,
                  "transform_quantity": null,
                  "type": "recurring",
                  "unit_amount": 999,
                  "unit_amount_decimal": "999"
                },
                "quantity": 1,
                "subscription": "sub_0Tb1okm0T0GBfX0vIuafkiOk",
                "tax_rates": []
              }
            ],
            "has_more": false,
            "total_count": 1,
            "url": "/v1/subscription_items?subscription=sub_0Tb1okm0T0GBfX0vIuafkiOk"
          },
          "latest_invoice": "in_0Tb1okm0T0GBfX0vqF7bzRyM",
          "livemode": false,
          "managed_payments": {
            "enabled": false
          },
          "metadata": {},
          "next_pending_invoice_item_invoice": null,
          "on_behalf_of": null,
          "pause_collection": null,
          "payment_settings": {
            "payment_method_options": {
              "acss_debit": null,
              "bancontact": null,
              "card": {
                "network": null,
                "request_three_d_secure": "automatic"
              },
              "customer_balance": null,
              "konbini": null,
              "payto": null,
              "pix": null,
              "sepa_debit": null,
              "upi": null,
              "us_bank_account": null
            },
            "payment_method_types": null,
            "save_default_payment_method": "off"
          },
          "pending_invoice_item_interval": null,
          "pending_setup_intent": null,
          "pending_update": null,
          "plan": {
            "id": "price_0Qs5s1m0T0GBfX0visCJi4lq",
            "object": "plan",
            "active": true,
            "aggregate_usage": null,
            "amount": 999,
            "amount_decimal": "999",
            "billing_scheme": "per_unit",
            "created": 1739466397,
            "currency": "usd",
            "interval": "month",
            "interval_count": 1,
            "livemode": false,
            "metadata": {},
            "meter": null,
            "nickname": null,
            "product": "prod_Rld8cRL9WZDT4c",
            "tiers_mode": null,
            "transform_usage": null,
            "trial_period_days": null,
            "usage_type": "licensed"
          },
          "quantity": 1,
          "schedule": null,
          "start_date": 1779728250,
          "status": "active",
          "test_clock": null,
          "transfer_data": null,
          "trial_end": null,
          "trial_settings": {
            "end_behavior": {
              "missing_payment_method": "create_invoice"
            }
          },
          "trial_start": null
        }
  recorded_at: Mon, 25 May 2026 20:01:05 GMT
[...]
