---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: lat=40.7143528&long=-74.0059731&display_coordinates=true&status=STOLEN+-+Black+Special_name4+in+Tribeca+https%3A%2F%2Fbikeindex.org%2Fbikes%2F131
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Fri, 06 Sep 2019 19:48:05 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - 0f0f5c44043bc75424a8cfbb00f9179a
      X-Response-Time:
      - '112'
      X-Transaction:
      - 00b34daa0073b5c3
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Fri Sep 06 19:48:05 +0000 2019","id":1170061123191791622,"id_str":"1170061123191791622","text":"STOLEN
        - Black Special_name4 in Tribeca https:\/\/t.co\/TyDAtAArbi","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/TyDAtAArbi","expanded_url":"https:\/\/bikeindex.org\/bikes\/131","display_url":"bikeindex.org\/bikes\/131","indices":[40,63]}]},"source":"\u003ca
        href=\"https:\/\/bikeindex.org\" rel=\"nofollow\"\u003eBikeIndexStolenAlerter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1143142828786278401,"id_str":"1143142828786278401","name":"bikeindex-test","screen_name":"BikeIndexTest","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Mon
        Jun 24 13:04:23 +0000 2019","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":13,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Fri, 06 Sep 2019 19:48:05 GMT
recorded_with: VCR 4.0.0
