<%= render(Alert::Component.new(header: header_text, kind: :error, dismissable: @dismissable)) do %>
  <ul class="tw:mt-2! tw:mb-0! tw:list-disc tw:list-inside">
    <% @error_messages.each do |message| %>
      <li class="block">
        <%= message %>
      </li>
    <% end %>
  </ul>
<% end %>
