
%h1
  Editing #{@organization_invitation.organization.name}'s invitation
%p
  = link_to "Back to managing organization invitations", admin_organization_invitations_url


= render partial: "/admin/organization_invitations/form"
