%header.with-subtitle
  %h1
    New organization invitation
  %p
    = link_to "Back to organization invitations", admin_organization_invitations_url

.well.span6.padded
  = render partial: "/admin/organization_invitations/form"
