- if bulk_import.file_errors.present?
  %small.d-block.text-danger= t(".file")
- if bulk_import.ascend_errors.present?
  %small.d-block.text-danger Ascend
- if bulk_import.line_errors.present?
  %small.d-block.text-warning= t(".line")
