- show_extended ||= false
- if bulk_import.blocking_error?
  %span.text-danger
    Failed
  - if show_extended
    %em.small.less-strong
      - if bulk_import.failed_timeout?
        Processing timed out
      - else
        could not import, blocking error
    - if bulk_import.failed_timeout? && display_dev_info?
      %small.only-dev-visible
        currently
        %code= bulk_import.progress
- else
  - bulk_import_progress_class = bulk_import.progress == "finished" ? "text-success" : ""
  %span{class: bulk_import_progress_class}
    = bulk_import.progress
  - if show_extended && bulk_import.line_errors.present?
    %em.small.less-strong
      error did NOT block import

