- show_extended ||= false
- if bulk_import.blocking_error?
  %span.text-danger
    Failed
  - if show_extended
    %em.small.less-strong
      - if bulk_import.pending_timeout?
        Processing failed
        - if display_dev_info?
          %small.only-dev-visible still pending
      - else
        could not import, blocking error
- else
  - bulk_import_progress_class = bulk_import.progress == "finished" ? "text-success" : ""
  %span{class: bulk_import_progress_class}
    = bulk_import.progress
  - if show_extended && bulk_import.line_errors.present?
    %em.small.less-strong
      error did NOT block import

