---
http_interactions:
- request:
    method: post
    uri: https://accept.verlorenofgevonden.nl/ez.php?date_from=01-09-2018&date_to=25-09-2019&from=0&org=&q=13949483&site=nl&timestamp=1569417425
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"took":31,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":0,"max_score":null,"hits":[]},"aggregations":{"soort_voorwerp":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"kleuren":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"plaatsen":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]}}}'
  recorded_at: Wed, 25 Sep 2019 13:17:05 GMT
- request:
    method: post
    uri: https://verlorenofgevonden.nl/scripts/ez.php?date_from=01-10-2018&date_to=02-10-2019&from=0&org=&q=13949483&site=nl&timestamp=1570059903
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"took":20,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":0,"max_score":null,"hits":[]},"aggregations":{"soort_voorwerp":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"kleuren":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]},"plaatsen":{"doc_count_error_upper_bound":0,"sum_other_doc_count":0,"buckets":[]}}}'
  recorded_at: Wed, 02 Oct 2019 23:45:04 GMT
recorded_with: VCR 4.0.0
