---
http_interactions:
- request:
    method: post
    uri: https://accept.verlorenofgevonden.nl/ez.php?date_from=01-09-2018&date_to=25-09-2019&from=0&org=&q=2722&site=nl&timestamp=1569417441
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"took":36,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"total":7,"max_score":null,"hits":[{"_shard":"[vog_dev][0]","_node":"AwAJTLMoS0aNimcS25KDDg","_index":"vog_dev","_type":"doc","_id":"315985","_score":null,"_source":{"ObjectId":"315985","ObjectNumber":"F0518f-2019025679","ExternalNumber":"","CityId":"986","City":"Delft","StorageLocationId":"1150551","StorageLocation":{"StorageLocationId":"1150551","CustomerId":"255","Name":"Gemeente
        Den Haag","Streetname":"","Zipcode":"","CityId":"4","City":"Den Haag                                          ","Phone":"070-752
        8800","Email":"fietsdepot@haeghegroep.nl","WebsiteUrl":"www.fietsdepothaaglanden.nl","PrivacyUrl":"https:\/\/www.denhaag.nl\/nl\/verklaring-inzake-gegevensbescherming.htm","OrderId":"1","Instructions":"U
        krijgt uw fiets mee als u: \r\nuw geldige legitimatiebewijs laat zien \r\neen
        passende fietssleutel bij zich heeft \r\nheeft betaalt. Dit kan alleen (voor
        uw en onze veiligheid) met PIN\r\n\r\nSWAP fietsen worden binnen twee weken
        (na de verwijderingsdatum) afgevoerd naar SWAP en staan dan niet meer op het
        Fietsdepot"},"CategoryId":"3","Category":"fiets","SubCategoryId":"25","SubCategory":"damesfiets","ColorId":"10","Color":"groen","Description":"damesfiets
        Stadsfiets Gazelle ( groen ) met framenummer ''5127227''.\r\nLocatie gevonden:
        Rij 14 rek140, NS-stalling1 Delft Delft.\r\nNS-stalling Delft Wees 14 dgn
        op 13-8-2019 en overgebracht naar depot Fietsdepot Haaglanden op 3-9-2019,
        opslag t\/m 15-10-2019.","Brand":"Gazelle","RegistrationDate":"2019-09-03T15:25:00Z","Deleted":"false","ImageCount":"1","CustomerId":"255","OrganisationName":"Gemeente
        Den Haag","Country":"Nederland","FormLink":"https:\/\/formulieren.verlorenofgevonden.nl\/eigenaar?db=5fa8d3ff-c3a4-441b-b22d-4b3c352f9ce5&Number=F0518f-2019025679"},"highlight":{"Description":["damesfiets
        Stadsfiets Gazelle ( groen ) met framenummer ''<strong>5127227</strong>''.\r\nLocatie
        gevonden: Rij 14 rek140, NS-stalling1 Delft Delft.\r\nNS-stalling Delft Wees
        14 dgn op 13-8-2019 en overgebracht naar depot Fietsdepot Haaglanden op 3-9-2019,
        opslag t/m 15-10-2019."]},"sort":[1567524300000],"_explanation":{"value":1.0,"description":"sum
        of:","details":[{"value":1.0,"description":"sum of:","details":[{"value":1.0,"description":"max
        of:","details":[{"value":1.0,"description":"Description:*2722*","details":[]}]}]},{"value":0.0,"description":"match
        on required clause, product of:","details":[{"value":0.0,"description":"#
        clause","details":[]},{"value":1.0,"description":"RegistrationDate:[1535760000000
        TO 1569455999999]","details":[]}]},{"value":0.0,"description":"match on required
        clause, product of:","deta[...]
- request:
    method: post
    uri: https://verlorenofgevonden.nl/scripts/ez.php?date_from=01-10-2018&date_to=02-10-2019&from=0&org=&q=2722&site=nl&timestamp=1570059904
    body:
      encoding: UTF-8
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"took":29,"timed_out":false,"_shards":{"total":1,"successful":1,"skipped":0,"failed":0},"hits":{"to[...]
