---
---
 <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1,user-scalable=no">
    <title>Don't Buy Stolen Bicycles</title>
    <link rel="stylesheet" href="dont_buy_stolen.css">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
  </head>
  
  <body>
	  <div class="container">

		<!-- Header  -->
	    <div class="row main-header">
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-4">
				<p class="top-line">How NOT to</p>
				<p class="bottom-line">buy a stolen</p>
			</div>
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-4">
				<p class="top-line">in four</p>
				<p class="bottom-line">easy steps</p>
			</div>
	    </div>

		<!-- Beginning section -->
		<div class="row">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-2"><div class="section-image"></div></div>
			<div class="col-md-2">&nbsp;</div>
		</div>
		<div class="row">
			<div class="col-md-12 upper-section-text">
				<p>If you don’t want to buy a stolen bike</p>
				<p class="middle-red">– and you want to help stop the rampant black market for bikes –</p>
				<p>use these 4 simple steps when buying online</p>
			</div>
		</div>

		<!-- Templated sections -->
		{% for section in site.data.sections %}
			{% include dont_buy_stolen_section.html section-data=section %}
		{% endfor %}

		<!-- Ending section -->
		<div class="row end-section">
			<div class="col-md-2">&nbsp;</div>
			<div class="col-md-10">
				<p>BikeIndex.org is a free, open source bicycle registration database run by people who love their bikes - and hate bike thieves. Through BikeIndex.org, our tools, and our partnerships across the world, we make stolen bikes harder to sell and easier to recover. All for free!</p>
			</div>
		</div>
		<div class="row">
			<div class="col-md-3">&nbsp;</div>
			<div class="col-md-3">
				<div class="section-image"></div>
			</div>
			<div class="col-md-3">
				<div class="section-image"></div>
			</div>
			<div class="col-md-3">
				<div class="section-image"></div>
			</div>
		</div>

		<!-- Footer -->
		<div class="row main-footer">
			<p>BIKEINDEX.ORG</p>
		</div>

	  </div>
  </body>

</html>