---
---

@charset "utf-8";

@font-face {
    font-family: 'KlinicSlab';
    src: url('/KlinicSlabBold.otf') format("opentype");
}

@font-face {
  font-family: 'Oswald';
  font-style: normal;
  font-weight: 400;
  src: local('Oswald Regular'), local('Oswald-Regular'), url(https://fonts.gstatic.com/s/oswald/v10/pEobIV_lL25TKBpqVI_a2w.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}

$border-radius: 4px;

$blue-lighter: #EBF5FB;
$blue-light: #99CBED;
$blue: #3498DB;
$blue-dark: #2C3E50;
$light-blue-background: #ECF5FB;
$section-header-blue: #2C3E50;
$section-footer-blue: #3C97D3;
$section-image-blue: #ECF0F1;

html, body {
  margin:0;
  padding:0;
  width: 100%;
  height: 100%;
  background: $light-blue-background !important;
  font-family: 'Oswald' !important;
  text-align: center;
  // position: relative;
}

.main-header {
  font-size: 38pt;
  font-family: 'KlinicSlab';
  background: $section-header-blue;
  color: white;
  text-align: left;
  line-height: 35px;
  .top-line {
    margin-top: 30px;
  }
  .bottom-line {
  }
}

.main-footer {
  background: $section-header-blue;
  font-size: 38pt;
  color: white;
  text-align: center;
  margin-top: 20px;
  p {
    margin: 0 0 0;
  }
}

.end-section {
  font-size: 18pt;
  text-align: left;
  margin-top: 20px;
}

.upper-section-text {
  font-size: 18pt;
  font-weight: bold;
  .middle-red {
    color: red;
  }
}

.section-header {
  background: $section-header-blue;
  font-size: 38pt;
  color: white;
  text-align: left;
  max-height: 100px;
  p {
    font-family: 'KlinicSlab';
    margin: 10px 30px 10px;
  }
}

.section-footer {
  background: $section-footer-blue;
  font-size: 18pt;
  color: white;
  text-align: left;
  border-top: 15px solid darkgray;
  span, p {
    margin: 20px;
    letter-spacing: 1px;
  }
  b {
    font-family: 'KlinicSlab';
  }
}

.section-middle {
  font-size: 14pt;
  text-align: left;
  h3 {
    font-weight: bold;
    letter-spacing: 1px;
  }
  li {
    list-style-type: none;
  }
}

.section-subtext {
  font-size: 16pt;
  text-align: left;
}

.section-image {
    width: 120px;
    height: 140px;
    border: 3px solid $section-header-blue;
    margin-top: 20px;
    background: white;
    white-space: nowrap;
    .header-image {
      display: inline;
      float: left;
      overflow-y: auto;
      overflow-x: auto;
    }
}

@media (min-width: 1100px) {
  .container {
    max-width: 1100px;
  }
}

.glyphicon {
    font-size: 42px;
}

#map {
  position:absolute;
  top:0;
  bottom:0;
  width:100%;
}

.marker-description {
  img {
    width: 100%;
    height: auto;
  }
}

.map-legends.wax-legends.leaflet-control {
  background: none; 
}

.map-legends .map-legend {
  background: #fff;
  border-radius: $border-radius;
  a {
    cursor: pointer;
  }
}
.hidden-legend-wrapper { padding-bottom: .5em; }

#toggle_legend {
  color: #ccc;
  float: right;
  &.active { margin-top: .5em; }
  &:hover, &:focus {
    color: #3887BE;
  }
}


.search-box {
  clear: both;
  img {
    float: left;
    width: 20%;
  }
  input {
    float: left;
    width: 83%;
    display: block;
    height: auto;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.2em;
    background-image: none;
    border: 1px solid #ccc;
    border-radius: $border-radius;
    padding: .3em .5em;
    // margin: .4em 0 0 0;
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
  }
  #searchbtn {
    float: left; 
    width: 14.6666%;
    margin-left: 2.33333%;
    display: block;
    position: relative;
    font-size: 16px;
    font-weight: 200;
    border-radius: $border-radius;
    background: $blue-dark;
    text-align: center;
    color: white;
    padding: .3em 0;
    border: 1px solid transparent;
    font-family: 'Helvetica Neue',Arial,Helvetica,sans-serif;
    span {
      background: url("/assets/search_white.svg") no-repeat;
      background-size: contain;
      background-position: center;
      display: block;
      font-size: 16px;
      height: 1.2em;
      width: 100%;
    }
    &:hover {
      background: $blue;
    }
  }
}

.clearit, .showmore {
  float: right;
  color: #aaa;
  #show_more, button {
    background: none;
    border: none; 
    padding: 0;
    cursor: pointer;
    color: #aaa;
    &:hover, &:focus, &:active {
      outline: none;
      color: #3887BE;
    }
  }
}

.showmore {
  float: left;
  #show_more { color: #ccc; }
}



.clearer { clear: both; padding: 0 0 .25em; }

.legend label,
.legend span {
  display:block;
  float:left;
  height:16px;
  width:16.6666%;
  text-align:center;
  font-size:9px;
  color:#808080;
  cursor: pointer;
}

.legend span.active {
  box-shadow: inset 1px 2px 3px rgba(black, .4);
}