---
http_interactions:
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/update.json
    body:
      encoding: UTF-8
      string: lat=40.7143528&long=-74.0059731&display_coordinates=true&status=STOLEN+-+Black+Special_name1+in+Tribeca+https%3A%2F%2Fbikeindex.org%2Fbikes%2F16
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Sep 2019 19:40:54 GMT
      Status:
      - 200 OK
      X-Access-Level:
      - read-write
      X-Connection-Hash:
      - bce4767d47469feffdbfe4e817c05773
      X-Response-Time:
      - '93'
      X-Transaction:
      - 004f1f30009e2786
      X-Tsa-Request-Body-Time:
      - '0'
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Sep 04 19:40:54 +0000 2019","id":1169334540868997121,"id_str":"1169334540868997121","text":"STOLEN
        - Black Special_name1 in Tribeca https:\/\/t.co\/pbz0rQUQAj","truncated":false,"entities":{"hashtags":[],"symbols":[],"user_mentions":[],"urls":[{"url":"https:\/\/t.co\/pbz0rQUQAj","expanded_url":"https:\/\/bikeindex.org\/bikes\/16","display_url":"bikeindex.org\/bikes\/16","indices":[40,63]}]},"source":"\u003ca
        href=\"https:\/\/bikeindex.org\" rel=\"nofollow\"\u003eBikeIndexStolenAlerter\u003c\/a\u003e","in_reply_to_status_id":null,"in_reply_to_status_id_str":null,"in_reply_to_user_id":null,"in_reply_to_user_id_str":null,"in_reply_to_screen_name":null,"user":{"id":1143142828786278401,"id_str":"1143142828786278401","name":"bikeindex-test","screen_name":"BikeIndexTest","location":"","description":"","url":null,"entities":{"description":{"urls":[]}},"protected":false,"followers_count":0,"friends_count":0,"listed_count":0,"created_at":"Mon
        Jun 24 13:04:23 +0000 2019","favourites_count":0,"utc_offset":null,"time_zone":null,"geo_enabled":false,"verified":false,"statuses_count":2,"lang":null,"contributors_enabled":false,"is_translator":false,"is_translation_enabled":false,"profile_background_color":"F5F8FA","profile_background_image_url":null,"profile_background_image_url_https":null,"profile_background_tile":false,"profile_image_url":"http:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_image_url_https":"https:\/\/abs.twimg.com\/sticky\/default_profile_images\/default_profile_normal.png","profile_link_color":"1DA1F2","profile_sidebar_border_color":"C0DEED","profile_sidebar_fill_color":"DDEEF6","profile_text_color":"333333","profile_use_background_image":true,"has_extended_profile":true,"default_profile":true,"default_profile_image":true,"following":false,"follow_request_sent":false,"notifications":false,"translator_type":"none"},"geo":null,"coordinates":null,"place":null,"contributors":null,"is_quote_status":false,"retweet_count":0,"favorite_count":0,"favorited":false,"retweeted":false,"possibly_sensitive":false,"lang":"en"}'
  recorded_at: Wed, 04 Sep 2019 19:40:54 GMT
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/1169334540868997121.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Sep 2019 19:40:54 GMT
      Status:
[...]
- request:
    method: post
    uri: https://api.twitter.com/1.1/statuses/retweet/1169334540868997121.json
    body:
      encoding: UTF-8
      string: ''
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Disposition:
      - attachment; filename=json.json
      Content-Type:
      - application/json;charset=utf-8
      Last-Modified:
      - Wed, 04 Sep 2019 19:40:54 GMT
      Status:
      - 200 OK
      Www-Authenticate:
      - OAuth realm="https://api.twitter.com"
      X-Access-Level:
      - read
      X-Connection-Hash:
      - 384ad3e385f93e5b42bab0764200af78
      X-Response-Time:
      - '17'
      X-Transaction:
      - 00f376c80037faa7
      X-Twitter-Response-Tags:
      - BouncerCompliant
    body:
      encoding: UTF-8
      string: '{"created_at":"Wed Sep 04 19:40:38 +0000 2019","id":1169334472392806400,"id_str":"1169334472392806400","text":"RT
        @BikeIndexTest: STOLEN - Black Special_name1 [...]
