.container
  %h1
    Thanks for signing up!
  %h3
    Please verify your email
  %p
    We sent an email to 
    %strong.stolen-color
      = @user.email
    with a confirmation link in it. Follow the link in the email to finish signing up!
  .alert.alert-info
    %p
      We know email verification is annoying, but email is how we connect you to the bikes you own.
    %p
      We just want to make sure the right person is claiming the right bikes.

:plain
  
  <!-- Google Code for Bike Index (Sign Up) Conversion Page -->
  <script type="text/javascript">
  /* <![CDATA[ */
  var google_conversion_id = 980892598;
  var google_conversion_language = "en";
  var google_conversion_format = "2";
  var google_conversion_color = "ffffff";
  var google_conversion_label = "WADeCPKg7gYQtvfc0wM";
  var google_conversion_value = 0;
  var google_remarketing_only = false;
  /* ]]> */
  </script>
  <script type="text/javascript" src="//www.googleadservices.com/pagead/conversion.js">
  </script>
  <noscript>
  <div style="display:inline;">
  <img height="1" width="1" style="border-style:none;" alt="" src="//www.googleadservices.com/pagead/conversion/980892598/?value=0&amp;label=WADeCPKg7gYQtvfc0wM&amp;guid=ON&amp;script=0"/>
  </div>
  </noscript>