.row-fluid
  .span12
    %h2
      Reset your Password

.row-fluid
  .span8
    %p
      Enter the email address you used to sign up. We'll send you an email with a link to reset your password.

    = form_tag "/users/password_reset", method: "post", class: "form form-inline" do
      .control-group
        %input{ name: "email", id: "email", type: "text", placeholder: "Your email address" }
      
      %input{ type: "submit", value: "Reset Password", class: "button-green" }