.container
  %h3= t(".reset_your_password")
  %p= t(".enter_the_email_address")

  = form_tag "/users/send_password_reset_email", method: :post do
    .form-group
      %input{ name: 'email', id: 'email', type: 'text', placeholder: t(".your_email_address"), class: 'form-control' }
    %input{ type: 'submit', value: t(".reset_your_password"), class: 'btn btn-primary btn-lg' }
