.container
  %h3
    Reset your Password
  %p
    Enter the email address you used to sign up. We'll send you an email with a link to reset your password.

  = form_tag '/users/password_reset', method: 'post' do
    .form-group
      %input{ name: 'email', id: 'email', type: 'text', placeholder: 'Your email address', class: 'form-control' }
    
    %input{ type: 'submit', value: 'Reset Password', class: 'btn btn-primary btn-lg' }