.container
  %h3= translate_with_args(".reset_your_password")
  %p= translate_with_args(".enter_the_email_address")

  = form_tag "/users/send_password_reset_email", method: :post do
    .form-group
      %input{ name: 'email', id: 'email', type: 'text', placeholder: translate_with_args(".your_email_address"), class: 'form-control' }
    %input{ type: 'submit', value: translate_with_args(".reset_your_password"), class: 'btn btn-primary btn-lg' }
