<% nav_header_list_items = capture do %>
  <li class="nav-item">
    <%= link_to "Deleted", admin_superuser_abilities_path(sortable_search_params.merge(search_deleted: !@deleted)), class: "nav-link #{@deleted ? 'active' : ''}" %>
  </li>
<% end %>

<%= render(Admin::IndexSkeleton::Component.new(
  index_title: "Superuser Abilities",
  chart_collection: @render_chart && searched_superuser_abilities,
  nav_header_list_items:
)) %>
