%header.with-subtitle
  %h1
    #{@graph_type.titleize} growth
  %p
    = link_to "Back to all graphs", admin_graphs_url

#graph-holder
  %canvas#graphy{ width: "1160", height: "500", data: { labels: @xaxis, values1: @values1, values2: @values2 } }