.container
  %h1.uncap
    #{@impound_claim.claim_kind_humanized.titleize}
    %small
      for
      %em= @impound_claim.bike_claimed.title_string

  = render partial: "display", locals: { update_url: review_impound_claim_path(@impound_claim) }
