- class_names ||= ''
- type ||= 'error'
- class_names += " alert-#{type}"

- title ||= false
- body ||= ''
- unless body.include? '<' # Ensure we make it html
  - body = content_tag(:p, body)

.alert{ class: class_names }
  %button.close{'aria-label' => 'Close', 'data-dismiss' => 'alert', type: 'button'}
    %span{'aria-hidden' => 'true' } &times;
  - if title
    %h4
      = title
  = body
