
%nav.content-nav-group
  %h3
    Related content
  %ul
    %li
      = link_to "about", about_path
    %li
      = link_to "where", where_path
%nav.content-nav-group
  %h3
    Un-Related content
  %ul
    %li
      = link_to "about", about_path

    %li
      = link_to "where", where_path
      