-# NOTE: rendered from inside a cached wrapper. Make sure to break that if changing
#donationModal.modal.fade
  .modal-dialog{ role: "document" }
    .modal-content.donate-block
      .modal-body.select-amount{ style: "padding: 12px 15px 24px;" }
        %button.close{ "aria-label" => "Close", "data-dismiss" => "modal", type: "button" }
          %span{ "aria-hidden" => "true" }
            &times;
        = image_tag "revised/logo_blue_black.svg", class: "modal-title-logo", alt: "Bike Index home"
        %h2.modal-title.uncap
          = t(".donation_header")
        %hr
        = render partial: "/shared/donation_form", locals: {kind: "modal", is_cached: true}
