- if errors.present?
  .alert.alert-error
    %a.close{'data-dismiss' => 'alert'} ×
    %h4
      Please fix the following 
      = pluralize(errors.count, 'error')
    %ul
      - errors.each do |msg|
        %li
          = msg