<%# Disabled in PR#2399 %>

<%#
<%# You need to pass in klass as a local, it should look like: "ad-block ad-google adFullWidth" %>
<%# It's all the classes for the ads %>
<%#
<% include_script ||= true # Pass this as false if you're rendering the second ad in the set %>
<%#
<%# Google ads are rendered on blocks with class .ad-google, our ads are rendered on blocks with class .ad-binx %>
<%#
<% if include_script %>
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
<%#
<% if klass.match?(/ad300x600/) %>
  <div class="<%= klass %>">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8140931939249510" data-ad-slot="3828489557" data-ad-format="auto" data-full-width-responsive="true"></ins>

    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
<%#
<% if klass.match?(/adFullWidth/) %>
  <div class="<%= klass %>">
    <ins class="adsbygoogle" style="display:block" data-ad-client="ca-pub-8140931939249510" data-ad-slot="3828489557" data-ad-format="auto" data-full-width-responsive="true"></ins>

    <script>(adsbygoogle = window.adsbygoogle || []).push({});</script>
  </div>
<%#
%>
