<% cache('header_search_awesomeness') do %>
  <%= text_field_tag :query,
    params[:query],
    placeholder: "Search for bikes",
    :data => { url: search_tags_api_v1_bikes_url },
    class: "search-text-field"
  %>
  
  <div class="optional-fields">
    <div class="bike-attributes">
      <input id="find_bike_attributes_ids" placeholder="Serial number" type="text">
      <!-- <input name="find_bike_attributes[ids][]" type="hidden" value="" /><select data-placeholder="Enter attributes" id="find_bike_attributes_ids" name="find_bike_attributes[ids][]"><option value=""></option> -->
      </select>
    </div>

    <div class="stolenness">
      <label for: "stolen">
        <%= check_box_tag :stolen, params[:stolen], value: 1 %>
        stolen
      </label>
      <label for="non_stolen">
        <%= check_box_tag :non_stolen, params[:non_stolen], value: 1 %>
        non-stolen
      </label>
    </div>
  </div>
<% end %>