Take the user to this page.

Good job. ORG_NAME added this bike
This bike was indexed on 
This bike was indexed by 
This bike has not been claimed yet.
OR 
This bike was claimed on CXXX

Since this bike has not been claimed yet you can edit it.

You can also delete it if you made a mistake 

.receptacle
  .inner-recep
    = render '/shared/organization_header'