
<div id="map_canvas" ></div>


<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
<script src="https://maps.googleapis.com/maps/api/js?key=<%= ENV['GOOGLE_MAPS'] %>&sensor=false" type="text/javascript"></script>
</script>
<script type="text/javascript">
  var markers = new Array();
  var map;

  function createMap(lat, lng, zoom) {
    
    var locations = [
      <% @shops.all.each do |shop| %>
        <% shop.locations.each_with_index do |location, index| %>
          [
            "#shop<%= location.org_location_id %>",
            <%= location.latitude %>,
            <%= location.longitude %>
          ],
        <% end %>
      <% end %>
    ]

    var mapOptions = { center: new google.maps.LatLng(lat, lng), 
      zoom: zoom,
      mapTypeId: google.maps.MapTypeId.ROADMAP };
    
    map = new google.maps.Map(document.getElementById("map_canvas"), mapOptions);
    
    var infowindow = new google.maps.InfoWindow();

    var marker, i;

    for (i = 0; i < locations.length; i++) {  
      marker = new google.maps.Marker({
        position: new google.maps.LatLng(locations[i][1], locations[i][2]),
        map: map,
        shopTarget: locations[i][0]
      });

      google.maps.event.addListener(marker, 'click', (function(marker, i) {
        return function() {
          infowindow.setContent($(marker.shopTarget).find('.map-window').html());
          console.log(marker)
          infowindow.open(map, marker);
        }
      })(marker, i));
      window.markers.push(marker);

      $(marker.shopTarget).find('.where-shop-location').attr('href', "javascript:clickLocation(" + i + ")")
    }
  }

  function clickLocation(i) {
    google.maps.event.trigger(markers[i], "click")
  }

</script>

