<div class="trash-can-icon">
  <div class="trash-lid hover-colorize"></div>
  <div class="trash-container hover-colorize"></div>

  <%# The lines in the trash can %>
  <span></span>
  <span></span>
  <span></span>
</div>
