%header.with-subtitle
  %h1
    Send free bike tickets
  %p
    = link_to "Back to managing free bike tickets", admin_bike_token_invitations_url

.well.span6.padded
  = render partial: "/admin/bike_token_invitations/form"
