.doorkeeper { background: white; }
.doorkeeper body {
  // background: $gray-lighterer;
  .global-header { background: $gray-lighter; }

}

@media (min-width: $s-breakpoint+1) {
  .doorkeeper {
    .global-header { padding-bottom: 20px; }
  }
}

.doorkeeper-container {
  padding-top: 80px;
  padding-bottom: 80px;
  background: white;
  h1, h2, h3, h4, h5 { margin: .4em 0; }

  .authorize-application-section {
    .actions {
      form {
        float: left;
        position: relative;
        width: $six-column;
        &:last-of-type { margin-left: $gutter; }
      }
    }
  }
  .form-group { @include clearfix; }
}