.doorkeeper-container {
  padding-top: 80px;
  padding-bottom: 80px;
  h1, h2, h3, h4, h5 { margin: .4em 0; }

  .authorize-application-section {
    .actions {
      form {
        float: left;
        position: relative;
        width: $six-column;
        &:last-of-type { margin-left: $gutter; }
      }
    }
  }
  .form-group { @include clearfix; }
}