.testimonial-container {
  width: 100%;
  position: relative;
}

// .h3testimonial, .h4testimonial, .ptestimonial {
//   display: block;
//   clear: both;
//   // line-height: 1;
//   // padding-top: 0;
// }

$testimonial-tri-size: 15px;
$testimonial-text-bg: #fff;
.testimonial-block {
  @include clearfix;
  
  h3, h4, p { margin: 0; }
  .testimonial-user {
    display: block;
    @include clearfix;
    position: relative;
    margin: 0 0 0 $gutter;
    float: right;
  }
  img {
    display: block;
    margin: 0;
    width: 20%;
    font-size: 16px;
    height: auto;
    float: right;
    padding-bottom: .5em;
  }
  .h3testimonial {
    margin: .25em 0 0;
    font-size: 18px;
    display: block;
    font-family: $header-font;
    font-weight: normal;
  }
  .h4testimonial {
    font-size: 14px;
    display: block;
    font-family: $body-font;
  }
  // $row-width: 3.438; // 100/32 - full width over 4 column  
  $row-width: 2.083; // 100/48 - full width over 4 column  
  .h3testimonial, .h4testimonial { 
    float: left;
    text-align: right;
    margin-left: $gutter*$row-width;
    width: 80%-$gutter*$row-width;        
  }

  .testimonial-quote {
    float: left;
    position: relative;
    width: $nine-column;
    margin: 0;
    background: $testimonial-text-bg;
    padding: 1em;
    line-height: 1.3em;

    &:before {
      content: "";
      height:0;
      width:0;
      // top: 1.5em;
      right: -($testimonial-tri-size - 1px);
      position: absolute;
      border-bottom: $testimonial-tri-size*1.5 solid transparent; 
      border-left: $testimonial-tri-size solid $testimonial-text-bg; 
    }
    .ptestimonial {
      margin: 0;
      line-height: 1.2em;
    }
  }
}
// @media (min-width: $l-breakpoint+1) {
//   .testimonial-block {.h3testimonial, .h4testimonial { margin-left: 0; }}
// }
@media (min-width: $s-breakpoint+1) {
  .testimonial-block {
    .testimonial-user {
      width: $three-column - .5%;
      padding-top: .5em;
    }
    .h3testimonial, .h4testimonial { margin-left: 0; }
    .no-image-spacer {
      display: block;
      width: 100%;
      padding: 10px;
    }
    img {
      width: 100%;
    }
    .h3testimonial { padding-top: 1em; }
    .h3testimonial, .h4testimonial {
      width: 100%;
      float: none;
      text-align: center;
    }
    .testimonial-quote {
      margin-top: 40px;
      font-size: 18px; 
      border-radius: 4px 0px 4px 4px;
      &:before { top: 0; }
    }
  }
}

@media (min-width: $l-breakpoint) {
  .testimonial-block {
    .h3testimonial { font-size: 24px; }
    .h4testimonial { font-size: 14px; }
    &.testmonial-2 { padding: 20px 0; }
    .testimonial-user { width: $two-column - .5%; }   
    .testimonial-quote {
      width: $ten-column;
      font-size: 20px; 
    }
  }
}

@media (max-width: $m-breakpoint) and (min-width: $s-breakpoint) {
 .testimonial-block {
    .testimonial-user { 
      padding-top: 1em;
      padding-left: .5em;
    }
    .h4testimonial .recovery-date {
      display: block; 
      margin-top: -.25em;
    }
  }
}

@media (max-width: $s-breakpoint) {
  .testimonial-block {
    .testimonial-user {
      width: 100%;
      padding: 20px 0 0;
      margin-left: 0;
    }
    .h3testimonial { margin-top: 1em; }
    .h3testimonial, .h4testimonial {
      text-align: right;
      margin-right: $gutter;
      margin-left: 0;
    }
    img { 
      float: right; 
    }
    .testimonial-quote {
      width: 99%;
      margin: 0 .5%;
      position: relative;
      border-radius: 4px 4px 0 4px;
      &:before {
        right: 0;
        bottom: -$testimonial-tri-size;
        border-left: $testimonial-tri-size solid transparent;; 
        border-bottom: $testimonial-tri-size*1.5 solid transparent; 
        border-right: $testimonial-tri-size solid $testimonial-text-bg; 
      }
    }
  }
}