//________________________
//
// Page differences
//
//________________________


.top-logo .logo.home-logo { display: none;  }

.welcome-page {
  // background: $gray-lighterer;
  background: $gray-lighter;
  // background: $blue-light;
  // background: $blue-light;
  .bike-search-form .search-text-field.select2-container.select2-container-multi {
    background: #fff;
  }
  .mainsrchdr {
    background: #f9f9f9;
    border: 1px solid $gray-light;
    border-top: 1px solid rgba($gray-lighter, .5);
  }
}

@media (min-width: $s-breakpoint+1) {
  .welcome-page {
    .top-logo .logo { display: none;  }
    .top-logo .logo.home-logo { display: block;  }

  }
}




//________________________
//
// Headers
//
//________________________


.home-header {
  h1 {
    text-align: center;
    font-size: 40px;
    font-weight: 300;
    padding: 40px 0 25px;
    margin: 0;
    span { display: block; }
  }
  h3 {
    font-size: 20px;
    text-align: center;
    margin: 0 auto;
    color: $blue-dark;
  }
}

@media (min-width: $s-breakpoint) {
  .home-header {
    h1 {
      padding: 30px 0 35px;
      font-family: $body-font;
      font-size: 50px;
      font-weight: 600;
      color: $blue-dark;
      text-transform: uppercase;
      line-height: 1em;
      // letter-spacing: .04em;

      $step: .004em;
      $step-color: $blue;
      text-shadow: -.01em .01em 0px $step-color,
      -$step $step 0 $step-color,
      -$step*2  $step*2  0 $step-color,
      -$step*3  $step*3  0 $step-color,
      -$step*4  $step*4  0 $step-color,
      -$step*5  $step*5  0 $step-color,
      -$step*6  $step*6  0 $step-color,
      -$step*7  $step*7  0 $step-color,
      -$step*8  $step*8  0 $step-color,
      -$step*9  $step*9  0 $step-color,
      -$step*10 $step*10 0 $step-color,
      -$step*11 $step*11 0 $step-color,
      -$step*12 $step*12 0 $step-color,
      -$step*13 $step*13 0 $step-color,
      -$step*14 $step*14 0 $step-color,
      -$step*15 $step*15 0 $step-color;
    }
    h3 { font-size: 32px; }
  }
}


@media (min-width: 901px) {
  .home-header h1 { font-size: 75px; }
}

.wheeled {
  padding: $standard-pad 0 0;
  position: relative;
}

.register-container {
  width: 100%;
  position: absolute;
  left: 0; top: 35%;
  z-index: 20;
  text-align: center;
  .btn {
    @include transition(background ease-out .1s);
    font-size: 40px;
    font-family: $header-font;
    border: none;
    background: $green;
    color: white;
    padding: .25em 1em;
    font-weight: 400;

    $step: .006em;
    $step-color: $green-dark;
    box-shadow: -.01em .01em 0px $step-color,
    -$step $step 0 $step-color,
    -$step*2  $step*2  0 $step-color,
    -$step*3  $step*3  0 $step-color,
    -$step*4  $step*4  0 $step-color,
    -$step*5  $step*5  0 $step-color,
    -$step*6  $step*6  0 $step-color,
    -$step*7  $step*7  0 $step-color,
    -$step*8  $step*8  0 $step-color,
    -$step*9  $step*9  0 $step-color,
    -$step*10 $step*10 0 $step-color,
    -$step*11 $step*11 0 $step-color,
    -$step*12 $step*12 0 $step-color,
    -$step*13 $step*13 0 $step-color,
    -$step*14 $step*14 0 $step-color,
    -$step*15 $step*15 0 $step-color;

    &:hover {
      @include transition(background ease-out .1s);
      background: #62D994;
    }
  }
}

@media (max-width: $s-breakpoint) {
  .register-container .btn { font-size: 30px; }
}

.wheel-holder {
  width: 90%;
  margin: 0 auto;
  overflow: hidden;
  min-height: 250px;
  $time: 1.5s;
  img {
    @include transition(all ease-in-out $time);
    -webkit-transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    display: block;
    width: 100%;
    height: auto;
    &.spun {
      @include transition(all ease-out $time);
      @include rotate(30deg);
    }
  }
}

@media (min-width: $m-breakpoint) {
  .wheel-holder { width: 70%; }
}


.home-subhead {
  background: #fff;
  padding: 60px 0 50px;
  text-align: center;
  h2 {
    font-family: $body-font;
    font-size: 32px;
  }
  p {
    max-width: 700px;
    margin: .5em auto 0;
    font-size: 22px;
  }
}

@media (max-width: $s-breakpoint) {
  .home-subhead {
    h2 { font-size: 24px; }
    p { font-size: 18px; }
  }
}


.home-blank-container {
  width: 100%;
  height: 300px;
  background: #fff;
}


.info-blocks {
  @include tb-pad($standard-pad);
  width: 100%;
  background: #fff;
  article {
    position: relative;
    img {
      display: block;
      width: 60%;
      height: auto;
      margin: 0 auto;
    }
    p {
      padding: 1em 0 20px;
      margin: 0 auto;
      width: 80%;
    }
  }
}

@media (min-width: $s-breakpoint) {
  .info-blocks {
    .container { padding: 30px 0 20px; }
    article {
      float: left;
      width: $three-column;
      margin-left: $one-column + $gutter;
      padding-bottom: 20px;
      &:first-of-type { margin-left: ($one-column + $gutter)*.5; }
      p { width: 100%; }
    }
  }
}

.searches {
  @include tb-pad($standard-pad);
  width: 100%;
  background: #fff;

}