.payments-page {
  padding: 40px 0 60px;
  form {
    .binxbtn {
      margin: 0 auto;
      display: block;
      font-size: 20px;
      max-width: 200px;
    }
  }
}

.payment-types-list {
  @include clearfix;
  position: relative;
  list-style-type: none;
  margin: 0; 
  padding: 30px 0;
  li {
    display: block;
    float: left;
    position: relative;
    a {
      @include transition(all ease-out .1s);
      border-radius: 4px;
      display: block;
      width: 100%;
      padding: 1.5em 1em;
    }
    .unselected {
      @include binx-button($gray-lighter, $gray-lightest, lighten($gray-light, 2%), rgba($text-color,.9), .015em);
    }
    .active {
      @include binx-button($blue, #67B2E4, #2574A0, rgba(white,.9), .015em);
      hr { border-bottom: 1px solid rgba(white,.15); } 
      .donation input { background: #67B2E4; color: white; }
    }
    h3 {
      padding-top: 1em;
      color: $gray-blue-dark;
      font-size: 20px;
    }
    hr {
      margin: 1em 0;
      border: none;
      border-top: 1px solid rgba(black,.1);
      border-bottom: 1px solid rgba(white,.8);
    }
    .perks { min-height: 7em; }
    .donation {
      min-height: 3em;
      padding: 0 1em;
      text-align: center;
      input { width: 100%; text-align: center; background: $gray-lightest; }
    }
  }
}

@media (min-width: $m-breakpoint+1) {
  .payments-page {
    padding: 60px 0 100px;
  }
  .payment-types-list {
    li {
      margin: 0 0 0 1%;
      width: 19%;
      &:first-of-type { margin-left: 0; }
      // &:first-of-type { margin-left: 10%; }
    }
  }
}

@media (max-width: $m-breakpoint) {
  .payment-types-list {
    li {
      margin: 20px 0 0 2%;
      width: 47%;
      // &:first-of-type { margin-left: 0; }
      &:nth-of-type(5) { margin-left: 26%; }
      // &:first-of-type { margin-left: 10%; }
    }
  }
}