.bike-theft-profit
  .receptacle.overfloating
    .inner-recep
      .fight-theft-image
        = image_tag "home/hacksaw-man.svg", alt: "Fight bike theft", title: "A brigand stealing a trusty steed"
      .theft-profit-block
        %h3
          Sorry to see you go!
        %h4
          Come back soon!
              
.receptacle
  .inner-recep  
    .home-sharing-section
      = render "/shared/home_share"