.bike-theft-profit
  .receptacle.overfloating
    .inner-recep
      .fight-theft-image
        = image_tag "/assets/home/hacksaw-man.svg", alt: "Fight bike theft", title: "A brigand stealing a trusty steed"
      .theft-profit-block
        %h3= t(".sorry")
        %h4= t(".come_back")
              
.receptacle
  .inner-recep  
    .home-sharing-section
      = render "/shared/home_share"      







      
