.container
  .row
    %h3
      Recovery Stories

  #recovery-stories-listing
    .container.clearfix
      .recovery-stories-container{data: {stories_count: @left.length}}
        = render @left
      .recovery-stories-container{data: {stories_count: @right.length}}
        = render @right

    .paginate-container.paginate-container-bottom
      = paginate @recovery_displays
