.container
  .row
    %h3
      Recovery Stories

  -# Read by BikeIndex.RecoveryStories to configure slick
  %input{type: :hidden, id: :recovery_displays_count, value: @recovery_displays.length}

  #recovery-stories-listing
    .container
      #recovery-stories-container
        = render @recovery_displays

    .paginate-container.paginate-container-bottom
      = paginate @recovery_displays
