.container
  .row
    %h3
      = t(".recovery_stories")

  #recovery-stories-listing
    .container.clearfix
      .recovery-stories-container{data: {"stories-count" => @slice1.length}}
        = render @slice1
      .recovery-stories-container{data: {"stories-count" => @slice2.length}}
        = render @slice2

    .pt-4.pb-4
      = render(Pagination::Component.new(pagy: @pagy, page_params: params, size: :lg))
