.container
  .row
    %h3
      Recovery Stories

  #recovery-stories-listing
    .container.clearfix
      .recovery-stories-container{data: {"stories-count" => @slice1.length}}
        = render @slice1
      .recovery-stories-container{data: {"stories-count" => @slice2.length}}
        = render @slice2

    .paginate-container.paginate-container-bottom
      = paginate @recovery_displays
