.container
  .row.first-row
    .col-md-8
      %h1
        #{@user.display_name} bikes
        
    .col-md-4
      .ad-block.ad468x60
        %h4
          468X60
  .row
    .col-md-8
      - if @bikes.present?
        %ul.bike-boxes
          = render partial: '/bikes/revised_bike', collection: @bikes, as: :bike
        .paginate-container.paginate-container-bottom
          = paginate @bikes
