- stolenness_desc = { 'stolen_proximity' => 'nearby stolen', 'non_stolen' => 'non-stolen', 'stolen' => 'stolen' }
.container
  .row.first-row
    .col-md-8
      %h1
        Search for #{stolenness_desc[@stolenness]} bikes
        
    .col-md-4
      .ad-block.ad468x60
        %h4
          468X60
  .row
    .col-md-8
      - if @bikes.present?
        %ul.bike-boxes
          = render partial: '/bikes/revised_bike', collection: @bikes, as: :bike
