!!!
%html
%body
  %h1= translate_with_args(".oh_no")
  %h2= translate_with_args(".unsupported_browser")

  %p= link_to translate_with_args(".go_here_to_learn_more"), "https://www.whatsmybrowser.org/"
