<!DOCTYPE html>
<html>
<body>
  <h1><%= t(".oh_no") %></h1>
  <h2><%= t(".unsupported_browser") %></h2>

  <p><%= link_to t(".go_here_to_learn_more"), "https://www.whatsmybrowser.org/" %></p>
</body>
</html>
