//________________________
//
// Fonts
//
//________________________

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: local('Open Sans Light'), local('OpenSans-Light'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/DXI1ORHCpsQm3Vp6mXoaTaRDOzjiPcYnFooOUGCOsRk.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: italic;
  font-weight: 300;
  src: local('Open Sans Light Italic'), local('OpenSansLight-Italic'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/PRmiXeptR36kaC0GEAetxvR_54zmj3SbGZQh3vCOwvY.woff) format('woff');
}
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: bold;
  src: local('Open Sans'), local('OpenSans'), url(https://themes.googleusercontent.com/static/fonts/opensans/v8/cJZKeOuBrn4kERxqtaUH3bO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}


// Standard font:
$headerFont: 'Open Sans', sans-serif;

@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabBook.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabBookIt.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabMedium.otf");
  font-weight: bold;
  font-style: normal;
}

$baseFont: 'Klinic', sans-serif;



//________________________
//
// standard settings
//
//________________________

$standTopPadding: 1.5em;
$standardPadding: 20px;
$singlePad: 20px;
$footerHeight: 250px;

$standardFontSize: 16px !global;
@media (min-width: 900px) { $standardFontSize: 17px; }
$smallText: 14px;



//________________________
//
// Fluid Grid
//
//________________________

$gridColumns:             12 !default;
$columnW:                  6.5%;
$gutterW:                  2%;


$oneColumn:                     (1 * $columnW) + (0 * $gutterW);
$twoColumn:                     (2 * $columnW) + (1 * $gutterW);
$threeColumn:                   (3 * $columnW) + (2 * $gutterW);
$fourColumn:                    (4 * $columnW) + (3 * $gutterW);
$fiveColumn:                    (5 * $columnW) + (4 * $gutterW);
$sixColumn:                     (6 * $columnW) + (5 * $gutterW);
$sevenColumn:                   (7 * $columnW) + (6 * $gutterW);
$eightColumn:                   (8 * $columnW) + (7 * $gutterW);
$nineColumn:                    (9 * $columnW) + (8 * $gutterW);
$tenColumn:                     (10 * $columnW) + (9 * $gutterW);
$elevenColumn:                  (11 * $columnW) + (10 * $gutterW);
$twelveColumn:                  100%;
