//________________________
//
// Fonts
//
//________________________

// Standard font:
$headerFont: 'Rambla', sans-serif;

@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabBook.otf");
  font-weight: normal;
  font-style: normal;
}
@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabBookIt.otf");
  font-weight: normal;
  font-style: italic;
}
@font-face{
  font-family:'Klinic';
  src:url("/assets/KlinicSlabMedium.otf");
  font-weight: bold;
  font-style: normal;
}

$baseFont: 'Klinic', sans-serif;



//________________________
//
// standard settings
//
//________________________

$standTopPadding: 1.5em;
$standardPadding: 20px;
$singlePad: 20px;
$footerHeight: 250px;

$standardFontSize: 17px;
@media (min-width: 900px) { $standardFontSize: 19px; }
$smallText: 14px;



//________________________
//
// Fluid Grid
//
//________________________

$gridColumns:             12 !default;
$columnW:                  6.5%;
$gutterW:                  2%;


$oneColumn:                     (1 * $columnW) + (0 * $gutterW);
$twoColumn:                     (2 * $columnW) + (1 * $gutterW);
$threeColumn:                   (3 * $columnW) + (2 * $gutterW);
$fourColumn:                    (4 * $columnW) + (3 * $gutterW);
$fiveColumn:                    (5 * $columnW) + (4 * $gutterW);
$sixColumn:                     (6 * $columnW) + (5 * $gutterW);
$sevenColumn:                   (7 * $columnW) + (6 * $gutterW);
$eightColumn:                   (8 * $columnW) + (7 * $gutterW);
$nineColumn:                    (9 * $columnW) + (8 * $gutterW);
$tenColumn:                     (10 * $columnW) + (9 * $gutterW);
$elevenColumn:                  (11 * $columnW) + (10 * $gutterW);
$twelveColumn:                  100%;