// Start of svbtle theme. Obviosuly need to improve it!

// header#sidebar {
//   position: fixed;
//   width: 26%;
//   padding-left: 3%;
//   padding-top: 30px;
// }

// section#body-content {
//   min-height: 900px;
//   position: relative;
//   margin-left: 26%;
//   border-left: 1px solid #e3e3e3;
// }






//________________________
//
// stolen bike about page
//
//________________________

.picture-worth-a-million-words {
  @extend .well-yellow;
  background: $infoBackground;
  border: 1px solid $infoBorder;
  position: relative;
  // margin-top: 28px;
  max-width: 400px;
  margin: 30px 0;
  .pictures {
    @include clearfix;
    width: 60%;
    position: relative;
    margin: 28px auto 0;
  }
  img {
    display: block;
    width: 32%;
    float: left;
    margin-right: 2%;
    &:nth-of-type(3n) { margin-right: 0; }
  }
  h3 {
    position: relative;
    font-weight: bold;
    text-align: center;
    margin: 0;
    font-size: 28px;
    span {
      display: block;
      position: absolute;
      width: 100%;
      font-size: 70px;
      line-height: 60px;
      margin-bottom: 0;
    }
  }
}


//________________________
//
// serials page
//
//________________________

.serial-pictures {
//   @extend .horizontal-list;
//   // @include clearfix;
//   width: 100%;
//   // max-width: 700px;
//   position: relative;
  margin: 30px 0;
  list-style-type: none;
  li {
    @include clearfix;
    margin: 20px 0 0 0;
    position: relative;
    width: 100%;
    .serial-image {
      width: 27%;
      float: left;
      display: block;
      position: relative;
      img { width: 100%; }
      &.blackbg { background: black; }
    }
    p {
      float: left;
      margin-left: 3%;
      width: 70%;
    }
  }
}

//________________________
//
// General about styles
//
//________________________

.about-content {
  padding-bottom: 60px;
  font-size: 20px;
  line-height: 1.25em;
  h1 {
    margin: 1em 0;
    font-weight: normal;
  }
  p {
    margin-bottom: 1em;
  }
  li {
    margin-bottom: .5em;
  }
}


@media (max-width: 600px) {
  .about-content {
    h1 { margin: .5em 0;}
    p {
      font-size: 17px;
    }
  }
}

.release-box {
  @extend .alert-info;
  width: $eightColumn;
  margin: 20px auto 0;
  text-align: center;
}

@media (max-width: 850px) {
  .release-box {width: 100%;}
  .release-box { margin-top: 0;}
}


//________________________
//
// About navigation
//
//________________________

.about-nav {
  @include clearfix;
  @include gradient-vertical(rgb(245,245,245), rgba(white,1));
  position: relative;
  width: 100%;
  border-top: 1px solid darken($searchBorder, 10%);
  // border-top: 1px solid $biYellow;
  // background: lighten($bi-stripes, 5%);
  // border-bottom: 1px solid $biYellow;
  margin: 50px 0 0;
  .inner-recep {
    @include clearfix; 
    padding: 30px 0 30px;
  }
  h3 {
    font-size: 1.5em;
   
    line-height: 1.5em;
    a {
       font-weight: normal;
      margin: 0;
      // float: left;
      // width: $fourColumn;
      text-decoration: none;
      color: $textColor;
    
    strong {
      font-weight: bold;
    }
  }
  }
  ul {
    @extend .horizontal-list;
    // float: right;
    // width: $eightColumn;
    // margin-top: 1em;
    width: 100%;
  }
  li {
    width: $threeColumn;
    padding: 0 0 5px 0;
    margin-right: $gutterW;
    &:nth-of-type(4n) {
      margin-right: 0;
    }
    a {
      @extend .btn-pop-shadowed;
      display: block;
      width: 100%;
      text-align: center;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid darken($searchBorder, 7%);
        text-decoration: none;
        color: $linkColor;
      }
      &.active, &.active:hover, &.active:active {
        cursor: default;
        @include translate(0, 0);
        @include box-shadow(none);
        background: $searchBackground;
        border: 1px solid $searchBorder;
      }
    }
  }
}

@media (min-width: 851px) {
  .about-nav {
    // padding-bottom: 50px;
    h3  {
      position: relative;
      a {
        position: absolute;
        top: -3px; left: 0;

      }
    }
    ul {
      width: $eightColumn;
      margin-left: $fourColumn + $gutterW;
    }
    li {
      width: 22.72%;
      // margin-top: .5em;
      margin-right: 3.03%;
    }
  }
}
@media (max-width: 850px) {
  .about-nav {
    h3 {
      clear: both;
      width: 100%;
    }
    ul {
      clear: both;
      width: 100%;

    }
  }
}


