//________________________
//
// Admin global styles
//
//________________________

.admin-adv-list {

  ul {
    @extend .horizontal-list;
    margin: 40px 0 0;
    li {
      width: 20%;
      min-width: 100px;
      text-align: center;
      padding: 10px;
    //   &:before { content: "&#149;"; }
    }
  }

  .button-blue {
    clear: both;
    display: block;
    width: 150px;
    margin: 20px auto 0;
  }
}


//________________________
//
// Admin organizations and lists
//
//________________________


.bikes-organization-list, .bikes-admin-list {
  margin: 0 0 30px;
  li {
    @extend .well-yellow;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 10px;
  }
  
  .dl-holder .dl-horizontal {
    width: 100%;
    margin: 0;
    position: relative;
    dd { float: left;}
    a {
      display: block;
      width: 100%;
      @include clearfix;
    }
  }
}

//________________________
//
// Organizations
//
//________________________



.locations-list {
  .span4:nth-of-type(4n) {
    clear: both;
    margin-left: 0;
  }
  .alert {
    padding-top: 10px;
    color: $textColor;
  }
}


#bike-notification {
  textarea { height: 200px; width: 100%; max-width: 540px; }
  &.in { padding-top: 30px; }
  .new-notification-container {
    width: 100%; position: relative;
    max-width: 700px; margin: 20px 0; 
    background: #2980b9;
    -webkit-border-radius: 1px;
    -moz-border-radius: 1px;
    border-radius: 1px;
  }
  .header-content {
    padding: 20px 0 0;height: 180px;
    img { display: block; float: right; }
  }
  .new-notification {
    margin: 0; background: #fff;
    border-top: 1px solid #c0c0c0;
    border-bottom: 1px solid #c0c0c0;
    padding: 20px 20px 50px;
    
  }
}



//________________________
//
// Free Bike Tickets
//
//________________________

.invitation-message {
  width: 100%;
  textarea { width: 100%;}
}


//________________________
//
// Admin blog
//
//________________________

.blog-field {
  width: 100%;
  position: relative;
  margin: 20px 0;
  input, textarea {
    width: 100%;
  }
}

.control-group.tags textarea {
  height: 6em;
}

.blog-entry-fields {
  .this-will-break-links {
    font-size: 14px;
    color: $stolenColor;
  }
  .well {
    @include clearfix;
    width: 100%;
    margin: 40px auto 0;
  }

  .button-red {
    display: block;
    width: 200px;
    margin: 100px auto 20px;
  }
}

@media (min-width: 1000px) {
  .blog-entry-fields .well { width: $eightColumn; }
}

.add-blog-photos {
  clear: both;
  padding: 40px 0 0;
  li {
    cursor: default;
    float: none;
    width: 100%;
    margin: 0 0 10px;
    img {
      width: 75px;
      position: absolute;
      left: 5; top: 5;
      margin-right: 10px;
    }
    .actions {
      width: 100%;
      padding-left: 85px;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 10px;
    }
    p { margin: 0; }
    a {
      color: lighten($linkColor, 20%);
      &:hover { color: $linkColorHover; }
    }
  }
}

@media (max-width: 710px) {
  .add-blog-photos {
    p span { display: none; }
    li { @include clearfix; }
    // p a { display: none; }
  }
}


//________________________
//
// Admin graphs
//
//________________________

#graph-holder {
  margin-top: 30px;
}

.graphs-list-values {
  @include clearfix;
  padding: 40px;
  li {
    float: left;
    width: 15%;
    padding-right: 20px;
    min-width: 250px;
  }
}

//________________________
//
// Admin recoveries
//
//________________________


.recovery-input-field {
  @extend .blog-field;
  textarea { height: 5em; }
}

#tweet-entry {
  position: relative;
}
#tweet-length {
  display: block;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: .25em .5em;
  background: $blueDark;
  color: #fff;
}


//________________________
//
// Admin bikes & truncated short tables
//
//________________________

#admin-recovery-fields {
  display: none;
  padding-top: 10px;
  textarea { width: 100%; }
}

.special-search-field-container { 
  @include clearfix;
  margin-top: 30px;
}

.special-search-field {
  float: right;
  input[type="text"] {
    margin-bottom: 0;
    margin-top: 0;
  }
}

@media (max-width: 700px) {
  .special-search-field { float: none; }
}


@media (min-width: 1000px) {
  .admin-bike-edit {
    .bike-fields {
      width: 48%;
      float: left;
      &:first-of-type { margin-right: 2%; }
    }
    .actions {
      width: 60%;
      margin: 0 auto;
    }
  }
}


//________________________
//
// Multi manufacturer edit
//
//________________________

.multi-bike-manufacturer-form {
  .paginate-container {
    clear: none;
    margin-bottom: 0;
    .pagination { margin-top: 0;}
  }
  .multi-manufacturer-selector {
    margin-top: .5em;
    .chosen-select {
      width: 55%;
      float: left;
      float: left;
      margin-top: .05em;
      .select2-container { width: 100%; }
    }
    .button-blue {
      width: 43%;
      margin-left: 2%;
      float: left;
    }
  }
}

//________________________
//
// Admin ad editing
//
//________________________

.admin-ad-preview {
  background: $grayLighterer;
  padding: 30px 0;
  margin: 30px 0;
  .partner-block {
    @include clearfix;
    clear: top;
    margin: 0 auto;
    position: relative;
    width: $eightColumn;
    $row-width: 1.515; // 100/66 - full width over 8 column
    .partner-text {
      width: $fiveColumn*$row-width;
      float: left;
      position: relative;
    }
    h3, p {
      color: #34495E;
      font-family:  'Open Sans', sans-serif;;
    }
    h3 {  
      font-size: 24px;
      margin: 0;
    }
    p {
      margin: .5em 0 0;
    }
    .partner-image {
      width: $threeColumn*$row-width;
      margin-left: $gutterW*$row-width;
      position: relative;
      float: left;
      img {
        width: 100%;
        height: auto;
        display: block;
      }
    }
    .target-link {
      display: block;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 10;
    }
  }
}

#admin-ads-table {
  .ad-body-cell {
    a {
      color: $textColor;
      display: block;
      &:hover { text-decoration: none; }
    }
  }
  h3 {
    font-size: 20px;
    margin: 0;
  }
  p {
    font-size: 16px;
    padding: .25em 0 0;
    margin: 0;
  }
}

.ad-edit-form {
  .blog-field {
    textarea { height: 4em; }
    .select2-container { width: 100%; }
  }
  .ad-body {
    margin-top: 40px;
  }
  .avatar-upload {
    padding-top: 100px;
  }
}
.ad-form-actions {
  @include clearfix;
  padding: 30px 0;
  margin-left: 0;
}
.big-action { margin-top: 40px; }

@media (min-width: 900px) {
  .ad-edit-form .ad-split-fields {
    @include clearfix;
    .blog-field {
      width: 49%;
      margin-left: 2%;
      float: left;
      &:first-of-type { margin-left: 0; }
    }
  }
}