//________________________
//
// Admin blog
//
//________________________

.blog-field {
  width: 100%;
  position: relative;
  margin: 20px 0;
  input, textarea {
    width: 100%;
  }
}

.control-group.tags textarea {
  height: 6em;
}

.blog-entry-fields {
  .this-will-break-links {
    font-size: 14px;
    color: $stolenColor;
  }
  .well {
    @include clearfix;
    width: 100%;
    margin: 40px auto 0;
  }

  .button-red {
    display: block;
    width: 200px;
    margin: 100px auto 20px;
  }

  .save-listicles {
    display: block;
    // width: 100px;
    margin: .5em auto;
    text-align: center;
  }
}

@media (min-width: 1000px) {
  // .blog-entry-fields .well { width: $eightColumn; }
}

.add-blog-photos {
  clear: both;
  padding: 40px 0 0;
  li {
    cursor: default;
    float: none;
    width: 100%;
    margin: 0 0 10px;
    img {
      width: 75px;
      position: absolute;
      left: 5; top: 5;
      margin-right: 10px;
    }
    .actions {
      width: 100%;
      padding-left: 85px;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 10px;
    }
    p { margin: 0; }
    a {
      color: lighten($linkColor, 20%);
      &:hover { color: $linkColorHover; }
    }
  }
}

@media (max-width: 710px) {
  .add-blog-photos {
    p span { display: none; }
    li { @include clearfix; }
    // p a { display: none; }
  }
}


.listicle-block {
  textarea { height: 150px;}
  .well {
    position: relative;
    overflow: hidden;
  }
  .remove_fields {
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
    color: $grayLight;
  }
  .list-image {
    padding-bottom: 20px;
    img {
      width: 100px;
      display: block;
      margin: 0 auto;
    }
    .edit-image-crop { 
      display: block;
      text-align: center;
    }
  }
  .min-width-notice {
    display: block;
    text-align: center;
    color: $grayLight;
  }
}



@media (max-width: 1000px) {
  .listicle-block .list-image {
    position: absolute; 
    left: 15px;
  }
  .listicle-block .col-md-2 { 
    padding-top: 20px;
    padding-left: 15px + 120px;
    min-height: 100px;
  }
}

@media (max-width: 1000px) {
  .blog-bottom-fields { padding-bottom: 3em; }
  .delete-blog-butt { bottom: 0; }
}

.listicle-block {
  .list-order {
    padding: 2em 0 1em;
    input, span {
      color: $grayLight;
      display: inline-block;
    }
    input {
      width: 50px;
      margin-left: 1em;
      background: darken(white, 5%);
    }
    .current-count {
      // float: right;
      display: inline-block;
      font-size: 12px;
      color: lighten($grayLight, 20%);
    }
  }
  .add_fields {
    margin: 30px auto 0; 
    display: block;
    font-size: 1.2em;
    max-width: 70%;
  }
}

//  Image edit


#image_edit_blog_page {
  padding: 20px 0;
  background: black;
  .image-widther {
    width: 726px;
    display: block;
    margin: 0 auto;
  }
  .image-dims {
    color: rgba(white,.8);
    background: none;
    display: block;
    font-size: 18px;
    text-align: center;
    margin: .25em 0 0;
    font-weight: normal;
    &.top-offset { text-align: left; }
    &.top-offset input {
      color: white;
      background: none;
      border: none;
      box-shadow: none;
      padding: 0;
      margin: 0;
      cursor: default;
      width: 3em;
    }
  }
  .image-desc {
    padding: 30px 0 0;
    width: 726px;
    display: block;
    margin: 0 auto;
    color: rgba(white,.8);
    h3 {
      color: white;
      font-weight: 400;
    }
  }
}

#image-block-wrap {
  display: block;
  margin: 20px auto;
  position: relative;
  width: 736px;
  padding: 2px 5px;
  overflow: hidden;
  img {
    display: block;
    width: 100%;
  }
  .crop-box {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    cursor: move;
    .crop-internal {
      display: block;
      position: relative;
      width: 100%;
      border: 2px solid $redDark;
      height: 454px;
    }
    img {
      -webkit-user-select: none;  
      -moz-user-select: none;    
      -ms-user-select: none;      
      user-select: none;
    }
  }
}