//________________________
//
// Admin global styles
//
//________________________


//________________________
//
// Admin organizations and lists
//
//________________________


.bikes-organization-list, .bikes-admin-list {
  margin: 0 0 30px;
  li {
    @extend .well-yellow;
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 10px;
  }
  
  .dl-holder .dl-horizontal {
    width: 100%;
    margin: 0;
    position: relative;
    dd { float: left;}
    a {
      display: block;
      width: 100%;
      @include clearfix;
    }
  }
}

//________________________
//
// Organizations
//
//________________________



.locations-list {
  .span4:nth-of-type(4n) {
    clear: both;
    margin-left: 0;
  }
  .alert {
    padding-top: 10px;
    color: $textColor;
  }
}




//________________________
//
// Free Bike Tickets
//
//________________________

.invitation-message {
  width: 100%;
  textarea { width: 100%;}
}


//________________________
//
// Admin blog
//
//________________________

.blog-field {
  width: 100%;
  position: relative;
  margin: 20px 0;
  input, textarea {
    width: 100%;
  }
}

.control-group.tags textarea {
  height: 6em;
}

.blog-entry-fields {
  .this-will-break-links {
    font-size: 14px;
    color: $stolenColor;
  }
  .well {
    @include clearfix;
    width: 100%;
    margin: 40px auto 0;
  }

  .button-red {
    display: block;
    width: 200px;
    margin: 100px auto 20px;
  }
}

@media (min-width: 1000px) {
  .blog-entry-fields .well { width: $eightColumn; }
}

.add-blog-photos {
  clear: both;
  padding: 40px 0 0;
  li {
    cursor: default;
    float: none;
    width: 100%;
    margin: 0 0 10px;
    img {
      width: 75px;
      position: absolute;
      left: 5; top: 5;
      margin-right: 10px;
    }
    .actions {
      width: 100%;
      padding-left: 85px;
    }
    textarea {
      display: block;
      width: 100%;
      margin: 0 0 10px;
    }
    p { margin: 0; }
    a {
      color: lighten($linkColor, 20%);
      &:hover { color: $linkColorHover; }
    }
  }
}

@media (max-width: 710px) {
  .add-blog-photos {
    p span { display: none; }
    li { @include clearfix; }
    // p a { display: none; }
  }
}


//________________________
//
// Admin graphs
//
//________________________

#graph-holder {
  margin-top: 30px;
}