.feedbacks {
  margin: 30px auto 40px;
  .contact-info {
    position: relative;
    width: 100%;
    .contact-first-row {
      @include clearfix;
      input {
        width: 49%;
        float: left;
        &:last-of-type {
          margin-left: 2%;
        }
      }
    }
  }
  input[type="text"], input[type="email"], textarea {
    @include border-radius(3px);
    width: 100%;
    background: #eee;
  }
  .contact-text {
    position: relative;
    width: 100%;
  }
  .feedback-actions {
    @include clearfix;
    margin: 0;
    width: 100%;
  }
}


