//________________________
//
// Global styles
//
//________________________

* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

body {
  width: 100%;
  max-width: 100%;
  position: relative;
  background: $bodyBackground;
  color: $textColor;
  font-size: $standardFontSize;
  font-family: $headerFont;
}

// section.content:before {
//   content: "";
//   display: block;
//   position: fixed;
//   height: 5px;
//   background: $blueDarker;
//   z-index: 99999;
//   width: 100%;
//   left: 0; top: 0;
// }

h1, h2, h3, h4 {
  font-family: $baseFont;
  font-weight: normal;
  line-height: 1.2em;
  strong {
    font-weight: 700;
  }
}

html {
  width: 100%;
  max-width: 100%;
  background: $footerBackground;
}

@media (max-width: 767px) {
  body {
    padding: 0;
  }
}

// Reset bootstrap padding on buttons so it's responsive to text size
.btn {
  padding: .25em 1em;
}

// Since everything is border-box, inputs need to be padded differently

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  @include border-radius(2px);
  height: auto;
  font-size: 1em;
  margin-top: -.25em;
  line-height: 1.3em;
  font-family: $headerFont;
}

// .chosen-choices {
//   @include border-radius(2px);
//   font-size: 16px;
//   min-height: 29px;
// }
// .chosen-container-multi { font-size: 16px; }

// .chosen-container .chosen-results li.group-result { font-size: 1.2em; }

// .chosen-container-multi .chosen-choices li.search-field input[type="text"] {
//   height: auto;
// }
// .chosen-container-multi, .chosen-container-multi input, .chosen-choices {
//   font-family: $headerFont;
// }

.select2-choices {
  @include border-radius(2px);
  font-size: 16px;
  min-height: 29px;
}

.select2-container-multi .select2-choices .select2-search-choice {
  margin-top: 5px;
}
.select2-container-multi .select2-choices .select2-search-field input, .select2-container-multi, .select2-container-multi input, .select2-choices, .select2-results {
  font-family: $headerFont;
  font-size: 1em;
}


#grid-overlay {
  // Add = render '/layouts/grid' to header.html to enable
  display: none;
  position: fixed;
  height: 100%; width: 100%;
  z-index: 99999;
  .grid-receptacle {
    @extend .receptacle;
    height: 100%;
  } 
  .inner-recep { height: 100%;}
  .column {
    float: left;
    width: $oneColumn;
    height: 100%;
    margin-left: $gutterW;
    border: 1px solid #b2dec1;
    border-top: none;
    border-bottom: none;
  }
  .inner-recep .column:first-of-type {
    margin-left: 0;
  }
}



//________________________
//
// useful bits
//
//________________________
.label-with-tip {
  position: relative;
  @include clearfix;
  p {
    float: left;
    margin: 0;
    width: 120px;
  }
}
.formtip {
  // font-family: courier;
  display: block;
  position: relative;
  margin-top: -.2em;
  cursor: help;
  color: darken($blue, 10%);
  padding: .2em .5em;
  width: 20px;
  text-decoration: none;
  // font-weight: 800;
  float: left;
  a, a:hover {
    position: absolute;
    top: 0; left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
  }
}

.control-group.actions input {float: left;}

.form-suggestion { margin-top: .5em; }

@media (min-width: 480px) {
  .control-group.actions {
    width: 98%;
    max-width: 650px;
    padding-left: 370px;
    margin-left: 2%;
  }
}

@media (max-width: 600px) {
  .control-group.actions {
    padding-left: 0;
    input {
      float: right;
    }
  }
}

.control-group.big-action {
  padding-left: 0;
  margin-left: 0;
  a, input { display: block; width: 90%; margin: 0 auto; float: none; }
}


// $btnInfoBackground:     lighten($btnInfoBackgroundHighlight, 10%) !default;

//________________________
//
// content
//
//________________________

.content-wrapper {
  max-width: 100%;
}

.content {
  @include clearfix;
  padding-top: 60px;
  min-height: 400px;
  padding-bottom: 60px;
}

@media (max-width: 800px) {
  .content { padding-top: 30px; }
}

@media (max-width: 650px) {
  .content { padding-top: 0; }
}

//________________________
//
// footer
//
//________________________

footer {
  position: relative;
  background: $footerBackground;
  border-top: 1px solid #e0e0e0;
  padding: $standTopPadding;
  padding-top: 40px;

}


//________________________
//
// Alerts
//
//________________________

#alert-block {
  z-index: 99999;
  position: fixed;
  top: 100px; left: 0;
  // margin: 10px;
  width: 100%;
  // @include clearfix;
  margin: 0 auto;
  .alert {
    @include box-shadow(-2px 2px 4px rgba(black,.2));
    // For IE 8 
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 20px;
    opacity: .95;
  }
}

@media (min-width: 768px) {
  #alert-block {
    .alert {
      width: 380px;
      margin: 0 50px 0 0;
    }
  }
}

@media (max-width: 767px) {
  #alert-block {
    width: 100%;
    // padding: 0 40px;
    .alert {
      width: 80%;
      margin: 0;
      right: 20px;
    }
  }
}

.alert {
  @include border-radius(1px);
  padding: 8px 35px 8px 14px;
  margin-bottom: $baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  // background-color: $warningBackground;
  // border: 1px solid $warningBorder;
  // color: $warningText;
  background-color: darken($warningBackground, 2%);
  border: 1px solid darken($warningBorder, 7%);
  color: darken($warningText, 20%);
}
.alert h4 {
  margin: 0 0 .5em;
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: $baseLineHeight;
  font-size: 30px;
  z-index: 10000;
}


// Alternate styles
// -------------------------

.alert-success {
  @extend .alert;
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}
.alert-danger,
.alert-error {
  @extend .alert;
  background-color: $errorBackground;
  border-color: $errorBorder;
  color: $errorText;
}
.alert-info {
  @extend .alert;
  background-color: $infoBackground;
  border-color: $infoBorder;
  color: $infoText;
}





.nested-form {
  max-width: 650px;
  background: $grayLighterer;
  border: 1px solid $grayMed;
  padding: 10px 10px 0;
  fieldset { position: relative; }
  .button {
    display: block;
    margin: 2em auto;
    text-align: center;
    text-transform: none;
  }
}

.remove-control {
  input {
    display: none;
  }
  label { 
    display: block;
    text-align: right;
    width: auto;
    position: absolute;
    bottom: 15px;
    right: 10px;
    color: $linkColor;
    &:hover {
      text-decoration: underline;
    }
  }
}

#old-browser-warning {
  width: 100%;
  background: $grayLighterer;
  border-bottom: 1px solid $grayLighter;
  z-index: 9999;
  padding: 10px;
  position: fixed;
  top: 0; left: 0;
  text-align: center;
  h4 { color: $stolenColor; }
}