.stock-photo {
  color: $grayMed;
  opacity: .9;
  margin: 0 auto;
  font-size: 1.5em;
  // position: absolute;
  top: .5em; left: 0;
  color: #999;
  width: 100%;
  font-weight: bold;
  font-size: 1.75em;
  line-height: 1em;
  font-family: $baseFont;
  p {
    max-width: 1160px;
    margin: 0 auto;
    padding: 0;
  }
  // span {
  //   text-align: right;
  //   display: none;
  //   font-size: .5em;
  // }
  .stock-photo-byline {
    span { display: none; }
    font-family: $headerFont;
    // display: block;
    font-weight: normal;
    font-size: .85em;
    // margin-top: .45em;
    opacity: .6;
  }
}

.single-bike-photos {
  @include clearfix;
  position: relative;
  width: 100%;
  max-width: 100%;
  overflow: hidden;
  padding: $singlePad 0;
  border: 1px solid $searchBorder;
  border-left: 0;
  border-right: 0;
  background: $searchBackground;
  background: #000;
  &.stolen-background { background: $stolenBackground; }
  .placeholder-wrap {
    margin: 0;
    img {
      width: 100%;
      height: auto;
    }
  }
  .image-holder {
    margin: 0;
    min-height: 40%;
    .current-photo {
      display: block;
    }
    img {
      @include border-radius(2px);
      @include box-shadow(0 0 3px rgba(white,.3));
      // border: 1px solid rgba(white,.2);
      display: block;
      margin: 0 auto;
      max-width: 100%;
      height: auto;
      max-height: 90%;
    }
    // span {
    //   position: absolute;
    //   top: 1em;
    //   left: 0;
    //   color: #999;
    //   width: 100%;
    //   text-align: center;
    //   font-weight: bold;
    //   font-size: 1.75em;
    // }
  }
}
.photo-list {
  ul {
    list-style-type: none;
    margin: 0;
    position: relative;
    overflow: auto;
  }
  li {
    position: relative;
    margin: 0;
  }
  .clickable-image {
    @include border-radius(2px);
    @include box-shadow(0 0 3px rgba(white,.3));
    // @include box-shadow(0 0 1px rgba(black,.2));
    position: relative;
    padding: 0;
    margin: 0 auto 10px;
    display: block;
    // border: 1px solid rgba(white,.2);
  }
  .video-overlay {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -17px;
    border: 0;
  }
  img {
    padding: 0;
    width: 100%;
  }
}

@media (min-width: 768px) {
  .single-bike-photos .image-holder {
    width: $tenColumn;
    margin-right: $gutterW;
    float: left;
    padding: 40px 0;
    .stock-photo {
      font-size: 80px; 
      p { font-weight: normal; }
      .stock-photo-byline {
        span { display: inline; }
        margin-top: 1.5em;
        font-size: 30px;
      }
    }
  }
  .photo-list {
    position: absolute;
    top: 0; right: 0;
    height: 100%;
    width: $twoColumn;
    ul {
      height: 100%;
      padding: 0 13px 2px 5px;
    }
    li {
      margin-bottom: 10px;
      width: 100%;
      float: none;
    }
    a {
      width: 100%; 
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}
@media (min-width: 768px) {
  .photo-list.overflown {
    ul {
      border: 2px solid rgba(black,.2);
      border-left: none;
      border-right: none;
    }
  }
}

@media (max-width: 767px) {
  .photo-list.overflown {
    border: 2px solid rgba(black,.2);
    border-top: none;
    border-bottom: none;
  }
}



@media (max-width: 767px) {
  .single-bike-photos .image-holder {
    width: $twelveColumn;
    margin-top: $singlePad;
    float: none;
  }
  .photo-list {
    @include clearfix;
    clear: both;
    position: relative;
    height: 150px;
    width: $twelveColumn;
    margin-top: $singlePad;
    overflow-y: hidden;
    overflow-x: scroll;
    ul {
      position: absolute;
      left: 0; top: 0;
      overflow: visible;
      height: 100%;
      width: 150%;
      margin: 0 10px;
      padding: 15px 0;
      border: none;
    }
    li {
      float: left;
      height: 100%;
      width: 178px;
      margin-right: 10px;
    }
    a {
      height: 100%; 
      width: 100%;
      overflow: hidden;
      display: block;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 650px) {
  .single-bike-photos .photo-list {
    height: 100px;
    ul {
      padding: 5px 0;
      li {
        width: 133px;
      }
    }
  }
}

#selected-photo.just1photo { width: 100%; }

@media (min-width: 1200px) {
  .single-bike-photos .receptacle { max-width: 100%; }
}

.single-bike-photos #selected-photo.image-holder.empty {
  @extend .image-holder;
  width: 100%;
  float: none;
  img {
    width: $threeColumn;
  }
}

@media (max-width: 660px) {
  .single-bike-photos #selected-photo.image-holder.empty img {
    width: $fourColumn;
  }
}



