.paginate-container {
  @include clearfix;
  width: 100%;
  clear: both;
  margin-bottom: 30px;
}

.paginate-container-bottom {
  @extend .paginate-container;
  margin: 30px 0;
}

.pagination {
  @include clearfix;
  cursor: default;
  margin: 0;
  ul {
    float: right;
    margin: 0;
    padding: 0;
    list-style-type: none;
    li {
      float: left;
    }
  }
  a, span, em {
    background: $blue-light;
    padding: 0.5em 1em;
    line-height: 1.2em;
    display: block;
    float: left;
    margin-left: .5em;
    font-weight: bold;
    color: #fff;
    border: none;
  }
  .previous_page, .next_page { font-weight: normal; }
  .disabled {
    display: none;
  }
  .current, .active a {
    font-style: normal;
    font-weight: bold;
    background: $blue;
  }
  a {
    &:hover, &:focus {
      color: #000033;
      background: $blue-lighter;
    }
  }
  .page_info {
    background: #2e6ab1;
    color: white;
    padding: 0.4em 0.6em;
    width: 22em;
    margin-bottom: 0.3em;
    text-align: center;
    b {
      color: #000033;
      background: #2e6ab1 + 60;
      padding: 0.1em 0.25em;
    }
  }
}
.bike-pagination-counted {
  float: left;
}