
// On new bike registration, this is the wrapper
.register-button-wrapper {
  margin-top: $vertical-height;
  width: 100%;
  text-align: center;
  // .btn {
  //   @extend h4;
  //   display: block;
  //   width: 33%;
  //   margin: 0 auto;
  //   background: $blue;
  //   color: white;
  //   border-radius: $border-radius;
  //   padding: 2*$vertical-height 2em;
  // }
}