%header.with-subtitle
  %h1 Invoices
%p
  Go to organizations to create new invoices

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, sortable: true, display_organization: true }


