%header.with-subtitle
  %h1 Invoices
%p
  Go to organizations to create new invoices

.paginate-container{ style: "margin-top: 30px;" }
  %h4.pull-left
    = pluralize(@invoices.total_count, "invoice")
  = paginate @invoices

= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, sortable: true, display_organization: true }
