// The edit_bike_styles file has the standard styles,
// this is new bike specific stuff
// 
//________________________
//
// Wrapper
//
//________________________

.new-bike-container {
  margin: 30px 0 80px;
  border-left: none;
  border-right: none;
  padding: 20px 0;
  form { padding: 0; }
  background: rgba(#efefef, .2);
  // &.stolen-background { background: none; }
  border-top: 1px solid #cecece;
  border-bottom: 1px solid #cecece;
  .adding-bike { padding: 0 20px; }
  .receptacle { overflow: visible; }
  .bikeform-tip { right: 5px; }
}

@media (min-width: 580px) {
  .new-bike-container {
    padding: 20px;
    margin-top: 50px;
    .adding-bike { padding: 0; }
  }
  
  .new-bike-fields {
    @include border-radius(2px);
    // @include box-shadow(1px 2px 6px rgba(black,.2));
  } 
}


//________________________
//
// Base fields
//
//________________________

.new-bike-fields {
  border: 1px solid $grayLightish;
  background: $bodyBackground;
  padding: 0;
  .input-group {
    position: relative;
    padding: 1.2em 2em 1em 1em;
    border-top: 1px solid $grayLightish;
  }
  .form-head {
    border-top: 0;
    padding-top: 30px;
  }
  .form-foot {
    @include clearfix;
    .button-green {
      float: right;
      font-size: 1.2em;
    }
  }
  .control-group {
    margin-bottom: 0;
    select { margin-top: .1em; }
  }
  .with-optional-blocks {
    @include clearfix;
    .hidden-other.unhidden {
      clear: both;
      padding-bottom: 0;
      width: 100%;
      .field {
        float: left;
        display: block;
      }
      .optional-form-block {
        margin: 0 0 0 1.25em;
      }
    }
    .wheel-diameter {
      clear: both;
    }
  }
  .collapse.in {
    @include clearfix;
    padding-top: 20px;
  }
  .optional-form-block {
    cursor: pointer;
    display: block;
    float: right;
    margin-top: 1em;
    text-align: right;
  }

  .has-no-serial {
    float: left;
    position: relative;
    margin: .5em 0 0;
    input { margin: 0 .5em 0 0;}
    label {
      width: 100%;
      margin: 0 15px 0 0;
      width: 105px;
    } 
  }
}

.input-group .absent-serial {
  background: darken(white, 10%);
  color: $grayLight;
  cursor: default;
  &:active, &:focus {
    border: 1px solid #ccc;
    @include box-shadow(none);
  }
}

@media (max-width: 600px) {
  .new-bike-fields .with-optional-blocks {
    @include clearfix;
    .hidden-other.unhidden {
      .optional-form-block {
        margin: 0;
      }
    }
    .field {
      margin-top: 10px;
    }
    .optional-form-block {
      margin: 0;
      width: 100%;
    }
  }
}

@media (min-width: 925px) {
  .new-bike-container .new-bike-fields {
    width: $sevenColumn - $gutterW;
    float: left; 
  }
  .new-bike-fields {
    .control-label {
      float: left;
      width: 30%;
      padding-top: 5px;
      text-align: right;
    }
    .controls {
      margin-left: 33%;
      width: 67%;
    }
    .has-no-serial {
      margin-top: 0;
    }
    .input-group {
      @include clearfix;
      padding-right: 1em;
    }
    .control-group {
      width: 70%;
      float: left;
      position: relative;
    }
    .optional-form-block {
      margin-top: 0;
      width: 28%;
      margin-left: 2%;
      text-align: left;
      float: right;
    }
    .wheel-diameter {
      clear: both;
      width: 100%;
      color: $grayDark;
      margin-top: 10px;
      .control-label {
        width: 21%;

      }
      .radio-controls {
        width: 76%;
        margin-left: 23.1%;
        position: relative;
        .radio {
          width: 110px;
          float: left;
          padding-left: 20px;
          margin: 0;
          &.wide-tire {
            margin-top: 5px;
          }
        }
      }
    }
  }
}


//________________________
//
// Add a bike panel
//
//________________________


.adding-bike {
  @include clearfix;
  position: relative;
  .alert {
    @include border-radius(2px);
    @include box-shadow(1px 2px 6px rgba(black,.2));
  }

  h1 {
    font-size: 40px;
    float: left;
  }
  h2 {
    font-size: 40px;
    clear: both;
  }
  h1, h2 {
    text-shadow: 1px 0 4px rgba(black,.2);
  }
  .dropdown {
    margin-left: 20px;
    position: relative;
    float: left;
    .dropdown-toggle {
      display: block;
      position: relative;
      text-decoration: none;
      
      &:hover .craft-button {
        @include translate(-1px,-1px);
        text-decoration: none; 
        @include box-shadow(2px 3px 6px rgba(black,.2));
        // color: white;
      }
      &:active .craft-button {
        @include translate(1px,1px);
        @include box-shadow(1px 1px 6px rgba(black,.2));
      }
    }
    .dropdown-menu .dropdown-toggle {
      display: none;

    }
  }
    
  .craft-button {
    @include box-shadow(1px 2px 6px rgba(black,.2));
    @include border-radius(2px);
    display: block;
    padding: .25em .25em 25px;
    width: 100%;
    min-width: 210px;
    position: relative;
    border: 1px solid darken($grayDark, 5%);
    background: $btnAction;
    border-color: $btnActionBorder;
    text-align: center;
    color: white;
    font-family: $headerFont;
    font-size: 20px;
    line-height: 1em;
    text-transform: uppercase;
    #cycletype-text.long-title {
      font-size: .6em;
      line-height: .5em;
    }
    span {
      display: block;
      position: absolute;
      bottom: .3em; left: 0;
      width: 100%;
      padding: 0;
      margin: 0;
      font-size: 14px;
      line-height: 14px;
      color: rgba(white,.7);
      text-transform: lowercase;
    }
    .caret {
      border-top-color: rgba(white,.7);
    }
  }
}

@media (min-width: 680px) {
  .adding-bike {
    h1 { font-size: 60px;}
    h2 {
      margin-top: 27px;
      clear: none; 
    }
    .dropdown {
      margin-top: 22px;
      margin-right: 20px;
    }
  }
  .stolen-add .adding-bike h2 { clear: both; }
}

@media (min-width: 925px) {
  .adding-bike {
    .alert {
      position: absolute;
      top: 0; 
      width: 100%;
    }
    width: $fiveColumn;
    margin-left: $gutterW * 2;
    float: right;
    h1 { 
      font-size: 125px;
      float: none;
      margin: 0;
    }
    h2 { font-size: 60px; }
    .dropdown { float: none; margin: 0;}
    .dropdown-toggle {
      display: block;
      float: none;
      width: 90%;
      margin: 0 auto;
    }
    .craft-button {
      font-size: 70px;
      padding: .25em 0 .35em;
      display: block;
    }
  }
  .stolen-add .adding-bike h1 { font-size: 60px; }
}


@media (min-width: 1140px) {
  .adding-bike h2 { 
    font-size: 80px;
    margin-top: 8px;
  }
  .stolen-add .adding-bike h1 { font-size: 75px; }
}




//________________________
//
// Upload photos!
//
//________________________

.new-bike-photo {
  @include border-radius(2px);
  @include box-shadow(1px 2px 6px rgba(black,.2));
  @include clearfix;
  border: 1px solid $grayLightish;
  background: $bodyBackground;
  margin: 30px auto 0;
  padding: 1em 20px;
  
  p {
    // padding-top: 1em;
    text-align: left;
    em { display: block; }
  }

  #filepath {
    float: left;
    padding: 10px 1em 0;
    color: $grayMed;
  }
}

.filefield-button {
  @extend .button-yellow;
  cursor: pointer;
  display: block;
  position: relative;
  width: 150px;
  float: left;
  overflow: hidden;
  input {
    cursor: pointer;
    position: absolute;
    height: 100%;
    top: 0; left: 0;
    opacity:0;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
    filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  }
}

@media (max-width: 580px) {
  .new-bike-photo { width: 96%;}
}

@media (min-width: 925px) {
  .new-bike-photo {
    width: $fiveColumn;
    position: absolute;
    right: 0;
    bottom: 0;
  }
}
