#choose-registration-type {
//   @include box-shadow(1px 1px rgba(black,.2));
//   @include border-radius(3px);
//   padding: 30px 10px;
//   background: $blueDarker;
//   border: 1px solid $blueDarkerer;
  // h1 {
  //   color: $yellowPale;
  //   text-align: center;
  //   font-size: 60px;
  // }
}

.choose-links {
  margin: 0 auto 30px;
  width: 100%;
  text-align: center;
}

.choose-links ul {
  margin: 0 0 20px;
  padding: 10px 0;
  // max-width: 400px;
  list-style-type: none;
  li {
    width: 100%;
    margin-bottom: .5em;
  }
  a {
    @include transition(background .05s linear);
    @include border-radius(3px);
    cursor: pointer;
    // border: 1px solid transparent;
    margin: 0 auto;
    height: 100%;
    width: 100%;
    max-width: 486px;
    // max-width: $fiveColumn;
    padding: 10px 20px;
    display: block;
    text-align: left;
    font-size: 20px;
    span {
      color: rgba($linkColor, .6);
      margin-left: 20px;
      float: right;
    }
    &:hover {
      @include box-shadow(0px 1px 4px rgba($blueDarker, .7));
      color: $linkColor;
      text-decoration: none;
    }
    &:active {
      @include translate(1px,1px);
      @include box-shadow(none);
    }
  }
  .current-choice {
    @include transition(background .15s linear);
    @include translate(1px,1px);
    background: $blueDarker;
    border-color: black;
    &:hover { @include box-shadow(none); }
  }
}

.add-bike-button {
  width: 100%;
  position: relative;
  a.button-green {
    width: 350px;
    margin: 0 auto;
    // margin-right: 20px;
    font-weight: 400;
    font-size: 40px;
  }
}

@media (min-width: 870px) {
  .choose-links {
    @include clearfix;
    max-width: 880px;
    margin: 0 auto;
    ul {
      width: $sevenColumn;
      float: left;
      text-align: left;
      margin: 0 $gutterW 0 0;
      li a {
        margin: 0 0 0 auto;
      }
    }
    .add-bike-button {
      width: $fiveColumn;
      float: left;
      margin-top: 10px;
    }
  }
}