//________________________
//
// Documentation styles
//
//________________________

.github-link {
  float: right;
  font-size: $standardFontSize;
  font-family: $baseFont;
  color: $grayMed;
  a {
    color: $blueLight;
    &:hover { color: $linkColor;}
  }
}


#documentation-content {
  hr {
    margin-top: 60px;
    margin-bottom: 40px;
  }
  pre {
    max-height: 400px;
    overflow: scroll;
    box-shadow: inset 0 1px 3px rgba(black,.2);
  }
}

@media (min-width: 768px) {
  #documentation-content {
    hr {
      margin-top: 100px;
      margin-bottom: 80px;
    }
    h3 { margin-top: 1.5em; }
    // .code { max-width: 100%; }
  }
}