//________________________
//
// Documentation styles
//
//________________________

.github-link {
  float: right;
  font-size: $standardFontSize;
  font-family: $baseFont;
  color: $grayMed;
  a {
    color: $blueLight;
    &:hover { color: $linkColor;}
  }
}

.code {
  table {
    font: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 15px;
    tr:first-of-type td { border-top: 0; }
    td { padding: 4px; }
  }
  .code-label {
    @include border-radius(2px 2px 0 0);
    width: 100%;
    background: #E0E0E0;
    border: 1px solid $grayMed;
    margin-top: 1em;
    margin-bottom: 0;
    padding: 7px 9px 5px;
    font: Monaco, Menlo, Consolas, 'Courier New', monospace;
    font-size: 15px;
    font-weight: bold;
  }
  pre {
    @include border-radius(0 0 2px 2px);
    box-shadow: inset 0 0 1px rgba(black,.2);
    border: 1px solid $grayMed;
    border-top: 0;
    max-height: 400px;
    overflow: scroll;
    // background: #232323;
    // color: #fff;
  }
}

#doc-sections li li.active {
  text-decoration: underline;
  color: $linkColor;
}

#documentation-content {
  hr {
    margin-top: 150px;
    margin-bottom: 40px;
  }
  h2 { margin-bottom: 1em; }
  h3 {
    font-size: 20px;
    margin-top: 3em;
  }
  code { color: $contentTextColor; }


  .key-differences {
    margin: .5em 0 0 20px;
    li { margin-bottom: .25em; }
  }
}

@media (min-width: 768px) {
  #documentation-content {
    hr {
      margin-top: 300px;
      margin-bottom: 80px;
    }
    // .code { max-width: 100%; }
  }
}