//________________________
//
// Overrides for header select2
//
//________________________

#head-search-bikes {
  .select2-container {
    * {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
    }
  }
  .select2-container-multi .select2-choices .select2-search-choice {
    padding-top: .3em;
    padding-bottom: .3em;
    margin-top: .25em;
    // margin-bottom: .3em;
  }
  .select2-search-choice-close { top: 5px; }
  // .additional-fields input { margin-top: 0; }
}


///////////// Overrides

#header {
  #header-tabs {
    margin-bottom: 0;
  }
  .search-fields {
    position: relative;
  }
  .search-background {
    z-index: -1;
    height: 100%;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -1px; right: -50%;
      width: 100%; height: 100%;
      background: $searchBackground;
      border-top: 1px solid $searchBorder;
      border-bottom: 1px solid $searchBorder;
      z-index: -2;
    }
  }


  .optional-fields {
    position: relative;
    float: right;
    margin-top: .5em;
  }
}

@media (max-width: 599px) {
  #total-top-header.header-tabs-in .logo {
    opacity: .2;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
  }
}

