//________________________
//
// General styles
//
//________________________

.global-header {
  padding: $singlePad 0 40px;
  position: relative;
  overflow: hidden;
  .top-receptacle, .logo-receptacle, .nav-receptacle {
    @extend .receptacle;
  }
  &.invisibled {
    height: 0;
    padding: 0;
    overflow: visible;
    .logo { margin-top: 20px; }
  }
}


//________________________
//
// Search field
//
//________________________

.top-header {
  width: 100%;
  position: relative;
  .receptacle { overflow: visible; }
  form {
    position: relative;
    margin-bottom: 0;
  }
  .search-background {
    @include border-radius(2px 0 0 2px);
    display: block;
    position: absolute;
    right: 0;
    width: $eightColumn;
    background: $searchBackground;
    border: 1px solid $searchBorder;
    border-right: none;
    z-index: 0;
  }
  .search-fields, .background-extend, .search-background { 
    bottom: 0;
    margin-top: 0;
  }
  .search-fields {
    @include clearfix;
    position: absolute;
    right: 0;
    width: 100%;
    z-index: 0;
    padding: 1em 0;
    z-index: 100;
    .search-text-field {
      float: right;
      width: $sevenColumn - $gutterW;
      margin: 0;
      margin-right: $gutterW + $oneColumn;
    }
    .search-button {
      width: $oneColumn;
      position: absolute;
      right: 0; top: 0;
      margin-top: 1em;
    }
    .button-blue {
      font-size: $standardFontSize;
      width: 100%;
      padding: .25em 0;
      height: 32px;
      margin-top: 1px;
    }
  }
}

.top-header.search-expanded {
  padding-bottom: 2em;
  .optional-fields { display: block; }
}

.optional-fields {
  // display: none;
  width: $eightColumn - $gutterW;
  .additional-fields input {
    float: left;
    margin-bottom: 0;
    width: 70%;
  }
  #serial-absent {
    @include border-radius(3px);
    @extend .btn-pop;
    float: left;
    width: 28%;
    margin: -.25em 0 0 2%;
    padding: .35em .25em;
    color: $placeholder;
    text-align: center;
    &:hover {
      @include box-shadow(1px 1px 2px rgba(black,.4));
    } 
    &.absents {
      @include box-shadow(inset 0 0 3px rgba(black,.2));
      background: rgba($grayMed,.1);
      color: darken($placeholder, 10%);
    }
  }
  .absent-serial-blocker {
    display: none;
    &.absents {
      display: block;
      position: absolute;
      left: 0; top: -.25em;
      width: 50%;
      height: 2em;
      // background: purple;
    }
  }
  .stolenness {
    position: absolute;
    right: 0; top: 0;
    width: 23.4%;
    input { margin: -2px 5px 0 0; }
    label { margin: 0; }
  }
}

@media (max-width: 900px) {
  #serial-absent span { display: none; }
}

@media (max-width: 600px) {
  .optional-fields {
    width: 100%;
    .additional-fields { width: 66%; }
    .stolenness { width: 32%; }
  }
}

@media (max-width: 660px) {
  .optional-fields {
    #serial-absent { font-size: .8em; padding: .4375em 0em; }
    .absent-serial-blocker.absents { width: 45%; }
    
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .optional-fields {
    .additional-fields { width: 73.3%; }
  }
}

@media (min-width: 1001px) {
  .optional-fields {
    .additional-fields {
      width: 73.4%;
    }
    .stolenness {
      // input { margin-right: 2px; }
      label {
        display: inline-block;
        // margin: .3em 0 0 0;
        // &:last-of-type { margin-left: 10px; }
      }
    }
  }
}


@media (max-width: 20000px) {
  .top-header {
    .search-fields {
      .search-button {
        width: $twoColumn;
      }
      .search-text-field {
        width: $sixColumn - $gutterW;
        margin: 0;
        margin-right: $gutterW + $twoColumn;
      }
    }
  }
}

@media (max-width: 600px) {
  .top-header {
    .search-background {
      width: 100%;
      right: 10%;
    }
    .search-fields {
      .search-button { width: $fourColumn; }
      .search-text-field {
        margin-right: $gutterW + $fourColumn;
        width: $eightColumn;
      }
    }
  }
}

.top-header {
  .logo {
    .standard-logo { display: block; }
    .transparent-logo-bg-first, .transparent-logo-bg-second, .transparent-logo { display: none; }
    width: $twoColumn;
    max-height: 8em;
    display: block;
    position: absolute;
    left: 0;
    z-index: 101;
    margin: 0;
    font-size: 1em;
    border: none;
    overflow: visible;
    &:hover {
      border: none;
      background: none;
    }
    h2 {
      display: none;
    }
    img {
      display: block;
      height: auto;
      width: 100%;
      margin: 0;
    }
  }
}


@media (min-width: 601px) and (max-width: 900px) {
  .top-header {
    .logo {
      width: $threeColumn;
      top: 0; 
    }
    .logo img { 
      width: 67%;
      margin: 0 auto;
    }
  }
}

@media (min-width: 900px) {
  .top-header {
    .logo {
      width: $twoColumn;
      top: 0; 
    }
  }
}

@media (max-width: 600px) {
  .top-header {
    .logo {
      top: -11px;
      left: 0px;
      height: 4em;
      width: auto;
      img {
        height: 100%;
        width: auto;
      }
    }
  }
}

//________________________
//
// Nav tabs
//
//________________________

#header-tabs {
  margin-bottom: 4em;
  padding-bottom: 1em;
}

#tab-cover {
  position: absolute;
  top: 0; left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: $bodyBackground;
  z-index: 20;
}

.global-tabs {
  @include clearfix;
  @extend .nav;
  @extend .nav-tabs;
  min-height: 2em;
  width: 100%;
  position: relative;
  list-style-type: none;
  margin: 0;
  z-index: 10;
  li {
    @include text-overflow();
    float: right;
    position: relative;
    width: $twoColumn;
    margin-right: $gutterW;
    &.no_user.expand_t, &:first-of-type {
      margin-right: 0px;
    }
    a {
      @include text-overflow();
      display: block;
      width: 100%;
      padding: .5em 0;
      text-align: center;
      &:hover, &.hover { border-bottom: 1px solid transparent; }
    }
  }
}

.collapse.visibled .tab-content { overflow: visible; }

@media (min-width: 760px) {
  .tab-content .tab-pane.active#you {
    overflow: visible;
    margin-left: 77.3%;
    &:before { 
      content: " ";
      position: absolute;
      left: 0;
      top: -1px;
      display: block;
      width: 77.3%;
      height: 2px; 
      background: white;
    }
  }
}



@media (min-width: 1200px) {
  #header-tabs {
    padding-bottom: 2em;
  }
}

@media (min-width: 601px) {
  #header-tabs {
    width: $eightColumn;
    margin-left: $fourColumn + $gutterW;
  }
  .global-tabs {
    li {
      width: 22.72%;
      margin-right: 3.03%;
    }
  }
}


@media (max-width: 600px) {
  #header-tabs {
    padding-bottom: 2em;
   .tab-content { z-index: 120; } 
  }
  .top-header {
    .visibled {
      z-index: 102;
      #global-tabs-cover {
        // content: " ";
        display: block;
        position: absolute;
        bottom: -1px;
        width: 25%; left: -25%;
        height: 1px;
        background: #dddddd;
      }
    }
    .global-tabs {
      width: 80%;
      margin: 0 0 0 auto;
      li { 
        width: $fourColumn;
      }
    }
  }
}


.top-header {
  .tab-pane.active { padding: 5px 0; }
  .visibled { 
    .tab-content {  height: auto; }
    .nav-tabs { border-bottom: 1px solid $searchBorder; }
    #header-tabs { height: auto;}
  }
  .tab-content {
    // @extend .short-transition;
    width: 100%;
    margin: 0;
    position: relative;
    // float: right;
    height: 0;
    z-index: 10;
  
    ul {
      list-style-type: none;
      margin: 0;
    }
    li {
      width: 100%;
      position: relative;
      &:last-of-type {
        margin-bottom: 0;
      }
      a {
        display: block;
        width: 100%;
        padding: .4em $singlePad;
        &:hover {
          text-decoration: none;
          background: rgba($grayMed,.4);
        }
      }
    }
    .login-header.active {
      padding: $singlePad;
      .field {
        @include clearfix;
        width: 100%;
        position: relative;
      }
      input {
        width: 100%;
      }
      .button-blue {
        float: right;
        width: auto;
        font-size: $standardFontSize;
      }
      p { margin-bottom: 0; }
      p:first-of-type {
        margin: .45em 0 1em;
      }
    }
  }
}





//________________________
//
// Collapse header
//
//________________________

.collapsible-head {
  .search-background, .background-extend, .search-fields, .global-tabs { display: none; }
  .show.search-background, .show.background-extend, .show.search-fields, .show.global-tabs { display: block; }
}


#nav-header-collapse {
  @include box-shadow(0px 1px 2px rgba(black, .3));
  display: block;
  width: 100%;
  background: $btnAction;
  position: relative;
  height: 4px;
  overflow: visible;
  color: white;
  font-size: 40px;
  border-bottom: 1px solid $btnActionBorder;
  cursor: pointer; 
  z-index: 99;
  &:hover, &:hover span {
    background: darken($btnAction, 5%);
  }
  span {
    @include box-shadow(0px 1px 2px rgba(black, .3));
    @include border-radius(0 0 2px 2px);
    display: none;
    position: absolute;
    right: 5%;
    top: 3px;
    padding: .1em .25em .15em .25em;
    background: $btnAction;
    border: 1px solid $btnActionBorder;
    border-top: none;
  }
  .c { display: block; }
  .e { display: none; }
  
  &.expandable {
    .e { display: block; }
    .c { display: none; }
  }
}

.replace-header {
  @extend .receptacle;
  position: relative;
  overflow: visible;
  margin-top: 30px;
  .new-title {
    display: block;
    float: left;
    padding-left: $threeColumn + $gutterW;
    font-weight: normal;
    margin: 0;
    font-size: 30px;
    line-height: 1.1em;
    a { 
      line-height: 1em;
      color: $blueLight;
      &:hover, &.active {
        color: $linkColor;
        text-decoration: none;
      }
    }
  }
  ul {
    clear: both;
    @extend .horizontal-list;
    padding-left: $threeColumn + $gutterW;
    padding-top: 20px;
    min-height: 34px;
    li {
      margin-right: 1.5em;
      &:last-of-type { margin-right: 0;}
    }
    a {
      color: $blueLight;
      font-weight: bold;
      font-size: 1.3em;
      &:hover, &.active {
        color: $linkColor;
        text-decoration: none;
      }
    }
  }
  .org-add-bike {
    position: relative;
    margin-top: 30px;
    font-size: 20px;
  }
  .button-green {
    float: right;
    padding: .5em 1em;
  }
}

@media (max-width: 600px) {
  .replace-header {
    .org-add-bike {
      width: 100%;
      .button-green { float: none; width: 100%;}
    }
    ul {
      padding-top: 40px;
      padding-left: 0;
    }
  }
}



@media (min-width: 601px) {
  .replace-header {
    .new-title {
      font-size: 40px;
    }
  }
}

@media (min-width: 768px) {
  .replace-header {
    .new-title {
      font-size: 60px;
    }
    ul { padding-right: 0; }
    ul.org-links { padding-right: $fourColumn + $gutterW; }
    .org-add-bike {
      position: absolute;
      top: 60px;
      right: 0;
      margin-top: 18px;
      width: $fourColumn;
    }
    .button-green {
      float: none;
      display: block;
    }
  }
}

@media (min-width: 900px) {
  .replace-header {
    margin-top: 17px;
    min-height: 160px;
    ul {
      padding-left: $twoColumn + $gutterW;
      padding-top: 20px;
    }
    .new-title {
      font-size: 70px;
      padding-left: $twoColumn + $gutterW;
    }
    .org-add-bike {
      position: absolute;
      top: 62px;
    }
  }
}




//________________________
//
// Overrides for header select2
//
//________________________

#head-search-bikes {
  .select2-container {
    * {
      -moz-box-sizing: content-box;
      -webkit-box-sizing: content-box;
      box-sizing: content-box;
      border-color: #ccc;
    }
  }
  .select2-container-multi .select2-choices .select2-search-choice {
    padding-top: .3em;
    padding-bottom: .3em;
    margin-top: .25em;
    // margin-bottom: .3em;
  }
  .select2-search-choice-close { top: 5px; }
  // .additional-fields input { margin-top: 0; }
}


///////////// Overrides

#header {
  #header-tabs {
    margin-bottom: 0;
  }
  .search-fields {
    position: relative;
  }
  .search-background {
    z-index: -1;
    height: 100%;
    &:after {
      content: " ";
      display: block;
      position: absolute;
      top: -1px; right: -50%;
      width: 100%; height: 100%;
      background: $searchBackground;
      border-top: 1px solid $searchBorder;
      border-bottom: 1px solid $searchBorder;
      z-index: -2;
    }
  }


  .optional-fields {
    position: relative;
    float: right;
    margin-top: .5em;
  }
}

@media (max-width: 599px) {
  #total-top-header.header-tabs-in .logo {
    opacity: .2;
    -webkit-transition: all .1s linear;
    -moz-transition: all .1s linear;
    -o-transition: all .1s linear;
    transition: all .1s linear;
  }
}

