// Home coloring

body.welcome-page {
  background: $blueDarker;
  #tab-cover { background: $blueDarker; }
  .global-tabs a { color: #97c0db; }
  .follow-link.logo {
    background: $searchBackground;
    // overflow: hidden;
    .standard-logo { display: none; }
    .transparent-logo {
      width: 100;
      display: block;
    }
  }
  .content {
    padding: 0;
    overflow: hidden;
    &:before { display: none; }
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body.welcome-page .follow-link.logo {
    .transparent-logo-bg {
      margin: 0;
      position: absolute;
      top: 0;
      display: block;
      width: 16.59%;
      height: 100%;
      background: $blueDarker;
      &:first-of-type { left: 0; }
      &:nth-of-type(2) { right: 0; }
    }
  }

}
@media (min-width: 910px) {
  body.welcome-page .follow-link.logo {
    overflow: hidden;
    img {
      width: 100.5%;
      max-width: 100.5%;
    }
    min-height: 200px;
    .transparent-logo-bg:first-of-type {
      margin-top: -1px;
      position: relative;
      display: block;
      width: 100%;
      height: 100px;
      background: $blueDarker;
    }
  }
}

@media (min-width: 760px) {
  .welcome-page .tab-content .tab-pane.active#you:before { 
    background: $blueDarker;
  }
}



//________________________
//
// home title
//
//________________________


#home-title {
  text-align: center;
  width: 100%;
  position: relative;
  min-height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  h1 {
    margin: 0;
    font-family: $baseFont;
    font-size: 60px;
    text-transform: capitalize;
  }
}

@media (max-width: 600px) {
  #home-title h1 {
    font-size: 42px;
  }
}


@media (max-width: 600px) {
  #home-title h1 { padding: 20px 0 20px; }
}
@media (max-width: 900px) {
  #home-title h3 { font-size: 20px; }
}

@media (min-width: 900px) {
  #home-title h1 {
    // margin: 40px 0 150px;
    padding-top: 20px;
    font-size: 80px;
  }
}

@media (min-width: 1100px) {
  #home-title h1 {
    // margin: 40px 0 150px;
    padding-top: 30px;
    font-size: 110px;
  }
}


//________________________
//
// treating right section
//
//________________________

#treating-right {
  @include clearfix;
  margin-top: 60px;
  position: relative;
  width: 100%;
  // .receptacle.overfloating { height: 1px; }
}

.treating-right-image {
  float: left;
  left: 0;
  // width: 63%;
  width: $eightColumn;
  position: relative;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .fork-layer {
    position: absolute;
    left: 0; top: 0;
  }
  
  .wheel-layer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;

  }
}

#wheel-spin {
  @include transition(1.5s ease-out);
  @include rotate(-15deg);
  &.wheelspun { @include rotate(15deg); }
}


.treating-right-text {
  width: $fourColumn;
  position: absolute;
  right: 0;
  padding-top: 20px;
  .button-green {
    @include box-shadow(1px 1px 4px rgba(black,.3));
    font-size: 40px;
    display: block;
    width: 100%;
    margin: 0 auto 30px;
    padding: .5em;
    text-transform: uppercase;    
    border-color: rgba(0,0,0,.15) rgba(0,0,0,.15) rgba(0,0,0,.25);
    &:hover {
      @include box-shadow(2px 2px 4px rgba(black,.3));
    } 
    &:active {
      @include box-shadow(1px 1px 4px rgba(black,.3));
    }
  }
  h2 {
    font-size: 22px;
    text-align: center;
    color: lighten($grayLighter, 7%);
    // font-family: $baseFont;
    // color: $yellowPale;
    // a:hover { color: $linkColor; }
  }
}

@media (max-width: 1000px) {
  .treating-right-text .button-green { font-size: 30px; }
}

@media (max-width: 900px) {
  .treating-right-text {
    h2 { font-size: 18px; }
  }
}
@media (max-width: 800px) {
  .treating-right-text .button-green { font-size: 18px; }
}

@media (max-width: 700px) {
  .treating-right-text {
    margin-top: -60px;
    h2 { font-size: 16px; }

    .button-green {
      padding: .5em;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  .treating-right-text {
    padding-top: 65px;
    h2 {
      position: absolute;
      top: 0px;
      left: -222.5%;
      width: 333%;
    }
    .button-green {
      font-size: 16px;
      padding: .5em;
      margin-bottom: 10px;
    }
  }
}


@media (min-width: 1000px) {
  .treating-right-text {
    padding-top: 100px;
  }
}


//________________________
//
// Community
//
//________________________


#best-ever {
  background: white;
  // background: #27AE60;
  z-index: 1;
  border-top: 1px solid $searchBorder;
  border-bottom: 1px solid $searchBorder;
  color: $grayDark;
  // color: white;
  position: relative;
  width: 100%;
  a { color: $blueLight; }
  h3 {
    text-align: center;
    color: $textColor;
  }
  p { text-align: center; }
  article {
    position: relative;
    float: left;
    padding-top: 40px;
    margin-right: $gutterW;
  }
  .icographix {
    @include border-radius(6px);
    @include box-shadow(#{inset 1px 1px 6px rgba(black,.2)});
    @include transition(opacity 1.7s ease-in);
    opacity: 1;
    position: relative;
    width: 50%;
    max-width: 220px;
    padding: 10px;
    background: $blueDarker;
    margin: 0 auto 20px;
    img {
      width: 100%;
      display: block;
    }
  }
  &.displayno-icos .icographix { opacity: 0; }
}


@media (max-width: 767px) {
  #best-ever {
    padding: 60px 0;
    article {
      width: $sixColumn;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
  }
}

@media (max-width: 550px) {
  #best-ever {
    .icongraphix { max-width: 70%; }
    article p { display: none;  } 
  }
}

@media (min-width: 768px) {
  #best-ever {
    padding-bottom: 80px;
    article {
      padding-top: 60px;
      width: $fourColumn;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }
}

//________________________
//
// Awesomeness
//
//________________________

.bike-background {
  background: url("/assets/supporters/bikes_small.jpg") fixed;
  width: 100%;
}

@media (min-width: 1200px) {
  .bike-background { background: url("/assets/supporters/bikes_large.jpg") fixed; }
}

#supporters {
  @include box-shadow(inset 0 0 2px rgba(black,.6));
  position: relative;
  min-height: 15em;
  padding: 40px 0 4em;
  h2 {
    font-size: 30px;
    margin: .75em 0;
    // margin: 1em 0;
    text-shadow: 1px 1px 2px rgba(black,.3);
    color: white;
    font-family: $baseFont;
  }
  .horizontal-list {
    li {
      width: 33%;
      padding: 15px;
      a { display: block; width: 100%;}
      img { width: 100%; }
    }
  }
}

.and-many-more {
  position: absolute;
  background: rgba(white,.7);
  border: $searchBorder;
  border-bottom: 0;
  border-radius: 3px 3px 0 0;
  bottom: 0;
  left: 3%;
  width: 94%;
  p {
    text-align: center;
    margin: 0;
    padding: .5em 0 .25em;
  }
}

@media (min-width: 625px) {
  #supporters {
    padding-bottom: 5em;
    h2 { font-size: 40px; }
    .horizontal-list li {
      width: 16.66%;
      padding: 0;
    }
    .and-many-more {
      left: 5%;
      width: 90%;
      p { padding: .75em 0 .5em; }
    }
  }
}

@media (min-width: 1000px) {
  #supporters {
    // padding-bottom: 6em;
    h2 {
      font-size: 50px;
      // margin: .75em 0 .75em;
    }
    .and-many-more {
      left: 20%;
      width: 60%;
    }
  }
}

@media (min-width: 1300px) {
  #supporters h2 { margin-left: -5%; }
}




//________________________
//
// Movie!
//
//________________________

#movie-wrap { 
  position: relative;
  box-shadow: 1px 1px 3px rgba(black,.9);
  background: #000;
}

#iframe-holder {
  width: 100%;
  position: absolute;
  top: 0; left: 0;
  z-index: 100;
  &.showing-movie { height: 100%; }
}

#movie-cover {
  box-shadow: 1px 1px 3px rgba(black,.2);
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid rgba(white,.3);
  border-top: 1px solid rgba(white,.3);
  background: url("/assets/home/logo-mosaic.jpg") no-repeat center center; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  width: 100%; height: 100%;
  .receptacle { z-index: 1; }
  &.showing-movie {
    @include transition(opacity 1s ease-in);
    opacity: 0;
  }
}


@media (min-width: 1500px) {
  #movie-cover {
    background: url("/assets/home/logo-mosaic_huge.jpg") no-repeat center center; 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
  }
}

.play-button {
  height: 80px;
  width: 130px;    
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: -40px;
  margin-left: -65px;
  cursor: pointer;
  &:hover {
    background-color: rgba(0, 173, 239, 0.9);
  }
  &:active {
    @include translate(1px,1px);
  }
  &:after {
    content: "";
    display: block;
    position: absolute;
    top: 21px;
    left: 48px;
    margin: 0 auto;
    border-style: solid;
    border-width: 19px 0 19px 34px;
    border-color: transparent transparent transparent rgba(255, 255, 255, 1);
  }
}