// Home coloring

body.welcome-page {
  background: $blueDarker;
  #tab-cover { background: $blueDarker; }
  .global-tabs a { color: #97c0db; }
  .follow-link.logo {
    background: $searchBackground;
    // overflow: hidden;
    .standard-logo { display: none; }
    .transparent-logo {
      width: 100;
      display: block;
    }
  }
  .content {
    padding: 0;
    overflow: hidden;
  }
}

@media (min-width: 601px) and (max-width: 900px) {
  body.welcome-page .follow-link.logo {
    .transparent-logo-bg {
      margin: 0;
      position: absolute;
      top: 0;
      display: block;
      width: 16.59%;
      height: 100%;
      background: $blueDarker;
      &:first-of-type { left: 0; }
      &:nth-of-type(2) { right: 0; }
    }
  }

}
@media (min-width: 910px) {
  body.welcome-page .follow-link.logo {
    overflow: hidden;
    img {
      width: 100.5%;
      max-width: 100.5%;
    }
    min-height: 200px;
    .transparent-logo-bg:first-of-type {
      margin-top: -1px;
      position: relative;
      display: block;
      width: 100%;
      height: 100px;
      background: $blueDarker;
    }
  }
}

@media (min-width: 760px) {
  .welcome-page .tab-content .tab-pane.active#you:before { 
    background: $blueDarker;
  }
}



//________________________
//
// home title
//
//________________________


#home-title {
  text-align: center;
  width: 100%;
  position: relative;
  min-height: 40px;
  max-width: 1200px;
  margin: 0 auto;
  color: white;
  h1 {
    margin: 0;
    font-family: $baseFont;
    font-size: 60px;
    text-transform: capitalize;
  }
}

@media (max-width: 600px) {
  #home-title h1 {
    font-size: 42px;
  }
}


@media (max-width: 600px) {
  #home-title h1 { padding: 20px 0 20px; }
}
@media (max-width: 900px) {
  #home-title h3 { font-size: 20px; }
}

@media (min-width: 900px) {
  #home-title h1 {
    // margin: 40px 0 150px;
    padding-top: 20px;
    font-size: 80px;
  }
}

@media (min-width: 1100px) {
  #home-title h1 {
    // margin: 40px 0 150px;
    padding-top: 30px;
    font-size: 110px;
  }
}


//________________________
//
// treating right section
//
//________________________

#treating-right {
  @include clearfix;
  margin-top: 60px;
  position: relative;
  width: 100%;
  // .receptacle.overfloating { height: 1px; }
}

.treating-right-image {
  float: left;
  left: 0;
  // width: 63%;
  width: $eightColumn;
  position: relative;
  img {
    width: 100%;
    height: auto;
    display: block;
  }
  .fork-layer {
    position: absolute;
    left: 0; top: 0;
  }
  
  .wheel-layer {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: auto;

  }
}


.treating-right-text {
  width: $fourColumn;
  position: absolute;
  right: 0;
  padding-top: 20px;
  .button-green {
    @include box-shadow(#{inset 0 0 3px rgba(black,.2), 0 0 2px rgba(black,.2)});
    font-size: 40px;
    display: block;
    width: 100%;
    margin: 0 auto 30px;
    padding: .5em;
    text-transform: uppercase;
    &:hover {
      @include box-shadow(#{inset 0 0 0 white, 1px 1px 2px rgba(black,.2)});
    } 
  }
  h2 {
    font-size: 22px;
    text-align: center;
    color: lighten($grayLighter, 7%);
    // font-family: $baseFont;
    // color: $yellowPale;
    // a:hover { color: $linkColor; }
  }
}

@media (max-width: 1000px) {
  .treating-right-text .button-green { font-size: 30px; }
}

@media (max-width: 900px) {
  .treating-right-text {
    h2 { font-size: 18px; }
  }
}
@media (max-width: 800px) {
  .treating-right-text .button-green { font-size: 18px; }
}

@media (max-width: 700px) {
  .treating-right-text {
    margin-top: -60px;
    h2 { font-size: 16px; }

    .button-green {
      padding: .5em;
      margin-bottom: 10px;
    }
  }
}

@media (max-width: 600px) {
  .treating-right-text {
    padding-top: 65px;
    h2 {
      position: absolute;
      top: 0px;
      left: -222.5%;
      width: 333%;
    }
    .button-green {
      font-size: 16px;
      padding: .5em;
      margin-bottom: 10px;
    }
  }
}


@media (min-width: 1000px) {
  .treating-right-text {
    padding-top: 100px;
  }
}

//________________________
//
// Fight theft
//
//________________________

#moving-block {
  display: block;
  width: 100%;
  height: 75%;
  // background: $purple;
  position: absolute;
  left: 0;
  bottom: 40px;
  img {
    width: auto;
    height: 100%;
  }
}

#fight-theft-profit {
  background: $bodyBackground;
  border-bottom: 1px solid $searchBorderLight;
}

.fight-theft-image {
  margin-top: 20px;
  position: relative;
  &>img {
    position: relative;
    display: block;
    width: auto;
    max-height: 500px;
    padding-bottom: 20px;
    // width: 100%;
    // max-width: 400px;
    // max-width: 350px;
    margin: 0 auto;
  }
}

.theft-profit-block {
  color: $grayDark;
  h3 {
    color: $textColor;
    margin-top: 40px;
  }
  li {
    margin-bottom: 1em;
    span { margin-top: 0; }
  }
}

@media (max-width: 699px) {
  #fight-theft-profit {
    padding-top: 40px;
    .fight-theft-image>img { max-height: 300px; }
  }
}

@media (min-width: 701px) {
  #fight-theft-profit {
    .inner-recep {
      max-width: 800px;
      margin: 0 auto;
    }
    padding: 30px 0;
  }
  .fight-theft-image {
    width: 52%;
    float: right;
    max-width: 500px;
  }
  .theft-profit-block {
    width: 46%;
    margin-left: $gutterW;
    float: right;
    h3 { margin-top: 100px; }
    ul {
      margin-top: 40px;
      font-size: 22px;
      line-height: 1em;
    }
  }
}

@media (min-width: 1100px) {
  .theft-profit-block {
    h3 { margin-top: 180px; }
  }
}


//________________________
//
// Kickstarter
//
//________________________


#kickstarter {
  @include clearfix;
  position: relative;
  z-index: 10;
  overflow: hidden;
  border-bottom: 1px solid $searchBorderLight;
  background: $bodyBackground;
  width: 100%;
  .kickstarter-background {
    display: block;
    width: 110%;
    height: 100%;
    position: absolute;
    left: 0; top: 0;
    z-index: 0;
    img {
      width: 100%;
      min-height: 100%;
      // min-width: 100%;
      max-width: 500%;
    }
    &:before {
      content: " ";
      z-index: 1;
      display: block;
      position: absolute;
      left: 0; top: 0;
      width: 100%;
      height: 1px;
      background: rgba(white,.5);
    }
  }
  .receptacle { z-index: 1; }
  h2 {
    text-align: center;
    font-size: 40px;
    margin: 20px 0 30px;
    color: $blueDarker;
    // text-shadow: 1px 1px 2px rgba(black,.2);
  }
  .kickstarter-main {
    position: relative;
    width: 100%;
    .kvid {
      display: none;
      width: 480px;
    }
  }
  .kickstarter-iframe {
    margin: 0;
    position: absolute;
    right: 0;
    top: -10px;
    overflow: visible;
  }
}

@media (min-width: 960px) {
  #kickstarter {
    h2 { font-size: 60px; }
    .kickstarter-main .kvid {
      margin: 20px auto;
      width: 640px;
    }
    .kickstarter-iframe {
      // top: 0px;
      top: 50px;
    }
  }
}

@media (min-width: 760px) {
  #kickstarter {
    .kickstarter-main {
      padding-right: 240px;
      .kvid {
        display: block;
        margin: 15px auto;
      }
    }
  }
}

@media (max-width: 760px) {
  #kickstarter {
    .kickstarter-iframe {
      margin: 20px auto;
      position: relative;
      width: 212px;
    }
  }
}





//________________________
//
// Community
//
//________________________


#best-ever {
  background: $searchBackgroundLight;
  border-top: 1px solid $searchBorderLight;
  border-bottom: 1px solid $searchBorderLight;
  color: $grayDark;
  position: relative;
  width: 100%;
  a { color: $blueLight; }
  h3 {
    text-align: center;
    color: $textColor;
  }
  article {
    position: relative;
    float: left;
    padding-top: 40px;
    margin-right: $gutterW;
  }
  .icographix {
    @include border-radius(6px);
    @include box-shadow(#{inset 1px 1px 6px rgba(black,.2)});
    position: relative;
    width: 50%;
    max-width: 220px;
    padding: 10px;
    background: $blueDarker;
    margin: 0 auto 20px;
    img {
      width: 100%;
      display: block;
    }
  }
}

@media (max-width: 767px) {
  #best-ever {
    padding: 60px 0;
    article {
      width: $sixColumn;
      &:nth-of-type(2n) {
        margin-right: 0;
      }
    }
    .icographix {
      max-width: 30%;
    }
  }
}

@media (max-width: 550px) {
  #best-ever {
    article {
      width: $twelveColumn;
      margin-right: 0;
    } 
  }
}

@media (min-width: 768px) {
  #best-ever {
    padding: 120px 0;
    article {
      padding-top: 60px;
      width: $fourColumn;
      &:nth-of-type(3n) {
        margin-right: 0;
      }
      &:nth-of-type(3n+1) {
        clear: left;
      }
    }
  }
}


//________________________
//
// Awesomeness
//
//________________________


#our-database {
  // @include box-shadow(0px -1px 1px rgba($grayDark,.2));
  // z-index: 10;
  position: relative;
  background: $searchBackgroundLight;
  border-top: 1px solid white;
  border-bottom: 1px solid $searchBorderLight;
  p {
    color: $grayDark;
    font-family: $baseFont;
    font-size: 18px;
    font-weight: 300;
  }
}


@media (min-width: 700px) {
  #our-database {
    .inner-recep {
      max-width: 800px;
      margin: 0 auto;
    }
  }
}

@media (min-width: 800px) {
  #our-database, #fight-theft-profit {
    h3 {
      font-size: 26px;
      margin-bottom: 1em;
    }
    p {
      font-size: 20px;
      line-height: 1.3em;
    }
  }
}

#our-database {
  padding: 2px 0;
  article {
    width: 52%;
    float: right;
    padding-top: 3em;
    font-weight: 300;
    margin-left: $gutterW;
  }
  .sample-list {
    position: relative;
    float: right;
    width: 46%;
    padding-right: 10px;
    a {
      max-width: 300px;
      display: block;
      padding: 0;
      margin: 10px auto 0;
      &:first-of-type {margin-top: 0;}
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

@media (max-width: 750px) {
  #our-database {
    article {
      padding-top: 2em;
    }
  }
}

@media (max-width: 600px) {
  #our-database {
    article {
      padding-top: 1em;
      width: 100%;
      float: none;
      margin-left: 0;
    } 
    .sample-list {
      float: none;
      margin: 30px auto 0;
      width: 300px;
      max-width: 100%;
      // a, a img { width: 300px;}
      .top-image, .middle-image { display: none; }
    }
  }
}