.legal-content {
  max-width: 45em;
  margin: 0 auto;

  header {
    h1 { font-size: 28px;}
    p { color: $grayDark;}
    hr {
      margin: 30px 0 40px;
    }
  }

  h1, h2, h3 {
    font-size: 20px;
    font-weight: normal;
    line-height: 1.25em;
    margin: 1em 0 .75em;
  }
  h1 { margin: 1.5em 0 .5em; }
}