//________________________
//
// Signup styles
//
//________________________

.signinup-form {
  // width: 100%;
  // max-width: 466px;
  h2 { margin-bottom: 40px;}
  .button-blue {
    font-size: $standardFontSize;
    padding: .25em 1em;
  }
  .switch-login-signup {
    margin-top: 3em;
    color: $grayDark;
  }
}
@media (max-width: 767px) {
  .signinup-form .well { max-width: 500px; margin: 20px auto}
}
.signup-form {
  width: 100%;
  @include clearfix;
  clear: both;
}
.signinup-form {
  .tos {
    label { font-size: $standardFontSize; }
    input { margin: 0 10px 0 0; }
  }
}

@media (max-width: 479px) {
  .signup-form {
   .tos {
    .control-label {
      width: auto;
      height: auto;
      padding: 0 0 1em 0;
      margin: 0 1em 0 0;
    }
   }
  }
}


@media (min-width: 768px) {
  .signinup-form {
    margin-left: 0;
    width: $fourColumn;
  }
    .signup-form {
    // margin-left: $fourColumn + $gutterW;
      label.control-label {
        float: none;
        width: auto;
        padding-top: 0;
        text-align: left;
      }
      .controls {
        margin-left: 0;
        width: 100%;
        position: relative;
        input { width: 90%;}
      }
      .tos {
        // margin-bottom: 0;
        .control-label {
        width: 20px;
        margin-right: 10px;
        }
      }
    }
  // }
}

.facebook-login {
  @extend .button-blue;
  display: block;
  float: right;
  position: relative;
  padding-right: 35px;
  span {
    @include border-radius(2px);
    display: block;
    position: absolute;
    top: 5%;
    right: 3px;
    height: 26px;
    width: 26px;
    background: $blueDarker;
  }
  img {
    height: 26px;
    width: 26px;
  }
}

.signinup-form .facebook-login { padding-right: 35px; }


//________________________
//
// Confirmation
//
//________________________

.signup-response {
  h1 {
    color: $blueDarker;
  }
  .signup-image {
    position: relative;
    img {
      display: block;
      width: 100%;
      max-width: 300px;
      margin: 0 auto;
    }
  }
  h3 { margin-top: 30px; }
  h2 { margin-top: 30px;}
}

@media (min-width: 700px) {
  .signup-response {
    h3 { margin-bottom: 40px; }
    .signup-image {
      width: $sixColumn;
      float: right;
      margin-left: $gutterW;
    }
    .signup-text {
      margin-top: 80px;
      position: relative;
      float: left;
      width: $sixColumn;
    }
  }
}




//________________________
//
// Vendor Terms
//
//________________________


.accept-vendor-terms {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  background-color: $white;
  border: 1px solid #999;
  border: 1px solid rgba(0,0,0,.3);
  *border: 1px solid #999; /* IE6-7 */
  @include box-shadow(0 0px 4px rgba(0,0,0,0.2));
  @include background-clip(padding-box);
  form { margin: 0; }
  label { font-size: $standardFontSize;}
  .controls { padding-top: .5em;}
}

@media (min-width: 701px) {
  .accept-vendor-terms {
    .control-group {
      width: 680px;
      margin: 0 auto;
    }
    .form-horizontal {
      padding: 10px 20px; }
    .agree-action {
      width: 100%;
      padding: 15px 20px 20px;
      margin-bottom: 0;
      text-align: right; // right align buttons
      background-color: #f5f5f5;
      border-top: 1px solid #ddd;
      @include border-radius(0 0 6px 6px);
      @include box-shadow(inset 0 1px 0 $white);

    // Properly space out buttons
      .btn + .btn {
        margin-left: 5px;
        margin-bottom: 0; // account for input[type="submit"] which gets the bottom margin like all other inputs
      }
      // but override that for button groups
      .btn-group .btn + .btn {
        margin-left: -1px;
      }
    }
  }
}

@media (max-width: 700px) {
  .accept-vendor-terms {
    .control-group {
      padding: 0 20px;
      margin-bottom: 5px;
      .control-label {
        width: 20px;
        margin-right: 10px;
      }
      .controls {
        margin: 0;
      }
    }
    .agree-action {
      padding: 10px 0;
      .button-blue {
        width: 100%;
      }
    }
  }
}


//________________________
//
// Bike pictures
// .span8.photo-animation
//
//________________________

#photos-flip  {
  position: relative;
  display: none;
}

#photo-page {
  @include clearfix;
  display: block;
  position: relative;
  width: 100%;
}

@media (min-width: 768px) {
  .photo-animation {
    width: $eightColumn;
    margin-left: $gutterW;
    position: relative;
    float: right;
    #photos-flip {
      @include clearfix;
      display: block;
    }
  }
}

.bike-photo {
  display: block;
  opacity: 0;
  margin: 0;
  float: left;
  position: relative;
  img {width: 100%;}
}

.bike-photo {
  -webkit-perspective: 1000;
     -moz-perspective: 1000;
      -ms-perspective: 1000;
       -o-perspective: 1000;
          perspective: 1000;
}
  /* flip the pane when hovered */
.bike-photo.uncover .flipper {
  @include transform(rotateY(-180deg));
}

.bike-photo:hover .flipper {
  @include transform(rotateY(0deg));
}

#never-block {
  opacity: 0;
  text-align: center;
  font-weight: normal;
  font-size: 35px;
  font-style: italic;
  margin-bottom: 1em;
}

// flip speed goes here 
.flipper {
  -webkit-transition: 0.6s;
     -moz-transition: 0.6s;
      -ms-transition: 0.6s;
       -o-transition: 0.6s;
          transition: 0.6s;
  -webkit-transform-style: preserve-3d;
     -moz-transform-style: preserve-3d;
      -ms-transform-style: preserve-3d;
       -o-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}

// hide back of pane during swap
.front, .back, .front-behind {
  -webkit-backface-visibility: hidden;
     -moz-backface-visibility: hidden;
      -ms-backface-visibility: hidden;
       -o-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

 // front pane, placed above back
.front {
  z-index: 2;
  background: $blueDarker;
  border: 1px solid darken($blueDarker, 5%);
}

 // back, initially hidden pane
.back {
  @include transform(rotateY(-180deg));
 .img-location { display: none; }
}

.front-behind {
  z-index: 3;
  display: none;
  border: 1px solid darken($blueDarker, 5%);
  .back-colored {
    background: rgba($blueDarker, .7);
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 4;
    padding: 5px;
  }
  img {
    -moz-transform: scaleX(-1);
    -o-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
    filter: FlipH;
    -ms-filter: "FlipH";
    display: block;
    position: absolute;
    top: 0; left: 0;
    height: 100%;
    width: 100%;
    z-index: 3;
  }
  &:hover { text-decoration: none; }
  span {
    font-size: .9em;
    margin: 0;
    color: white;
    // span { color: #bbb;}
  }
}