//________________________
//
// Org global styles
//
//________________________

#nav-header-collapse {
  @include box-shadow(0px 1px 2px rgba(black, .3));
  display: block;
  width: 100%;
  background: $btnAction;
  position: relative;
  height: 4px;
  overflow: visible;
  color: white;
  font-size: 40px;
  border-bottom: 1px solid $btnActionBorder;
  cursor: pointer; 
  z-index: 1000;
  // &:before {
  //   @include gradient-vertical(rgb(254,254,254), $btnAction);
  //   display: block;
  //   content: " ";
  //   width: 100%;
  //   height: 6px;
  //   position: absolute;
  //   top: -6px; left: 0;
  // }
  &:hover, &:hover span {
    background: darken($btnAction, 5%);
  }
  span {
    @include box-shadow(0px 1px 2px rgba(black, .3));
    display: none;
    position: absolute;
    right: 5%;
    top: 3px;
    padding: .1em .25em .15em .25em;
    background: $btnAction;
    border: 1px solid $btnActionBorder;
    border-top: none;
  }
  .c { display: block; }
  .e { display: none; }
  
  &.expandable {
    .e { display: block; }
    .c { display: none; }
  }

}

.org-header {
  @extend .receptacle;
  position: relative;
  overflow: visible;
  margin-top: 30px;
  .shop-title {
    display: block;
    float: left;
    padding-left: $threeColumn + $gutterW;
    font-weight: 600;
    margin: 0;
    font-size: 30px;
    a { 
      line-height: 1em;
      color: lighten($textColor, 15%);
      &:hover, &.active {
        color: $textColor;
        text-decoration: none;
      }
    }
  }
  .org-add-bike {
    position: relative;
    margin-top: 30px;
    font-size: 20px;
    z-index: 100;
  }
  .button-green {
    float: right;
    padding: .5em 1em;
  }
  ul {
    clear: both;
    @extend .horizontal-list;
    padding-left: $threeColumn + $gutterW;
    padding-top: 20px;
    min-height: 34px;
    li {
      margin-right: 1.5em;
      &:last-of-type { margin-right: 0;}
    }
    a {
      color: #85a4b0;
      font-weight: 800;
      font-size: 1.3em;
      &:hover, &.active {
        color: $linkColor;
        text-decoration: none;
      }
    }
  }
}

@media (max-width: 600px) {
  .org-header {
    .org-add-bike {
      width: 100%;
      .button-green { float: none; width: 100%;}
    }
  }
}



@media (min-width: 601px) {
  .org-header {
    .shop-title {
      font-size: 40px;
    }
  }
}

@media (min-width: 768px) {
  .org-header {
    .shop-title {
      font-size: 60px;
    }
    ul { padding-right: $fourColumn + $gutterW; }
    .org-add-bike {
      position: absolute;
      top: 60px;
      right: 0;
      margin-top: 18px;
      width: $fourColumn;
    }
    .button-green {
      float: none;
      display: block;
    }
  }
}

@media (min-width: 900px) {
  .org-header {
    margin-top: 17px;
    min-height: 160px;
    ul {
      padding-left: $twoColumn + $gutterW;
      padding-top: 20px;
    }
    .shop-title {
      font-size: 70px;
      padding-left: $twoColumn + $gutterW;
    }
    .org-add-bike {
      position: absolute;
      top: 62px;
    }
  }
}
// @media (max-width: 500px) {
//   .top-header {
//     .logo {
//       bottom: 0;
//       height: 4em;
//       width: auto;
//       img {
//         height: 100%;
//         width: auto;
//       }
//     }
//   }
// }


.full-screen-table {
  padding: 20px 0;
  table.table {
    margin: 10px 0 25px;
  }
  .less-strong {
    color: darken($grayMed, 5%);
  }
}

.manage-org-link {
  @include clearfix;
  font-size: 20px;
  width: 100%;
  padding: 20px 0;
  a {
    @extend .button-yellow;
    float: right;
  }
}


//________________________
//
// Org manage styles
//
//________________________

.org-monies {
  // margin: 60px 0;
}


.organization-description-list {
  margin: 60px 0 40px;
  position: relative;
  .button-yellow {
    float: none;
    clear: both;
    font-size: 16px;
    display: block;
    margin-top: 20px;
  }
}

@media (min-width: 900px) {
  .organization-description-list {
    padding-right: $sixColumn + $gutterW;
    .button-yellow {
      width: $sixColumn;
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -1.75em;
    }
  }
}

.invitations {
  max-width: 90%;
  margin: 60px auto 0;
  h2 { padding-top: 20px;}
}

.invitations-sent {
  margin: 1.5em 0 .25em;
}

.invitations-wait-till {
  text-align: center;
  p { margin: 0; }
}

.membership-actions {
  width: 600px;
  max-width: 100%;
  .button-green {
    float: right;
    font-size: 1.2em;
  }
  .button-red {
    margin-top: .2em;
    float: left;
    font-size: .8em;
  }
}

.delete-organization {
  padding: 30px 0;
  p {
    a {
      cursor: pointer;
      color: $stolenColor;
      display: none;
      &.collapsed { display: block; }
    }
  }
  .collapse.in {
   // overflow: visible;
   padding: 10px 2px;
 }
}


.controls-appended {
  .controls {
    display: block;
    input {
      font-size: $standardFontSize;
      line-height: $standardFontSize;
    }
    .add-on {
      margin-top: -.25em;
      display: inline-block;
      float: left;
      // padding: .5em 0;
    }
  }
}