#bikes-search { display: none; }

.serial-text {
  font-family: Courier;
  text-transform: uppercase;
  font-size: 1.1em;
}

//________________________
//
// Single bike view
//
//________________________

header.single-bike {
  @extend header.with-subtitle;
}

.single-bike-info {
  .receptacle { overflow: visible; }

  .with-subtitle {
    margin: 30px 0;
    h3 {
      font-size: 24px;
      line-height: 1.2em;
    }
    .sharing-links { margin-top: 0;}
  }
  .dl-horizontal .description {
    margin: 0;
    padding: 0;
    clear: both;
    width: 100%;
  }
}

.show-bike-edit {
  @include box-shadow(1px 0 2px rgba(black,.3));
  position: relative;
  width: 100%;
  background: rgba($bi-stripes,.9);
  border: 1px solid $biYellow;
  border-left: 0;
  border-right: 0;
  padding: $singlePad;
  margin: 0 0 20px;
  z-index: 20;
  p {
    text-align: center;
    margin: 0;
  }
  .button-blue {
    margin-left: 1em;
  }
}

//________________________
//
// Bike List
//
//________________________


@media (max-width: 768px) {
  .receptacle.bike-search-page { padding: 0; }
}

.bike-boxes {
  list-style-type: none;
  position: relative;
  padding: 0;
  margin: 0;
  li {
    @include clearfix;
    position: relative;
    width: 100%;
    padding: 20px 10px 10px;
    margin: 5px 0 0;
  }
}

.bike-boxes li:nth-child(odd) { background-color: $tableBackgroundAccent; }

.blist-image-holder {
  width: $twoColumn;
  float: left;
  position: relative;
  margin: 0 $gutterW .5em 0;
  background: white;
  a {
    width: 100%;
    display: block;
  }
  img {
    @include box-shadow(0 0 1px rgba(black,.2));
    border: 1px solid $imageBorder;
    display: block;
  }
  &:visited { border: none; }
  span {
    position: absolute;
    top: 0; left: 0;
    color: #999;
    width: 100%;
    text-align: center;
    font-weight: bold;
  }
}

.blist-link {
  display: block;
  color: $textColor;
  .serial-text {
    color: $linkColor;
  }
}

.blist-primary-group, .blist-info-group, .blist-stolen-info {
  float: left;
  width: $tenColumn;
  .dl-horizontal {
    @include clearfix;
    margin: 0;
  }
}

@media (max-width: 550px) {
  .bike-boxes {
    .blist-image-holder span { display: none; }
    .blist-info-group { display: none; }
  }
}

@media (min-width: 768px) {
  .bike-boxes .dl-holder dd { width: 100%; }
}

.bike-boxes li.blist-stolen {
  background: #E3A6A0;
  border: 1px solid $stolenColor;
  dl dt { color: #666; }
  .blist-stolen-info {
    margin-top: 10px;
    dl dt {
      color: $stolenColor;
      text-shadow: 0 0 100px rgba(black,.2);
    }
    .dl-horizontal {
      width: 49%;
      float: left;
    }
  }
}

@media (max-width: 767px) {
  .bike-boxes li.blist-stolen .blist-stolen-info {
    width: 100%;
    float: none;
    clear: left;
  }
}


@media (max-width: 550px) {
  .bike-boxes li.blist-stolen .blist-stolen-info .dl-horizontal {
    width: 100%;
    float: none;
  }
}

.printable-registration {
  display: block;
  margin-top: 40px;
}

@media (min-width: 900px) {
  .printable-registration {
    margin-top: 80px;
  }
}

// .bike-boxes {
//   list-style-type: none;
//   position: relative;
//   padding: 0;
//   margin: $singlePad 0 0 0;
//   li {
//     @include clearfix;
//     @include border-radius(1px);
//     position: relative;
//     width: 100%;
//     margin-bottom: $singlePad;
//     border: 1px solid $searchBorder;
//     background: $searchBackground;
//     padding: 10px 0;
//     &.stolen-background {
//       background: $stolenBackground;
//       dd {
//         color: $white;
//       }
//       a dd { text-decoration: underline; }
//     }
//   }
//   .image-holder {
//     width: $oneColumn;
//     margin-left: $gutterW;
//     float: left;
//     position: relative;
//     a {
//       width: 100%;
//       display: block;
//       color: transparent;
//     }
//     img {
//       @include box-shadow(0 0 1px rgba(black,.2));
//       border: 1px solid $imageBorder;
//       display: block;
//     }
//     a:hover img {
//       @include box-shadow(0px 0px 2px rgba(black,.2));
//     }
//     &:visited {
//       border: none;
//     }
//     span {
//       position: absolute;
//       top: 0;
//       left: 0;
//       color: #999;
//       width: 100%;
//       text-align: center;
//       font-weight: bold;
//     }
//   }
//   .primary-group {
//     position: relative;
//     float: left;
//     padding-left: $gutterW;
//     .dl-horizontal {
//       margin: 0;
//       a dt {
//         color: #999;
//       }
//       a {
//        @include clearfix;
//       }
//     }
//   }
//   .info-group {
//     position: relative;
//     float: left;
//     margin-left: $gutterW;
//     .dl-holder
//     .dl-horizontal {
//       margin: 0;
//     }
//   }
//   a dt, a dd {
//     text-decoration: none;
//     color: $linkColor;
//   }
//   a:hover {
//     dt, dd {
//       text-decoration: underline;
//       // color: $linkColor;
//     }
//   }
// }

// @media (max-width: 767px) {
//   .bike-boxes {
//     .dl-holder dt {
//       padding-right: 2%;
//     }
//     .image-holder {
//       width: $twoColumn;
//     }
//   }
//   .primary-group {
//     width: $nineColumn;
//     .dl-horizontal {
//       width: 100%;
//       float: left;
//     }
//   }
// }

// @media (max-width: 600px) {
//   .bike-boxes {
//     li {
//       // background: none;
//       border-left: none;
//       border-right: none;
//       // border-bottom: none;
//       margin-left: -6%;
//       width: 112%;
//       padding: 20px;
//     }
//     .image-holder {
//       width: $threeColumn;
//       margin-bottom: .5em;
//       margin-left: 0;
//     }
//     .info-group {
//       margin-left: 0;
//       padding-left: 2%;
//     }
//     .dl-holder {
//       dt {
//         width: 40%;
//       }
//       dd {
//         width: 60%;
//       }
//     }
//   }
// }

// @media (max-width: 500px) {
//   .bike-boxes li .info-group {
//     padding-left: 0;
//     clear: left;
//   }
// }
