//________________________
//
// Stolen bike display
//
//________________________

.stolen-information {
  padding: 40px 0;

    h4 {
      font-size: 1.25em;
      margin-bottom: 5px;
      color: #999;
    }
    .dl-horizontal p {
      color: #999;
    }
  #map_canvas {
    width: 100%;
    height: 400px;
  }
  .alert {
    margin-top: 30px;
    width: 100%;
    h4 {
      color: $stolenColor;
      margin-bottom: .5em;
    }
  }
  dt.stolen-color {
    color: $stolenColor;
    font-weight: normal;
  }
}

@media (min-width: 768px) {
  .stolen-information {
    .map-holder {
      position: relative;
      width: $sixColumn;
      float: left;
      margin-left: 0;
    }
  }
}

@media (max-width: 767px) {
  .stolen-information {
    .map-holder {
      width: 100%;
      padding: 0 10% 30px;
      float: none;
      margin-left: 0;
    }
  }
}

@media (max-width: 600px) {
  .stolen-information {
    .map-holder {
      padding: 0 5% 30px;
    }
  }
}


//________________________
//
// Stolen contact on page.
//
//________________________


.stolen-contact {
  margin: 80px auto 0;
  textarea { width: 100%; }
  h3 {
    color: $stolenColor;
  }
}


.stolen-contact.no-user {
  margin-top: 20px;
  h3 span {
    display: inline-block;
    color: $warningText;
    font-size: .8em;
    margin-left: 10px;
  }
  .login-form { margin-top: 30px; }
}

@media (min-width: 620px) {
  .stolen-contact.no-user {
    .login-form {
      @include clearfix;
      .field {
        float: left;
        margin-right: 10px;
      }
      .button-blue {
        float: left;
        margin-top: -.25em;
      }
      p {
        clear: both;
        margin: 0 0 .25em;
      }
    }
  }
}

