#organized_ambassador_dashboards_show {
  .ambassador-toggle {
    padding: 1rem 0;
    text-align: center;
    .btn {
      margin: auto;
    }
    @include media-breakpoint-down(md) {
      width: 90px;
      .btn {
        padding: 0.5rem 0;
        white-space: normal;
        display: block;
        max-width: 90%;
        font-size: 80%;
      }
    }
  }
}
