#organized_bikes_index {
  .organized-bikes-settings-toggle {
    color: $gray-light;
  }
  &.javascriptFunctioning .hiddenColumn {
    display: none;
  }
  .settings-list {
    padding: 2 * $vertical-height $vertical-height;
    background: $gray-lighter;
    border: solid 1px rgba($gray-light, 0.7);
    &.in {
      margin: $vertical-height 0;
    }
    label {
      cursor: pointer;
      margin-bottom: 0;
    }
    .form-group {
      margin-bottom: 0;
    }

    .stickers-sort-btns {
      margin: 2 * $vertical-height 0 0;
      padding-top: 2 * $vertical-height;
      border-top: solid 1px rgba($gray-light, 0.25);
      .btn {
        margin-left: 0.5rem;
      }
      .btn.active {
        cursor: default;
        text-decoration: none;
      }
    }
  }
}

#organized_bikes_new {
  @include media-breakpoint-down(sm) {
    .organized-wrap > .container {
      padding-left: 0;
      padding-right: 0;
    }
  }
  .container > iframe {
    min-height: 1400px;
    width: 100%;
    border: none;
  }
}

// Fix little issue with button underlines
.organized-body {
  .active.btn.btn-outline-primary {
    text-decoration: none;
  }
}
