.organized-exports {
  // By default this is hidden - it toggles open and closed with clicking on the button
  .field-expander {
    font-style: italic;
    display: inline-block;
    margin-top: 2px;
    padding: 0.5rem 0.75rem;
    line-height: 1.25;
  }

  .collapsed-fields {
    display: none;
  }

  .field-collapser {
    @extend small;

    display: block;
    text-align: right;
  }

  .shownOnAveryExport {
    display: none;
  }
}
