.public-impounded-bikes {
  .impounded-bikes-header.with-avatar {
    padding: 0 0 48px;
    position: relative;
    img {
      display: block;
      height: auto;
      width: 150px;
    }
    @include media-breakpoint-up(md) {
      padding-left: 160px;
      img {
        position: absolute;
        left: 0;
        top: -20px;
      }
    }
  }
}
