.manual-new-appointment-form {
  .card-body {
    padding: 1rem 2rem;
    background: $gray-lighter;
  }
}

.organized-appointment-table {
  line-height: 1.5;
  .multiselect-cell {
    padding: 0;
    vertical-align: center;
    label {
      cursor: pointer;
      padding: 0.3rem;
    }
  }
  .status-list {
    font-size: 80%;
    padding-left: 1.25rem;
    margin: 0.25rem 0 0 0;
    line-height: 1;
  }
}
