.organized-messages {
  #map {
    width: 100%;
    height: 400px;
    margin-bottom: 4 * $vertical-height;
  }
  // messages table rows are rendered when you click on a point on the map too - only show the map link when on the table
  .map-cell {
    display: none;
  }
  #messagesCount {
    span.plural {
      display: none;
    }
    &.number-is-plural span.plural {
      display: inline-block;
    }
  }
  #messages_table {
    .map-cell {
      display: table-cell;
      padding: 0;
      text-align: center;
      a {
        color: $gray-light;
        cursor: pointer;
        display: block;
        padding: 0.3rem;
        &:hover,
        &:active {
          color: $link-color;
        }
      }
    }
  }
  #placeSearch {
    max-width: 60%;
    @include media-breakpoint-down(md) {
      max-width: 50%;
    }
    box-shadow: 0 0 4px rgba(black, 0.1);
    margin: 9px 9px 0 0;
    border-radius: 1px;
    padding: 0.6rem;
  }
}
