.parking-notification-email-preview {
  width: 100%;
  max-width: 700px;
  margin: 30px auto;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: #e6e6e6;
  iframe {
    min-height: 800px;
    width: 100%;
    border: none;
  }
}

.parking-notification-show-image {
  width: 100%;
  position: relative;
  a {
    display: block;
    width: 100%;
    height: 100%;
    position: relative;
  }
  img {
    display: block;
    height: auto;
    width: auto;
    max-height: 100%;
    max-width: 100%;
    margin: 0 auto;
  }
}

// Wherever this table is, it has multiple lines and looks stupid with line-height 2
.parking-notifications-table td {
  line-height: 1.5em;
}

// We don't want to display extended-col-info except on the main table, when the screen is small
.extended-col-info {
  &,
  &.d-block {
    display: none !important;
  }
}
// For small tables, we want to just have two cells, so that it isn't too wide for the page
// This is outside of the above scope because it is also shown on non-organized pages
@include media-breakpoint-down(md) {
  // For small tables, we want to make the line-height not stupid for the expanded cell
  .parking-notifications-table td {
    line-height: 1.25;
  }

  .extended-col-info {
    display: inline !important;
    &.d-block {
      display: block !important;
    }
    &.d-inline-block {
      display: inline-block !important;
    }
  }

  .msgbikelink {
    display: block !important;
  }

  .hidden-sm-cells {
    display: none !important;
  }
}

.new-unregistered-btn-wrap {
  text-align: right;
  margin-bottom: 24px;
  .btn {
    max-width: 100%;
    white-space: break-spaces;
  }
}
