hr.delete-organization-section {
  margin: (4 * $vertical-height) 0 (2 * $vertical-height);
}

// This isn't actually applying styles yet, but will be
// ... and they should be used consistently
.organized-page-header {
}

.ambassador-tasks-table {
  td p {
    display: inline;
  }
}

.organized-body {
  h2 {
    margin-top: 40px;
  }
}

.organization-wide-alert {
  @extend .alert;
  @extend .alert-info;
  margin: 0 auto 40px;
  p,
  ul {
    color: $body-font-color;
    margin-bottom: 0;
  }
}
