---
http_interactions:
- request:
    method: post
    uri: https://api.stripe.com/v1/checkout/sessions
    body:
      encoding: UTF-8
      string: submit_type=pay&payment_method_types[0]=card&line_items[0][price_data][unit_amount]=100&line_items[0][price_data][currency]=USD&line_items[0][price_data][product_data][name]=promoted_alert&line_items[0][price_data][product_data][images][0]=https%3A%2F%2Ffiles.bikeindex.org%2Fuploads%2FPu%2F151203%2Freg_hance.jpg&line_items[0][quantity]=1&mode=payment&success_url=http%3A%2F%2Ftest.host%2Fbikes%2F21146%2Fpromoted_alerts%3Fsession_id%3D%7BCHECKOUT_SESSION_ID%7D&cancel_url=http%3A%2F%2Ftest.host%2Fbikes%2F21146%2Fpromoted_alerts%2Fnew&customer_email=user1s%40bikeiasdndex.org
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
      Stripe-Version:
      - '2014-12-08'
    body:
      encoding: UTF-8
      string: |
        {
          "id": "cs_test_a1VyZPPDFSAqQ0YAQLf8wrLYx09bU0iuY5yOBBswK2HWi3yJzPZpWShYmZ",
          "object": "checkout.session",
          "allow_promotion_codes": null,
          "amount_subtotal": 100,
          "amount_total": 100,
          "automatic_tax": {
            "enabled": false,
            "status": null
          },
          "billing_address_collection": null,
          "cancel_url": "http://test.host/bikes/21146/promoted_alerts/new",
          "client_reference_id": null,
          "currency": "usd",
          "customer": null,
          "customer_details": null,
          "customer_email": "user1s@bikeiasdndex.org",
          "livemode": false,
          "locale": null,
          "metadata": {
          },
          "mode": "payment",
          "payment_intent": "pi_2JKqrcm0T0GBfX0v0w1Y1oSL",
          "payment_method_options": {
          },
          "payment_method_types": [
            "card"
          ],
          "payment_status": "unpaid",
          "setup_intent": null,
          "shipping": null,
          "shipping_address_collection": null,
          "submit_type": "pay",
          "subscription": null,
          "success_url": "http://test.host/bikes/21146/promoted_alerts?session_id={CHECKOUT_SESSION_ID}",
          "total_details": {
            "amount_discount": 0,
            "amount_shipping": 0,
            "amount_tax": 0
          },
          "url": "https://checkout.stripe.com/pay/cs_test_a1VyZPPDFSAqQ0YAQLf8wrLYx09bU0iuY5yOBBswK2HWi3yJzPZpWShYmZ#fidkdWxOYHwnPyd1blpxYHZxWl9PQWxNZ19JVkdmZFFcbzV2N0RtMmhLYCcpJ2N3amhWYHdzYHcnP3F3cGApJ2lkfGpwcVF8dWAnPyd2bGtiaWBabHFgaCcpJ2BrZGdpYFVpZGZgbWppYWB3dic%2FcXdwYHgl"
        }
  recorded_at: Wed, 04 Aug 2021 20:38:57 GMT
recorded_with: VCR 5.0.0
