<div
  class="
    tw:pointer-events-none tw:fixed tw:right-0 tw:bottom-8 tw:left-0 tw:z-50
    tw:mx-auto tw:max-w-screen-xl tw:px-4 tw:md:bottom-12
  "
>
  <div
    class="
      tw:pointer-events-auto tw:flex tw:w-full tw:flex-col tw:gap-2
      tw:md:w-auto tw:md:max-w-xs tw:md:min-w-140
    "
  >
    <% messages.each do |msg| %>
      <%= render UI::Alert::Component.new(text: msg[:text], kind: msg[:kind], dismissable: true, margin_classes: "tw:mb-0") %>
    <% end %>
  </div>
</div>
