%h2.header-font-uncap
  Ambassador resources

%p.mt-4
  As an ambassador, you have access to a number of special features on Bike Index. Here are a few of them:
%ul
  %li
    You're a moderator on <a href="https://discuss.bikeindex.org">discuss.bikeindex.org</a>
  %li
    You can send stolen messages to bikes that haven’t been marked stolen yet (as described in <a href="https://bikeindex.org/news/recovering-bikes-before-they-are-marked-stolen">recover bikes before they are marked stolen</a>)
  %li
    You can mark stolen bikes recovered (ambassadors from New Orleans requested this feature - they just recover bikes so quickly!)
  %li
    Access to quick communication with the Bike Index team via Slack and email
  %li
    Periodic discount codes from Bike Index partners


%p.mt-4
  Some additional resources:

%ol
  %li
    = link_to "QR sticker instructions for organizations", "https://drive.google.com/file/d/1VXoF1NB7CcSLu8BaBQeuLhNmmB89qp81/view?usp=sharing"
  %li
    = link_to "QR sticker instructions for individuals", "https://drive.google.com/file/d/1_EMLLgvJGdyQI7catFmuhs2zHoNoaXBE/view?usp=sharing"
  %li
    #{link_to "Organizations sign up", new_organization_path} page on Bike Index
  %li
    = link_to "Tips for talking to bike shops", "https://bikeindex.org/news/how-to-get-a-bike-shop-signed-up-in-bike-index"
