%h2
  Whoops, that link isn't connected to a bike

%p
  Perhaps that link has already been used to claim a bike. Are you sure you haven't claimed the bike it already?


%p
  = link_to "Contact us", contact_us_url
  if you think we're wrong.