#emailTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", data: { dismiss: "modal" }, aria: {hidden: "true"} }
      &times;
    %h3
      An explanation of the email field
  .modal-body
    %p
      As a shop member, you have the ability to add bikes to the bike index. This is a sacred power that we are investing you with, so hopefully you enjoy it.
    %p
      You need to enter the email of the person who is indexing the bike. They do not need to have signed up yet. We take care of all that, including emailing them.

    %p
      So enjoy!