#frameMaterialTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", :data => { dismiss: "modal" }, :aria => {hidden: "true"} }
      &times;
    %h3
      Help with Choosing frame material
  .modal-body
    %p
      Tell us what this bike is made of.
    %p
      Carbon includes carbon and carbon blends.
    %p
      For lugged aluminum, select Aluminum. For lugged carbon, select Carbon.