#handlebarTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", :data => { dismiss: "modal" }, :aria => {hidden: "true"} }
      &times;
    %h3
      Curious about handlebar types? We've got some answers
  .modal-body.handlebar-tip
    %p
      %span.flat-bars
      %strong
        Flat bars
      Are the most common style of bars. They are perpendicular the bike's wheel. (They can have up to 40° backsweep.) Some examples of horizontal bars are flat bars, and riser bars.

    %p
      %span.bmx-bars
      %strong
        BMX bars
      Horizontal riser bars with a crosspiece.

    %p
      %span.drop-bars
      %strong
        Drop bars
      Are the standard road bike bar

    %p
      %span.forward-bars
      %strong
        Forward facing bars
      Have ends that point forward, away from the seat (ignore any sort of clip on bar ends). Some examples of forward facing include bullhorns, time-trial bars and pursuit bars:

    %p
      %span.rear-bars
      %strong
        Rear facing bars
      Have ends that point backward, toward the seat. Some examples of rear facing bars are cruiser bars, ape-hangers and mustache bars:

    %p
      %span.other-bars
      %strong
        No handlebars
      Are any bikes without handlebars, such as unicycles or non standard handlebars, such as recumbents with under-the-seat handlebars:


    .alert.alert-info
      %p
        %strong
          Notice for tandem bikes and other bikes with multiple handlebars
        Enter the type of handlebars that the front rider uses. You can enter the extra handlebar type(s) later, if you desire.