#phoneTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", data: { dismiss: "modal" }, aria: {hidden: "true"} }
      &times;
    %h3
      Why we ask for your phone number
  .modal-body
    %p
      You have to add a phone number so to provide a quick and easy way to contact you if someone finds your bike.
    %p
      You get to choose who can see your phone number, only the groups you check will be able to see it.
    %ul
      %li
        If you select 
        %em
          Everyone,
        anyone visiting the site will be able to see your phone number.
      %li
        Selecting 
        %em
          Bike Index Users
        means that only people who have a Bike Index account will be able to see your phone number (this is the default).
      %li
        By selecting 
        %em
          Bike Shops,
        all Bike Shop employees will be able to see your phone number.
      %li
        Selecting
        %em
          law enforcement
        will allow the police to see your phone number in relation to this bike.
      