#rearWheelTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", :data => { dismiss: "modal" }, :aria => {hidden: "true"} }
      &times;
    %h3
      An amazing explanation of wheel sizing.
  .modal-body
    %p
      Rear wheel size is best figured out by looking at the rear wheel’s tire (of course!). The size of the tire is typically stamped or written on part of the rear wheel.

    %p
      Choose the bike’s tire size from the list of the most common American sizes. If your tire isn’t listed, press
      %em
        show more sizes
      and choose from a broader selection.

    %p
      The Bike Index uses the ISO standardized Bead Seat Diameter tire sizing system. If the bike tire is a less common size, it's best to use the BSD. 

    %p
      The BSD is typically stamped on the side of the tire in parentheses--something like (622 X 32). The first number is the BSD of the tire, the second is the width. We’re looking for the first.

    %p
      If you are curious about ISO measurements, measuring tires or wheels, or how this system got so crazy
      %a.no-tab{ :data => { target: 'http://sheldonbrown.com/tire-sizing.html#iso'} }
        Sheldon Brown's article
      is a good starting point.
    %h3
      And tire width wise:
    %p
      If the tires are 32mm (1 1/4 inches) or narrower, then the bike has narrow tires.

    %p
      Any tire that is wider than 32mm is considered "wide."

    %p
      We're hopeful that these measurements aren't too tricky.
    