#seatTubeLengthTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", data: { dismiss: "modal" }, aria: {hidden: "true"} }
      &times;
    %h3
      Help with Bicycle seat tube length
  .modal-body
    %p
      What is the measurement of the seat tube? This is a measurement from the center of the bottom bracket to the center of the top tube.

    %p
      The measurement doesn't have to be incredibly precise; we're just looking for a rough size of the bike.