#serialTip.modal.hide.fade
  .modal-header
    %button{ type: "button", class: "close", :data => { dismiss: "modal" }, :aria => {hidden: "true"} }
      &times;
    %h3
      Help with bicycle serial numbers
  .modal-body
    %p
      Every bike has a serial number. Serial numbers are typically located underneath the bottom bracket, but some have been known to hide in other places.
      %a{href: serials_url, target: "_blank" }
        Read more about serials (and see some examples).

    .alert
      %p
        %strong Heads up!
        Heads up! Once you press the Save button, you will not be able to change your serial number. 
      %p
        The serial number is a very important piece of information; make sure you have recorded it correctly!