#submitSerialCorrection.modal.hide.fade{ data: {url: ENV['BASE_URL'] + send_request_api_v1_users_path } }
  .modal-header
    %button{ type: "button", class: "close", data: { dismiss: "modal" }, aria: {hidden: "true"} }
      &times;
    %h3
      Incorrect serial number? Submit a correction
  .modal-body.form.form-horizontal
      
    #submit-serial-error.alert.alert-error
      %a.close{"data-dismiss" => "alert"} ×
      %h4
        Not enough information!
      %p
        Please fill in both fields
    = form_tag  do |t|
      = hidden_field_tag :serial_update_bike_id, @bike.id
      .input-group
        .control-group
          %label.control-label{ for: :serial_update_serial }
            Updated serial
          .controls
            = text_field_tag :serial_update_serial
      .input-group
        .control-group
          %label.control-label{ for: :serial_update_reason }
            Reason for update
          .controls
            = text_area_tag :serial_update_reason
      .input-group
        .controls.actions.padded
          %a#submit-serial-update.button-blue{ href: '#' }
            Submit update
          