default: &default
  adapter: postgresql
  # manually set db_pool, separate from threads, because sidekiq
  pool: <%= ENV.fetch("DB_POOL") { 20 } %>

default_local: &default_local
  <<: *default
  port: <%= ENV.fetch("PGPORT", 5432) %>
  <% if ENV["CI"] %>
  host: 127.0.0.1
  username: rails
  password: password
  <% else %>
  host: <%= ENV.fetch("PGHOST", "localhost") %>
  username: <%= ENV["PGUSER"] %>
  password: <%= ENV["PGPASSWORD"] %>
  <% end %>

development:
  primary:
    <<: *default_local
    database: bikeindex_development<%= ENV["DB_SUFFIX"] %>
  primary_replica:
    <<: *default_local
    # Using primary database, replica not actually replicating
    database: bikeindex_development<%= ENV["DB_SUFFIX"] %>
    # database: bikeindex_development_replica
    # replica: true
  analytics:
    <<: *default_local
    database: bikeindex_analytics_development<%= ENV["DB_SUFFIX"] %>
    migrations_paths: db/analytics_migrate


# Warning: The database defined as "test" will be erased and
# re-generated from your development database when you run "rake".
# Do not set this db to the same as development or production.
test:
  primary:
    <<: *default_local
    database: bikeindex_test<%= ENV["DB_SUFFIX"] %><%= ENV["TEST_ENV_NUMBER"] %>
  primary_replica:
    <<: *default_local
    database: bikeindex_test_replica<%= ENV["DB_SUFFIX"] %><%= ENV["TEST_ENV_NUMBER"] %>
    replica: true
  analytics:
    <<: *default_local
    database: bikeindex_analytics_test<%= ENV["DB_SUFFIX"] %><%= ENV["TEST_ENV_NUMBER"] %>
    migrations_paths: db/analytics_migrate

production:
  primary:
    <<: *default
    database: bike_index_production
    host: "<%= ENV['POSTGRESQL_ADDRESS'] %>"
    username: "<%= ENV['POSTGRESQL_USERNAME'] %>"
    password: "<%= ENV['POSTGRESQL_PASSWORD'] %>"

  primary_replica:
    <<: *default
    replica: true
    host: "<%= ENV['POSTGRESQL_PRIMARY_REPLICA_ADDRESS'] %>"
    database: "<%= ENV['POSTGRESQL_DATABASE'] %>"
    username: "<%= ENV['POSTGRESQL_USERNAME'] %>"
    password: "<%= ENV['POSTGRESQL_PASSWORD'] %>"

  analytics:
    <<: *default
    migrations_paths: db/analytics_migrate
    host: "<%= ENV['POSTGRESQL_ANALYTICS_ADDRESS'] %>"
    database: "<%= ENV['ANALYTICS_DB_DATABASE'] %>"
    username: "<%= ENV['ANALYTICS_DB_USERNAME'] %>"
    password: "<%= ENV['ANALYTICS_DB_PASSWORD'] %>"
    port: "<%= ENV['ANALYTICS_DB_PORT'] %>"
