<div class="tw:mb-4">
  <% if check_box? %>
    <%= @form_builder.label @attribute,
      @form_builder.check_box(@attribute, {class: "tw:cursor-pointer"}.merge(@html_options)) +
        helpers.tag.span(@label_text),
      class: "twlabel tw:inline-flex tw:cursor-pointer tw:items-center tw:gap-2" %>
  <% else %>
    <%= @form_builder.label @attribute, @label_text, class: "twlabel" %>
    <%= render(Form::Input::Component.new(form_builder: @form_builder, attribute: @attribute, kind: @kind, html_options: @html_options)) %>
  <% end %>
</div>
