%h1
  Edit #{@organization_feature.name}

- if @organization_feature.locked?
  .card.bg-danger{ style: "margin: 40px 0;" }
    .card-body
      %p
        This Feature is used to enable and disable functionality for organizations in Bike Index
      %p
        If you need to update it, talk to Seth
= render partial: "form"

%h3
  Invoices with this feature
= render partial: "/admin/organizations/invoices/table", locals: { invoices: @invoices, render_sortable: false, display_organization: true }
