#info_about {
  .about-people {
    list-style-type: none;
    margin-left: 0;
    li {
      @include clearfix;
      padding-top: 1em;
    }
    img {
      max-width: 25%;
      float: left;
      margin-right: 2%;
    }
  }

  .the-alumni { display: none; } 
  .about-alumni-list { display: none; }

  .about-list {
    @include clearfix;
    @include list-unstyled;
    width: 100%;
    position: relative;
    // max-width: $max-content-width;
    list-style-type: none;
    margin: 20px 0 0 0;
    li {
      width: 32%;
      float: left;
      margin: 0 0 0 2%;
      position: relative;
      &:first-of-type {margin-left: 0; }
      img {
        display: block;
        width: 100%;
      }
    }
    &.final-list {
      li:first-of-type { margin-left: 16%; }
    }
  }

  // .second-about-list {
  //   @extend .about-list;
  //   li:first-of-type {
  //     margin-left: 16.5%;
  //   }
  // }
}
