%nav.primary-edit-bike-menu
  %ul
    - @editTemplates.each do |template, description|
      %li
        - classname = @editTemplate == template ? 'active' : ''
        %a{ href: edit_bike_path(page: template), class: classname }
          %h4
            = description
  .bike-edit-page-select
    %span.menu-select-overlay
      You are editing
    // ignore this select in dirty forms
    %select.dirtyignore
      - @editTemplates.each do |template, description|
        %option{ selected: (@editTemplate == template), value: edit_bike_path(page: template) }
          = description 
  .edit-bike-submit-wrapper
    = hidden_field_tag :editTemplate, @editTemplate
    = submit_tag 'Save changes', class: 'btn btn-lg btn-primary'