- impound_claim ||= @impound_claim
-# start open if passed as open, or if there is an existing impound_claim
- start_open ||= contact_owner_open || impound_claim.id.present?

#impound_claim.collapse{ class: ("in" if start_open) }
  .card.impound-claim-panel.mt-4.mb-4
    .card-block
      .card-title
        %h3.header-font-alt
          - if impound_claim.id.present?
            Your claim for this
          - else
            File a claim for this
          = impound_record.kind
          = @bike.type
      .card-body
        - if impound_claim.id.present?
          %h3.text-danger
            NOT built yet
        - else
          = form_for impound_claim do |f|
            = f.hidden_field :impound_record_id, value: impound_claim.id
            %h3
              Which bike does this impound record co
            -# TODO: include a way to create the bike right here
            - bikes = current_user.rough_approx_bikes.reorder(:created_at).limit(10)
