<div class="map-holder col-md-8">
  <div id="map_canvas"></div>
</div>

<script src="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.js"></script>
<link href="https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css" rel="stylesheet" />

<script>
  mapboxgl.accessToken = "<%= ENV['MAPBOX_MAPPING'] %>";
  var stolenBikeLngLat = [<%= @bike.current_stolen_record.longitude %>, <%= @bike.current_stolen_record.latitude %>];

  var map = new mapboxgl.Map({
    container: "map_canvas",
    style: "mapbox://styles/mapbox/streets-v11",
    center: stolenBikeLngLat,
    zoom: 13,
    maxZoom: 16,
  });

  map.on("load", function() {
    map.addSource("stolenBikeCircle", {
      "type": "geojson",
      "data": {
        "type": "FeatureCollection",
        "features": [{
          "type": "Feature",
          "geometry": {
            "type": "Point",
            "coordinates": stolenBikeLngLat
          }
        }]
      }
    });

    map.addLayer({
      "id": "stolenBikeLocation",
      "type": "circle",
      "source": "stolenBikeCircle",
      "paint": {
        "circle-radius": {
          stops: [
            [5, 5],
            [16, 240]
          ],
          base: 2
        },
        "circle-color": "red",
        "circle-opacity": 0.4
      }
    });
  });
</script>

