-# We only have recommendations for reporting your theft to police if your bike is reported stolen in the Netherlands

- netherlands = Country.find_by_iso("NL")
- if stolen_record.country_id == netherlands.id
  %li{ class: police_report_present ? "completed-item" : "" }
    %span.checklist-checkbox
      = "&#10003;".html_safe if police_report_present
    %span.checklist-text
      File a Police report!
    - unless police_report_present
      %ul
        %li
          %span.checklist-uncheckbox
          <strong>Online</strong> <a href="https://www.politie.nl/aangifte-of-melding-doen/voorbereiding-aangifte/diefstal-fiets.html" target="_blank">at this plitie.nl webpage</a> <em>(DigiD required)</em>
        %li
          %span.checklist-uncheckbox
          <strong>By Phone</strong> call 0900-8844. You will usually get a phone call appointment for later, at which point you give Police the information.
        %li
          %span.checklist-uncheckbox
          <strong>In Person</strong> Search for the closest police station via: https://www.politie.nl/mijn-buurt/politiebureaus
