= form_for @bike, multipart: true do |f|
  .form-well-container.container
    .row
      = render partial: '/bikes/edit_primary_menu'
      .col-lg-8.form-well
        .form-wrap
          .edit-bike-form-header
            %h3
              = @edit_templates[@edit_template]
              /
              /
              /