.primary-edit-bike-form
  .form-well-container.container{ class: "edit-bike-page-alert" }
    .row
      = render partial: "/bikes/edit_primary_menu", locals: { is_disabled: true }

      .col-md-8.form-well
        .form-wrap{style: "padding-bottom: 15px;"}
          .form-well-form-header
            %h3.text-center.w-100
              / 'alert'-prefixed templates should all have the same header and
              / highlight the same nav menu item
              = @edit_templates.select { |k, v| @edit_template.match(/#{k}/) }.values.first

            .row
              %h3.text-center.w-100 Thanks!
              .col-md-12
                .copy.text-center
                  Your order is pending.
            .row
              .col-md-12
                .copy.text-center
                  Stay tuned for an update once we've processed your alert.

        - if @theft_alerts.present?
          .row &nbsp;
          .row
            .col-md-12
              = render partial: "theft_alerts_table", locals: { theft_alerts: @theft_alerts }
