- if @bikes.present?
  
  - if @search_type[:most_recent]
    %h2
      The most recent #{@search_type[:phrase]} added to the Index

  -else
    %h2
      = pluralize(@bikes.count, @search_type[:phrase])
      matched your search

  %ul.bike-boxes
    = render partial: "/bikes/bike", collection: @bikes, :locals => {target: "show" }

  .paginate-container
    / = will_paginate @bikes 

- else
  %section.bottom-of-page
    %h3
      Oh no!
    %h4
      We're sorry, no #{@search_type[:phrase]} matched your search!