#bikes-search

- if @bikes.present?

  %h2
    = pluralize(@bikes.count, "bike")
    matched found

  %ul.bike-boxes
    = render partial: "/bikes/bike", collection: @bikes, :locals => {target: "show" }

  .paginate-container
    / = will_paginate @bikes 

- else
  %section.bottom-of-page
    %h3
      Oh no!
    %h4
      We're sorry, no bikes matched your search!