// Legacy suppport styles
// 
// Only one help page right now, and it's the FAQ

// .faq-block {
//   margin: 30px 0;
//   border: 1px solid $grayLighter;
//   padding: 0;
//   border-radius: 2px;
//   h3 {
//     background: $grayLighterer;
//     padding: .5em 10px;
//     margin: 0;
//     font-size: 20px;
//   }
//   dl {
//     padding: 0;
//     margin: 0;
//     dt {
//       border-top: 1px solid $grayLighter;
//     }
//     dd {
//       margin: 0;
//       padding-left: 1.5em;
//       padding-right: 10px;
//       &.in {
//         padding: .5em 0 .5em 1.5em;
//         margin: 0;
//       }
//     }
//   }
//   form {
//     width: 100%;
//     padding-right: 10px;
//     margin: 20px 0 10px;
//     position: relative;
//     .searchit {
//       margin-left: 2%;
//       height: 1.5em;
//       position: absolute;
//       top: -.1em; right: 13px;
//       border: none;
//       padding: 3px;
//       background: none;
//       font-size: 19px;
//       border-radius: 2px;
//       img {
//         display: block;
//         height: 100%;
//         width: auto;
//       }
//       &:hover, &:active, &:focus {
//         background: $blueDark;
//         box-shadow: none;
//         border: none;
//         outline: none; 
//       }
//       &:active {
//         background: $blueDark;
//       }
//     }
//     .faq-search-search-field {
//       width: 100%;
//     }
//   }
// }

// .collapse-faq {
//   a {
//     display: block;
//     position: relative;
//     font-family: $headerFont;
//     font-size: 18px;
//     font-weight: normal;
//     width: 100%;
//     padding: .5em 10px;
//     span {
//       @include rotate(90deg);
//       color: $linkColor;
//       margin-right: .75em;
//       -webkit-transition: all .1s ease-out;
//       -moz-transition: all .1s ease-out;
//       -o-transition: all .1s ease-out;
//       transition: all .1s ease-out;
//       float: left;
//       display: block;
//       font-size: 10px;
//       font-family: helvetica;
//     }
//     &:active span {
//       -webkit-transition: all .1s ease-out;
//       -moz-transition: all .1s ease-out;
//       -o-transition: all .1s ease-out;
//       transition: all .1s ease-out;
//     }
//     &:active, &.collapsed {
//       span { 
//         @include rotate(0deg);
//       }
//     }
//   }
// }