---
http_interactions:
- request:
    method: get
    uri: https://api.exchangeratesapi.io/latest?access_key=xxxxxxxxxx&base=CAD
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; Charset=UTF-8
      X-Apilayer-Transaction-Id:
      - '01990b8d-63fe-4b80-be3e-1e7288e869b7'
      X-Request-Time:
      - '0.013'
    body:
      encoding: ASCII-8BIT
      string: '{"success":true,"timestamp":1663689155,"base":"CAD","date":"2022-09-20","rates":{"AED":2.752451,"AFN":65.444446,"ALL":87.890237,"AMD":299.905701,"ANG":1.334552,"AOA":322.252892,"ARS":105.399227,"AUD":1.119766,"AWG":1.348835,"AZN":1.276875,"BAM":1.463338,"BBD":1.495189,"BDT":70.366883,"BGN":1.467393,"BHD":0.282293,"BIF":1528.371347,"BMD":0.749353,"BND":1.043056,"BOB":5.116892,"BRL":3.936625,"BSD":0.740487,"BTC":3.9332478e-5,"BTN":59.14264,"BWP":9.654608,"BYN":1.869136,"BYR":14687.313833,"BZD":1.492645,"CAD":1,"CDF":1529.429227,"CHF":0.722533,"CLF":0.023965,"CLP":661.274638,"CNY":5.233408,"COP":3318.236165,"CRC":485.457577,"CUC":0.749353,"CUP":19.857848,"CVE":82.499506,"CZK":18.346706,"DJF":131.831615,"DKK":5.563797,"DOP":39.280135,"DZD":105.132346,"EGP":14.430399,"ERN":11.240291,"ETB":39.094059,"EUR":0.750505,"FJD":1.68777,"FKP":0.647887,"GBP":0.657457,"GEL":2.113468,"GGP":0.647887,"GHS":7.349575,"GIP":0.647887,"GMD":40.842612,"GNF":6400.192966,"GTQ":5.746347,"GYD":154.928334,"HKD":5.882146,"HNL":18.249177,"HRK":5.625919,"HTG":87.009614,"HUF":302.861781,"IDR":11239.691716,"ILS":2.5878,"IMP":0.647887,"INR":59.686324,"IQD":1080.787303,"IRR":31772.556718,"ISK":104.579959,"JEP":0.647887,"JMD":111.07674,"JOD":0.531321,"JPY":107.682363,"KES":89.083231,"KGS":60.736017,"KHR":3047.914017,"KMF":368.384655,"KPW":674.417505,"KRW":1038.970377,"KWD":0.231708,"KYD":0.61711,"KZT":351.037214,"LAK":11648.542735,"LBP":1119.670895,"LKR":266.583427,"LRD":115.400584,"LSL":13.211375,"LTL":2.212644,"LVL":0.453276,"LYD":3.66869,"MAD":7.886179,"MDL":14.365905,"MGA":3118.289055,"MKD":46.099915,"MMK":1555.06927,"MNT":2416.244511,"MOP":5.987265,"MRO":267.518802,"MUR":32.97178,"MVR":11.592771,"MWK":760.584621,"MXN":15.003215,"MYR":3.398692,"MZN":47.831469,"NAD":13.211372,"NGN":321.382688,"NIO":26.613975,"NOK":7.736913,"NPR":94.628464,"NZD":1.270208,"OMR":0.288339,"PAB":0.740487,"PEN":2.87553,"PGK":2.609248,"PHP":42.720881,"PKR":166.292414,"PLN":3.531991,"PYG":5110.083694,"QAR":2.728422,"RON":3.63841,"RSD":87.792972,"RUB":45.338606,"RWF":765.962632,"SAR":2.81555,"SBD":6.124748,"SCR":10.328358,"SDG":433.50332,"SEK":8.155783,"SGD":1.053893,"SHP":1.032161,"SLL":10951.790645,"SOS":426.009784,"SRD":20.945937,"STD":15510.088917,"SVC":6.479352,"SYP":1882.771494,"SZL":12.89189,"THB":27.292954,"TJS":7.564307,"TMT":2.630228,"TND":2.398306,"TOP":1.781989,"TRY":13.72072,"TTD":5.015662,"TWD":23.422297,"TZS":1726.866963,"UAH":27.343388,"UGX":2821.361162,"USD":0.749353,"UYU":30.164899,"UZS":8124.291614,"VND":17729.685984,"VUV":89.144409,"WST":2.042419,"XAF":490.782467,"XAG":0.039046,"XAU":0.00045,"XCD":2.025164,"XDR":0.571694,"XOF":490.782467,"XPF":89.603883,"YER":187.619222,"ZAR":13.281225,"ZMK":6745.075948,"ZMW":11.422364,"ZWL":241.291279}}'
  recorded_at: Tue, 20 Sep 2022 16:29:53 GMT
recorded_with: VCR 5.0.0
