.edit-bike-page-root {
  .frame-sizes {
    .btn {
      transition: all .1s linear;
      padding-left: 0;
      padding-right: 0;
      width: 3em;
      &.active, &:active {
        background: $green;
        color: white;
      }
    }
    .ordinal-sizes .btn { max-width: 20%; } // Ensure buttons never overflow onto a second line
    .right-input-help { float: right; }
    .frame-size-units {
      min-width: 6.5em;
      position: absolute;
      top: 0;
      transition: top .1s linear;
    }
  }
}

@media (max-width: $grid-breakpoint-sm - 1px) {
  .edit-bike-page-root {
    .frame-sizes {
      .right-input-help {
        // @include make-col-span(3);
        // @include make-col-offset(0);
        flex: 0 0 66.6667%;
      }
      .frame-size-units {
        top: 15px;
        right: 0.9375rem;
      }
      &.unexpanded-unit-size { padding-bottom: 6*$vertical-height; }
    }
    .frame-size-other .form-well-input { @include make-col-span(5); }
  }
}

@media (min-width: $grid-breakpoint-sm) {
  .edit-bike-page-root {
    .frame-sizes .frame-size-units.ex-size { top: 50px; }
  }
}
