.edit-bike-page-photos {
  .edit-photo-display-list {
    @include list-unstyled;
    li {
      @include make-col();
      @include make-col-span(4);
    }
    .edit-photo-display-wrap {
      padding: $vertical-height .5*$vertical-height 0; // Trash can has bottom space
      background: white;
      border: 1px solid $form-well-border-color;
      img {
        display: block;
        width: 100%;
        height: auto;
        min-height: 100px;
        position: relative;
        background: white;
      }
    }
    label.keep-private {
      width: 100%;
      text-align: right;
      font-style: italic;
      cursor: pointer;
      font-size: 11px;
      color: $gray-light;
      margin-bottom: 0;
      input { margin-left: .5em; }
    }
    .processing {
      position: absolute;
      left: 0; top: 50%;
      width: 100%;
      text-align: center;
      color: $gray-light;
      z-index: 0;
    }
    .photo-remove {
      display: block;
      width: 100%;
      text-align: center;
      margin-top: .5*$vertical-height;
    }
    .trash-can-icon {
      @include trash-can-icon($gray-light, $link-color, white, 2*$vertical-height);
      display: inline-block;
    }
  }
  .edit-photo-upload {
    padding-top: 2*$vertical-height;
    label.file {
      float: right;
    }
    .file-custom {
      &::before {
        content: "Upload Photos";
        font-size: $btn-font-size;
        font-family: $header-font-family;
        font-weight: 400;
        font-style: normal;
        text-transform: uppercase;
        color: white;
        background: $green;
        border-color: $green;
      }
    }
  }
}
