.edit-bike-page-alert {
  form {
    button {
      border-radius: 5px;
      height: 45px;
      vertical-align: middle;
    }

    .times {
      font-size: 150%;
      line-height: .8em;
      vertical-align: middle;
    }
  }

  .confirm-form {
    .copy {
      margin: 20px auto;
      width: 85%;
    }

    .description {
      background-color: $blue-faint;
      border-radius: 10px;
      margin: 0 auto;
      padding: 50px;
      width: 60%;

      ul {
        margin: 0;
        padding: 0;
      }

      li {
        list-style-type: none;

        &::before {
          content: '\2713  ';
        }
      }
    }
  }

  .image-selection-container {
    ul {
      display: flex;
      flex-wrap: nowrap;
      height: 250px;
      list-style-type: none;
      overflow-x: auto;
      padding: 0;
      width: 100%;
    }

    li {
      border: 1px solid $gray-lightish;
      cursor: pointer;
      flex: 0 0 auto;
      margin: auto 5px;
      padding: 5px;
    }

    li:first-of-type {
      margin-left: 0;
    }

    .selected {
      background: $blue;
    }

    .selection-preview-image-template {
      background-image: image-url('promoted_alerts/facebook-template.png');
      background-size: cover;
      height: 225px;
      margin-bottom: 4rem;
      padding: 13px 0;
      position: relative;
    }

    .selection-preview-image {
      height: 90%;
      left: 42px;
      position: absolute;
      width: 90%;
    }

    .selection-preview-caption {
      background: $black;
      bottom: 4px;
      color: $white;
      font-style: italic;
      height: 10%;
      line-height: 1.5;
      position: absolute;
      right: 0;
      text-align: center;
      vertical-align: middle;
      width: 42%;
    }

    img {
      max-height: 200px;
    }
  }

  .detail-card-container {
    background-color: $white;
    border: 1px solid $gray-subtle;
    border-radius: 4px;
    margin: 15px auto;

    &.selected {
      border: 1px solid $blue;
    }
  }

  .detail-card-title {
    background-color: $black;
    border-bottom: 0;
    color: $white;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 1.25px;
    padding: 25px;
    position: relative;
    text-align: center;
  }

  .preferred-tag {
    background-color: $blue;
    bottom: -7px;
    color: $white;
    font-size: 12px;
    line-height: 1;
    margin: 0;
    padding: 5px 10px;
    position: absolute;
    right: 0;
    text-align: right;
    width: 93px;
  }

  .detail-card {
    background: $white;
    margin: 10px;
  }

  .detail-card-subtitle {
    background-color: $white;
    border-radius: 5px;
    font-size: 20px;
    text-align: center;
  }

  .detail-card-price {
    color: $header-font-color;
    font-size: 45px;
    letter-spacing: 1.5px;
    margin: 25px auto;
  }

  .detail-card-button {
    border-radius: 4px;
    font-size: 18px;
    margin: auto;
    padding-bottom: 18px;
    padding-top: 18px;
    width: 90%;
  }

  .detail-card-content-main {
    background-color: $white;
    border-radius: 4px;
    font-size: 12px;
    margin: 10px;
    padding: 0;

    ul {
      list-style-type: none;
      margin: auto;
      padding: 0;
    }

    li:first-of-type {
      margin-top: 0;
    }

    li {
      line-height: 1.75em;
      margin: 10px auto;
    }

    li:last-of-type {
      border: 0;
      margin-bottom: 0;
    }
  }

  .detail-card-footer {
    background-color: #f4f4f3;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    bottom: 0;
    font-size: 18px;
    font-weight: 500;
    left: 0;
    line-height: 27px;
    padding: .618em;
    right: 0;
    transition: all 125ms ease-in-out;

    &::before {
      background-color: $white;
      border: 2px solid #919197;
      border-radius: 50%;
      content: '';
      cursor: pointer;
      display: inline-block;
      height: 2em;
      vertical-align: middle;
      width: 2em;
    }

    &.selected {
      background-color: $blue;
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }

    &.selected::before {
      background-color: $blue;
      border-color: $white;
      color: $white;
      content: '\2713';
      font-family: 'zp-icons';
      font-style: normal;
      font-variant: normal;
      font-weight: normal;
      line-height: 1.8;
      text-rendering: optimizeLegibility;
      text-transform: none;
    }
  }
}
