.edit-bike-page-ownership {
  .delete-from-index {
    max-width: 300px;
    margin: 0 auto;
    display: block;
    padding-top: 2*$vertical-height;
    a {
      cursor: pointer;
      color: $body-font-color;
      &:hover, &:active, &.active {
        color: $link-color;
        text-decoration: none;
      }
    }
    .trash-can-icon {
      float: left;
      margin-top: -6px;
      @include trash-can-icon($body-font-color, $link-color, $form-well-background, 42px);
    }
  }

  .hide-this-bike {
    @extend .full-width-section;
    padding-top: $vertical-height;
    .hide-this-bike-link { 
      color: $body-font-color;
      display: block;
      text-align: center;
      &:hover, &:active, &.active {
        text-decoration: none;
        color: $link-color;
      }
    }
  }
}
