#bikes_edit {
  .nav-group-header {
    margin-top: 1.25rem;
    margin-bottom: 0.5rem;
  }
  .nav-group-header:first-of-type {
    margin-top: 0;
  }
}

.edit-bike-page-bike_details {
  .frame-sizes {
    .btn {
      transition: all 0.1s linear;
      padding-left: 0;
      padding-right: 0;
      width: 3em;

      &.active,
      &:active {
        background: $green;
        color: white;
      }
    }

    .ordinal-sizes .btn {
      max-width: 20%;
    }

    // Ensure buttons never overflow onto a second line
    .frame-size-units {
      min-width: 6.5em;
      position: absolute;
      top: 0;
      transition: top 0.1s linear;
    }
  }
}

@media (max-width: $grid-breakpoint-md) {
  #bikes_edit {
    .nav-group-header {
      display: none;
    }
  }

  .edit-bike-page-bike_details {
    .frame-sizes {
      .right-input-help {
        flex: 0 0 66.6667%;
      }

      .frame-size-units {
        top: 15px;
        right: 0.9375rem;
      }

      &.unexpanded-unit-size {
        padding-bottom: 6 * $vertical-height;
      }
    }

    .frame-size-other .form-well-input {
      @include make-col(5);
    }
  }
}

@media (min-width: $grid-breakpoint-sm) {
  .edit-bike-page-bike_details {
    .frame-sizes {
      .right-input-help {
        position: relative;
      }
    }
  }
}
