$multserial-textheight: 8em;
#multi-serial-search {
  .multiserial-form {
    @include clearfix;
    position: relative;
    width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding: 0 0 30px;
    h3 {
      text-align: center;
      margin: 0;
      padding: 0 0 1em;
      // font-size: 24px;
    }
    textarea {
      border-radius: 3px;
      font-family: courier;
      box-shadow: none;
      display: block;
      width: 100%;
      height: $multserial-textheight;
      margin: 0;
      padding: 0.5em 0.5em 0.6em;
      background: #fff;
      resize: none;
    }
  }
  .multiserialsearch-btn {
    width: 4rem;
  }

  .multiserial-response {
    min-height: 10em;
  }

  .multiserials-list {
    @include clearfix;
    list-style-type: none;
    margin: 0;
    padding: 10px 0 30px;
    li {
      border-radius: 2px;
      @include transition(all linear 0.5s);
      float: left;
      position: relative;
      padding: 0.2em 0.5em;
      background: #f7f7f7;
      margin: 0 5px 5px 0;
      &.ms-nomatch {
        text-decoration: line-through;
      }
      &.ms-match {
        background: $link-color;
        color: #fff;
      }
      a {
        @include transition(all ease-in 0.2s);
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        cursor: pointer;
        opacity: 0.9;
        &.blink-class {
          background: lighten($link-color, 40%);
        }
      }
    }
    .multiserial-fuzzy-box {
      text-align: center;
      a {
        display: none;
        span {
          display: none;
        }
        .ms-short-fuzzy {
          display: inline-block;
        }
      }
    }

    .multiserial-results {
      @include clearfix;
      position: relative;
      border: 1px solid $gray-lighter;
      padding: 20px 10px;
      margin: 1em 0;
      h3 {
        margin-top: 0;
      }
      .serial-text {
        font-size: 0.9em;
        color: $gray-light;
      }
      li .serial-text {
        padding-left: 0.5em;
      }
      .multiserial-fuzzy-result {
        margin-right: 0;
        h3 {
          color: $gray-light;
          .serial-text {
            color: $gray-lighter;
          }
        }
      }
    }
  }
}
