#binx_registration_widget {
  margin: 0 auto;
  position: relative;
  border-radius: $border-radius;
  max-width: 500px; // also set in the layout on the HTML element
  border: 1px solid $gray-lightish;
  background: $gray-lighter;
  h2 {
    font-size: 30px;
    margin: $vertical-height 0 1.5*$vertical-height;
  }
  p, h2 { text-align: center; }
  header.reg-header {
    border-radius: $border-radius $border-radius 0 0;
    display: block;
    position: relative;
    background: image-url('revised/spokebg.png');
    background-size: cover;
    padding: $vertical-height 0;
    background-position: center center;
    .reg-header-logo {
      display: block;
      width: 15%;
      height: auto;
      margin: 0 auto;
    }
    h2 {
      color: $reversed-font-color;
      margin: $vertical-height 0;
    }
    p {
      margin: 0;
      color: #fff;
      em { color: $blue; }
    }
  }
  .registration-widget-body {
    padding: 2*$vertical-height;
    p { padding: 0 10%; }
  }
  input[type='email'], select, .form-control { width: 100%; }
  .below-input-help { padding-bottom: 0; }
  .fancy-select .selectize-control { width: 100%; }
  .submit-wrapper .btn {
    display: block;
    margin: 0;
    width: 100%;
  }
}
