#bikes_show {
  .bike-overlay-wrapper {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: $zindex-navbar-fixed - 1;

    p {
      text-align: center;
      margin: 0;
      color: white;
    }

    .btn {
      margin-left: 20px;
    }

    .bike-edit-overlay {
      @include box-shadow(0 0 2px rgba(black, 0.2));

      padding: $vertical-height;
    }
  }

  .bike-edit-overlay {
    background: rgba($blue, 0.92);
  }

  .bike-title {
    margin-bottom: 0;
    .stolen {
      display: block;
      color: $red;
      font-size: 26px;
    }
  }

  // This is the first title, that only shows up if you're a paid organization or superuser
  .secondary-bike-title {
    @extend .uncap;
    margin: 0;
    color: $gray-light;
  }

  .social-share-bike {
    @include clearfix;

    padding-bottom: $vertical-height;
    border-bottom: 1px solid $gray-light;

    h4 {
      margin: 6px 0 0;
      float: left;
    }
  }

  .contact-the-owner {
    background: $gray-darker;
    border-radius: $border-radius;
    padding: $vertical-height;
    margin-top: 2 * $vertical-height;
    margin-bottom: 2 * $vertical-height;

    p,
    h3 {
      padding: 0 10px;
    }

    p {
      color: $gray-light;
      margin-bottom: $vertical-height;
    }

    h3 {
      color: white;
      font-size: 21px;
    }

    .additional-field {
      margin-top: $vertical-height;
    }

    .send-message {
      @include clearfix;

      margin-top: $vertical-height;

      .btn {
        float: right;
      }
    }

    #write_them_a_message .btn {
      display: block;
    }

    .phoneable-by {
      em {
        display: block;
      }

      strong {
        @extend .header-font;

        color: white;
      }
    }
  }

  .show-bike-details h3 {
    margin-top: 3 * $vertical-height;
  }

  .color-attrs {
    line-height: 1.5;
    .paint-description {
      font-size: 85%;
      .attr-title {
        opacity: 90%;
      }
    }
  }

  #map_canvas {
    width: 100%;
    height: 400px;
  }

  .bike-photos,
  .show-bike-details,
  .ad300x600,
  .component-typess {
    margin-top: $vertical-height;
  }

  .organized-access-panel {
    margin: (2 * $vertical-height) 0;

    .card-block {
      padding: 15px;
    }

    .card-title {
      p,
      h3 {
        margin: 0;
      }

      padding-bottom: 0.5 * $vertical-height;
      border-bottom: 1px solid $gray-lightish;
    }

    .unstolen-notification-box {
      @extend .clearfix;

      padding-bottom: $vertical-height;

      .form-control {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
      }
    }
    .law-enforcement-wrapper {
      border-top: 1px solid $gray-lightish;
    }
  }
  .parking-notifications-wrap {
    background: #fdfdfd;
    border: 1px solid $gray-lightish;
    border-radius: 0.25rem;
    position: relative;
    padding: 8px 15px 14px;
    margin: -28px -15px 40px;
    hr {
      border-top-color: $gray-lightish;
    }
    label {
      cursor: pointer;
      margin-bottom: 0;
    }
    .btn {
      @extend .uncap;
    }
  }
}

// On small screens, use the tabbed interface for components
@media (max-width: $grid-breakpoint-md - 1px) {
  #bikes_show {
    .map-holder {
      width: 100%;
      pointer-events: none;

      // On small screens, prevent manipulation of map so that it can be scrolled past
    }

    .nav-tabs.component-types {
      @include binx-nav-tabs;
    }

    .tab-content {
      @include binx-nav-tab-content;
    }

    .cgroup-name {
      display: none;
    }

    // contact box is a pull out, rather than full width
    .organized-access-panel {
      .unstolen-notification-box {
        border-left: 0 none;
      }
    }
  }
}

// XS screen overrides - instead of ($grid-breakpoint-sm - 1px), break it where it breaks
@media (max-width: 576px) {
  #bikes_show {
    .nav-tabs.component-types {
      @include binx-nav-tabs-vertical;
    }

    .tab-content {
      border: none;
    }

    .parking-notifications-wrap {
      border-left: 0;
      border-right: 0;
    }
  }
}

// On medium screens and bigger, display all the components
@media (min-width: $grid-breakpoint-md) {
  #bikes_show {
    .nav-tabs.component-types {
      display: none;
    }

    .tab-content.component-group-wrap {
      @include make-row;

      .component-group {
        display: block;

        // width: 100%;
        @include make-col-ready;

        @include make-col(12);

        padding-top: $vertical-height;

        h3 {
          margin: 24px 0 12px;
        }
      }
    }

    .use-entered-address-radios {
      margin-top: 32px;
    }

    // more space for ad
    .ad300x600 {
      margin-top: 4 * $vertical-height;
    }
  }
}

// Duplicates admin/bikes.scss
.credibility-score {
  border: 2px solid rgba(black, 0.25);
  display: flex;
  flex-wrap: wrap;
  max-width: 500px;
  margin-left: auto;
  .main-crediblity-score-box {
    position: relative;
    width: 100%;
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    padding: 1rem 0;
    .credibility-title {
      display: block;
      color: #fff;
      &a {
        text-decoration: underline;
      }
    }
    .score-number {
      margin-top: 0.5rem;
      display: block;
      font-size: 125%;
      font-weight: bold;
      color: #fff;
    }
  }
  .score-details {
    position: relative;
    width: 100%;
    flex: 0 0 60%;
    max-width: 60%;
    background: #fff;
    padding: 0;
    .details-title {
      padding: 0.25rem 0.1rem 0.1rem;
      display: block;
    }
    .table {
      margin-bottom: 0;
      tr td {
        line-height: 1.5;
        border: 1px solid #eceeef;
        padding: 4px 4px 4px 4px;
        &:last-child {
          width: 15%; // This is effectively min-width for tables
        }
      }
    }
  }
}
