#bikes_show {
  .bike-edit-overlay {
    @include box-shadow(0 0 2px rgba(black,.2));
    padding: $vertical-height;
    position: fixed;
    bottom: 0;
    width: 100%;
    background: rgba($blue, .92  );
    z-index: $zindex-navbar-fixed - 1;
    p {
      text-align: center;
      margin: 0;
      color: white;
    }
    .btn { margin-left: 20px; }
  }

  h1 {
    .stolen {
      display: block;
      color: $red;
      font-size: 26px;
    }
  }
  .social-share-bike {
    @include clearfix;
    padding-bottom: $vertical-height;
    border-bottom: 1px solid $gray-light;
    h4 {
      margin: 6px 0 0;
      float: left;
    }
  }
  .contact-the-owner {
    background: $gray-darker;
    border-radius: $border-radius;
    padding: $vertical-height;
    margin-top: 2*$vertical-height;
    p, h3 { padding: 0 10px; }
    p { 
      color: $gray-light;
      margin-bottom: $vertical-height;
    }
    h3 { color: white; font-size: 21px; }
    .additional-field { margin-top: $vertical-height; }
    .send-message {
      @include clearfix;
      margin-top: $vertical-height;
      .btn { float: right; }
    }
    .phoneable-by {
      em { display: block; }
      strong {
        @extend .header-font;
        color: white;
      }
    }
  }
  .show-bike-details h3 { margin-top: 3*$vertical-height; }
  #map_canvas {
    width: 100%;
    height: 400px;
  }
  // Added via JS, to clear space if edit bike overlay is on
  .primary-footer .terms-and-stuff.bike-show-page-with-edit-overlay {
    padding-bottom: 70px;
  }

  .bike-photos, .show-bike-details, .ad300x600, .component-typess {
    margin-top: $vertical-height;
  }
}

// On small screens, use the tabbed interface for components
@media (max-width: $grid-breakpoint-md - 1px) {
  #bikes_show {
    .map-holder { width: 100%; }
    .nav-tabs.component-types { @include binx-nav-tabs; }
    .tab-content { @include binx-nav-tab-content; }
    .cgroup-name { display: none; }
  }
}

// XS screen overrides - instead of ($grid-breakpoint-sm - 1px), break it where it breaks
@media (max-width: 576px) {
  #bikes_show {
    .nav-tabs.component-types { @include binx-nav-tabs-vertical; }
    .tab-content { border: none; }
  }
}

// // On medium screens and bigger, display all the components
@media (min-width: $grid-breakpoint-md) {
  #bikes_show {
    .nav-tabs.component-types { display: none; }
    .tab-content.component-group-wrap {
      @include make-row();
      .component-group {
        display: block;
        // width: 100%;
        @include make-col();
        @include make-col-span(12);
        padding-top: $vertical-height;
        h3 { margin: 24px 0 12px; }
      }
    }
  }
}