.stolen-checklist-wrap {
  ul {
    margin: 0;
    padding: 0;
    display: block;
    list-style-type: none;
  }
  li {
    display: block;
    padding: 0 0 0 2rem;
    margin: 0;
    position: relative;

    &:before {
      display: block;
      position: absolute;
      background: #fff;
      left: 0.5rem;
      top: 0.5rem;
      border: 2px solid #919197;
      border-radius: 50%;
      content: "";
      min-width: 1.2em;
      min-height: 1.2em;
      vertical-align: middle;
      line-height: 1;
      padding: 0.1em;
    }
    &.completed-item {
      text-decoration: line-through;
      opacity: 0.75;
      &:before {
        // background-color: #3498db;
        // border-color: #ffffff;
        color: #919197;
        content: "\2713";
        font-family: "zp-icons";
        font-style: normal;
        font-variant: normal;
        font-weight: normal;
        text-rendering: optimizeLegibility;
        text-transform: none;
      }
    }
  }
}
