$body-font-family: 'Open Sans', sans-serif;
$header-font-family: 'Montserrat', sans-serif;;
$strong-font-weight: 700;

$body-font-size: 15px;
$h1-font-size: 54px;
$h2-font-size: 36px;
$h3-font-size: 24px;
$h4-font-size: 15px;
$h5-font-size: 18px;

// body font style
.body-font {
  font-family: $body-font-family;
  font-weight: 400;
  font-style: normal;
  font-size: $body-font-size;
  line-height: 2em;
  color: $body-font-color;
  em { font-style: italic; }
  strong { font-weight: $strong-font-weight; }
  a {
    color: $link-color;
    text-decoration: none;
    &:hover, &:active, &.active {
      text-decoration: underline;
      color: $link-color;
    }
  }
}

body { @extend .body-font; }

p {
  @extend .body-font;
  margin: 0 0 24px;
}

// p.intro on typecast
h5 {
  @extend .body-font;
  font-size: $h5-font-size;
  font-weight: 600;
  line-height: 1.5em;
}

.pullquote {
  @extend .body-font;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 1.3em;
}

.header-font {
  font-family: $header-font-family;
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  margin: 0 0 24px;
  color: $header-font-color;
  strong { font-weight: $strong-font-weight; }
  a {
    color: $link-color;
    &:hover, &:active, &.active {
      text-decoration: underline;
      color: $link-color;
    }
  }
}

h1 {
  @extend .header-font;
  letter-spacing: -1px;
  font-size: $h1-font-size;
  line-height: 1.12em;
}

@media (max-width: $grid-breakpoint-sm) {
  h1 { font-size: 42px; }  
}


h2 {
  @extend .header-font;
  font-size: $h2-font-size;
  line-height: 1em;
}

h3 {
  @extend .header-font;
  font-size: $h3-font-size;
  line-height: 1em;
}

// Primary menu header height
h4 {
  @extend .header-font;
  font-size: $h4-font-size;
  line-height: 18px;
}