// body font style
.body-font {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0 0 24px;
  font-size: 15px;
  line-height: 2em;
  color: $body-font-color;
  em { font-style: italic; }
  strong { font-weight: 700; }
  a {
    color: $link-color;
    text-decoration: none;
    &:hover, &:active, &.active {
      text-decoration: underline;
      color: $link-color;
    }
  }
}

body { @extend .body-font; }

p { @extend .body-font; }

// p.intro on typecast
h5 {
  @extend .body-font;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.5em;
}

.pullquote {
  @extend .body-font;
  font-weight: 300;
  font-style: italic;
  font-size: 18px;
  line-height: 1.3em;
}

.header-font {
   font-family: 'Montserrat', sans-serif;
   font-weight: 400;
   font-style: normal;
   margin: 0 0 24px;
   text-transform: uppercase;
   font-size: 54px;
   line-height: 1.12em;
   color: $header-font-color;
   strong { font-weight: 700; }
   a {
    color: $link-color;
    &:hover, &:active, &.active {
      text-decoration: underline;
      color: $link-color;
    }
  }
}

h1 {
  @extend .header-font;
  letter-spacing: -1px;
}

h2 {
  @extend .header-font;
  font-size: 36px;
  line-height: 1em;
}

h3 {
  @extend .header-font;
  font-size: 24px;
  line-height: 1em;
}

// Primary menu header height
h4 {
  @extend .header-font;
  font-size: 15px;
  line-height: 18px;
}