@import "~bootstrap/scss/bootstrap";
@import "~selectize/dist/css/selectize.bootstrap3";

@import "../stylesheets/utils";
@import "../stylesheets/table_extensions";

// For now, because we don't want to replicate all the styles immediately, we're hiding the footer
footer.primary-footer {
  display: none;
}

.admin-navbar {
  @include media-breakpoint-up(md) {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: $zindex-sticky;
  }
  .navbar-brand img {
    height: 35px;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
}

.full-screen-table-wrapper {
  overflow-x: scroll;
}
