@import "~bootstrap/scss/bootstrap";

@import "../source/stylesheets/utils";

// For now, because we don't want to replicate all the styles immediately, we're hiding the footer
footer.primary-footer {
  display: none;
}

.admin-navbar {
  .navbar-brand img {
    height: 35px;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
  // I added this because several elements actually would show up above the navbar
  z-index: 999;
}

.full-screen-table-wrapper {
  overflow-x: scroll;
}

@media screen and (min-width: 600px) {
  .sticky-admin-nav-md-screens {
    position: fixed;
    top: 0;
    width: 100%;
  }
  #admin-content {
    padding-top: 60px;
  }
}
