@import "~bootstrap/scss/bootstrap";

@import "../source/stylesheets/utils";

// For now, because we don't want to replicate all the styles immediately, we're hiding the footer
footer.primary-footer {
  display: none;
}
.admin-nav-logo {
  img {
    height: 35px;
    width: 35px;
  }
}
