@import "~bootstrap/scss/bootstrap";
@import "~selectize/dist/css/selectize.bootstrap3";
// For some reason, selectize is making the cursor a text selector - which is annoying
.selectize-dropdown .option {
  cursor: pointer;
}
// Make selectize boxes the same height as other form controls
.selectize-control.form-control .selectize-input {
  line-height: 1.5;
}

// Hide overflowing file names
.custom-file-label {
  overflow: hidden;
}

// Some font styles
$body-font-family: "Open Sans", sans-serif;
$normal-font-weight: 400;
$strong-font-weight: 700;
$light-italic-weight: 300;

body {
  font-family: $body-font-family;
  font-weight: $normal-font-weight;
}

// Revised/Legacy Nav colors
$primary-nav-background: #111111;
$primary-nav-text-color: #a4a4a4;

// General styles
@import "../stylesheets/utils";
@import "../stylesheets/table_extensions";
@import "../stylesheets/alerts";
@import "../stylesheets/tweets";

// Specific section styles
@import "../stylesheets/admin/general";
@import "../stylesheets/admin/bikes";
@import "../stylesheets/period_selection";

// Styles related to appointments
@import "../stylesheets/appointments/customer_virtual_line";
@import "../stylesheets/appointments/print_tickets";

// Uppy Styles
@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "@uppy/progress-bar/dist/style.css";

// Hide uppy file upload button because it's not needed
.uppy {
  .uppy-FileInput-btn {
    display: none;
  }
  .uppy-Dashboard-poweredBy {
    display: none;
  }
}

$dev-color: #9400d3;
.only-dev-visible {
  border: 1px solid $dev-color;
  background: rgba($dev-color, 0.1);
}
// This is frequently used in display-tables, make it work
.table-list .only-dev-visible {
  padding: 2px 0.25rem;
}
