@import "~bootstrap/scss/bootstrap";
@import "~selectize/dist/css/selectize.bootstrap3";
// For some reason, selectize is making the cursor a text selector - which is annoying
.selectize-dropdown .option {
  cursor: pointer;
}
// Make selectize boxes the same height as other form controls
.selectize-control.form-control .selectize-input {
  line-height: 1.5;
}

// Hide overflowing file names
.custom-file-label {
  overflow: hidden;
}

// General styles
@import "../stylesheets/utils";
@import "../stylesheets/table_extensions";
@import "../stylesheets/alerts";
@import "../stylesheets/tweets";

// Specific section styles
@import "../stylesheets/admin/general";
@import "../stylesheets/admin/bikes";
@import "../stylesheets/period_selection";

// Uppy Styles
@import "@uppy/core/dist/style.css";
@import "@uppy/dashboard/dist/style.css";
@import "@uppy/progress-bar/dist/style.css";
// Hide uppy file upload button because it's not needed
.uppy {
  .uppy-FileInput-btn {
    display: none;
  }
  .uppy-Dashboard-poweredBy {
    display: none;
  }
}
