<div class="tw:flex tw:py-2 tw:gap-x-2 tw:items-center tw:leading-tight">
  <dt class="tw:text-sm tw:text-right tw:opacity-65 tw:w-1/5 tw:min-w-[100px]">
    <%= @label %>
  </dt>
  <dd class="">
    <%= @value %>
  </dd>
</div>
