$green: #2ecc71;
$red: #e74c3c;

$gray: #666666;
$gray-light: #A4A4A4;
$gray-lighter: #f2f2f2;



$body-font-color: #666666;
$link-color: #3498DB;
$header-font-color: #333333;

// Nav colors
$primary-nav-background: #222;
$primary-nav-text-color: $gray-light;