$green: #2ecc71;
$btn-green: #5cb85c;
$red: #e74c3c;

$blue-dark: #2c3e50;
$blue-darkish: #2980b9;
$blue: #3498db;
$blue-light: #92c8ec;
$blue-faint: #fffffff5;

$gray-darkest: #1a1a1a;
$gray-darker: #333333; // note: can't be 333 because outlook won't render
$gray-dark: #222222;
$gray: #666666;
$gray-subtle: #999999;
$gray-light: #a4a4a4;
$gray-lightish: #e4e4e4;

// border on things that are gray-lighter
$gray-lighter: #f2f2f2;

$form-well-background: $gray-lighter;
$form-well-border-color: $gray-lightish;
$form-well-divider-color: #b2b2b2;

$body-font-color: $gray;
$reversed-font-color: #dbdbdb;
$link-color: $blue;
$header-font-color: #0f466b;
$header-font-nocolor: $gray-dark;
$less-strong-font-color: $gray-light;

$black-off: #111111;
$black: #000000;
$white: #ffffff;

// Nav colors
$primary-nav-background: $black-off;
$primary-nav-text-color: $gray-light;

.stolen-color {
  color: $red;
}
