$green: #2ecc71;
$red: #e74c3c;

$blue-dark: #2c3e50;
$blue-darkish: #2980B9;
$blue: #3498db;
$blue-light: #92c8ec;

$gray-darker: #333333;
$gray-dark: #222;
$gray: #666;
$gray-light: #A4A4A4;
$gray-lightish: #e4e4e4; // border on things that are gray-lighter
$gray-lighter: #f2f2f2;

$form-well-background: $gray-lighter;
$form-well-border-color: $gray-lightish;
$form-well-divider-color: #b2b2b2;

$body-font-color: $gray;
$link-color: $blue;
$header-font-color: $gray-darker;

$black-off: #111;

// Nav colors
$primary-nav-background: $black-off;
$primary-nav-text-color: $gray-light;

.stolen-color { color: $red; }