<div
  class="related-fields"
  data-controller="legacy-form-well-address-record-with-default"
>
  <%= render(
    LegacyFormWell::AddressRecord::Component.new(
      form_builder: @builder,
      not_related_fields: true,
      no_street: true,
      static_fields: @address_static_fields,
    ),
  ) %>
  <% if render_user_account_address? %>
    <div class="form-group row unnested-field no-divider-row">
      <label class="form-well-label"></label>
      <div class="form-well-input form-well-input-checks">
        <label><%= @builder.check_box :user_account_address,
                             {
                               "data-action" =>
                                 "change->legacy-form-well-address-record-with-default#toggleUseAccount",
                               "data-legacy-form-well-address-record-with-default-target" =>
                                 "useAccountCheckbox",
                             } %>
          <span class="tw:cursor-pointer">
            <%= translation(".use_account_address") %>
          </span>
          (<%= link_to translation(".edit_my_account_path"), edit_my_account_path %>)
        </label>
      </div>
    </div>
  <% end %>
</div>
