<div id="error-page-wrap">
  <h1 class="error-text">404</h1>
  <p class="error-explanation">
    <%= t(".explanation") %>
  </p>
  <h4 class="go-back">
    <a class="back-link" onClick="history.go(-1);return true;">
      <%= t(".send_me_back") %>
    </a>
  </h4>
</div>
