<!-- Load the font in. Otherwise people don't need to load it. -->
<style>@font-face{font-family:'INDO_Handwriting';src:url("https://s3.amazonaws.com/bikeindex/INDO_Handwriting.ttf");}.error-text{font-family:'INDO_Handwriting',arial,sans-serif;}</style>
<h1 class="error-text">500</h1>
<p class="error-explanation">We're sorry, there was a server error and we can't show you that page.</p>
<h4 class="go-back">
  <a class="back-link" onClick="history.go(-1);return true;">Send me back from whence I came!</a>
</h4>