<h4 class="mt-4">By response status</h4>
<%= render(UI::Chart::Component.new(series: status_series, time_range: @time_range, stacked: true)) %>

<h4 class="mt-4">By request type</h4>
<%= render(UI::Chart::Component.new(series: type_series, time_range: @time_range, stacked: true)) %>
