%p
  The Bike Index makes searching for and finding bikes easier by using standardized attributes to catalog them.

%p
  We only offer these types of materials, because we believe they cover all the possibilities. Please #{link_to "send us an email", "mailto:support@bikeindex.org"} if you think we're missing something!

%h3
  The full list

%article.code
  %p.code-label
    GET all frame materials
  - request_url = api_v1_frame_materials_url
  %pre
    :plain
      $.ajax({
        type: "GET",
        url: "#{request_url}",
        success: function(data, textStatus, jqXHR) {
          $('#frame_materials_index').text(JSON.stringify(data,undefined,2))
        }
      });

  %p.code-label Response
  %pre#frame_materials_index{ data: {url: request_url }}
    :plain