%p
  The Bike Index maintains a comprehensive list of biking related brands.
%p
  If you want to get a list of brands that make biking things, you're in the right place.

%h3
  Query
%p
  To find out whether we have information about a specific manufacturer.
%p
  Queries are not case sensitive.

%article.code
  .code-label
    GET manufacturer with the name "surly"
  - request_url = api_v1_manufacturers_url(query: "surly")
  %pre
    :plain
      $.ajax({
        type: "GET",
        url: "#{request_url}",
        success: function(data, textStatus, jqXHR) {
          $('#manufacturers_query').text(JSON.stringify(data,undefined,2))
        }
      });

  .code-label
    Response
  %pre#manufacturers_query{ data: {url: request_url }}

%h3
  Frame makers

%p
  Get the list of all the manufacturers that make frames (as oppose to brands that are connected with biking but might only make components or apparel).

%article.code
  .code-label
    GET "frame_makers"
  - request_url = api_v1_manufacturers_url(query: "frame_makers")
  %pre
    :plain
      $.ajax({
        type: "GET",
        url: "#{request_url}",
        success: function(data, textStatus, jqXHR) {
          $('#manufacturers_frame_makers').text(JSON.stringify(data,undefined,2))
        }
      });

  .code-label
    Response
  %pre#manufacturers_frame_makers{ data: {url: request_url }}

%h3
  All manufacturers

%p
  If you submit a GET request with no query, you will receive the whole list of manufacturers

%p
  You can use this, (or the frame makers) with an #{link_to "autocomplete plugin", "http://twitter.github.io/typeahead.js/"} or improved select boxes. We're huge fans of #{ link_to "Select2", "https://github.com/ivaynberg/select2"}.
