%h1 New Organizaton

.form.form-horizontal
  = form_for [:admin, @organization] do |f|
    = render partial: 'form', locals: { f: f }

    .control-group.actions
      = f.submit "Create", class: 'button-green'