#alert-block {
  z-index: 99999;
  position: fixed;
  top: 100px; left: 0;
  // margin: 10px;
  width: 100%;
  // @include clearfix;
  margin: 0 auto;
  .alert {
    @include box-shadow(-2px 2px 4px rgba(black,.2));
    // For IE 8 
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color='#000000')";
    z-index: 99999;
    position: absolute;
    right: 0;
    top: 20px;
    opacity: .95;
  }
}

@media (min-width: 768px) {
  #alert-block {
    .alert {
      width: 380px;
      margin: 0 50px 0 0;
    }
  }
}

@media (max-width: 767px) {
  #alert-block {
    width: 100%;
    // padding: 0 40px;
    .alert {
      width: 80%;
      margin: 0;
      right: 20px;
    }
  }
}

.alert {
  @include border-radius(1px);
  padding: 8px 35px 8px 14px;
  margin-bottom: $baseLineHeight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
  // background-color: $warningBackground;
  // border: 1px solid $warningBorder;
  // color: $warningText;
  background-color: darken($warningBackground, 2%);
  border: 1px solid darken($warningBorder, 7%);
  color: darken($warningText, 20%);
}
.alert h4 {
  margin: 0 0 .5em;
}

// Adjust close link position
.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: $baseLineHeight;
  font-size: 40px;
  z-index: 10000;
}


// Alternate styles
// -------------------------

.alert-success {
  @extend .alert;
  background-color: $successBackground;
  border-color: $successBorder;
  color: $successText;
}
.alert-danger,
.alert-error {
  @extend .alert;
  background-color: $errorBackground;
  border-color: $errorBorder;
  color: $errorText;
}
.alert-info {
  @extend .alert;
  background-color: $infoBackground;
  border-color: $infoBorder;
  color: $infoText;
}
