$skinny-height: 15%;
$fat-height: 25%;

.global-header {
  position: relative;
  display: block;
  width: 100%;
}

@media (min-width: $s-breakpoint+1) {
  .global-header { padding-top: $standard-pad; }
}

.bikes-nav {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  position: relative;
}

@media (min-width: $s-breakpoint+1) {
  .top-logo {
    display: block;
    width: $two-column;
    position: relative;
    float: left;
    z-index: 10;
    .logo {
      display: block;
      width: 100%;
      height: auto;
      position: relative;
    }
    .stripey {
      display: block;
      position: absolute;
      z-index: 0;
      left: -350%; 
      width: 400%;
      height: 100%;
      background: url("/assets/updated/stripes.svg") repeat-x;
      background-size: 100% 100%;
    }
    .top-stripes {
      height: 100%;
      display: block;
      position: absolute;
      z-index: 0;
      left: -50%;
    }
  }
}

.small-header .hamburglar {
  position: absolute;
  width: $one-column;
  top: 10px;
  height: 41px;
  left: 10px;
  img {
    display: block;
    height: 100%;
    width: auto;
  }
}

@media (max-width: $s-breakpoint) {
  .container.bikes-nav { padding: 3px 0; }
  .small-header {
    width: 100%;
    position: relative;
    display: block;
    // margin-top: 0px;
    background: url("/assets/updated/stripes.png") repeat-x;
    background-size: 100% 100%;
    height: 60px;
    overflow: visible;
    .top-logo {
      display: block;
      width: 100px;
      position: relative;
      margin: 0 auto;
      z-index: 10;
      img {
        display: inline-block;
        width: 70px;
        height: auto;
        margin-top: -3px;
      }
    }
    .hamburglar { display: block; }
  }
}

@media (min-width: 1500px) {
  .top-logo .stripey {
    width: 1000%;
    left: -950%;
  }
}

@media (min-width: $s-breakpoint+1) {
  .top-user-nav {
    position: relative;
    float: left;
    width: $ten-column;
    margin-left: $gutter;
    ul {
      @include clearfix;
      margin: 0;
      padding: 0;
      list-style-type: none;
      li {
        float: right;
        width: $one-column*1.205; // 100/83 full width over 10 column
        margin-right: $gutter*1.2;
        text-align: center;
        &.double-width { width: $two-column*1.2; }
        &.first-link { margin-right: 0; }
      }
      a {
        color: $blue-dark;
        &.low-priority { color: $gray-light; }
        &:hover {
          color: $blue;
        }
      }
    }
  }
}


@media (max-width: $s-breakpoint) {
  .top-user-nav { 
    display: none;
    ul {
      list-style-type: none;
      margin: 0;
      padding: .5em 0 0;
      background: $blue-dark;
      position: relative;
      li {
        width: 100%;
        position: relative;
        &:nth-of-type(2n) a {
          background: lighten($blue-dark, 5%);
        }
        a {
          display: block;
          padding: .5em 1em;
          width: 100%;
          color: #fff;
          background: none;
          &:hover {
            background: $blue;
          }
        }
      }
    }
  }
}
