.admin-bike-partial {
  img {
    max-width: 100%;
    max-height: 110px;
  }
}

.admin-navbar {
  .navbar-brand img {
    height: 35px;
  }
  .dropdown-toggle {
    cursor: pointer;
  }
}

.admin-graphs-list a.active {
  font-weight: bold;
}
.variable-admin-graphs-form {
  .control-group {
    width: 220px;
    float: left;
    margin-right: 1rem;
  }
}

.admin-subnav {
  @extend .mt-4;
  @extend .mb-4;
  @extend .row;
  border-bottom: 1px solid $gray-400;
  padding-bottom: 20px;
  ul {
    @extend .nav;
    @extend .nav-pills;
    @extend .justify-content-end;
  }
  .nav-item {
    @extend .small;
    a {
      padding: 0.25rem 0.5rem;
    }
  }
  .subtitle {
    @extend .mt-4;
    @extend .col-12;
  }
}

// Admin bike table specials
.admin-bike-table-serial-cell {
  display: none;
}
.show-admin-bike-table-serial-cell .admin-bike-table-serial-cell {
  display: table-cell;
}

.paginate-container {
  display: flex;
  flex: wrap;
  justify-content: center;

  .pagination {
    flex: 0 1 auto;
    display: inline-block;
    padding-left: 0;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  ul {
    list-item-type: none;
  }

  li {
    display: inline;
  }
}

// Donor icons and references
.donor-icon,
.paid-org-icon {
  display: inline-block;
  color: white;
  font-size: 75%;
  font-weight: 800;
  padding: 0.15em 0.25em;
  border: 1px solid #ccc;
  line-height: 1em;
  border-radius: 0.5em;
  &.donor-icon {
    background: #2ecc71;
  }
  &.paid-org-icon {
    background: #2980b9;
  }
}
