// Revised/Legacy Nav colors
$primary-nav-background: #111111;
$primary-nav-text-color: #a4a4a4;

// Duplicated in _colors.scss
$stolen-color: #e74c3c;
.stolen-color {
  color: $stolen-color;
}

$found-color: #2ecc71;
.found-color {
  color: $found-color;
}

$impounded-color: $stolen-color;
.impounded-color {
  color: $impounded-color;
}

$unregistered-color: #f0ad4e; // text-warning color
.unregistered-color {
  color: $unregistered-color;
}
