.fullscreen-table-wrapper {
  // Enable scrolling
  overflow-x: scroll;

  // Make it edge to edge on xs screens
  @include media-breakpoint-down(xs) {
    margin-left: -15px;
    margin-right: -15px;
  }
}

.table-list {
  @extend .table;
  @extend .table-striped;
  @extend .table-bordered;
  @extend .table-sm;
  tr td:first-child {
    font-size: 80%;
    font-style: italic;
  }
  tr td:last-child {
    width: 85%; // This is effectively min-width for tables
  }
}

table .table-cell-check {
  font-family: Courier;
  text-align: center;
  font-weight: bold;
}

.less-strong-hold {
  position: relative;
}

.less-strong-right {
  position: absolute;
  right: -0.3em;
  line-height: 1;
  bottom: -0.2em;
  font-size: 0.8em;
  @extend .less-strong;
}

thead.sortable {
  th {
    font-weight: normal;
    a.sortable-link {
      display: block;
      position: relative;
      // To give a spot for the sortable direction
      &.active {
        padding-right: 1.5rem;
      }
      span.sortable-direction {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }
      &.active {
        font-weight: strong;
        text-decoration: underline;
      }
    }
  }
}
