// Handy helper classes
.less-strong {
  opacity: 0.65;
}

label {
  cursor: pointer;
}
.em {
  font-style: italic;
}

.hidden-sm-down {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.hidden-xs-down {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.convertedTime {
  white-space: nowrap;
}
