// Handy helper classes
.less-strong {
  opacity: 0.65;
  // Couldn't get & + input to work, so manually specifying the applicable element classes
  a:hover,
  & + a:hover,
  .btn:hover,
  &.btn:hover,
  .btn:focus,
  &.btn:focus,
  .form-control:hover,
  &.form-control:hover,
  .form-control:focus,
  &.form-control:focus {
    opacity: 1;
  }
}

.less-less-strong {
  @extend .less-strong;
  opacity: 0.3;
}

.gray-link {
  a,
  & {
    color: $gray-600 !important;
    opacity: 0.65;
    text-decoration: underline;
  }
  &:hover,
  &:active,
  &.active {
    opacity: 0.9;
  }
}

.text-link {
  a,
  & {
    color: $dark !important;
    text-decoration: underline;
  }
  &:hover,
  &:active,
  &.active {
    color: $primary !important;
  }
}

.text-underline {
  text-decoration: underline;
}

label {
  cursor: pointer;
}

.em {
  font-style: italic;
}

.hidden-sm-down {
  @include media-breakpoint-down(sm) {
    display: none;
  }
}

.hidden-xs-down {
  @include media-breakpoint-down(xs) {
    display: none;
  }
}

.convertedTime {
  white-space: nowrap;
}

// When we need an input to look disabled, but still submit to the server
.fake-disabled {
  &,
  &:active,
  &:focus,
  &.active {
    background-color: #e9ecef;
    opacity: 1;
    cursor: not-allowed;
  }
}

.uppercase {
  text-transform: uppercase !important;
}
