- @initial_amount = params[:amount] && params[:amount].to_i || params[:initial_amount] && params[:initial_amount].to_i
- @is_payment = params[:amount].present?
-# if there is a payment set, make it clear what is going on
.container-fluid
  .row.donate-block
    .col-xs-12
      %h3.uncap
        - if @is_payment
          = t(".pay_bike_index")
        - else
          = t(".donation_header")
    .select-amount
      = render partial: "/shared/donation_form", locals: {kind: "page", initial_amount: @initial_amount, is_payment: @is_payment}
