%h1#top
  Help with the Bike Index

= render 'shared/faq'

%hr 

%h3.padded
  Contact us!

%p
  Have a question we haven't answered?
%p
  Just want to say hi?
%p
  You can reach us at #{link_to "contact@bikeindex.org", "mailto:contact@bikeindex.org"}, or send your message right here.

%article
  = render 'feedbacks/form'