%h2#top
  Contact Us

%p
  Problem? Bug? Have a suggestion?
%p
  Talk to us on the
  = link_to "mailing list", "http://groups.google.com/group/bike-index"

%p
  Send us email #{link_to "here", "mailto:contact@bikeindex.org"}.
  
%p 
  Or send us a message:

= render 'feedbacks/form'

