%h2#top
  Contact Us

%p
  Problem? Take a look through at our #{link_to "Frequently Asked Questions", help_url}.
%p
  If you can't find an answer there, you can talk to us on the #{link_to "mailing list", "http://groups.google.com/group/bike-index"} or send us email at #{link_to "contact@bikeindex.org", "mailto:contact@bikeindex.org"}.
  
%p 
  You can also send us a message right here.

%article
  = render 'feedbacks/form'

