<div>
  <%= render(
    Messages::ForSaleItem::Component.new(
      vehicle: @marketplace_listing.item,
      vehicle_id: @marketplace_listing.item_id,
      current_user: @current_user,
      marketplace_listing: @marketplace_listing
    )
  ) %>

  <% if @marketplace_messages.any? %>
    <% @marketplace_messages.each do |marketplace_message| %>
      <%= render(Messages::ThreadShowMessage::Component.new(
        marketplace_message:,
        initial_message: @initial_message,
        current_user: @current_user,
        other_user_name: @other_user_name,
        other_user_id: @other_user_id)) %>
    <% end %>
  <% end %>
</div>
