<div class="tw:mb-4">
  <ul class="tw:flex tw:flex-wrap tw:gap-1 tw:list-none tw:p-0 tw:m-0">
    <% @serial_results.each do |result| %>
      <li class="tw:rounded tw:px-2 tw:py-1 tw:text-sm <%= result[:matched] ? "tw:bg-blue-500 tw:text-white" : "tw:bg-gray-100 tw:line-through" %>">
        <%= result[:raw] %>
      </li>
    <% end %>
  </ul>
</div>

<% bike_search = Org::BikeSearch::Component.new(
  organization: current_organization,
  pagy: @pagy,
  interpreted_params: {},
  sortable_search_params:,
  per_page: @per_page,
  params:,
  search_query_present: true,
  skip_search_and_filters: true,
  skip_settings: true
) %>

<%= render(bike_search) do %>
  <% @bikes.each do |bike| %>
    <%= render partial: "cached_bike_table_row", locals: {bike:, bike_search:} %>
  <% end %>
<% end %>
