<% bike_search ||= Org::BikeSearch::Component.new(
  organization: current_organization,
  pagy: @pagy,
  interpreted_params: @interpreted_params,
  sortable_search_params:,
  per_page: @per_page,
  params:,
  search_stickers: @search_stickers,
  search_address: @search_address,
  search_status: @search_status,
  search_query_present: @search_query_present,
  time_range: @time_range,
  stolenness: @stolenness,
  bike_sticker: @bike_sticker,
  model_audit: @model_audit,
  skip_search_and_filters: true,
  include_avery: true,
  skip_settings: true
) %>
<% bikes = @bikes %>

<%= render(bike_search) do %>
  <% bikes.each do |bike| %>
    <tr>
      <% cache("#{current_organization.id}-#{bike.id}-#{bike.updated_at}-#{@bike_sticker}-2") do %>
        <%= render(Org::BikeSearchRow::Component.new(
          bike:,
          organization: current_organization,
          bike_sticker: @bike_sticker,
          additional_registration_fields: bike_search.additional_registration_fields
        )) %>
      <% end %>

      <% if bike_search.show_avery_export? %>
        <td class="hiddenColumn hidden-xs-down avery_cell">
          <%= check_mark if bike.avery_exportable? %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
