<%# locals: (sortable_search_params: {}, search_stickers: nil, search_address: nil, search_status: "all", search_query_present: false, time_range: nil, stolenness: "all", bike_sticker: nil, model_audit: nil, skip_search_and_filters: false, include_avery: false, skip_settings: false) %>

<% bike_search = Org::BikeSearch::Component.new(
  organization: current_organization,
  pagy: @pagy,
  per_page: @per_page,
  params:,
  interpreted_params: @interpreted_params || {},
  sortable_search_params:,
  search_stickers:,
  search_address:,
  search_status:,
  search_query_present:,
  time_range:,
  stolenness:,
  bike_sticker:,
  model_audit:,
  skip_search_and_filters:,
  include_avery:,
  skip_settings:
) %>

<%= render(bike_search) do %>
  <% @bikes.each do |bike| %>
    <tr>
      <% cache("#{current_organization.id}-#{bike.id}-#{bike.updated_at}-#{bike_sticker}-2") do %>
        <%= render(Org::BikeSearchRow::Component.new(
          bike:,
          organization: current_organization,
          bike_sticker:,
          additional_registration_fields: bike_search.additional_registration_fields
        )) %>
      <% end %>

      <% if bike_search.show_avery_export? %>
        <td class="hiddenColumn hidden-xs-down avery_cell">
          <%= check_mark if bike.avery_exportable? %>
        </td>
      <% end %>
    </tr>
  <% end %>
<% end %>
