.row.mt-4.mb-4
  .card.ml-auto.mr-auto.col-8
    .card-body
      %h4
        Be careful what you make banned!
      %p.mt-4
        There are some protections built in - you can't add a banned domain if there multiple bikes registered to that domain
      %p
        %strong BUT STILL
        if you add a banned domain that is valid, it will prevent people from signing up with that domain.

= form_for email_domain,
  url: action,
  method: method,
  html: { class: "form" } do |f|

  .form-group
    = f.label :domain, class: "form-label"
    = f.text_field :domain, placeholder: "@something.com", class: "form-control", disabled: email_domain.id.present?
  .mt-4
    = submit_tag submit_label, class: "btn btn-success btn-lg"
