- nav_header_list_items = capture_haml do
  %li.nav-item
    = link_to "New Email Domain", new_admin_email_domain_path, class: "nav-link"

- table_view = render partial: "table", locals: {collection: @email_domains, render_sortable: true, show_matching_users: @show_matching_users}

= render partial: "/shared/admin/index_skeleton", locals: {collection: @email_domains, nav_header_list_items:, table_view:, skip_charting: true}
