<h1 style="font-weight: 400;">Please confirm your additional email</h1>

<h3 style="font-weight: 400;"><%= @user.display_name %> would like to merge this email into their account.</h3>

<a href="<%= confirm_user_email_url(id: @user_email.id, confirmation_token: @user_email.confirmation_token) %>" class="button" style="text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.3);-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.3);box-shadow: 1px 0 2px rgba(0,0,0,0.3);display: block;padding: .5em 1em;margin: 1.5em auto;width: 250px;max-width: 100%;font-size: 2em;background: #27ae60;border: 1px solid #229955;color: white;text-align: center;" mc:disable-tracking>Verify email</a>

<p class="explanation" style="text-align: center;color: #555;">Click the <em>Verify email</em> button to merge these accounts on BikeIndex.org!</p>

<hr>

<p>If you didn't request this merge please reply to this email and tell us.</p>
