<h1>Hello,</h1>
<% if @new_user == true %>
  <h2 style="font-size: 30px;font-weight: 400;">Welcome to the Bike Index</h2>
<% end %>

<p>
  <%= @bike_token_invitation.message.html_safe %>
</p>

<p class="explanation" style="text-align: center;color: #555;">Visit the <%= link_to "Bike Index", user_home_url %> and sign up or sign in to use your free bike certificates!</p>