* Welcome to the Bike Index! *

Good thinking! We’re glad you’ve joined, you smarty pants.

To finish signing up you have to confirm your email address. 

Normally, we'd tell you to click a link, but, for some reason you are only receiving text email. 

So you have to actually paste the confirmation url into your internet thingy.

= confirm_users_url(id: @user.id, code: @user.confirmation_token)


Thanks,
Bike Index Management