<h1 style="font-weight: 400;">Welcome to the Bike Index</h1>
<p>Good thinking! We’re glad you’ve joined, you smarty pants.</p>

<h3 style="font-weight: 400;">Please confirm your email address</h3>

<a href="<%= confirm_users_url(id: @user.id, code: @user.confirmation_token) %>" class="button" style="text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.3);-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.3);box-shadow: 1px 0 2px rgba(0,0,0,0.3);display: block;padding: .5em 1em;margin: 1.5em auto;width: 250px;max-width: 100%;font-size: 2em;background: #27ae60;border: 1px solid #229955;color: white;text-align: center;">Verify email</a>

<p class="explanation" style="text-align: center;color: #555;">Click the <em>Verify email</em> button to finish signing up for BikeIndex.org!</p>
