* Thank you so much for supporting Bike Index *
- if @payment.is_donation
  Your donation of $#{@payment.amount_formatted} just saved the bikes.
- else
  Your payment of #{@payment.amount_formatted} has been received.

Thanks,
Bike Index Management