<h1 style="font-weight: 400;">Thank you so much for supporting the Bike Index!</h1>

<% if @payment.is_recurring %>
<p>That you for signing up to be a member of the Bike Index. We'll send you invoices every month to this email address</p>
<% end %>

<p>Your donation of $#{@payment.amount.to_i/100.00} really will help us rescue more bikes.</p>
