<h1>Hello,</h1>
<% if @new_user == true %>

Welcome to the Bike Index
<% end %>

<% if @inviter.name %>
<%= @inviter.name %>
<% else %>
<%= @inviter.email %>
<% end %>
has indicated that you are a member of <%= @organization.name %>.


Sign up or sign in to BikeIndex.org to join <%= @organization.name %>!

Thanks,
Bike Index Management