<p>
  Whoops! It appears you have forgotten your Bike Index password! Please click the button below to create a new password.
</p>

<a href="<%= @url %>" class="button" style="text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 1px 0 2px rgba(0,0,0,0.3);-moz-box-shadow: 1px 0 2px rgba(0,0,0,0.3);box-shadow: 1px 0 2px rgba(0,0,0,0.3);display: block;padding: .5em 1em;margin: 1.5em auto;width: 250px;max-width: 100%;font-size: 2em;background: #27ae60;border: 1px solid #229955;color: white;text-align: center;">Reset password</a>

<p class="explanation" style="text-align: center;color: #555;"> If you did not request a new password, you should probably hit us up: <%= link_to "support@bikeindex.org", "mailto:support@bikeindex.org" %></p>

