%p
  Whoops! It appears you have forgotten your Bike Index password!
%p{ style: 'margin-bottom: 2em;' }
  Please click the button below to create a new password.

= link_to 'Reset password', @url, class: 'binx-button'

%hr{ style: 'margin-top: 40px;' }

%p.center-text.less-strong
  If you did not request a new password, you should probably #{ link_to 'tell us', 'mailto:support@bikeindex.org' }.

