%p= t(".html.whoops_it_appears_you_have_forgotten_your")

%p{ style: 'margin-bottom: 2em;' }
  = t(".html.please_click_the_button_below_to_create_a")

= link_to t(".html.reset_password"), @url, class: 'binx-button'

%hr{ style: 'margin-top: 40px;' }

%p.center-text.less-strong
  - link = link_to t(".html.tell_us"), 'mailto:support@bikeindex.org'
  = t(".html.if_you_did_not_request_a_new_password_html", link: link)
