- bike = @promoted_alert.bike
%h2
  Your Facebook advertisement is live!

%p
  We published the Facebook ad for your stolen #{bike&.title_string || "bike"}.

%p
  We sincerely hope you get your #{bike&.title_string || "bike"} back soon!

-# %p
-#   %strong
-#     #{link_to "Check out the ad here", @promoted_alert.facebook_post_url}.
-#
-# %p We recommend sharing it to spread the word! We hope you find your #{bike&.type || "bike"}.
