= t(".text.were_so_glad_you_got_your_bike_type_back", bike_type: @bike_type)

= t(".text.your_bike_type_was_marked_recovered", bike_type: @bike_type, bike_url: bike_url(@bike) )

= @stolen_record.recovered_description

\-----------

= t(".text.if_you_didnt_recover_your_bike_or_marked_")
