We're so glad you got your #{@biketype} back!

Your #{ @biketype } was marked recovered on Bike Index: #{ bike_url(@bike) }

= @stolen_record.recovered_description

\-----------

If you didn't recover your bike, or marked it recovered accidentally, reply to this email and let us know!
