= t(".text.were_so_glad_you_got_your_biketype_back", biketype: @biketype)

= t(".text.your_biketype_was_marked_recovered", biketype: @biketype, bike_url: bike_url(@bike) )

= @stolen_record.recovered_description

\-----------

= t(".text.if_you_didnt_recover_your_bike_or_marked_")
