%h1= translate_with_args(".html.welcome_to_bike_index")

%p= translate_with_args(".html.good_thinking_were_glad_youve_joined")

%p= translate_with_args(".html.add_some_information_about_your_bikes_whe")
