.container
  %h1 Edit External Registry Credential

  = render "form",
    external_registry_credential: @external_registry_credential ,
    action: admin_external_registry_credentials_path(@external_registry_credential),
    method: :put,
    submit_label: "Update"
