- # TODO: add translations

.organized-page-header
  %h1
    Parking Notification
    - if @parking_notification.unregistered_bike
      %small.text-warning
        for
        %em
          unregistered #{@bike.type}

= render partial: "repeated_updates_information" # Render information about the result of create_and_send_repeats

= render partial: "show_details"
