<h3 class="tw:mt-2">twbtn</h3>

<a href="#" class="twbtn">Something</a>

<h3 class="tw:mt-2">twbtn-blue</h3>

<a href="#" class="twbtn-blue">Something</a>

<h3 class="tw:mt-2">btn-green</h3>

<a href="#" class="twbtn-green">Something</a>

<h3 class="tw:mt-2">twbtn disabled</h3>

<button class="twbtn" disabled=true>Something</button>

<h3 class="tw:mt-2">twbtn-blue disabled</h3>

<button class="twbtn-blue" disabled=true>Something</button>

<h3 class="tw:mt-2">btn-green disabled</h3>

<button class="twbtn-green" disabled=true>Something</button>

