<div class="bike-display" style="position: relative;width: 96%;height: 150px;padding: 10px 2%;background: {{bike_display_background}};border: 1px solid #ddd;max-width: 450px;margin: 30px auto 0;clear: both;">
  <div class="image-holder" style="width: 33%;float: left;position: relative;">
    <a href="{{bike_url}}">
      <img src="{{bike_thumb_url}}" style="width: auto;max-width: 100%;max-height: 150px;border: 1px solid #ddd;">
    </a>
  </div>
  <div class="bike-info" style="position: relative;width: 63%;margin-left: 3%;float: left;padding-top: 30px; color: {{bike_display_text_color}};">
      <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Make</span> {{bike_manufacturer}}</p>
      <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Serial</span> {{bike_serial}}</p>
      <p style="margin: 0;padding: 0;line-height: 1.2em;"><span style="display: inline-block;color: #999;width: 55px;">Color</span>{{bike_paint_string}}</p>
    </p>
  </div>
</div>