<%= render partial: 'mailer_integrations/standard_top' %>

<h1 style="font-weight: 400;">Thank you so much for supporting the Bike Index!</h1>

<p>That you for signing up to be a member of the Bike Index. We'll send you invoices every month to this email address</p>

<p>Your donation of {{payment_amount}} really will help us rescue more bikes.</p>



<%= render partial: 'mailer_integrations/standard_bottom' %>