<%= render partial: 'mailer_integrations/standard_top' %>
  {{creation_org_new_bike_header_html}}
  {{if is_new_user}}
    <h2 style="font-size: 30px;font-weight: 400;">Welcome to the Bike Index</h2>

    <p>Good thinking! We’re glad you’ve joined, you smarty pants.</p>
  {{end}}

  {{if is_recovered_bike}}
    <h1 style="font-weight: 400;">Thank you for adding this {{bike_type}} you found to the index!</h1>
  {{else if is_stolen_bike}}
    <h1 style="font-weight: 400;">{{bike_type}} thieves are jerks.</h1>
    <h2 style="font-weight: 400;">We're sorry your {{bike_type}} was stolen.</h2>
  {{else}}
    <h1 style="font-weight: 400;">Congrats on adding your {{bike_type}} to the index!</h1>
  {{end}}
  
  <hr style="margin: 40px 0 30px;">
  <p>
    <strong>
      {{creator_display_name}}
    </strong>
    {{if is_new_registration}}
      added a
    {{else}}
      sent you a
    {{end}}
    {{bike_stolenness_display}}{{bike_type}} to the Bike Index
    for you
  .</p>
  
  <%= render partial: 'mailer_integrations/bike_display' %>
  {{if is_new_registration_from_pos}}
    <p style="color: #999;font-size: .9em; text-align: center; margin-top: 0;">(We may not have the correct color. Claim your bike and update it if necessary!)</p>
  {{end}}

  <div>
    {{if is_recovered_bike}}
      <p>Hopefully you find the owner soon. Give us a heads up when you do!</p>
    {{else if is_stolen_bike}}
      <p>Hopefully you find the {{bike_type}} soon. Give us a heads up when you do!</p>
    {{else}}
      <a href="{{bike_url}}" class="button" style="text-decoration: none;-webkit-border-radius: 3px;-moz-border-radius: 3px;border-radius: 3px;-webkit-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);-moz-box-shadow: 1px 1px 2px rgba(0,0,0,0.4);box-shadow: 1px 1px 2px rgba(0,0,0,0.4);display: block;padding: .5em 1em;margin: 1.5em auto;width: 250px;max-width: 100%;font-size: 2em;background: #27ae60;border: 1px solid #229955;color: white;text-align: center;">
        Claim the {{bike_type}}
      </a>

      <p class="explanation" style="text-align: center;color: #555;">Sign up or sign in to BikeIndex.org to claim your {{bike_type}} and edit it, upload photos and make sure you never lose track of your trusty steed!</p>
    {{end}}
  </div>
<%= render partial: 'mailer_integrations/protect_your_bike' %>

<%= render partial: 'mailer_integrations/standard_bottom' %>