<%= render partial: 'mailer_integrations/standard_top' %>

<h1 style="text-align: center; font-size: 18px; font-weight: 400;">{{sender_email}} sent a message about your <a href="{{bike_url}}">stolen {{bike_type}}</a>!</h1>

<hr>
<p>{{stolen_notification_message}}</p>
<p style="color: #ccc; margin: 2em 0 2em 1em;">{{sender_display_name}}</p>
<hr>
<p class="explanation" style="text-align: center;color: #555;"><a href="{{bike_url}}">View your {{bike_type}} on the Bike Index</a></p>

<%= render partial: 'mailer_integrations/standard_bottom' %>