<%= render partial: 'mailer_integrations/standard_top' %>

<h1 style="font-weight: 400; font-size: 30px;">We're spreading the word about your {{stolen_word}} {{bike_type}}!</h1>

<p style="">We sent out this tweet from <a href='https://twitter.com/{{twitter_screen_name}}'>@{{twitter_screen_name}}</a>, the {{twitter_area}} stolen bike alerter.</p>

<div style="margin: 30px 0 0; border: 1px solid #dfe3ee;border-radius: 4px; padding: 15px 2%; min-height: 120px;">
  <div style="width: 10%; float: left; height: 120px;">
    <a href="https://twitter.com/{{twitter_screen_name}}">
      <img style="max-width: 100%;" src="{{twitter_image_url}}">
    </a>
  </div>
  <div style="width: 86%; margin-left: 2%; float: right;">
    <a style="display: block; text-decoration: none; font-family: 'Helvetica Neue',Helvetica,Arial,sans-serif;" href="https://twitter.com/{{twitter_screen_name}}/status/{{tweet_id}}">
      <h3 style="font-size: 14px; line-height: 14px; margin: 0; font-weight: bold; color: #333333;">{{twitter_name}}</h3>
      <h3 style="font-size: 14px; line-height: 17px; margin: 0; color: #999; font-weight: 400;">@{{twitter_screen_name}}</h3>
    </a>
    <p style="margin:0;color:#333333;font-family:Georgia,'Times New Roman',serif;font-size:22px;line-height:27px;margin-bottom:0;margin-top:5px;">
      {{tweet_string_no_link}}
      <a href="{{bike_url}}" style="border:none;color:#0084b4;text-decoration:none">Bike Index link</a>
    </p>
    <a href="https://twitter.com/{{twitter_screen_name}}/status/{{tweet_id}}" style="display:block;border:none;color:#0084b4;text-decoration:none;color:#999999;font-size: 12px; margin-top: 5px;" target="_blank">{{tweet_time}}</a>
  </div>
</div>
{{if retweeters_links_html}}
  {{retweeters_links_html}}
  <p style="color: #95A5A5; font-size: .9em; text-align: center; margin: 0 auto; clear: both; padding: .25em 1em .75em; width: 90%; background: #f7f7f7; border: 1px solid #dfe3ee; border-radius: 0 0 4px 4px;">
    Alert retweeted by {{retweeters_to_sentence}}
  </p>
{{end}}

<h2 style="font-weight: 400; text-align: center; padding-top: .5em; margin-top: 2em; border-top: 1px solid #dfe3ee;font-size: 30px;">Next Steps</h2>
<div class="wrap" style="border: 1px solid #dfe3ee;border-radius: 4px;padding: 10px 5px;background: #f7f7f7; margin-bottom: 10px;">
  <h2 style="font-family: helvetica;font-size: 28px;text-align: center;margin: .5em 0 .7em; font-weight: 400;">Spread the word!</h2>
  <a href="http://www.facebook.com/share.php?u={{bike_url}}" style="display: block;background: #dfe3ee;position: relative;border-radius: 4px;font-family: helvetica;height: 50px;">
    <img src="https://files.bikeindex.org/facebook.png" style="height: 50px;width: 50px;display: block;float: left;">
    <span class="text" style="display: block;text-align: center;margin-top: .5em;line-height: 1.2em;padding: 1em 1em 0;">Share on Facebook - so everyone knows to watch out for your {{bike_type}}!</span>
  </a>
</div>
<p style="margin: 50px 0 0; padding: 20px 0 0; font-weight: 400; color: #95A5A5; text-align: center;">This email is about the {{stolen_word}} {{bike_type}} registered on the Bike Index on {{bike_registered_at}}</p>

<%= render partial: 'mailer_integrations/bike_display' %>

<%= render partial: 'mailer_integrations/standard_bottom' %>