<% content_for(:header) do %>
  <script type="module" crossorigin src="/strava_search/assets/index-yJzX-J6b.js"></script>
  <link rel="stylesheet" crossorigin href="/strava_search/assets/index-C-tmHfln.css">
<% end %>

<div id="root"></div>
