<% content_for(:header) do %>
  <% @strava_search_assets.each do |asset| %>
    <% if asset[:type] == :react_refresh %>
      <script type="module">
        import RefreshRuntime from '<%= asset[:src] %>'
        RefreshRuntime.injectIntoGlobalHook(window)
        window.$RefreshReg$ = () => {}
        window.$RefreshSig$ = () => (type) => type
        window.__vite_plugin_react_preamble_installed__ = true
      </script>
    <% elsif asset[:type] == :script %>
      <script type="module" crossorigin src="<%= asset[:src] %>"></script>
    <% elsif asset[:type] == :stylesheet %>
      <link rel="stylesheet" crossorigin href="<%= asset[:href] %>">
    <% end %>
  <% end %>
<% end %>

<div id="root"></div>

<script>
  window.stravaSearchConfig = <%= @strava_search_config.to_json.html_safe %>;
  document.addEventListener('DOMContentLoaded', function() {
    <%# Update the body padding so that there isn't whitespace at top %>
    document.body.classList.add('tw:pt-[68px]!', 'tw:lg:pt-[85px]!');
    <%# And remove the whitespace at the bottom of the page too %>
    document.querySelector('.primary-footer').style.marginTop = '0';
  });
</script>
