.bike-photos .image-holder {
  z-index: 1;
  overflow: hidden;
  a {
    display: block;
  }
  img {
    @include transition(opacity ease-in-out .3s);
    cursor: pointer;
    opacity: 0;
    margin: 0 auto;
  }
  .current-photo img {
    @include transition(opacity ease-in 1s);
    opacity: 1;
  }
  .current-photo .transitioning-photo, .transitioning-photo {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

$thumbnails-height: 120px;
.thumbnail-shadow, .thumbnail-shadow-r {
  display: none;
  position: absolute;
  bottom: -2px;
  height: $thumbnails-height+2px;
  width: 10px;
  z-index: 20;
}

.overflown {
  .thumbnail-shadow, .thumbnail-shadow-r { display: block; }
  .photo-list ul { left: -2px; }
}

.thumbnail-shadow {
  left: 0;
  box-shadow: inset 8px 0 6px -8px rgba($gray-lighter,.95);
}
.thumbnail-shadow-r {
  right: 0;
  box-shadow: inset -8px 0 6px -8px rgba($gray-lighter,.95);
}

.photo-list {
  @include clearfix;  
  border-radius: 0 0 $border-radius $border-radius;
  margin-top: 10px;
  clear: both;
  position: relative;
  height: $thumbnails-height;
  background: $body-bg;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-y: hidden;
  overflow-x: scroll;
  z-index: 10;
  ul {
    list-style-type: none;
    position: absolute;
    left: 0; top: 0;
    overflow: visible;
    height: 100%;
    margin: 0;
    padding: 5px 0;
    border: none;
  }
  li {
    position: relative;
    margin: 0;
    float: left;
    height: 100%;
    width: 178px;
    margin: 0 10px 5px 0;
    &:last-of-type { margin-right: 0; border-right: none; }
  }
  a {
    height: 100%; 
    width: 100%;
    overflow: hidden;
    display: block;
  }
  img {
    padding: 0;
    width: 100%;
    height: auto;
  }
  .clickable-image {
    @include transition(all ease-in-out .2s);
    border-radius: $border-radius;
    box-shadow: none;
    position: relative;
    padding: 0; margin: 0;
    display: block;
    border: 1px solid $gray-lightest;
    &.current-thumb {
      @include transition(all ease-in-out .2s);
      border-color: $blue;
      box-shadow: 0 0 2px rgba($blue, .8);
    }
  }
  .video-overlay {
    display: block;
    position: absolute;
    top: 50%; left: 50%;
    width: 34px;
    height: 34px;
    margin: -17px 0 0 -17px;
    border: 0;
  }
}




.stock-photo {
  position: absolute;
  top: 0; left: 0;
  padding: $standard-pad;
  @include lr-pad($standard-pad);
  background: rgba($blue-dark,.85);
  box-shadow: 0 0 2px rgba(black, .2);
  border-radius: $border-radius;
  border: 1px solid lighten($blue-dark, 10%);
  border-left: none; border-right: none;
  width: 100%;
  font-size: 24px;
  color: white;
  text-align: center;
  // font-family: $body-font;
  strong { font-weight: 600; }
  span { 
    display: block;
    color: rgba(white, .8);
    font-style: italic;
  }
}

