.show-bike-edit {
  @include box-shadow(0 0 2px rgba(black,.2));
  @include all-pad($standard-pad);
  position: fixed;
  bottom: 0;
  width: 100%;
  background: rgba($blue, .92  );
  // border: 1px solid darken($green,5%);
  border-left: 0;
  border-right: 0;
  z-index: 1000;
  p {
    text-align: center;
    margin: 0;
    color: white;
  }
  .btn { margin-left: 20px; }
}


.single-bike-show {
  padding-bottom: 60px;
}

@media (max-width: $s-breakpoint) {
  .single-bike-show {
    padding-bottom: 40px;
  }  
}

.bike-show-main {
  .bike-photos {
    position: relative;
    img {
      display: block;
      width: 100%;
      height: auto;
    }
  }
  .attr-list { @include top-mar($standard-pad); }
}

@media (min-width: $s-breakpoint) {
  .bike-show-main {
    @include clearfix;
    .bike-photos, .attr-list {
      float: right;
      width: $six-column;
    }
    .attr-list {
      float: left;
      margin-top: 0;
    }
  }
}

.bike-show-description {
  clear: both;
}

.bike-show-components {
  @include clearfix;
  clear: both;
  .comp-group {
    @include top-pad($standard-pad);
    h3 { margin-bottom: .25em; }
  }
}

@media (min-width: $s-breakpoint) {
  .bike-show-components .comp-group {
    position: relative;
    width: $six-column;
    float: left;
    &:nth-of-type(2n) { margin-left: $gutter; }
    &:nth-of-type(2n+1) { clear: left; }
  }
}

// STOLEN

.bike-show-stolen {
  h2 {
    font-size: 28px;
    font-weight: 700;
    margin-bottom: .25em;
  }
  #map_canvas {
    width: 100%;
    height: 400px;
  }
  .stolen-map { @include top-mar($standard-pad); }
}

@media (min-width: $s-breakpoint) {
  .bike-show-stolen {
    @include clearfix;
    h2 { font-size: 35px; }
    .stolen-map, .attr-list {
      float: right;
      width: $six-column;
    }
    .stolen-map {
      float: left;
      margin-top: 0;
    }
  }
}



.bike-show-stolen-contact {
  @include top-mar($standard-pad);
  @include all-pad($standard-pad);
  clear: both;
  border: 1px solid darken($gray-lighter, 5%);
  border-radius: $border-radius;
  background-color: $gray-lightest;
  .send-message {
    @include clearfix;
    padding-top: 10px;
    .btn { float: right;}
  }
}