// Right now, admin styles are jumbled into og_application.
// In the interest of making the path to upgrading the admin styles, add a new stylesheet that we can modify

// Some admin table stuff
@media (max-width: 700px) {
  .full-screen-table {
    overflow-x: scroll;
    margin-left: -15px;
    margin-right: -15px;

    &.small-fixed-width {
      table {
        table-layout: fixed;

        .date-recovered-cell {
          width: 6em;
        }

        .sm-cell {
          width: 2em;
        }

        .sm-cell-hide {
          display: none;
        }
      }
    }
  }
}

.table-sub-list {
  list-style-type: disc;
  margin: 0 0 10px;
  padding: 0 0 5px;
  -webkit-margin-before: 0px;
  -webkit-margin-after: 0px;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 15px;
}

thead.sortable {
  th {
    font-weight: normal;

    a.sortable-link {
      display: block;
      position: relative;

      // To give a spot for the sortable direction
      &.active {
        padding-right: 1.5rem;
      }

      span.sortable-direction {
        display: block;
        position: absolute;
        right: 0;
        top: 0;
      }

      &.active {
        font-weight: bold;
        text-decoration: underline;
      }
    }
  }
}

// Donor icons and references
.donor-icon {
  display: inline-block;
  color: white;
  font-size: 75%;
  background: #2ecc71;
  font-weight: 800;
  padding: 0.15em 0.25em;
  border: 1px solid #ccc;
  line-height: 1em;
  border-radius: 0.5em;
}

.paid-org-icon {
  display: inline-block;
  color: white;
  font-size: 75%;
  background: #2980b9;
  font-weight: 800;
  padding: 0.15em 0.25em;
  border: 1px solid #ccc;
  line-height: 1em;
  border-radius: 0.5em;
}

// Just copied over from new styles
.table-list {
  border-width: 1px;
  border-style: solid;
  border-color: rgb(222, 226, 230);
  border-image: initial;
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
  border-collapse: collapse;

  tbody tr:nth-of-type(2n + 1) {
    background-color: rgba(0, 0, 0, 0.05);
  }

  td {
    border-width: 1px;
    border-style: solid;
    border-color: rgb(222, 226, 230);
    border-image: initial;
  }

  tr td:first-child {
    font-size: 80%;
    font-style: italic;
  }

  tr td:last-child {
    width: 85%;

    // This is effectively min-width for tables
  }
}
