@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .tw-btn {
    @apply tw-inline-block tw-shadow-sm tw-rounded-md tw-p-3
    tw-cursor-pointer active:tw-outline focus-visible:tw-outline-offset-2
    focus-visible:tw-outline focus-visible:tw-outline-2 focus-visible:tw-outline-offset-2
    active:tw-outline-none active:tw-opacity-95;
  }
}

body {
  @apply tw-antialiased tw-text-gray-900;
}
/*
  'dark:' syntax isn't working for the body element, unclear why - hacking with this for now
*/
body.dark {
  @apply tw-bg-gray-900 tw-text-gray-400;
}


/*.tw-btn {
  @apply tw-w-full tw-rounded-md bg-indigo-600 px-3 py-2 text-sm font-semibold
   hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600
}*/

.tw-btn-green {
  @apply tw-btn tw-text-white tw-bg-green-600
    hover:tw-bg-green-500 focus-visible:tw-outline-green-600;
}

.tw-btn-blue {
  @apply tw-btn tw-text-white tw-bg-blue-600
    hover:tw-bg-blue-500 focus-visible:tw-outline-blue-600
}

