@import "revised/mixins/colors";
@import "revised/vars";

$font-size: 16px;
$header-height: 82px;
$email-light-bg: #ddd;

//
// Email specific styles
//
@import "revised/emails/email_body";
@import "revised/emails/email_sections";
@import "revised/emails/email_components";
@import "revised/emails/email_bike_display";
@import "revised/emails/email_partners";

.stolen-notification-from {
  background: $gray-lighter;
  border: 1px solid $gray-lightish;
  padding: 0 1em;
  text-align: center;
  font-style: italic;
}