/* line 68, app/assets/stylesheets/legacy_includes/_colors.scss */
.red-text {
  color: #c0392b;
}

/* line 72, app/assets/stylesheets/legacy_includes/_colors.scss */
.blue-text {
  color: #8ea8ad;
}

/* line 76, app/assets/stylesheets/legacy_includes/_colors.scss */
.table-error {
  color: #c0392b;
}

/* line 29, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix {
  *zoom: 1;
}

/* line 14, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 24, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 4, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-weight: 200;
  margin: 0;
  padding: 0;
}

/* line 11, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed * {
  box-sizing: border-box;
  text-rendering: optimizeLegibility;
}

/* line 18, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box {
  border-radius: 3px 3px 2px 2px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  max-width: 200px;
  margin: 0;
  border: 2px solid #35495e;
  background: #35495e;
  position: relative;
  overflow: hidden;
}

/* line 30, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box .bike-photo {
  display: block;
  width: 100%;
  height: auto;
}

/* line 36, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box .no-bike-photo {
  display: block;
  position: absolute;
  left: 0;
  top: 1em;
  width: 100%;
  text-align: center;
  color: rgba(53, 73, 94, 0.4);
}

/* line 46, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box .bikey-slide {
  width: 100%;
  position: relative;
  background: #cacaca;
}

/* line 52, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box .bi-bike-link {
  display: block;
  position: absolute;
  z-index: 20;
  width: 100%;
  height: 100%;
}

/* line 60, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box .bi-title {
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 5px 2px;
  background: rgba(0, 0, 0, 0.4);
  color: #cacaca;
  cursor: pointer;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

/* line 77, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box:hover .bi-title {
  color: #f8f8f8;
}

/* line 81, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box:hover .bi-slide-over {
  display: none;
}

/* line 85, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box:hover #bi-slide-prev {
  left: -1.5em;
}

/* line 89, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-embed-box:hover #bi-slide-next {
  right: -1.5em;
}

/* line 95, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bikes-registered {
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  position: relative;
  z-index: 10;
  width: 100%;
  padding: 2px 5px;
  margin: 0;
  text-align: center;
  color: #f8f8f8;
}

/* line 108, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .bi-slide-over {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
}

/* line 120, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .controleys {
  border-radius: 1em;
  cursor: pointer;
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  padding: 1em;
  margin-top: -1.5em;
  color: #bebebe;
  z-index: 50;
  -webkit-transition: all 0.15s linear;
  transition: all 0.15s linear;
}

/* line 136, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .controleys:hover {
  background: rgba(255, 255, 255, 0.8);
  color: #636466;
}

/* line 142, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed #bi-slide-prev {
  left: -4em;
  padding-left: 2em;
}

/* line 143, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed #bi-slide-prev:active {
  -webkit-transform: translate(-1px, 2px);
  transform: translate(-1px, 2px);
}

/* line 151, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed #bi-slide-next {
  right: -4em;
  padding-right: 2em;
}

/* line 152, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed #bi-slide-next:active {
  -webkit-transform: translate(1px, 2px);
  transform: translate(1px, 2px);
}

/* line 160, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .swipe {
  max-width: 500px;
  margin: 0 auto;
  overflow: hidden;
  visibility: hidden;
  position: relative;
}

/* line 168, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .swipe-wrap {
  overflow: hidden;
  position: relative;
}

/* line 173, app/assets/stylesheets/embed_user_styles.css.scss */
#bi_user_embed .swipe-wrap .bikey-slide {
  float: left;
  width: 100%;
  position: relative;
}
