// Basic print stylesheet for outputting tickets

#print-tickets .profiler-results {
  display: none !important; // hide the mini-profiler
}

*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

@page {
  size: 8.5in 11in;
  margin: 0.25in;
}

$body-font-family: "Open Sans", sans-serif;
$normal-font-weight: 400;
$strong-font-weight: 700;
$light-italic-weight: 300;

body {
  font-family: $body-font-family;
  font-weight: $normal-font-weight;
  font-size: 14px;
  line-height: 1.5;
}

.row {
  display: flex;
  flex-flow: row wrap;
}

.col {
  display: flex;
  flex-wrap: wrap;
}

.ticket-wrapper {
  @extend .col;
  flex: 0 0 33.33333%;
  max-width: 33.33333%;
  padding: 1rem 1rem 0 0;
  position: relative;
}

.ticket-display {
  width: 100%;
  padding: 0.25rem;
  border: 1px solid black;
}

.ticket-text {
  @extend .col;
  flex: 0 0 70%;
  max-width: 70%;
}

.ticket-number {
  width: 100%;
  margin: 0;
  font-size: 200%;
  font-weight: $strong-font-weight;
  text-align: center;
}

.organization-name {
  width: 100%;
  clear: both;
  text-align: center;
  color: #bbb;
  margin: 0.5rem 0 0;
}

.qrcode {
  @extend .col;
  flex: 0 0 30%;
  max-width: 30%;
  position: relative;
  img {
    display: inline-block;
    width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
  }
}
