$redesign-blue-500: #3397dc;
$redesign-blue-800: #016ec2;
$redesign-red-500: #cc0000;
$redesign-purple-500: #715eb2;

$redesign-gray-100: #f5f5f5;
$redesign-gray-500: #666;
$redesign-gray-800: #333;

@import 'redesign_2025/homepage';
