/* line 29, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix {
  *zoom: 1;
}

/* line 14, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix:before, .clearfix:after {
  display: table;
  content: "";
  line-height: 0;
}

/* line 24, app/assets/stylesheets/legacy_includes/_mixins.scss */
.clearfix:after {
  clear: both;
}

/* line 9, app/assets/stylesheets/legacy_includes/_reset.scss */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block;
}

/* line 25, app/assets/stylesheets/legacy_includes/_reset.scss */
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, app/assets/stylesheets/legacy_includes/_reset.scss */
audio:not([controls]) {
  display: none;
}

/* line 43, app/assets/stylesheets/legacy_includes/_reset.scss */
html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 50, app/assets/stylesheets/legacy_includes/_reset.scss */
a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

/* line 55, app/assets/stylesheets/legacy_includes/_reset.scss */
a:hover,
a:active {
  outline: 0;
}

/* line 63, app/assets/stylesheets/legacy_includes/_reset.scss */
sub,
sup {
  position: relative;
  font-size: 75%;
  line-height: 0;
  vertical-align: baseline;
}

/* line 71, app/assets/stylesheets/legacy_includes/_reset.scss */
sup {
  top: -0.5em;
}

/* line 75, app/assets/stylesheets/legacy_includes/_reset.scss */
sub {
  bottom: -0.25em;
}

/* line 82, app/assets/stylesheets/legacy_includes/_reset.scss */
img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  border: 0;
  -ms-interpolation-mode: bicubic;
}

/* line 95, app/assets/stylesheets/legacy_includes/_reset.scss */
#map_canvas img {
  max-width: none;
}

/* line 103, app/assets/stylesheets/legacy_includes/_reset.scss */
button,
input,
select,
textarea {
  margin: 0;
  font-size: 100%;
  vertical-align: middle;
}

/* line 112, app/assets/stylesheets/legacy_includes/_reset.scss */
button,
input {
  *overflow: visible;
  line-height: normal;
}

/* line 122, app/assets/stylesheets/legacy_includes/_reset.scss */
button::-moz-focus-inner,
input::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 129, app/assets/stylesheets/legacy_includes/_reset.scss */
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
}

/* line 141, app/assets/stylesheets/legacy_includes/_reset.scss */
input[type="search"] {
  box-sizing: content-box;
  -webkit-appearance: textfield;
}

/* line 149, app/assets/stylesheets/legacy_includes/_reset.scss */
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 156, app/assets/stylesheets/legacy_includes/_reset.scss */
textarea {
  overflow: auto;
  vertical-align: top;
}

/* line 9, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap {
  position: relative;
  margin: 100px auto;
  width: 600px;
  height: 380px;
  padding: 0;
}

/* line 16, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap > span {
  border: 1px solid black;
  height: 20px;
  width: 20px;
  position: absolute;
  display: block;
}

/* line 24, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap .tleft {
  top: -20px;
  left: -20px;
  border-top: 0;
  border-left: 0;
}

/* line 31, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap .bleft {
  bottom: -20px;
  left: -20px;
  border-bottom: 0;
  border-left: 0;
}

/* line 38, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap .tright {
  top: -20px;
  right: -20px;
  border-right: 0;
  border-top: 0;
}

/* line 45, app/assets/stylesheets/spokecard.css.scss */
.spokecard-wrap .bright {
  bottom: -20px;
  right: -20px;
  border-right: 0;
  border-bottom: 0;
}

/* line 53, app/assets/stylesheets/spokecard.css.scss */
.spokecard-background {
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* line 62, app/assets/stylesheets/spokecard.css.scss */
.qr-code-f,
.qr-code-b {
  display: block;
  position: absolute;
  z-index: 2;
  left: 50%;
  top: 50%;
  background: white;
  padding: 4px 10px;
  margin: -87px 0 0 -70px;
}

/* line 73, app/assets/stylesheets/spokecard.css.scss */
.qr-code-f img,
.qr-code-b img {
  height: 148px;
}

/* line 78, app/assets/stylesheets/spokecard.css.scss */
.qr-code-b {
  margin: -87px 0 0 -103px;
}
