%p{ style: "color: #888; margin-top: 2rem;" }
  Lily Williams
  %br
  Communications Director
  %br
  BikeIndex.org
%p
  Share Bike Index with your friends:
  = link_to "Facebook", "https://bit.ly/36ju29N"
  = link_to "Twitter", "https://bit.ly/2XbInAW"
