%p
  Hi,

%p
  Thank you for making another donation to Bike Index. You seriously rock. All donations we receive go right back into our efforts to register and recover more bicycles, all over the U.S., North America, and the world.

%p
  We've helped recover millions of dollars in stolen bicycles so far, and we are proud and excited that you have been part of our journey.

= render partial: "footer", locals: { skip_have_fun: false }
