%p
  Hi,

%p
  I see that you have recently donated to Bike Index.

%p
  T H A N K Y O U ! !

%p
  I cannot express how useful your donation is towards our efforts in registering and recovering bikes. Your donation will help us get someone else's bike back, or register some bikes that otherwise would go unprotected.

%p
  If at any point you have any questions or things you would like to see coming from us, please don't hesitate to e-mail me.

= render partial: "footer"
