%p
  Hi,

%p
  I see that you have recently donated to Bike Index.

%p
  T H A N K Y O U ! !

%p
  I unfortunately see that you have had a bike stolen recently. If you haven't already, make sure to report the theft to the police and receive a report number. When you add this number to the profile of your stolen bike, Bike Index will alert pawnshops in the area to not buy or sell your stolen bike. Monitor online sales platforms in your area - Craigslist, Offerup, Letgo - and if you see your bike, contact your police to accompany you to meet the seller. Never do this alone. Make sure to also add any and all photos of the bike that you have onto Bike Index.

%p
  Also, if you haven't already, make sure to check out our promoted stolen listings. With three tier options, you can push your add out to thousands of extra eyes.

%p
  I cannot express how useful your donation is towards our efforts in registering and recovering bikes. Let us know how else we can help.


= render partial: "footer", locals: { skip_have_fun: true }
