
.embed-success-block
  = image_tag "resources/logo_striped.svg"
  %h1
    Your #{@bike.type} has been added to Bike Index!
  %p
    = link_to @bike.title, bike_url(@bike), target: "_blank"
    was registered to you through <strong>#{@organization.name}</strong>.
  %p
    You will receive an email confirmation shortly.
