#stolen_fields_store
#root_url.hidden{data: { url: ENV['BASE_URL'] }}
= form_for @bike, multipart: true, multipart: true, html: { "data-controller" => "strip-inputs", "data-action" => "submit->strip-inputs#submit", "data-strip-inputs-always-prevent-submit-value" => true } do |f|
  %div{class: "input-group", style: "border-style: none;"}
    - if @stolen
      %span#stolen_registration_first
    - unless @stolen || @non_stolen
      #registration-type-tabs
        %a.registration-type-tab{ href: '#', data: { stype: 'description' } }
          = t(".registering_a_stolen_bike_click_here")
        %a.registration-type-tab.stolen.current-type{ href: '#', data: { stype: 'serial' } }
          = t(".currently_registering_a_nonstolen_bike")
  = render partial: "/organizations/embed_fields", locals: {f:, include_stolen: true}
