#stolen_fields_store
#root_url.hidden{data: { url: ENV['BASE_URL'] }}
= form_for @bike, multipart: true, multipart: true, html: { "data-controller" => "strip-inputs", "data-action" => "submit->strip-inputs#submit", "data-strip-inputs-always-prevent-submit-value" => true, style: "padding-bottom: 30px;" } do |f|
  %div{class: "input-group", style: "border-style: none;"}
    - if @stolen
      %span#stolen_registration_first
    - unless @stolen || @non_stolen
      #registration-type-tabs
        %a.registration-type-tab{ href: '#', data: { stype: 'description' } }
          = t(".registering_a_stolen_bike_click_here")
        %a.registration-type-tab.stolen.current-type{ href: '#', data: { stype: 'serial' } }
          = t(".currently_registering_a_nonstolen_bike")

  -# NOTE: this assumes the user entering the data is the user whose bike it is
  -# so some of the fields are slightly different than embed_extended (which assumes it's an org user)
  - label_reference = "you"
  - include_bike_sticker_field = include_field_reg_bike_sticker?(@organization, nil, true)

  = render partial: "/organizations/embed_fields", locals: {f:, include_stolen: true, include_bike_sticker_field:, label_reference:}
