<%= stylesheet_link_tag "redesign_2025", "data-turbo-track" => "reload" %>

<div class="container">
  <h1><%= t(".bike_index_for_organizations") %></h1>
  <%= render(PageBlock::HomepageForButtons::Component.new(skip_theft: true)) %>

  <div class="mt-4"></div>

  <%= render "new_form" %>
</div>
