%li.col-xs-6.col-sm-4.edit-photo-display-list-item{ id: image.id }
  .edit-photo-display-wrap
    %label.keep-private
      keep image private
      %input.is_private_check{ type: 'checkbox', checked: image.is_private }
    .processing
      \... processing
    - if image.image?
      %img{ src: image.image_url(:small) }
    %a.photo-remove{ href: public_image_url(image, page: 'photos', return_url: edit_bike_url(@bike, page: 'photos')), rel: 'nofollow', 'data-method' => 'delete' }
      = render '/shared/trash_icon'