<section class="bibox-top">    
  <%= link_to edit_bike_url(publicImage.imageable), class: "back" do %>
    <span>Back Arrow</span>Back to <em>Editing Bike</em>
  <% end %>

  <h2>
    <% if current_user.email == publicImage.imageable.owner_email %>
      <% end %>
  </h2>
  
  <div class="headline-content-edit">
    <h1>
      Editing Image
    </h1>
  </div>
</section>

<div class="row-fluid">
  <div class="padded span6"> 
    <div class="well"><%= render 'form' %></div>
  </div>
  <div class="padded span6"><%= link_to image_tag(publicImage.image_url(:medium)), publicImage.image_url, target: "_blank" %></div>

</div>