.container
  %header.with-subtitle
    %h1
      Edit the lock
    %p
      = link_to('back to viewing all locks', user_home_path(active_tab: 'locks'))


  = render partial: "form"

  .form-group.destroy-button
    = button_to 'Delete this lock', { action: 'destroy', id: @lock}, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger btn-lg '
