%h1 New Snippet


= form_for [:admin, @mail_snippet] do |f|
  = render partial: 'form', locals: { f: f }
  = f.hidden_field :is_location_triggered, value: true

  = f.submit "Create", class: 'btn btn-success float-right'
