<%# locals: (bike:, bike_search:, bike_sticker: nil) %>

<tr>
  <% cache("#{current_organization.id}-#{bike.id}-#{bike.updated_at}-4") do %>
    <%= render(Org::BikeSearchRow::Component.new(
      bike:,
      organization: current_organization,
      additional_registration_fields: bike_search.additional_registration_fields
    )) %>
  <% end %>

  <% if bike_sticker.present? %>
    <td class="assign_bike_sticker_cell">
      <small>
        <%= link_to t("components.org.bike_search.assign_bike_sticker"),
          bike_sticker_path(id: bike_sticker.code, organization_id: bike_sticker.organization_id, bike_id: bike.id),
          method: "PUT", data: {turbo_frame: "_top"} %>
      </small>
    </td>
  <% end %>

  <% if bike_search.show_avery_export? %>
    <td class="hideableColumn hidden-xs-down avery_cell">
      <%= check_mark if bike.avery_exportable? %>
    </td>
  <% end %>
</tr>
