<div
  data-controller="org--multi-serial-search"
  data-org--multi-serial-search-url-value="<%= multi_search_organization_registrations_path(organization_id: current_organization.to_param) %>"
>
  <div class="tw:mx-auto tw:mb-6 tw:max-w-2xl">
    <h3 class="tw:mb-4 tw:text-center">Multiple Serial Search</h3>

    <form data-action="submit->org--multi-serial-search#submit">
      <%= text_area_tag :serials, nil,
        placeholder: "Enter multiple serial numbers, separated by commas or new lines",
        class: "twinput tw:w-full tw:font-mono tw:h-32 tw:resize-none",
        data: {"org--multi-serial-search-target": "textarea"} %>

      <div class="tw:mt-2 tw:flex tw:justify-end">
        <button
          type="submit"
          class="twbtn-blue tw:disabled:cursor-wait"
          data-org--multi-serial-search-target="button"
        >
          Search serials
        </button>
      </div>
    </form>
  </div>

  <div
    data-org--multi-serial-search-target="serialChips"
    class="tw:mb-4 tw:flex tw:flex-wrap tw:gap-1"
  ></div>

  <div id="multi_serial_results" data-org--multi-serial-search-target="results"></div>
</div>
