-# TODO translations
.text-center
  %h3
    You should be redirected automatically
  %p If not, click this button
  = form_tag set_current_organization_customer_appointments_path(organization_id: current_organization.to_param), id: "redirect_to_appointment", method: "post" do
    = hidden_field_tag :appointment_token, @appointment_token
    %input{ type: "submit", value: "View Appointment", class: "btn btn-success btn-lg" }
  :javascript
    document.forms["redirect_to_appointment"].submit()
