name: CI

on:
  push:

jobs:
  lint_and_scan:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Set up Ruby
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle install

      - name: Set up Node
        uses: actions/setup-node@v6
        with:
          cache: 'npm'
      - run: npm install

      - name: Lint Ruby code
        run: bundle exec standardrb --no-fix
      - name: Lint JavaScript code
        if: success() || failure()
        run: npm run js:lint_check
      - name: Lint HTML code
        if: success() || failure()
        run: npm run html:lint_check
      - name: Check HTML formatting
        if: success() || failure()
        run: npm run html:format_check

      - name: Scan for common Rails security vulnerabilities using static analysis
        if: success() || failure()
        run: bin/brakeman

      # Eventually this should be added:
      # - name: Scan for security vulnerabilities in JavaScript dependencies
      #   run: bin/importmap audit
  test:
    name: "Run tests"
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres:16-alpine
        ports:
          - 5432:5432
        env:
          POSTGRES_USER: rails
          POSTGRES_PASSWORD: password
        # needed because the postgres container does not provide a healthcheck
        # tmpfs makes DB faster by using RAM
        options: >-
          --mount type=tmpfs,destination=/var/lib/postgresql/data
          --health-cmd pg_isready
          --health-interval 10s
          --health-retries 5
      redis:
        image: redis
        ports:
          - 6379:6379
        options: --entrypoint redis-server
    strategy:
      fail-fast: false
      matrix:
        ci_node_total: [3]
        ci_node_index: [0, 1, 2]
    env:
      RAILS_ENV: test
      TZ: "America/Chicago"
      COVERAGE: false # additional configuration is needed for parallelized tests
      CC_TEST_REPORTER_ID: 04daa6564351115dc1515504790cd379ad8dc25e7778f0641e0f8c63185f887c
      TRANSLATION_BRANCH: main
      RETRY_FLAKY: true
      SKIP_PARALLEL_MIGRATIONS: true
      KNAPSACK_PRO_TEST_SUITE_TOKEN_RSPEC: ${{ secrets.KNAPSACK_PRO_TEST_SUITE_TOKEN_RSPEC }}
      KNAPSACK_PRO_CI_NODE_TOTAL: ${{ matrix.ci_node_total }}
      KNAPSACK_PRO_CI_NODE_INDEX: ${{ matrix.ci_node_index }}
      KNAPSACK_PRO_LOG_LEVEL: warn
    steps:
      - name: Get CPU cores
        id: cpu-info
        run: echo "cpu-cores=$(nproc)" >> $GITHUB_OUTPUT
      # install imagemagick separately, cache-apt-pkgs-action wasn't installing correctly
      - uses: mfinelli/setup-imagemagick@v6
        with:
          cache: true
      # install system dependencies
      - uses: awalsh128/cache-apt-pkgs-action@latest
        with:
          packages: google-chrome-stable curl gettext libvips libcurl4-gnutls-dev libexpat1-dev libssl-dev libz-dev postgresql-client ripgrep
          version: 1.3
      - name: Ensure ImageMagick is available
        run: echo $(identify --version)
      - name: Checkout code
        uses: actions/checkout@v6
      # Install Ruby dependencies
      - name: Install Ruby and gems
        uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
      - run: bundle install
      - name: Set up database
        run: bin/rails db:create db:schema:load:primary db:schema:load:analytics db:migrate db:seed
      - name: Sync translations (only on main by default)
        run: bin/check_translations ${{ secrets.TRANSLATION_IO_API_KEY }}
      # Install JS dependencies
      - name: build assets
        run: bin/rails assets:precompile --trace
      # Run tests
      - name: Run tests
        run: bin/knapsack_pro_tests
      # Until parallel reporting is set up, skip sending code coverage reports
      # - name: publish code coverage
      #   uses: paambaati/codeclimate-action@v9.0.0
      - name: Upload test results
        if: always()
        uses: actions/upload-artifact@v6
        with:
          name: test-results-${{ env.KNAPSACK_PRO_CI_NODE_INDEX }}
          path: tmp/rspec-${{ env.KNAPSACK_PRO_CI_NODE_INDEX }}.xml

  # Commenting out for now - it doesn't work for forked pull requests,
  # Which means forked PRs always fail
  # Also - I want to fix the thousands separator
  # github.com/EnricoMi/publish-unit-test-result-action/issues/698
  #
  # aggregate_test_results:
  #   name: "Test Report"
  #   runs-on: ubuntu-latest
  #   needs: test
  #   if: always()
  #   steps:
  #     - name: Download all test results
  #       uses: actions/download-artifact@v4
  #       with:
  #         pattern: test-results-*
  #         path: test-results

  #     - name: Publish combined test results
  #       id: test-results
  #       uses: EnricoMi/publish-unit-test-result-action@v2
  #       with:
  #         files: test-results/**/*.xml
  #         json_thousands_separator: "," # Can't get this to work :/
  #         comment_mode: off
