%h1
  Security is incredibly important to the bike index.

%h3
  The security of our customer's data and their ability to choose where and how to share their information is the most important aspect of the bike index.

%h3
  If you find something amiss, please tell us through our contact page.

/ TODO: add more here. Good examples: http://www.twilio.com/docs/security https://policy.heroku.com/security http://37signals.com/security https://help.github.com/articles/github-security