 
%h1.millions
  Each year
  %strong
    over a million bikes are stolen
  in the United States
%h2#fnref-bike-theft-estimate
  but we don't know exactly how many.
  %sup
    %a.footnote-ref{ href: "#fn-bike-theft-estimate" }
      1

%article
  .picture-worth-a-million-words
    %h3
      1,000,000
      %span
        *
    .pictures
      = image_tag "/assets/bike_clip.svg"
      = image_tag "/assets/plus_sign.svg"
      = image_tag "/assets/sad_face.svg"
    

%p
  But we could figure it out. We could do a much better job of keeping track of bikes: they all come with unique serial numbers. We just need to keep track of them.

%p
  Who better to keep track of bikes than the people who sell and work on them?


.footnotes
  %ol
    %li#fn-bike-theft-estimate
      According to FBI statistics,
      %a{ href: "http://www.fbi.gov/about-us/cjis/ucr/crime-in-the-u.s/2010/crime-in-the-u.s.-2010/tables/10tbl07.xls" }
        206,053 bikes were reported stolen
      in 2010, the most recent available year with data. An estimated
      %a{ href: "http://www.transalt.org/files/resources/blueprint/chapter11/" }
        9 in 10 incidents of bike theft
      go unreported. That's a lot of bikes! What’s more: reporting bike theft is sometimes actively
      %a{ href: "http://www.outsideonline.com/outdoor-adventure/biking/Who-Pinched-My-Ride.html?page=all" }
        discouraged by the police.
      If you would like to read more about bike theft in the US, check out Priceonomics'
      %a{ href: "http://blog.priceonomics.com/post/30393216796/what-happens-to-stolen-bicycles" }
        exploration 
      of the topic. #{link_to "↩", "#fnref-bike-theft-estimate", title: "Jump back to footnote 1 in the text", class: "footnote-back-link"}.

