
%h1
  What to do if your bike is stolen

%article.padded
  %ol
    %li
      %p
        File a police report.
    %li
      %p
        Mark your bike stolen on the Bike Index.
    %li
      %p
        If your bike was insured, contact your insurance company and file a claim.
        
%p
  We recommend telling everyone you know that your bike is stolen. Use Facebook and Twitter to alert your friends and followers.

%p
  The most important thing to do is to provide a way for people to contact you if they find your bike. That is why we ask for your phone number - that way, if someone finds your bike, they will be able to reach you immediately.
