
%h1
  What to do if your bike is stolen

%article.padded
  %p
    Most importantly:
  %ol
    %li
      %p
        File a police report.
    %li
      %p
        Mark your bike stolen on the Bike Index.
    %li
      %p
        If your bike was insured, contact your insurance company and file a claim.

  %p.padded
    We
    %strong
      strongly
    recommend #{link_to "reading this article", "https://medium.com/@stolenbikessfo/what-to-do-after-you-bike-has-been-stolen-in-the-bay-area-e08e6b6f005b"} by Bike Index co-founder Bryan Hance.
  %p
    It's about what to do after your bike has been stolen in the Bay Area, but it has useful information for victims everywhere.
