<%#
  Shared blue banner email header. Rendered by layouts/email.html.erb and by the
  self-contained emails (newsletter, updated_terms) so every email shares one header.
%>

<div class="binx-header-banner">
  <%= image_tag "https://files.bikeindex.org/email_assets/bike-index-email-header.png",
    alt: "Bike Index",
    class: "binx-header-banner-image" %>
</div>
