<div id='grid-overlay'>
  <div class='grid-receptacle'>
    <div class='inner-recep'>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
      <div class='column'></div>
    </div>
  </div>
</div>