#alert-block
  - flash.each do |name, msg|
    %div{class: "alert alert-#{name}"}
      %a.close{"data-dismiss" => "alert"} ×
      = content_tag :div, msg, id: "flash_#{name}" if msg.is_a?(String)

      