<!DOCTYPE html>
<html>
  <head>
    <title>Bike Index Component Preview</title>
    <%= stylesheet_link_tag 'tailwind' %>
    <%= javascript_importmap_tags %>
  </head>
  <%# NOTE: This sets the theme %>
  <body class="<%= params.dig(:lookbook, :display, :theme) %>">
    <div class="tw-w-full tw-h-full">
      <%= yield %>
    </div>
  </body>
</html>
