<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <title><%= content_for?(:title) ? yield(:title) : "Bike Index" %></title>
  <style type="text/css">
    #outlook a{padding:0;} /* Force Outlook to provide a "view in browser" button. */
    body{width:100% !important;} /* Force Hotmail to display emails at full width */
    body{-webkit-text-size-adjust:none;} /* Prevent Webkit platforms from changing default text sizes. */
  </style>
  
</head>

<body style="margin: 0;padding: 0;font-family: Verdana, Geneva, sans-serif;color: #111;font-size: 16px; background: #fff">

<div class="wrapper" style="width: 100%;position: relative;max-width: 700px;margin: 20px auto;">
  <div class="stripes" style="height: 70px; width: 80%;float: left;">
    <div style="width:100%; height: 10px; background: #3598db;"></div>
    <div style="width:100%; height: 4px;"></div>
    <div style="width:100%; height: 19px; background: #3598db;"></div>
    <div style="width:100%; height: 5px;"></div>
    <div style="width:100%; height: 18px; background: #2c3e50;"></div>
    <div style="width:100%; height: 4px;"></div>
    <div style="width:100%; height: 10px; background: #2c3e50;"></div>
  </div>
  <div class="header-content" style="padding: 0;height: 70px; background: url('https://s3.amazonaws.com/bikeindex/stripes.png') repeat-x;background-size: 100% 100%; width: 19%; float:left;">
    <img src="https://s3.amazonaws.com/bikeindex/white-logo-small.png" style="display: block; height: 75px; max-height: 75px; margin-right:5%; float: right;">
  </div>

  <div class="body-content" style="margin: 0;padding: 20px 20px 30px;margin-bottom: 10px;clear:both;">

    <%= yield %>

  </div>
  <div style="padding: 0;height: 50px; background: url('https://s3.amazonaws.com/bikeindex/stripes.png') repeat-x;background-size: 100% 100%; padding: 10px 0; clear: both;">
    <div style="width: 200px; background: #fff; height: 40px; margin: 0 auto; padding: 5px 0;">
      <p style="margin: 0; text-align: center; line-height: 1.3em; color: #444">Thanks and &#9829;</p>
      <p style="margin: 0; text-align: center; line-height: 1.3em; color: #444">The Bike Index team</p>
    </div>
  </div>
</div>
</body>
</html>
