- # TODO: organized translation

.organized-page-header
  %h1= t(".abandoned_records")

.organized-records
  #map

  %p#recordsCount.text-right.less-strong
    %span.number 0
    Matches

  %table.table.table-striped.table-hover.table-bordered.table-sm.without-exterior-border#records_table
    %thead.small-header.hidden-md-down
      %th.map-cell
      %th
        Recorded
        %small.convertTimezone
      %th Kind
      %th Bike
      %th Recorder
      %th Impounded
    %tbody

:javascript
  window.pageInfo = #{@page_data.to_json}

= javascript_pack_tag "application"
